
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 5%;
}

.contact{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 88, 88, 0.2);
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 2.5vh auto;
    height: 65vh;
    max-height: 1100px
}

.form-container{
    padding: 2em 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container h3{
    font-size: 2em;
    font-family: 'raleway';
    font-weight:700;
    color: white;
    margin-bottom: 1em;
    letter-spacing: .1em;
}

form.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-family: 'raleway';
    text-transform: uppercase;
}

.contact-form label{
    font-weight: 400;
    letter-spacing: .1em;
    align-self: flex-start;
    margin-bottom: .75em;
    color: white;
}

.contact-form input{
    width: 100%;
    height: 7.5%;
    margin-bottom: 4vh;
    outline: none;
    font-weight: 500;
    padding: .25em;
}

.contact-form textarea{
    width: 100%;
    height: 15%;
    margin-bottom: 2em;
    outline: none;
    font-weight: 500;
    padding: .25em;
    max-width: 100%;
    min-height: 60px
}

.contact-form button{
    font-family: 'raleway';
    outline: none;
    border: none;
    border-radius: none;
    background-color: var(--dorado);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: .8em 0;
    color: var(--negro);
    letter-spacing: .1em;
    cursor: pointer;
    transition: all .3s ease;
}

.contact-form button:hover{
    background-color: #ccaa5b
}

input.error{
    border: 1px solid red;
    background-color: rgba(255, 166, 166, 0.3);
}

textarea.error{
    border: 1px solid red;
    background-color: rgba(255, 166, 166, 0.3);
}

input.success{
    border: 1px solid rgb(56, 201, 88);
}

textarea.success{
    border: 1px solid rgb(0, 255, 55);
}



.map, .form-container{
    width: 50%;
    height: 100%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

@media (max-width:1024px) {
    .map{
        display: none;
    }

    .form-container{
        width: 90%;
        min-width:300px;
        max-width: 600px;
    }

    .contact{
        width: 90%;
        max-height: 800px;
        height: auto;
    }
}

@media (max-width:678px) {
    .form-container{
        min-width:100px;
        padding: 2em 5%;
    }

    .contact{
        height: auto;
    }

    .contact-form h3{
        font-size: 1.25em;
        margin-bottom: 1.25em;
    }

    .contact-form label{
        font-size: .75em;
    }

    .contact-form button{
        padding: .5em
    }

}



