main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
}


.posts-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.posts-container h1{
    color: white;
    text-transform: uppercase;
    font-family: 'raleway';
    font-weight: 800;
    font-size: 3em;
    margin-bottom: .75em;
    letter-spacing: .1em;
}


.post{
    display: flex;
    border: 1px solid rgba(170, 170, 170, 0.623);
    height: auto;
    margin: 1em 0;
    max-width: 1100px;
    width: 1070px;
    min-height: 350px;
    height: 400px;
    padding: 0;
    cursor: pointer;
}

.post-link{
    text-decoration: none;
    transition: all .3s ease;
}

.post:hover h2{
    color: var(--dorado);
}


.post:hover a.download{
    color: var(--dorado);
    border: 1px solid var(--dorado);
}




.post .img-header{
    width: 47%;
    padding: 0;
}

.img-header .post-img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.post-description{
    padding:1.5em 3%;
    text-transform: uppercase;
    width: 53%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-description h2{
    color: white;
    font-family: 'raleway';
    font-weight: 800;
    margin:0;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 2em;
    transition: all .3s ease;
}

.post-description p{
    color: rgb(216, 216, 216);
    font-family: 'roboto';
    font-weight: 300;
    line-height: 2.25em;
    font-size: .8em;
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: justify;
    width: 100%;
    transition: all .3s ease;
}

a.download{
    text-decoration: none;
    color: white;
    border: 1px solid rgba(170, 170, 170, 0.623);
    transition: all .3s ease;
    padding: 1em 0;
    margin-top: auto;
    text-align: center;
    font-weight: 800;
    width: 100%;
    transition: all .3s ease;
}

a.download:hover{
    border: 1px solid var(--dorado);
    color: var(--dorado);
}

#recursos{
    border: 2px solid var(--dorado);
}

#recursos h2{
    color: var(--dorado);
}

#recursos a{
    border: 1px solid var(--dorado);

}


@media (max-width: 1024px) {
    .post{
        max-width: 550px;
        min-height: none;
        height: auto;
        flex-direction: column;
        width: auto;
    }

    .post .img-header{
        width: 100%;
    }

    .post-img{
        max-height: 350px;
    }

    a.download{
      padding: 0.75em 0;  
      font-size: 14px;
      margin-top: 1em;
    }

    .post-description{
        width: 100%;
        align-items: center;
        padding: 1em;
    }

    .posts-container h1{
        font-size: 1.55em;
    }

    .post p{
        margin-top: 0;
        text-align: justify;
        margin-bottom: .75em;
        font-size: .75em;
    }

    .post h2{
        font-size: 1.25em;
        margin-bottom: .5em;
        text-align: justify;
    }
    
}