body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5vh auto; 
    color: white;
}

.post-container{
    max-width: 1300px;
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.25);
    padding: 2.5% 5%;
}


.post-container h1{
    font-family: 'raleway';
    font-weight: 800;
    font-size: 3em;
    color: var(--dorado);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

.post-container h3{
    font-size: 1.35em;
    font-family: 'raleway';
    font-weight: bold;
    color: var(--dorado);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: .5em;
    margin-top: 1.75em;
}

.post-container p{
    font-size: 1.25em;
    font-family: 'roboto';
    font-weight: 400;
    text-align: left;
    margin-bottom: 1em;
    line-height: 2em;
}

.post-container ul li{
    font-size: 1em;
    font-family: 'roboto';
    font-weight: 300;
    text-transform:uppercase;
    text-align: left;
    margin-bottom: 1em;
    line-height: 2em;
    color: var(--dorado);
}

.post-container ul{
    margin-left: 2em;
    margin-bottom: 3em;
}

.post-container h2{
    font-family: 'raleway';
    font-weight: 800;
    font-size: 2em;
    color: var(--dorado);
    text-transform: uppercase;
    text-align: left;
    margin-top: 1.25em;
    margin-bottom: .5em;
    line-height: 1.5em;
}

.post-container a{
    text-decoration: none;
    transition: all .3s ease;
}

a.descarga{
    color: white;
    font-family: 'roboto';
    padding: 2em 3em;
    border: 1px solid var(--dorado);
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 2em;
}

a.descarga:hover{
    border: 1px solid white;
}

.recurso{
    padding: 1.5em 0;
}

@media (max-width: 678px){
    .post-container h1{
        font-size: 1.5em;
    }

    .post-container h2{
        font-size: 1.25em;
        
    }

    .post-container h3{
        font-size: 1.15em;

    }

    .post-container p{
        font-size: .85em;
        text-align: justify;
    }

    .post-container a.descarga{
        padding: 1.5em;
        font-size: .75em;
        margin:2em 0;
    }

    .post-container{
        width: 90%;
    }
}


