<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de | Adolescencia y Juventud</title>
    <meta name="description" content="Pediatra. Especializado en temas de adolescencia y juventud. Magister internacional en Prevención y Asistencia a la droga dependencia. Universidad del Salvador, Argentina, Universidad de Deusto. España. Director de Posgrado en Medicina Social y Comunitaria.">
    <meta name="keywords" content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/acerca-de.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="acerca-de">
            <div class="titulo">
                <h2>Acerca de</h2>
                <hr>
            </div>
            <div class="content">
                <div class="visible-content">
                    <h3>LA SALUD INTEGRAL DE ADOLESCENTES Y JÓVENES</h3>
                    <p>-Una propuesta para la comunidad y profesionales que se interesen por esta población trabajo entre todos- <br>
                        Hoy en día nadie definiría la salud como el estado de completo bienestar, físico, psíquico y social. Gozar de salud, vivir saludablemente en todas las edades –y también en la adolescencia–  es mucho más que eso. Respaldando este concepto hoy existen muchos trabajos proponiendo modificar la definición de salud de OMS <br>
                        Estar sano  supone disfrutar de un conjunto de condiciones psicofísicas, espirituales y sociales que incluyen la no-enfermedad pero abarcan también autoestima, vínculos positivos consigo mismo, la familia, los amigos y la sociedad en general; la capacidad para crear, trabajar, disfrutar y la posibilidad de ejercitar una sexualidad sana...en fin, un conjunto muy rico de factores cuya lista cada persona podría completar. <br>
                        “LA SALUD ES UNA CONSTRUCCION SOCIAL. SE CONSTRUYE Y SE DETERIORA EN LA COMUNIDAD”<br>
                        Tan amplio como el abanico de los factores que hacen a la salud, es el de los riesgos que pueden afectarla. <br>
                        Quienes por cualquier razón tenemos trato cotidiano con los adolescentes y jóvenes, conocemos cuántos son los riesgos que suelen amenazar el bienestar que deseamos para ellos. A veces, la desaprensión por el peligro los lleva a sufrir accidentes; otras, alimentarse mal, consumir alcohol o drogas; tener dificultades en la escuela, son víctimas de la violencia, o realizan actividades sexuales sin protección y sin información
                    </p>
                    <a href='' id="show" class="show-content">Leer más</a>
                </div>
                <div id="hidden" class="hidden-content">
                    <p>
                    – ¿Qué puedo hacer? –nos preguntamos, a veces con un dejo de impotencia. ¿Cómo acercarnos? ¿Cómo preguntar por lo que les pasa, ganándonos su confianza sin avasallar, interesándonos sin parecer entrometidos? <br>
                    –Usted puede ayudar– nos dicen con la mirada, con la voz, desde su contacto cotidiano, con miembros de la comunidad, vecinos, integrantes de las instituciones, profesionales de los centros de salud. Todos debemos dar respuesta a estas demandas. <br>
                    Uno de los problemas que obstaculizan el logro de esos objetivos fue revelado por la investigación sobre Oportunidades Perdidas que realizaron la Organización Panamericana de la Salud y la Fundación Kellogg dentro del proyecto de apoyo a las iniciativas de salud integral del adolescente en la región de las Américas durante 1996. <br>
                    Esta investigación se llevó a cabo en varios países de Latinoamérica, en servicios de salud que asisten a adolescentes. Gracias a ella se pudo llegar a las siguientes conclusiones: <br>
                    Con relación a la atención de los problemas de índole orgánica, se constató que los adolescentes se sentían satisfechos por la atención recibida. Sin embargo, en dichas entrevistas no aparecían ni como preocupación, ni como presencia, otros temas que hacen a la salud integral, como por ejemplo: <br>
                    • situación familiar, relación con el grupo de pertenencia <br>
                    • rendimiento escolar y/o laboral <br>
                    • uso del tiempo libre <br>
                    • prevención de enfermedades<br>
                    • vacunas<br>
                    • salud sexual y reproductiva<br>
                    • trastornos del comportamiento alimentario<br>
                    • consumo de alcohol, tabaco y/u otras sustancias<br>
                    • violencia<br>
                    • accidentes, etc.<br>     
                    Se detectó la ausencia de un trabajo preventivo y de detección precoz de indicadores de riesgo.<br> 
                    Todo lo anterior permite inferir el riesgo de hacer una lectura fragmentada y mono causal de los problemas que pueden afectar a esta población, en el momento en que piden ayuda. <br> 
                    Por todo lo enunciado, este espacio busca brindar información y documentos elaborados en áreas científicas, que  constituyan una guía orientadora, destinada a proveer a los equipos de salud y a las personas que trabajan con adolescentes y jóvenes, de herramientas adecuadas para detectar precozmente indicadores de riesgo. De esta manera se trata de encontrar  factores protectores que ayuden tempranamente a atenuar los potenciales daños a los que se hallan expuestos los jóvenes, o a los ya instalados. <br> 
                    Muchos de los trabajos que se ofrecen constituyen el resultado de elaboraciones interdisciplinaria en forma interdisciplinaria. Este enfoque posibilitó una comprensión integral de la persona y su realidad, modificando la tradicional lectura  fragmentada de los datos e indicadores. Se estableció como constante, la búsqueda de las relaciones entre la situación que nos ocupaba, el entorno y las estrategias de abordaje.
                    Como integrante de sociedades científicas, aspiro a un cambio: lograr que la información  que elaboramos y recibimos de organismos internacionales y de experiencias de otras instituciones, sea distribuida a toda la población, con un vocabulario sencillo, no académico. Esperamos que sea comprensible para todos, y ayude a los adolescentes,  jóvenes, sus familias y a las instituciones en las cuales participan.<br>  
                    El presente espacio no pretende ser un documento de capacitación académica. No desarrolla en cada eje temático todos los aspectos y contenidos que debe llevar un documento de capacitación docente. Es una guía orientadora que aspira a que todas las personas que trabajan o conviven con adolescentes incorporen en su observación elementos que les permitan ayudarlos a prevenir situaciones que pueden afectar gravemente su crecimiento y desarrollo. <br>  
                                Debemos también tener claro dos formas de intervención, a partir de comprender la lectura de los documentos que nos permitió incorporar conocimientos que nos permite detectar los factores de riesgo en integrantes de este segmento población con el cual convivimos o trabajamos<br>  
                        • la contención del problema, que puede realizar toda persona adulta solidaria y contenedora, a partir de un vínculo afectivo, de comprensión, escucha y acompañamiento. <br>  
                        • la solución del problema, este tipo de respuesta debe estar a cargo de equipos interdisciplinarios o personal capacitado. <br>  
                    También es necesaria la colaboración de diferentes sectores o instituciones de la comunidad, oficiales o privadas, que participen solidariamente brindando ayuda. Es necesario un trabajo en común entre las instituciones del barrio. Las mismas pueden contribuir con esta tarea ofreciendo lugares para realizar trabajos con adolescentes; los vecinos pueden ofrecer sus casas para tareas de ayuda escolar, o los diferentes líderes barriales (religiosos, voluntarios, docentes, etc.) pueden interceder ante las autoridades municipales con el fin de obtener recursos que permitan favorecer el desarrollo adolescente.<br>  
                    El trabajo interdisciplinario e intersectorial es una propuesta necesaria para dar una respuesta integral a las necesidades de los adolescentes y jóvenes de hoy. <br>  
                    La Sociedad Argentina de Salud Integral del Adolescente, busca también con este trabajo contribuir al efectivo cumplimiento de la Convención Internacional sobre los Derechos del Niño que se expresa en un conjunto de documentos elaborados y sancionados en el ámbito.                                     
                    </p>
                    <a href='' id="hide" class="hide-content">Leer menos</a>
                </div>
            </div>
        </section>
        <section class="quienes-somos">
            <div class="titulo">
                <h2>Quienes somos</h2>
                <hr>
            </div>
            <div class="dr-roldan">
                <div class="left-content">
                    <img src="/img/drroldan.jpg" alt="Dr. Cándido Roldán">
                </div>
                <div class="right-content">
                    <h3>Dr. Cándido Roldán</h3>
                   <p> Pediatra. Especializado en temas de adolescencia y juventud. Magister internacional en Prevención y Asistencia a la droga dependencia. Universidad del Salvador, Argentina, Universidad de Deusto. España. Director de Posgrado en Medicina Social y Comunitaria. CONEAU. Resolución 813/09. Ex presidente de la SOCIEDAD ARGENTINA DE SALUD INTEGRAL DE LA ADOLESCENCIA durante tres períodos.</p>
                   <p> Publicación de conferencias, actividades docentes, power point que puedan servir de referencias a profesionales que se inician y preocupan por la salud y el bienestar de los adolescentes y jovenes de Latinoamerica y el Caribe.</p>
                    <a href="/">Ver curriculum completo</a>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>



    <script src="./js/navbar.js"></script>
    <script src="./js/acerca-de.js"></script>

</body>
</html>