<footer>
    <div class="footer-info">
        <a href="/">
            <h3>Adolescencia<br>y Juventud</h3>
        </a>
        <p>© 2020 by Dr. Cándido Roldán</p>  
    </div>
    <div class="footer-social">
        <a target="_blank" href="/contacto.html"><i class="fas fa-envelope"></i></a>
        <a target="_blank" href="https://www.facebook.com/Adolescencia-y-Juventud-100577781794964/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://www.instagram.com/candido.roldan/?hl=es-la"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-menu">
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/posts.html">Publicaciones</a> </li>
                <li> <a href="/acerca-de.html">Acerca De</a> </li>
                <li> <a href="/contacto.html">Contacto</a> </li>
            </ul>
        </nav>
    </div>
</footer>