<footer>
    <div class="footer-info">
        <a href="/">
            <h3>Pi Academy<br></h3>
        </a>
        <p>By Varela Agustin</p>  
    </div>
    <div class="footer-social">
        <a target="_blank" href="/contacto"><i class="fas fa-envelope"></i></a>
        <a target="_blank" href="https://www.facebook.com/Adolescencia-y-Juventud-100577781794964/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://www.instagram.com/candido.roldan/?hl=es-la"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-menu">
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/posts">Publicaciones</a> </li>
                <li> <a href="/about">Acerca De</a> </li>
                <li> <a href="/contacto">Contacto</a> </li>
            </ul>
        </nav>
    </div>
</footer>