<header>
    <a class="header-logo" href="/"><img class="logo" src="/img/logo.png" alt=""></a>
    <nav class="desktop">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/posts">publicaciones</a></li>
            <li><a href="/about">acerca de</a></li>
            <li><a href="/contacto">contacto</a></li>
        </ul>
    </nav>
    <nav class="mobile">
        <a class="burger" id="burger"><i class="fas fa-bars"></i></a>
        <div class="mobile-menu" id="mobile-menu">
            <a href="/">home</a>
            <a href="/posts">publicaciones</a>
            <a href="/about">acerca de</a>
            <a href="/contacto">contacto</a>
            <i id="cerrar">&#x2715</i>
        </div>
    </nav>
</header>