<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abuso de sustancias | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Abuso de sustancias</h1>
                    </div>
                    <h2>Introduccion</h2>
                    <p>
                        El Programa de Prevención y Asistencia de la Drogadependencia de la Provincia de Buenos Aires,
                        tiene su origen en el Instituto de Drogadependencia de la Universidad del Salvador, de la ciudad
                        de Buenos Aires, lugar donde me desempeño cono profesor titular de la cátedra de Prevención. En
                        el año 1993, solicita el Gobierno de la Provincia implementar dicho programa en todo su
                        territorio, donde residen trece millones de habitantes, siendo la más extensa y poblada de
                        Argentina. El trabajo de siete años en este Programa, permite extraer una serie de experiencias
                        y aprovechamientos, y rever algunas prácticas y conceptos teóricos que deseo compartir. <br>

                        El uso, abuso o dependencia en el consumo de drogas, legales o ilegales, se ha transformado en
                        un grave problema de Salud Pública a partir de la década del ochenta. <br>

                        A través de relatos históricos conocemos la existencia de utilización de drogas por diferentes
                        culturas, especialmente en ceremonias religiosas. El problema se instala cuando se mercantiliza
                        la producción y se incrementa el consumo.
                        <br>
                        El tema debe ser investigado en las poblaciones de niños, adolescentes y jóvenes. El problema no
                        es patrimonio exclusivo de estas edades. <br>

                        El cambio del escenario social y la incertidumbre nos invita a reflexionar y enriquecer con
                        nuevos conocimientos nuestros marcos teóricos para poder dar mejores respuestas a las
                        necesidades de la población con que trabajamos. <br>

                        La pediatría tiene una gran oportunidad de contribuir a disminuir los riesgos y mejorar los
                        recursos personales de niños y adolescentes para enfrentar los nuevos escenarios, aprovechando
                        sus intervenciones en los primeros años de vida. Desde el momento de la concepción, en el
                        vínculo con la madre y posteriormente con el padre se formarán las primeras estructuras mentales
                        que le darán los primeros instrumentos que le permitirán aprovechar las oportunidades que le
                        brindan otros espacios sociales, especialmente el contexto social inmediato y los diferentes
                        niveles del sistema educativo. <br>

                        El apoyo que los pediatras pueden brindar es fundamental para que esto ocurra y disminuyan los
                        indicadores de riesgo. <br>

                        Las evaluaciones de las acciones realizadas, reforzadas por las investigaciones y el
                        enfrentamiento con muchas frustraciones, permiten plantear interrogantes como: ¿cuál es el rol
                        del pediatra? ¿Cuál es el momento de la prevención? ¿a qué edad comenzar? ¿qué profesiones
                        tienen mayores oportunidades de realizar estas prácticas con mayor oportunidad y eficiencia?
                        ¿qué marcos teóricos respaldan este trabajo? ¿podemos realizar alguna intervención terapéutica?
                        <br>

                        Los aportes analizados en este trabajo buscan despertar un interés por estas nuevas formas de
                        enfermar, donde concurren múltiples factores y que requieren intervenciones tempranas, oportunas
                        y eficientes.
                    </p>
                    <h3>ABUSO DE SUSTANCIAS
                        <br>
                        CONFORMACIÓN DEL ESCENARIO SOCIAL
                    </h3>
                    <p>
                        Debemos tomar conciencia de que estamos ante una Crisis de drogas con características de
                        Epidemia.
                        <br>
                        La Crisis de droga está caracterizada por:
                    </p>
                    <ul>
                        <li>Sobreoferta de drogas legales e ilegales.</li>
                        <li>Problemas sanitarios agregados, accidentes, violencia, SIDA.</li>
                        <li>Poderes económicos ilegales.</li>
                        <li>Pánico social.</li>
                    </ul>
                    <p>
                        La Epidemia está dada por:
                    </p>
                    <ul>
                        <li>Existencia de un mercado ´productor y distribuidor.</li>
                        <li>Grupos tradicionalmente consumidores.</li>
                        <li>Líderes intelectuales que minimizan el daño y propugnan la liberación.</li>
                        <li>Líderes sociales (artistas, deportistas) que publicitan el consumo.</li>
                    </ul>
                    <p>
                        Cuando estas cuatro condiciones impactan sobre poblaciones marginales, enfrentamos un
                        agravamiento de la epidemia
                        <br>
                        El escenario social esta conformado por dos sectores:
                        <br>
                        La oferta: está integrada por el narcotráfico, la industria farmacéutica, las productoras de
                        tabaco, alcohol e inhalantes.
                        <br>
                        La demanda: por las poblaciones de niños adolescentes, jóvenes, adultos y ancianos.
                        <br>
                        Es sobre la demanda, donde debemos realizar nuestras acciones de protección y desarrollo. No
                        debemos distraernos con la oferta que debe ser controlado por otros sectores del estado.
                        <br>
                        Es importante aclarar y acordar algunos términos frecuentemente utilizados.
                        <br>
                        Drogas legales: son aquellas cuya comercialización está autorizada y regulada por organismos del
                        estado y su consumo está socialmente aceptadas: tabaco, alcohol y las utilizadas por la
                        medicina, como los psicofármacos y barbitúricos.
                        <br>
                        Drogas ilegales: está prohibida su comercialización y su consumo, existiendo un marco legal que
                        legisla las transgresiones. Las más utilizadas en nuestro medio son, la marihuana, la cocaína,
                        el LSD, drogas elaboradas en laboratorios, como el Éxtasis y plantas alucinógenas.
                        <br>
                        También debemos tener presente, las utilizadas por niños y adolescentes de poblaciones más
                        desfavorecidas, como los inhalantes o solventes (acetona, éter, bencina, tinner, cola de
                        zapatero).
                        <br>
                        No todo consumidor debe categorizarse como adicto. Existen diferentes niveles de compromiso en
                        el uso indebido de drogas:
                        <br>
                        Uso: consumo de fines de semana y en oportunidades absolutamente casuales.
                        <br>
                        Abuso: utilización regular de varias veces por semana.
                        <br>
                        Adicción o dependencia: consumo diario y en varias oportunidades en una misma jornada.
                    </p>
                    <h3>EL PROCESO DE EVOLUCIÓN HACIA LA ADICCIÓN - TRES ETAPAS:</h3>
                    <p>
                        Primera: el joven recurre a la droga esporádicamente y puede abandonarla si lo desea. Es buen
                        momento para una intervención adulta de protección. Habitualmente la presión del grupo y sus
                        carencias personales hacen que el consumo continúe. La droga le es regalada o compartida. No
                        afecta su vida familiar, escolar, laboral o de relaciones sociales.
                    </p>
                    <p>
                        Segunda: casi sin darse cuenta el consumidor se convierte en adicto. Abusa de la droga, la
                        tolera y padece el síndrome de abstinencia. Puede participar de pequeños hurtos para hacerse de
                        dinero; también participar en la distribución de drogas que le es retribuido con sustancias para
                        uso personal. Comienza a afectarse el rendimiento escolar, el desempeño laboral, las relaciones
                        familiares y sociales. Lleva una doble vida, una cotidiana, mentirosa y transgresora para los
                        allegados habituales y otra adictiva que se desarrolla con grupos de pares que tienen similares
                        comportamientos.
                    </p>
                    <p>
                        Tercera: la dependencia es absoluta. No puede vivir sin drogas. Puede robar y participar de
                        actos delictivos para conseguir la sustancia química. Se ha deteriorado toda relación con la
                        familia, la escuela o el trabajo. Busca obsesivamente y compulsivamente la droga. Imposibilidad
                        absoluta de abstinencia sino recibe ayuda. Riesgo de muerte
                    </p>
                    <p>
                        Para poder comprender integralmente la problemática de las adicciones, habrá que poner la mirada
                        y el análisis sobre los espacios que debieran favorecer el crecimiento y desarrollo de los
                        niños, adolescentes y jóvenes. La salud es una construcción social, que se logra mediante las
                        acciones realizadas por la familia, la escuela, los lugares de formación laboral y las
                        instituciones de la comunidad que ofrecen actividades para ellos: recreativas, culturales,
                        deportivas, religiosas, de participación social.
                        <br>
                        Muchos de ellos, se encuentran debilitados en su funcionamiento, por el condicionamiento que las
                        políticas económicas y sociales generan en este momento. Sin embargo, esta situación ha
                        estimulado a muchos sectores a responder con iniciativas sociales organizadas por la sociedad
                        civil, independientemente del estado (club del trueque, comedores comunitarios).
                        <br>
                        El análisis que realizan autoridades y profesionales, en la mayoría de los casos se focaliza
                        sobre las personas afectadas y sus familias. Éstas últimas, no cumplen o no pueden cumplir con
                        su función, en muchos casos, de protección y generan condiciones que favorecen la aparición de
                        comportamientos antisociales, entre ellos las adicciones.
                        <br>
                        A esta situación hay que sumar una vertiente más, por encima de las estructuras sociopolíticas
                        locales (nacionales, provinciales, municipales), está la superestructura económica
                        internacional, generadora de políticas con consecuencias sociales y culturales graves.
                        <br>
                        La economía globalizada, generada por grupos de personas poderosas, sin rostros, anónimas, cuyo
                        instrumento visible es el Fondo Monetario Internacional, condiciona el funcionamiento de los
                        gobiernos nacionales, de las instituciones de la comunidad, de las familias y las personas. Los
                        gobiernos locales son meros administradores del poder central. Es importante jerarquizar estos
                        conceptos por las condiciones desfavorables que generan para el desarrollo de las poblaciones.
                        <br>
                        Esta interpretación está de acuerdo con el paradigma que algunas escuelas de epidemiología
                        proponen: el de La Historia Social de la Enfermedad. El proceso salud-enfermedad pasa a ser
                        considerado un proceso social concreto.[1]
                        <br>
                        Las adicciones instaladas masivamente en nuestra sociedad es una consecuencia directa de un
                        proceso social que victimiza a individuos y a sus familias, no sólo enferma a personas, también
                        a instituciones.
                        <br>
                        No podemos dejar de denunciar la sobreoferta de drogas existente, inducida por un mercado
                        productor que participa de un gran negocio que moviliza entre seiscientos mil a setecientos mil
                        millones de dólares anuales de divisas en efectivo[2]. Y que corrompe funcionarios y penetra los
                        circuitos financieros. Historias recientes de países desarrollados y no desarrollados nos
                        muestran la asociación de narcotráfico, corrupción, gobiernos y negocios. Este es otro punto a
                        jerarquizar.
                        <br>
                        En este contexto las personas que tenemos o trabajamos con niños, adolescentes y jóvenes
                        enfrentamos un gran desafío, desarrollar en ellos potencialidades y fortalezas que les permitan
                        sobrevivir en escenarios adversos decidiendo saludablemente.
                    </p>
                    <h3>PRIMEROS ESPACIOS DE CRECIMIENTO</h3>
                    <p>
                        Tres espacios son claves para el crecimiento y desarrollo saludable, y en cada uno de ellos se
                        construyen estructuras y potencialidades que permiten asimilar y aprovechar lo que ofrecen los
                        otros ámbitos. En ellos se juega el proceso de salud-enfermedad.
                        <br>
                        El primero es el útero materno, que nos brinda las condiciones biológicas y de vínculo afectivo
                        con la madre. Primer indicador de riesgo: ser o no ser deseado.
                        <br>
                        El segundo espacio está constituido por la familia. Ya describimos como el desempeño
                        insuficiente de roles y funciones crea situaciones de vulnerabilidad.
                        <br>
                        El tercer espacio lo brinda la escuela. En ella, es donde uno debiera apropiarse del saber
                        básico que le permita sostener el proceso de producción permanente del conocimiento.
                        <br>
                        En Argentina, la escuela con la que hoy contamos, forma parte de un sistema educativo pensado en
                        el siglo XIX (1884), pese a la ley vigente a la que nos referiremos en seguida. En aquél
                        entonces los objetivos eran homogeneizar, uniformar, normalizar los niveles de conocimiento de
                        la población. La alfabetización se constituyó en un objetivo político y cultural.
                        <br>
                        La oferta educativa es para todas las personas, como si ellas poseyeran el mismo poder de
                        recepción y asimilación, sin tener en cuenta la educación primera que toda persona trae al
                        ingresar al sistema educativo; ésta, es el primer aprendizaje que el niño realiza en el seno de
                        su familia y en su contexto social.
                        <br>
                        Sabemos que en nuestros países latinoamericanos, esto es muy diferente en los distintos grupos
                        sociales, por el nivel económico, orígenes étnicos, regiones geográficas, diferencias
                        lingüísticas.
                        <br>
                        Podríamos discutir si el aporte que brinda la Ley Federal de Educación en Argentina, es en
                        verdad y en qué medida un cambio al viejo modelo educativo, interrogantes que nos planteamos
                        algunos de los consultores convocados para la elaboración de dicha ley.
                        <br>
                        Debiera poderse analizar la escuela de hoy, a la luz de las distintas relaciones posibles, entre
                        las formaciones culturales de los aprendices y el sistema cultural que la escuela quiere
                        desarrollar. De ahí que podemos visualizar diferentes situaciones que pueden ir desde la
                        correspondencia a la oposición total. Por no conseguir esta relación, muchas pedagogías
                        fracasan. Nos enfrentamos con muchas recetas pedagógicas que pretenden tener un valor universal.
                        <br>
                        A la luz de las realidades que nos toca vivir, en la asistencia a niños, adolescentes y jóvenes,
                        vemos la gravedad de la situación del sistema educativo y la victimización que produce a través
                        de la deserción y el fracaso escolar. Esto puede ser analizado por múltiples variables:
                        escolares, extraescolares y personales.
                        <br>
                        Datos recogidos por organismos oficiales de Argentina, Brasil, México y Costa Rica[3] nos
                        permiten visualizar el impacto que las políticas educativas tienen sobre adolescentes y jóvenes.
                        Las estadísticas nos revelan cómo en los diferentes niveles educativos se va excluyendo a la
                        población de alumnos, accediendo al nivel secundario y terciario una reducida parte de la
                        población. Se debe destacar que se hace referencia a la población que ingresó al sistema
                        educativo, pero muchos niños en nuestra Latinoamérica nunca lo hicieron.
                        <br>
                        Las pretendidas expresiones: la educación es un instrumento brindado por la sociedad a las
                        personas para lograr el “ascenso social”, “la igualdad de oportunidades”, “y el acceso libre y
                        gratuito”, se han transformado en expresiones de deseos no logrados a partir de los niveles
                        conocidos de exclusión escolar.
                        <br>
                        Podemos hablar de crecimiento sin desarrollo social. Los esfuerzos de la pediatría desde la
                        concepción a los primeros años de vida se ven frustrados por las carencias de instituciones
                        sociales que debieran favorecer el desarrollo. Se ve imposibilitada la adquisición de
                        habilidades y destrezas, que le permitan en la adultez, desempeñarse en el mundo del trabajo e
                        insertarse saludablemente en la sociedad.
                        <br>
                        La propuesta de ascenso social se ha transformado en exclusión social, desnutrición cultural y
                        muerte social. Grande es el debate instalado en la sociedad para explicar el fracaso del
                        sistema, creo que el análisis más claro lo podemos encontrar en los siguientes textos: “La
                        escuela vacía”[4] y “La Tragedia Educativa”[5], y “El atroz encanto de ser argentino”.[6]
                        <br>
                        Esta situación condena a éste sector a una adultez con baja calidad de vida. Cuando ingresen a
                        la población económicamente activa (PEA), serán mano de obra no calificada, recibirán bajos
                        salarios, esto tendrá repercusión sobre sus futuros grupos familiares y sus descendientes.
                        <br>
                        El equipo de salud que trabaja con niños, adolescentes y jóvenes, debe tomar conciencia de la
                        seriedad del problema y debe realizar un seguimiento del aprendizaje escolar. La mayor
                        permanencia dentro del sistema educativo, le permitirá acceder en mejores condiciones a la vida
                        adulta.
                        <br>
                        Todo esto enmarcado en un escenario sociocultural, donde se destacan los medios masivos de
                        comunicación al servicio del modelo imperante como modeladores de los estilos de vida, de la
                        incorporación de la filosofía del tener, del individualismo, la competitividad, la excelencia,
                        el esforzarse por sobresalir y acceder a una porción de poder. Consecuencia: fisura en el tejido
                        social, caracterizada por la ruptura de los valores y comportamientos solidarios, el
                        debilitamiento de las estructuras familiares y del rol adulto como figura protectora de los más
                        pequeños.
                        <br>
                        También debemos sumar la promoción de la imagen juvenil como ideal de vida, la banalización del
                        consumo de alcohol y drogas y la incertidumbre para todas las generaciones con respecto al
                        futuro, coincidiendo con las ideas del Dr. Yarìa.
                        <br>
                        Todas estas propuestas desde un modelo sociocultural, provocan vulnerabilidades y fracturas en
                        las redes sociales, que generan comportamientos que no se rigen por patrones socialmente
                        aceptados. Existe un desajuste entre las metas culturales que proponen, las estructuras de
                        oportunidades para alcanzar esas metas y las capacidades individuales para hacer uso de tales
                        oportunidades.
                    </p>
                    <h3>EL ABUSO DE SUSTANCIAS EN CIFRAS</h3>
                    <p>
                        En la experiencia recogida, comparando con otras fuentes de información de la región, el alcohol
                        y el tabaco ocupan un lugar privilegiado en el consumo de las poblaciones de adolescentes y
                        jóvenes.
                        <br>
                        El trabajo publicado[7] por Silber y Pagnoncelli de Souza, realizados con poblaciones
                        escolarizadas de escuelas primarias y secundarias, reveló que:
                        <br>
                    </p>
                    <ul>
                        <li>el 80,5% usó alcohol, al menos una vez en la vida; el 18,6% usó frecuentemente, mas de seis
                            veces en los últimos treinta días.</li>
                        <li>el 28% usó tabaco, al menos una vez en la vida; el 5,3% frecuentemente.</li>
                        <li>el 22,8% usó drogas psicotrópicas, al menos una vez en la vida; el 3,1% frecuentemente.</li>
                    </ul>
                    <p>
                        La mitad de los adultos, provenientes de una muestra nacional, comenzó a consumir alcohol y
                        tabaco antes de los 16 años[8]. Esa proporción se reduce a un 22.8% cuando se indaga acerca de
                        drogas ilegales, en tanto que un 2.5% inició el consumo ilícito de medicamentos antes de los 16
                        años. La misma fuente nos muestra que la edad de prueba de la marihuana fue para un 20% antes de
                        los 15 años. Entre 16 y 18 años, lo hizo el 45% y un 21% lo hace luego e los 20 años. En las
                        drogas sociales la edad de inicio tanto para tabaco y alcohol es entre los 12 y 15 años. El
                        consumo es más tardío entre las mujeres que entre los varones.
                        <br>
                        Si se compara con datos de población que se asiste en el programa al que ya hicimos referencia,
                        comprobamos la alta incidencia de las drogas ilegales y la asociación de varias drogas (poli
                        consumo).
                        <br>
                        Entre la población escolarizada y la asistida, existe una gran franja de adolescentes y jóvenes
                        no institucionalizados que habrá que estudiar más en la región y que ha sido difícil alcanzar.
                        <br>
                        Datos del Observatorio Epidemiológico del Programa de la Provincia de Buenos Aires, nos muestra
                        para el consumo de drogas legales, ilegales y fármacos, un 16% de jóvenes encuestados que siguen
                        en contacto con el uso, abuso o dependencia[9].
                        <br>
                        El alcohol es la droga legal mas consumida por la población adolescente 31.1%, duplica al tabaco
                        16.2% y las ilegales junto al consumo ilícito de medicamentos suman 1.4% , para la población de
                        12 a 15 años. Esto nos muestra la necesidad de implementar programas preventivos en edades más
                        tempranas.
                    </p>
                    <h3>Propuestas preventivas</h3>
                    <h2>MOMENTOS PRIVILEGIADOS PARA LA PREVENCIÓN.
                        LOS DIEZ PRIMEROS AÑOS DE VIDA.
                    </h2>
                    <p>
                        La adolescencia es la resultante de la interacción de variantes como: la familia, la escuela, el
                        grupo de pares, los medios de comunicación, el contexto social y el momento histórico que les
                        toca vivir. La identidad que construya el adolescente y sus comportamientos estarán dados por la
                        suma de todas ellas. El equipo de salud asiste y acompaña todo este proceso desde el momento de
                        la concepción.
                        <br>
                        Entendemos al trabajo preventivo como aquél que evite la aparición de un daño, promoviendo el
                        desarrollo de factores y conductas protectoras y disminuyendo los factores y conductas de
                        riesgo.
                        <br>
                        Hay que destacar en el campo de la prevención, el privilegio y la potencial efectividad que
                        tienen las intervenciones que se realicen en los diez primeros años de vida. Permitirán a los
                        adolescentes transitar esta etapa en forma favorable y con menos indicadores de riesgo. El
                        pediatra y todo el equipo de salud que trabaja con niños y sus familias, en la etapa de 0 á 10
                        años, tienen una responsabilidad y una gran oportunidad en la prevención de las patologías
                        psicosociales que se dan en la etapa adolescencia - juventud: adicciones, trastornos del
                        comportamiento alimentario, embarazo no deseado, violencia, depresión, suicidio, fracaso
                        escolar, comportamientos delictivos.
                        <br>
                        En estos años, observamos en la consulta indicadores en la familia, en la escuela y en los
                        comportamientos de los niños que nos pronostican riesgos. En muchas oportunidades nos ocupamos,
                        pero tal vez con abordajes que no son lo suficientemente efectivos; puede deberse a déficit en
                        los marcos teóricos o que no les dimos la importancia que debiéramos haberles dado, minimizando
                        los síntomas.
                        <br>
                        La asistencia y el seguimiento de niños en la etapa adolescente permiten evaluar las
                        intervenciones realizadas con poblaciones menores de 10 años. A pesar de haberse trabajado
                        interdisciplinariamente y multidisciplinariamente, especialmente con psicólogos, psicopedagogos,
                        psiquiatras y docentes, las intervenciones realizadas fueron insuficientes. Psicodiagnósticos,
                        diagnósticos psicopedagógicos, psiquiátricos y neurológicos, con abordajes individuales o
                        familiares, no fueron suficientes para cambiar estructuras que afectaban a alguno/s de los
                        miembros o a todo un grupo familiar.
                        <br>
                        Hay síntomas a los que deberíamos prestar mayor atención, como los pequeños hurtos, las
                        mentiras, la impulsividad, el déficit de atención, la hiperactividad, las transgresiones
                        reiteradas, los comportamientos violentos, el mal desempeño escolar. Si éstos indicadores no son
                        tratados antes de los 10 años, nos vamos a enfrentar con adolescentes con mayores riesgos.
                        Muchos de los comportamientos citados, los encontramos como antecedentes cuando asistimos
                        poblaciones de adictos. No son exclusividad de las adicciones, lo podemos ver en otras
                        patologías psicosociales.
                        <br>
                        Por estas razones, la eficaz intervención en los primeros 10 años de vida es una tarea
                        eminentemente preventiva para las patologías psicosociales que afectan a los adolescentes y
                        jóvenes.
                    </p>
                    <h3>
                        SITUACIONES QUE DEBEMOS ABORDAR, JERARQUIZAR Y DAR MEJORES RESPUESTAS:
                        Con los Padres. Su historia personal: los padres que han sido afectados en su infancia por
                        determinados comportamientos patológicos, tienden a reproducirlo en la vida adulta.
                    </h3>
                    <p>
                        Debemos investigar si:
                        <br>
                        · padecieron maltrato en la infancia.
                        <br>
                        · fueron abusados o violados
                        <br>
                        · fueron abandonados o vivieron situaciones de negligencia, expresada por la falta de
                        supervisión en su crecimiento y desarrollo.
                        <br>
                        Éstas características nos enfrentan con padres carentes de condiciones para supervisar el
                        crecimiento y desarrollo de sus hijos.
                        <br>
                        Si en la actualidad:
                        <br>
                        · ignoran las necesidades básicas que necesitan los niños.
                        <br>
                        · son sobreexigentes.
                        <br>
                        · son impulsivos, incapaces de controlarse.
                        <br>
                        · tienen baja autoestima.
                        <br>
                        · no participan en redes sociales y están aislados.
                        <br>
                        · son pasivos ante las dificultades.
                        <br>
                        · son seres inmaduros emocionales y dependientes.
                        <br>
                        · tienen dificultades para supervisar el crecimiento y desarrollo de sus hijos.
                        <br>
                        Son padres en situación de riesgo, que debemos ayudar. Debemos incorporar en nuestras
                        entrevistas esta propuesta. Detectando y ayudando a los padres podemos evitar que muchas
                        situaciones traumáticas vividas se repitan con los hijos, como el maltrato y el abuso.
                        <br>
                        Una investigación realizada en el centro asistencial del programa ya mencionado, sobre 100
                        historias clínicas de jóvenes adictos, muestra la presencia de los siguientes indicadores en
                        todos ellos: familia monoparental, alcoholismo, violencia, desempleo, deserción escolar.
                        <br>
                        Otros indicadores hallados fueron: discapacidades físicas o mentales, enfermedad mental,
                        depresión, suicidios, muertes, familias disfuncionales, uso indebido de drogas por parte de
                        adultos, prostitución, conflictos con la ley (padres o madres encarcelados), precarización del
                        empleo.
                        <br>
                        La investigación de estas situaciones deberá efectuarse independientemente del nivel
                        socioeconómico y cultural.
                    </p>
                    <p>
                        Con los niños: debemos resignificar la interpretación de las somatizaciones.
                        <br>
                        Muchos niños con imposibilidad de expresar sus necesidades o sufrimientos lo hacen a través del
                        síntoma. Nuestra interpretación debe ajustarse a lo que la clínica nos indica desde una mirada
                        analítica del contexto en el que está inserto el niño.
                        <br>
                        Motivos de consulta como:
                        <br>
                        - Dolores abdominales recurrentes
                        <br>
                        - Cefaleas
                        <br>
                        - Encoprecis, enuresis
                        <br>
                        - Asilamiento social
                        <br>
                        - Dificultad para la integración social
                        <br>
                        - Reiteradas mentiras, hurtos
                        <br>
                        - Impulsividad, agresividad
                        <br>
                        - Déficit de atención, dificultad para aprender
                        <br>
                        - Reiteradas trasgresiones a las normativas, fugas del hogar
                        <br>
                        - Tristeza, apatía, depresión
                        <br>
                        - Trastornos del sueño
                        <br>


                        La comunicación de los padres con los hijos.
                        <br>
                        Los niños, necesitarán desarrollar ciertas características para enfrentar las diferentes
                        situaciones que les toque vivir tendrán que contar:
                        <br>
                        § La autoestima.
                        <br>
                        § El juicio crítico y el aprender a pensar.
                        <br>
                        § Las habilidades sociales.
                        <br>
                        § La toma de decisiones.
                        <br>
                        § La resolución de problemas.
                        <br>
                        § Valores como:
                        <br>
                        o el autocuidado de su salud.
                        <br>
                        o el valor de su cuerpo.
                        <br>
                        o la responsabilidad por sus comportamientos.
                        <br>
                        La posibilidad de desarrollo de estos aspectos depende de algunas modalidades de comunicación
                        que los padres tenemos con nuestros hijos.
                        <br>
                        Los invito a que hagan un ejercicio: escúchense y escuchen como muchos adultos se dirigen a los
                        niños: juzgando, criticando, descalificando, adelantando soluciones, no empatizando con el niño.
                        <br>
                        Bolton llama a esto Comunicación de Alto Riesgo y denomina a esas formas barreras
                        comunicacionales. Propongo una revisión de la forma de comunicarse los adultos con los niños.
                        <br>
                        Mientras estas barreras permanezcan, no hay posibilidad de desarrollo de las habilidades que los
                        niños deberán tener para enfrentar el futuro incierto y con situaciones sociales desfavorables.
                        <br>
                        El tema de la comunicación, en su forma desarrollada hasta ahora por mucho de nosotros padres -
                        adultos, merece una aclaración. Estamos empleando modelos aprendidos en nuestras propias
                        familias y con los adultos que nos tocó convivir. En estos modelos, muchas personas remarcan
                        todo lo negativo cuando se dirigen a los niños: “te portaste mal”, “no hiciste lo que te mandé“,
                        “no arreglaste tu cuarto”. No y no. Mensajes que suelen reforzarse en la escuela: “no hiciste
                        los deberes”, “no estudiaste”, “sos un mal compañero”. No y no.
                        <br>
                        Hay que empezar a trabajar un cambio. No dejar de señalar las cosas que hacen mal, pero
                        acompañémoslas de expresiones positivas. Señalar lo malo únicamente no muestra la alternativa de
                        lo bueno.
                        <br>
                        Por ejemplo: “no arreglaste tu cuarto, pero igual te quiero y sos un buen hijo”, o, “no hiciste
                        los deberes, pero sos un excelente compañero”.
                        <br>
                        Un contexto sociocultural totalmente diferente, requiere un desarrollo diferente de los
                        atributos y habilidades personales, para no ser victimizados por los estilos de vida que nos
                        propone la televisión, el mundo globalizado, la convivencia con el SIDA, las drogas al alcance
                        de todos, el futuro incierto o no predecible, la escasa vida familiar y el cambio de valores.
                        Propuesta que debería ser útil para todas las generaciones, ya que los mayores también tenemos
                        que aprender a convivir y sobrevivir en escenarios nuevos
                        <br>
                        Hemos desarrollado hasta aquí el rol del pediatra, del equipo de salud y de las personas que
                        trabajan con niños de 0 a 10 años en la prevención de las adicciones y de todas las patologías
                        sociales que afectan a adolescentes y jóvenes.
                        <br>
                        Después de la primera década, las estrategias preventivas tienen características que le son
                        propias. Contamos con marcos teóricos, que debemos adecuar al contexto socio-cultural y al
                        momento histórico que se vive, para sustentar el trabajo preventivo.
                        <br>
                        Nos referimos a:
                        <br>
                        1. Marco conceptual de la salud integral de la adolescencia. Prevención Primordial: Factores
                        Protectores
                        <br>
                        2. Enfoque de riesgo: detección precoz.
                        <br>
                        3. Resiliencia.
                        <br>
                        4. Municipios Saludables.
                        <br>
                        El primer marco teórico nos introduce en el concepto de Prevención Primordial. Hace referencia
                        al trabajo que podemos realizar con todas las instituciones donde se desarrollan los niños,
                        adolescentes y jóvenes. Esas acciones tienen como objetivo apoyar y fortalecer a las personas
                        que cumplen acciones en esos espacios.
                        <br>
                        Comprenden los factores protectores:
                        <br>
                        · El buen funcionamiento familiar.
                        <br>
                        · El buen funcionamiento del Sistema de Salud.
                        <br>
                        · La eficiencia del Sistema Educativo.
                        <br>
                        · La existencia y el cumplimiento de la Legislación y Marco Jurídico que protegen
                        <br>
                        · las condiciones de vida de los niños, adolescentes y jóvenes
                        <br>
                        · el empleo sin riesgo y con posibilidad de desarrollo
                        <br>
                        · Buenos hábitos alimentarios.
                        <br>
                        · Buenos estilos de vida.
                        <br>
                        · Prevención de la vulnerabilidad evitable.
                        <br>
                        · Escala de valores y hábitos que favorezcan el desarrollo espiritual.
                        <br>
                        · Oportunidades para el empleo del tiempo libre en forma positiva.
                        <br>
                        · Mensajes y contenidos de los medios de comunicación que promuevan
                        <br>
                        · Estilos de vidas favorables.
                        <br>
                        Este marco conceptual nos hace comprender que la prevención para evitar poblaciones con riesgo
                        comienza con el momento de una concepción deseada, un cuidado del crecimiento y desarrollo
                        embrionario y fetal, una buena asistencia en el momento del parto y un seguimiento permanente
                        del crecimiento y desarrollo en la primera y segunda infancia.
                        <br>
                        El segundo marco teórico que nos habla del enfoque de riesgo nos conduce a realizar estrategias
                        de detección precoz de situaciones de riesgo o posibles vulnerabilidades en las personas,
                        familias y/o contexto social.
                        <br>
                        Son situaciones de riesgo:
                        <br>
                        · Relaciones familiares conflictivas, crónicas o recientes.
                        <br>
                        · Desempeño escolar poco satisfactorio o exclusión escolar.
                        <br>
                        · Conflictiva grupal.
                        <br>
                        · Cambios continuos de grupos de referencia.
                        <br>
                        · Aislamiento o retraimiento social.
                        <br>
                        · Cambios bruscos de comportamiento.
                        <br>
                        · Pertenencia a grupos que tempranamente consumen tabaco, alcohol o drogas; se inician
                        tempranamente en la vida sexual.
                        <br>
                        · Padecen desórdenes emocionales como conductas suicidas, depresión, alteraciones del apetito,
                        reiteradas quejas somáticas, conductas antisociales, accidentes reiterados.
                        <br>
                        La detección precoz nos permite intervenciones anticipatorias a situaciones mas graves.
                        <br>
                        El tercer marco teórico, la Resiliencia, nos introduce en estrategias de esperanza cuando nos
                        enfrentamos con adolescentes o jóvenes con familias ausentes, con comportamientos de riesgo y
                        viviendo en contextos adversos.
                        <br>
                        La Resiliencia está definida como la capacidad universal que permite a una persona, grupo o
                        comunidad, minimizar o sobreponerse a los efectos nocivos de la adversidad. La resiliencia puede
                        transformar la vida de las personas. Es la capacidad humana para hacer frente a las adversidades
                        de la vida, superarlas, salir transformado e incluso fortalecido.
                        <br>
                        Nos brinda esperanza en la capacidad del ser humano para transformar factores adversos en
                        elementos de estímulo y proyección. Debemos esperar y desear que nuestros jóvenes alcancen un
                        desarrollo digno en medio de la pobreza, la injusticia y la incertidumbre de los modelos de
                        sociedad que les toca vivir.
                        <br>
                        El cuarto marco teórico nos brinda documentos que facilitan las estrategias en el trabajo
                        preventivo. Se define como Municipios Saludables a aquellos en los que las autoridades políticas
                        y civiles, las instituciones, las organizaciones públicas y privadas y la población en general
                        dedican constantes esfuerzos a mejorar las condiciones de vida, trabajo y cultura de la
                        población. Aplican sus recursos para mejorar la convivencia, desarrollar la solidaridad, la
                        co-gestión social y consolidar la democracia.
                        <br>
                        Esta es una idea fuerza que intenta el trabajo en redes. Fortalece las ideas expresadas en el
                        marco conceptual sobre el trabajo conjunto entre los diferentes sectores sociales (
                        intersectorialidad ).
                        <br>
                        Existen dos experiencias formuladas bajo esta concepción: las Comunidades Seguras cuyo objetivo
                        fue la prevención de accidentes y las Ciudades Preventivas cuyo objetivo es la prevención de
                        adicciones.
                        <br>
                        Cuando los equipos de salud realizan trabajos preventivos con grupos de adolescentes y jóvenes
                        deberán tener presente la estructura socio-cultural actual.
                        <br>
                        La Prevención en Patologías Sociales es un proceso activo de implementación de acciones y
                        programas tendientes a mejorar las acciones que realizan las personas y/o instituciones
                        (Prevención primordial) para favorecer el crecimiento y desarrollo de las personas. Promover el
                        desarrollo de recursos personales y/o institucionales para poder enfrentar las adversidades,
                        asumir estilos de vida saludables y disminuir las situaciones y comportamientos de riesgo.
                        <br>
                        Utiliza fundamentalmente dos tecnologías para alcanzar estos objetivos: la Educación y la
                        Comunicación.
                        <br>
                        Las tecnologías son métodos, instrumentos o enfoques que se introducen en una actividad con el
                        objeto de facilitar el logro de los resultados esperados.
                        <br>
                        Todo trabajo preventivo en patologías sociales es Educación Social.
                    </p>
                    <h2>PROPUESTAS TERAPÉUTICAS PARA EL EQUIPO DE SALUD:</h2>
                    <p>
                        Debemos desmitificar la aseveración de que todo consumidor, cualquiera sea su nivel de
                        compromiso (usador, abusador o dependiente) es incumbencia exclusiva de la psiquiatría o la
                        psicología. Estamos culturalmente acostumbrados a intervenir o pedir ayuda en las últimas
                        etapas, alcoholismo o drogadependiente y minimizamos o no detectamos comportamientos, síntomas o
                        signos tempranos.
                        <br>
                        Los profesionales de la salud, cualquiera sea su especialidad, puede realizar intervenciones
                        exitosas en las etapas de usador y abusador. También lo puede hacer cualquier adulto que se
                        vincule con niños, adolescentes o jóvenes, sean docentes, recreadores, religiosos, líderes
                        juveniles, vecinos[10]. Es importante tener un buen vínculo.
                        <br>
                        Debe incorporarse para la detección precoz los métodos de laboratorios, hoy al alcance de todos
                        los equipo.
                        <br>
                        El adicto o dependiente sí debe ser tratado por equipos interdisciplinarios y dentro del
                        encuadre de normas estrictas, en comunidades terapéuticas o con el modelo de internación
                        domiciliaria que estamos implementando en Buenos Aires.
                    </p>
                    <h3>LINEAMIENTOS TERAPÉUTICOS PARA USADORES Y ABUSADORES </h3>
                    <p>
                        En un primer momento se debe trabajar para convencer al paciente de la necesidad y el beneficio
                        de dejar el consumo de sustancias legales o ilegales. Si el paciente no acepta, trabajaremos con
                        la familia o adultos convivientes o referentes, amigos, novio/a, para que acompañen y puedan
                        esperar los tiempos de cada joven, sin juzgar, conteniendo con afecto y acordando límites. Red
                        de apoyo y acompañamiento.
                        <br>
                        Además, se deberá trabajar sobre las vulnerabilidades personales, familiares y grupales.
                        <br>
                        Aceptado el tratamiento deben establecerse normas claras, por escrito que el paciente y su
                        familia deben conocer y respetar.
                        <br>
                        El tratamiento debe comprender las siguientes etapas de:
                        <br>
                        1. Desintoxicación y deshabituación.
                        <br>
                        2. Actividades programadas.
                        <br>
                        3. Capacitación y reinserción educativa o laboral.
                        <br>
                        4. Reinserción social.
                        <br>
                        A partir de cumplida la etapa de desintoxicación y deshabituación, podrá iniciarse el trabajo
                        psicoterapéutico ya que hasta ese momento está interferido su psiquismo por la impregnación de
                        sustancias tóxicas.
                        <br>
                        Cada etapa debe cumplirse trimestralmente. Puede variar de acuerdo a cada paciente. El
                        tratamiento debe considerar un alta precaria al año y definitiva en dos y tres años. Puede haber
                        diferencias de abordajes terapéuticos. Todos son válidos si logran la cura.
                        <br>
                        Hay que asumir nuevas oportunidades que estas patologías nos ofrecen, lo importante es no
                        delegar y saber que todos los profesionales que trabajamos con niños, adolescentes y jóvenes
                        podemos aportar a la recuperación de estas poblaciones especialmente en las etapas de uso y
                        abuso. Esto es un desafío[11].
                    </p>
                    <h2>DISCUSIÓN</h2>
                    <p>
                        Trabajando con poblaciones de adolescentes y jóvenes (10-24 años) y recogiendo de las
                        investigaciones y datos estadísticos de fuentes oficiales la edad de inicio del consumo de
                        sustancias, podemos afirmar que llegamos tarde. En estas edades los programas preventivos, que
                        son programas de educación social, deben lograr en las poblaciones objetivos: cambios de
                        valores, creencias y actitudes. Puede lograrse si los programas son sostenidos a través de mucho
                        tiempo y las poblaciones participan en forma continuada.
                        <br>
                        Diferentes razones dificultan tanto el logro de los objetivos, como las condiciones necesarias
                        para el desarrollo de programas preventivos eficientes y eficaces.
                        <br>
                        La experiencia nos lleva a pensar que, si después de los 10 años ya hay valores, creencias y
                        aptitudes internalizadas, debemos trabajar antes de esa edad. Desde la concepción hasta los dos
                        primeros años de vida, se construyen las condiciones en el aparato mental que permitirán
                        adquirir con posterioridad conocimientos que servirán para decidir saludablemente.
                        <br>
                        La pediatría tiene la privilegiada oportunidad de acompañar en estos primeros años a los padres.
                        Sabemos que nos enfrentamos con poblaciones que padecen múltiples carencias que no se limitan a
                        lo material / económico ni están presentes en un determinado segmento de la sociedad; carencias
                        originadas en sus grupos familiares y el contexto donde crecieron y se desarrollaron. En muchos
                        casos se convertirán en impedimento a la hora de proveer a sus hijos de modelos relacionales que
                        permitan en el futuro contar con instrumentos para enfrentar los complejos escenarios sociales
                        en forma saludable.
                        <br>
                        A las carencias en los micro contextos (familias e instituciones intermedias), debemos destacar
                        el agravamiento del deterioro del macro contexto y su impacto sobre las familias.
                        <br>
                        Ante estas situaciones, trabajar preventivamente en los primeros años de vida implicará: ayudar
                        a fortalecer el vínculo madre - hijo/a, promover la lactancia materna, estimular las caricias,
                        los besos, el juego, crear nuevas formas de comunicación en un ambiente de amor, realizar un
                        seguimiento durante la primera y segunda infancia, abordando los indicadores de riesgo
                        detectados y descritos en este trabajo. Acciones que permite a los pediatras trabajar para la
                        prevención en la etapa adolescente de patologías psicosociales. Jerarquizar nuestra misión
                        educadora junto a la asistencial. Son los jardines maternales y los jardines de infantes lugares
                        privilegiados para este trabajo.
                        <br>
                        Muchas madres y padres requieren de esta ayuda. Ofrecerla es darles la oportunidad a muchos
                        niños de crecer y desarrollarse en mejores condiciones para enfrentar escenarios adversos.
                        <br>
                        Finalmente, mientras la sociedad siga educando para el deseo, para el tener, con carencia de un
                        modelo humano válido y de un proyecto nacional generador de entusiasmo; mientras los hogares no
                        sean ámbito de encuentro, trasmisión de amor, de responsabilidades y de diálogo, se seguirá
                        arrojando a los jóvenes al espejismo de la violencia, de la intolerancia, de las adicciones, de
                        la incapacidad para enfrentar creativamente la lucha diaria.
                        <br>
                        El desafío para enfrentar este problema no es sólo para los equipos de salud, sino para todos
                        los sectores de la sociedad. No es tarea exclusiva para profesionales y funcionarios. Sin la
                        participación de la comunidad los logros serán escasos. Cuantos mayores sean la sensibilización,
                        la organización, la participación y el compromiso de todos los sectores sociales mayor será la
                        posibilidad de tener éxito.
                    </p>
                    <h2>Bibliografia</h2>
                    <p>
                        - GRIMSON, Wilbur R. Sociedad de Adictos. Ed. Planeta. Buenos Aires. Argentina. 1999.
                        <br>
                        - MARCHIONI, Marcos. Ciudades Preventivas. Ed. Secretaria de Prevención y Asistencia a las
                        Adicciones. Prov. de Buenos Aires. Argentina. 1999.
                        <br>
                        - OPS. Plan de Acción de Desarrollo y Salud de Adolescentes y Jóvenes en las Américas.
                        Washington. 1998.
                        <br>
                        - OPS / F. KELLOGG. ¿Por qué debemos invertir en el adolescente? Washington. 1998.
                        <br>
                        - OPS. Marco Conceptual de la Salud Integral del Adolescente y su cuidado. Washington. 1990.
                        <br>
                        - YARIA, Juan A. La cultura del Malestar. Ed. Universidad del Salvador. Buenos Aires. Argentina.
                        1995.
                        <br>
                        - YARIA, Juan A. Posmodernidad y Redes Sociales. Ed. Universidad del Salvador-Lumen. Buenos
                        Aires. Argentina. 1999.
                    </p>
                    <p>

                        [1] OPS (Organización Panamericana de la Salud). “Epidemiología sin números”. Serie PALTEX.
                        N°28. Washington. 1992. Pág. 16.
                        <br>
                        [2] Datos ofrecidos en el Seminario de Narco economía organizado por SEDRONAR (Secretaría de
                        Programación para la Prevención de la Drogadicción y la Lucha Contra el Narcotráfico - República
                        Argentina
                        Presidencia de la Nación). Buenos Aires. 1999.
                        <br>
                        [3] ROLDÁN, Cándido. Adicciones: el contexto del problema, en FALKE, Germàn: Adolescencia,
                        Familia y Drogadicción. Ed. Atlante. Buenos Aires. 1998. Cap. XXIV.
                        <br>
                        [4] TENTI FANFANI, Emilio. La Escuela Vacía. Ed. Unicef-Losada. Buenos Aires. 1992.
                        <br>
                        [5] ETCHEVERRY, Jaim G. La Tragedia Educativa. Ed. Fondo de Cultura Económico de Argentina.
                        Buenos Aires. 1999.
                        <br>
                        [6] AGUINIS, Marcos. El atroz encanto de ser argentino. Ed. Planeta. Buenos Aires. 2001. Cap VI,
                        Pàg. 137.
                        <br>
                        [7] SILBER T., PAGNONCELLI DE SOUZA, R. “Uso y abuso de sustancias en la adolescencia”.
                        Adolescencia Latinoamericana. 1998; 3; 148-162.
                        <br>
                        [8] SEDRONAR. Página Web: www.sedronar.gov.ar
                        <br>
                        [9] SECRETARÌA DE PREVENCIÓN Y ASISTENCIA DE LAS ADICCIONES DE LA PROVINCIA DE BUENOS AIRES.
                        Página Web: www.spadla.gba.gov.ar
                        <br>
                        [10] SASIA (Sociedad Argentina de Salud Integral del Adolescente). Adolescencia: Detección de
                        Riesgos y Propuestas de Acción. Ed. SASIA – Ministerio de Salud – Promin. Buenos Aires. 2000.
                        <br>
                        [11] SERFATY, Edith; ROLDÁN, Cándido y colab. “Internación domiciliaria de adolescentes
                        consumidores de drogas”. ACMEON, Vol 5, Nº 17.1996, 11-16.
                        SERFATY, Edith; ROLDÁN, Cándido y colab. “Internación domiciliaria en adolescentes”. Sociedad
                        Iberoamericana de Información científica. Vol. 1, Nº 2, dic. 1996, 47-49.
                    </p>
                    <a href="/img/posts/abuso-de-sustancias.doc" class="descarga">DESCARGAR PUBLICACION - abuso de sustancias</a>
                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>