<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aportando experiencias innovadoras para los equipos de salud | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>APORTANDO EXPERIENCIAS INNOVADORAS PARA LOS EQUIPOS DE SALUD</h1>
                    </div>
                    <h2>"HOY lo importante es trabajar donde los adolescentes y jovenes se encuentran. LA FAMILIA, LA
                        ESCUELA, EL BARRIO". Dr. Roldan</h2>
                    <p>Dra. SUSANA GRUNBAUM. URUGUAY <br>

                        Psiquiatra de niños y adolescentes - Psicoterapeuta en servicios de salud - Ex directora del
                        Programa de Salud de la adolescencia del MSP - Presidenta de CODAJIC
                    </p>
                    <h3>PRIMER PREMIO CONGRESO DE ADOLESCENCIA 2016</h3>

                    <p>La estrategia de Espacios de Orientación y Escucha o Consejerías en salud integral en centros
                        educativos (EOyE) es una experiencia intersectorial e innovadora en el Uruguay. Comienza a
                        implementarse en el año 2012 en Montevideo y el área metropolitana. Los objetivos de la
                        estrategia buscan mejorar la calidad de vida de adolescentes y jóvenes, ofrecer orientación
                        oportuna en salud integral, facilitar la vinculación a los servicios de salud y otros espacios
                        de participación. Los EOyE son ámbitos de consulta y conversación, de acceso libre y espontáneo
                        para los adolescentes. Están a cargo de una dupla de profesionales de las áreas de Medicina o
                        Enfermería y Psicología. La metodología empleada es la Consejería (1), esta se encuadra en los
                        principios de confidencialidad y autonomía progresiva promoviendo el desarrollo de conductas
                        saludables y habilidades para la vida (1). <br>

                        La población potencial de beneficiarios asciende a más de 3000 estudiantes de 12 a 19 años de
                        edad, sus familias y referentes de la comunidad educativa. En el período de intervención entre
                        agosto 2012 y junio 2015, se recibieron un total de 2.400 consultas. <br>

                        Se ha constatado que los estudiantes se apropian del Espacio, concurren espontáneamente y
                        valoran positivamente la propuesta. Asimismo, gran parte de las consultas se resuelven en el
                        momento, ofreciendo escucha y orientación oportuna. La respuesta a las situaciones de mayor
                        complejidad se realiza de manera coordinada con la comunidad educativa, la familia y las redes.
                    </p>

                    <p>Palabras clave: SERVICIOS DE SALUD DEL ADOLESCENTE, CONSEJO DIRIGIDO</p>

                    <h3>Introducción</h3>
                    <p>En el marco de la Estrategia Nacional para la Infancia y la Adolescencia (ENIA) 2010-2030(2), se
                        firma el Convenio de Cooperación entre los Ministerios de Desarrollo Social y de Salud Pública
                        que tiene como objetivo general fortalecer las prestaciones de salud, la promoción, la
                        prevención, la rehabilitación y protección social, orientada a gestantes, niños y adolescentes
                        con criterios de calidad, perspectiva de derechos y territorialidad. Asimismo, el Sistema
                        Nacional Integrado de Salud (3) establece el apoyo a las acciones de promoción de salud,
                        participación y empoderamiento de niños, niñas y adolescentes en ámbitos educativos, deportivos
                        y comunitarios. En este contexto interinstitucional se crean los Espacios de Orientación y
                        Escucha, con el apoyo técnico financiero del Programa de Apoyo a la ENIA (Préstamo BID), cuya
                        implementación comienza en el año 2012 en siete centros educativos y se desarrolló hasta el año
                        2015. <br>

                        Su creación se fundamenta en la necesidad de mejorar la calidad de atención en salud de los
                        adolescentes, ya que se considera que su acceso a los servicios es limitado. A su vez se
                        entiende que la mayoría de los problemas de salud de éstos podrían prevenirse en la propia
                        comunidad y resolverse en el primer nivel de atención de salud. Para ello se considera que los
                        dispositivos de cercanía como las consejerías nos permiten conocer la realidad y problemas de
                        los adolescentes en tiempo real y actuar oportunamente, convocando a diferentes actores, siendo
                        el trabajo conjunto, interinstitucional e interdisciplinario lo que posibilita el acompañamiento
                        integral al estudiante. <br>

                        Por otra parte los centros educativos tienen cada vez más cometidos que exceden la tarea
                        curricular, entre otras el abordaje de problemáticas de orden psicosocial. Esta estrategia
                        colabora en el seguimiento de estas situaciones de alta complejidad. Se considera al programa
                        como una propuesta innovadora, debido a la integración de un técnico médico o licenciado en
                        enfermería al centro educativo y porque, a diferencia de otros programas o equipos dentro del
                        sistema educativo, el acercamiento de los jóvenes al Espacio de orientación y escucha es
                        voluntario. <br>

                        El propósito del presente trabajo es describir la experiencia del proyecto de Espacios de
                        Orientación y Escucha en Salud Integral en Centros Educativos desde su implementación hasta la
                        fecha, compartiendo los principales hallazgos obtenidos en las evaluaciones realizadas.
                    </p>

                    <h3>Descripción de la experiencia</h3>
                    <p>El servicio funciona en un espacio destinado únicamente para este fin que cumple con condiciones
                        básicas de privacidad y prevé la mayor accesibilidad posible en tanto funciona 20 horas
                        semanales, abarcando distintos turnos, todos los días de la semana. <br>

                        En lo que respecta a los recursos humanos el perfil para el cargo exige formación en
                        adolescencia, experiencia en el ámbito de la salud, el sistema educativo formal y/o comunitario.
                        El equipo multidisciplinario a cargo proporciona un espacio de escucha y orientación en salud
                        integral a todo adolescente que se acerque espontáneamente o derivado, así como a referentes
                        familiares y de la comunidad educativa. <br>

                        Tiene como cometidos diseñar intervenciones individuales y/o grupales, coordinando con los
                        recursos propios del centro educativo y la comunidad. También brinda orientación a referentes
                        del centro educativo, para el abordaje de situaciones en las que el adolescente no está presente
                        en la consulta. Los técnicos desarrollan actividades de consejería, ésta consiste en una
                        intervención multidisciplinaria que ofrece la oportunidad de aprender habilidades específicas
                        para un desarrollo saludable. <br>

                        La consejería se puede llevar a cabo por diversos actores (servicios de salud, sociales,
                        educativos).Tradicionalmente se han llevado adelante como estrategias de promoción de salud
                        sexual y reproductiva (4). <br>

                        A nivel nacional e internacional se conocen y fueron analizadas experiencias con características
                        similares. En nuestro país, la Licenciatura de Enfermería de la Universidad de la República que
                        ha desarrollado actividades de práctica curricular dentro de centros educativos; en España, el
                        proyecto Forma Joven de la Junta de Salud de Andalucía (5), que ha introducido la estrategia de
                        consejería dentro de la estrategia de promoción de salud, han sido referentes para los EOyE con
                        diversos aportes en la continuidad educativa de los estudiantes. Para este informe se toman en
                        cuenta los datos de la investigación realizada por la Dirección Nacional de Evaluación y
                        Monitoreo (DINEM) del Ministerio de Desarrollo Social en 2013(6) y se presentan los datos
                        recogidos en la investigación realizada a estudiantes por equipo coordinador del proyecto en
                        2014. En ambos casos la metodología utilizada fue cualitativa (tabla 2).
                    </p>

                    <h3>Tabla 2. Técnicas de investigación utilizadas</h3>
                    <p>Se realizaron 10 entrevistas a los principales actores adultos involucrados (Evaluación general
                        DINEM, 2013).

                        Se aplicaron 857 encuestas a los estudiantes mediante formularios autoadministrados y 48
                        entrevistas semiestructuradas a los estudiantes que concurrieron al espacio. (Evaluación a
                        estudiantes, equipo coordinador, 2014).
                    </p>
                    <p>Se describen a continuación los resultados más relevantes: <br>

                        1. Consulta a referentes adultos del centro educativo: equipos de dirección, docentes,
                        adscriptos y técnicos de la comunidad educativa valoran positivamente el aporte del proyecto en
                        el acompañamiento de los adolescentes evitando muchas veces la desvinculación de los estudiantes
                        del sistema educativo. <br>

                        Consulta a estudiantes: los adolescentes plantean que el proyecto cumple con sus expectativas en
                        tanto reciben respuesta a sus demandas así como consideran valiosa la existencia de este espacio
                        dentro del centro educativo.
                    </p>

                    <h3>Conclusiones</h3>
                    <ol>
                        <li>Esta estrategia ofrece la oportunidad de resolver consultas directamente en los ámbitos
                            donde transcurre gran parte de la vida cotidiana de la población adolescente.</li>
                        <li>El proyecto satisface la necesidad de dar atención a situaciones complejas que ponen en
                            riesgo la salud integral evitando muchas veces la desvinculación de los estudiantes del
                            sistema educativo.</li>
                    </ol>

                    <h3>Resultados de la consulta a adolescentes</h3>
                    <p>Se aplicaron 857 formularios autoadministrados
                    <ul>
                        <li>88,2% posee carné de salud adolescente.</li>
                        <li>61% conoce el EOyE.</li>
                        <li>28,5% concurrió a realizar consultas.</li>
                        <li>66% de los que consultaron recibieron respuesta.</li>
                        <li>45% no concurrió porque no lo necesitaba.</li>
                        <li>56% de los que lo conocen recomiendan el EOyE.</li>
                        <li>79,5% de los que fueron recomiendan el EOyE, en comparación al 9% que opina que no.</li>
                        <li>4% responde afirmativamente a la pregunta si algo no le gustó.</li>
                        <li>58% plantea que tendría con quien conversar si el EOyE no existiera (familia y amigos),
                            mientras que el 24% responde que no.</li>
                        <li>En ningún caso se mencionan expresamente a los servicios de salud.</li>
                    </ul>
                    <p>Cabe mencionar que en muchos de los formularios no se respondieron todos las preguntas</p>
                    </p>

                    <p>
                        Se realizaron entrevistas a adolescentes que concurrieron al EOyE las cuales confirman los
                        hallazgos obtenidos a través de la encuesta. El análisis de dichas entrevistas arroja los
                        siguientes resultados:
                    <ul>
                        <li>En cuanto a la percepción de la respuesta brindada por el EOyE, el 55% refiere a la
                            resolución de un problema,</li>
                        <li>El 34% refiere a la posibilidad de desahogo</li>
                        <li>El 31% manifiesta haber aprendido algo nuevo en relación a su salud integral.</li>
                        <li>El 36% afirma tener otro ámbito donde plantear estos temas.</li>
                        <li>El 5% menciona adscriptos o docentes como referentes posibles</li>
                        <li>Sólo un entrevistada menciona la policlínica como lugar posible para realizar su consulta.
                        </li>
                    </ul>
                    </p>

                    <p>
                        Se ha constatado que los adolescentes no conocen sus derechos en general e ignoran los derechos
                        en relación a la atención de salud. Si bien el discurso de los derechos de niños y adolescentes
                        es conocido a nivel general, se ha comprobado que referentes educativos y familiares, desconocen
                        los principios, prácticas o prestaciones concretas vinculadas específicamente al sujeto
                        adolescente. En consecuencia, resulta necesario promover permanentemente esta perspectiva,
                        difundiendo normas y beneficios, garantizando el ejercicio de sus derechos en los ámbitos donde
                        transcurre la vida de los adolescentes.
                    </p>

                    <p>
                        3. Cabe destacar que la estrategia fue inicialmente cuestionada en su metodología ya que los
                        referentes de la comunidad educativa suponían que los estudiantes no concurrirían al espacio
                        espontáneamente. También consideraban que la organización de la atención debía ser por medio de
                        derivaciones desde los referentes del centro educativo. Por lo tanto, se recomienda profundizar
                        las acciones interinstitucionales hacia el cambio de paradigma, en el cual los adolescentes sean
                        protagonistas. <br>

                        4. Los resultados de las evaluaciones demuestran que al habilitar espacios accesibles, sin
                        requerimientos previos (tramitar hora, presentar documentación, trasladarse), en los cuales se
                        respetan los derechos y se atiende con calidad técnica, garantizando la confidencialidad, los
                        adolescentes: concurren espontáneamente, vuelven a consultar, se apropian de la pro- puesta y lo
                        viven como un lugar agradable para compartir sueños e inquietudes. <br>

                        5. Con este trabajo se constata que las principales áreas de interés en las consultas recibidas
                        son la familia, las dificultades de comunicación con el mundo adulto y entre pares, así como con
                        la búsqueda de apoyo ante situaciones de violencia (intrafamiliar, Bullying, violencia en el
                        noviazgo). <br>

                        6. Dado que la gran mayoría de las problemáticas atendidas están relacionadas con el crecimiento
                        y el desarrollo, las crisis vitales propias de la adolescencia, las pautas de crianza, el estrés
                        producido por determinadas situaciones familiares y la comunicación interpersonal, se refuerza
                        el concepto de consejería como modalidad de atención que puede ser ofrecida por operadores
                        diversos superando las especialidades disciplinarias. <br>

                        7. Se ha constatado que esta intervención puede disminuir el sufrimiento y el malestar,
                        atendiendo situaciones en las que se observan problemáticas antiguas y que se detectan en este
                        espacio por primera vez. Asimismo esta metodología de cercanía permite dar lugar a la atención y
                        realizar las derivaciones correspondientes, garantizando el seguimiento necesario y evitando el
                        agravamiento del problema. <br>

                        8. Las encuestas muestran que los adolescentes concurren a los servicios de salud, el 88% de los
                        encuesta- dos tiene su carné de salud al día. Sin embargo, cuan- do se los consulta si tienen
                        otros referentes para plantear sus inquietudes, además del EOyE, sólo en un caso la respuesta es
                        el servicio de salud. Por esto se considera relevante esta estrategia, ya que permite acercar a
                        los estudiantes a los servicios orientándolos y brindándoles apoyo para que puedan ejercer sus
                        derechos. <br>

                        9. Acciones intersectoriales con enfoques transdisciplinarios permiten el acercamiento a las
                        necesidades adolescentes, conocer sus intereses, sus problemáticas y potenciar el desarrollo de
                        sus habilidades.
                    </p>

                    <h3>perspectivas</h3>
                    <p>Preguntas orientadoras para futuras líneas de acción:
                    <ul>
                        <li>¿Los adolescentes consideran que en los servicios de salud se pueden atender problemas de
                            salud de orden psicosocial? ¿Y los servicios de salud son adecuados para hacerlo?</li>
                        <li>¿Cómo los servicios de salud se organizan para reci- bir a los adolescentes?</li>
                        <li>¿Cómo los servicios de salud se organizan para acercarse a los adolescentes, conocer sus
                            expectativas y construir la demanda?</li>
                        <li>¿Cómo el sistema educativo se organiza para dar respuesta a las necesidades de salud de los
                            estudian- tes y sus familias?</li>
                        <li>Por otra parte los centros educativos tienen cada vez más cometidos que exceden la tarea
                            curricular, ¿de- ben transformar su estructura o crear dispositivos especializados como las
                            consejerías?</li>
                    </ul>
                    </p>

                    <h3>Referencias bibliográficas</h3>
                    <p>1. Chile. Ministerio de Salud. Guía práctica de Consejería para Adolescentes y Jóvenes,
                        orientaciones generales: dirigi- da a los equipos de atención primaria. Santiago: Ministerio de
                        Salud, 2011. <br>

                        2. Uruguay. Comité de Coordinación Estratégica. Estrategia Nacional de Infancia y Adolescencia
                        2010-2030: bases para su implementación. Montevideo: CCE/Comité Nacional de Políticas Sociales,
                        2010. <br>

                        3. Ley 18.211. Sistema Nacional Integrado de salud: normativa referente a su creación,
                        funcionamiento y financiación. Montevideo, 13 diciembre de 2007. <br>

                        4. Organización Panamericana de la Salud. Modelo de consejería orientada a los jóvenes en
                        prevención del VIH y para la promoción de la salud sexual y reproductiva: una guía para
                        proveedores de primera línea. Washington, DC: OPS,
                    </p>
                    <p>
                        1. Educadora Social. Instituto Formación Docente. Diplomada Salud Integral y Desarrollo Adolescente. Universidad Católica de Chile. <br>
                        2. Lic. Psicología. UDELAR. Posgrado Psicoterapia niños y adolescentes. C Gestáltico Montevideo. <br>
                        3. Lic. Psicología. UDELAR.  <br>
                        4. Médico. Posgrado Medicina Familiar y comunitaria. UDELAR. <br>
                        Equipo técnico: Lucía Antía, Sabrina Capi, Victoria Bardier, Ana Díaz, Andrea Gelber, Silvana Grifo, Bettiana Martello, Jacqueline Primo. Equipo coordinador: Andrea Fabbiani, Fernanda Methol, Andrea Pasinotti.<br>
                        Consejo de Educación Secundaria: Liceos de Montevideo 22, 40, 54 y 58. <br>
                        Consejo de Educación Técnico Profesional: Escuelas Técnicas Unión y Paso Carrasco. Dirección Nacional Evaluación y Monitoreo DINEM-MIDES. <br>
                        Responsable Programa Salud Adolescente y Juventud MSP Dra. Susana Grunbaum. Responsable Facultad Enfermería UDELAR Lic. Lía Fer- nández. <br>
                        MIDES, División Socioeducat
                    </p>    

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>