<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atención primaria de la salud | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Atención primaria de la salud</h1>
                    </div>
                    <h2 style="text-align: center;">ATENCIÓN PRIMARIA DE LA SALUD y CONSTRUCCIÓN DE REDES.
                        ATENCIÓN <br>
                        VINCULARNOS FORTALECE <br>

                        ENFRENTANDO PROBLEMÁTICAS SOCIALES COMPLEJAS <br>

                        LA COMPLEJIDAD EN APS. ANÁLISIS Y PROPUESTAS <br>

                        Dr. Cándido Roldán <br>
                        2020
                    </h2>
                    <h3>COMPONENTES DE LA COMPLEJIDAD:</h3>
                    <p>
                        *Determinantes políticos (ausencias de políticas universales de inclusión. Políticas de
                        beneficios sectoriales nacionales e internacionales)
                        <br>
                        *Determinantes sociales (heterogeneidad de la estratificación social, desigualdad, inequidad)
                        <br>
                        *Determinantes económicos (modelo neoliberal. Mayor desigualdad, mayor inequidad, crisis social)
                        <br>
                        *Determinantes ambientales (Macro: Riachuelo, Amazonia. Micro: cloacas, agua, basura, arroyos
                        contaminados)
                        <br>
                        *Determinantes culturales (los medios de comunicación, el desplazamiento de la familia, la
                        escuela, las instituciones religiosas como formadoras, la tolerancia social a las droga, a la
                        inoperancia e ilícitos de los integrantes de los poderes del Estado, la discriminación a las
                        culturas indígenas.
                    </p>
                    <h3>OBSTÁCULOS</h3>
                    <p>
                        *La formación disciplinar de los integrantes del equipo de salud
                        <br>
                        *Carencias en la actualización profesional para dar respuestas a la complejidad de los problemas
                        que nos plantean
                        <br>
                        *Desmotivación ante los bajos salarios para participar de las actualizaciones docentes.
                        <br>
                        *Desprestigio social de las profesiones
                        <br>
                        *Influencia de los juicios de mala praxis
                    </p>
                    <h3>"LA SALUD ES UNA CONSTRUCCIÓN SOCIAL
                        SE CONSTRUYE Y SE DETERIORA EN LA COMUNIDAD"
                    </h3>
                    <p>
                        Determinantes en la construcción de la salud conforman un conjunto de factores personales,
                        sociales, económicos, políticos y ambientales que determinan el estado de salud de los
                        individuos o poblaciones.
                        <br>
                        Los factores que influyen en la construcción de la salud son múltiples e interrelacionados.
                        <br>
                        Tenemos un desafío ético de comprender, integrar y abordar el conjunto de determinantes de la
                        salud potencialmente modificables; no solamente aquellos que guardan relación con las acciones
                        de los individuos, como los comportamientos y los estilos de vida saludables, sino también con
                        determinantes como los ingresos y la posición social, la educación, el trabajo y las condiciones
                        laborales, el acceso a servicios sanitarios adecuados, los entornos físicos y culturales y la
                        gestión política.
                        <br>
                        Combinados todos ellos, crean distintas condiciones de vida que ejercen un claro impacto sobre
                        el proceso salud-enfermedad
                        <br>
                        Los cambios en estos estilos de vida y condiciones de vida, no depende exclusivamente del
                        sistema de salud.
                    </p>
                    <h3>JERARQUÍA DE NECESIDADES INDIVIDUALES.</h3>
                    <p>Es importante tener presente, las necesidades básicas que tenemos las personas y analizarlas con
                        las condiciones que imperan en los escenarios actuales
                        <br>
                        Es importante tener presente el trabajo de Abraham Maslow. (1943) donde describió las jerarquías
                        de las necesidades que todos los seres humanos debiéramos alcanzar para tener una calidad de
                        vida digna.
                        <br>
                        La escala de las necesidades se describe como una pirámide de cinco niveles: los cuatro primeros
                        niveles pueden ser agrupados como «necesidades de déficit» (primordiales); al nivel superior lo
                        denominó por última vez «autorrealización», «motivación de crecimiento», o «necesidad de ser».
                        <br>
                        La idea básica es: “solo se accede a las necesidades superiores cuando se han satisfecho las
                        necesidades inferiores”.
                    </p>
                    <h3>Segun la piramide de Maslow dispondremos de:</h3>
                    <p>
                        - Necesidades básicas
                        <br>
                        Son las necesidades fisiológicas necesarias para mantener la homeostasis (el equilibro)
                        referentes a la supervivencia como seres humanos:
                        <br>
                        *necesidad de respirar, beber agua (hidratarse) y alimentarse;
                        <br>
                        *necesidad de dormir (descansar) y eliminar los desechos corporales;
                        <br>
                        *necesidad de evitar el dolor;
                        <br>
                        *necesidad de mantener la temperatura corporal, en un ambiente cálido o con vestimenta.
                        <br><br>
                        - Necesidades de seguridad y protección
                        <br>
                        Surgen cuando las necesidades fisiológicas están satisfechas. Se refieren a sentirse seguro y
                        protegido:​
                        <br>
                        *seguridad física (asegurar la integridad del propio cuerpo) y de salud (asegurar el buen
                        funcionamiento del cuerpo)
                        <br>
                        *necesidad de seguridad de recursos (casa, dinero, automóvil, etc.)
                        <br>
                        *necesidad de vivienda (protección).
                        <br><br>
                        - Necesidades sociales (afiliación)
                        <br>
                        Son las relacionadas con nuestra naturaleza social:​
                        <br>
                        *función de relación (amistad, pareja, colegas o familia);
                        <br>
                        *aceptación social.
                        <br>
                        *necesidades de estima (reconocimiento)
                        <br><br>
                        Maslow describió dos tipos de necesidades de estima,​ una alta y otra baja:
                        <br>
                        *la estima alta concierne a la necesidad del respeto a uno mismo, e incluye sentimientos tales
                        como confianza, competencia, maestría, logros, independencia y libertad;
                        <br>
                        *la estima baja concierne al respeto de las demás personas: la necesidad de atención, aprecio,
                        reconocimiento, reputación, estatus, dignidad, fama, gloria e incluso dominio.
                        <br>
                        La merma de estas necesidades se refleja en una baja autoestima e ideas de inferioridad.
                        <br>
                        El tener satisfecha esta necesidad apoya el sentido de vida y la valoración como individuo y
                        profesional, que tranquilamente puede escalonar y avanzar hacia la necesidad de la
                        autorrealización.
                        <br>
                        La necesidad de autoestima es la necesidad del equilibrio en el ser humano, dado que se
                        constituye en el pilar fundamental para que el individuo se convierta en la persona de éxito que
                        siempre ha soñado o en un ser humano abocado hacia el fracaso, el cual no puede lograr nada por
                        sus propios medios.
                        <br><br>
                        - Autorrealización
                        <br>
                        Este último nivel es algo diferente y Maslow utilizó varios términos para denominarlo:
                        «motivación de crecimiento», «necesidad de ser» y «autorrealización».
                        <br><br>
                        Es la necesidad psicológica más elevada del ser humano, se halla en la cima de las jerarquías, y
                        es a través de su satisfacción que se encuentra una justificación o un sentido válido a la vida
                        mediante el desarrollo potencial de una actividad. Se llega a ésta cuando todos los niveles
                        anteriores han sido alcanzados y completados, o al menos, hasta cierto punto.
                    </p>
                    <img src="/img/posts/maslow.jpg" alt="Piramide de Maslow">
                    <p>Fuente: Wikipedia. Recomiendo acceder a su lectura</p>
                    <h3>EN ESTA REALIDAD SOCIO ECONOMICA, ¿CUANTAS PERSONAS PUEDEN CUBRIR ESTAS NECESIDADES?</h3>
                    <p>
                        EJES A DESARROLLAR:
                        <br>
                        La estructura socio económico y política internacional: la Globalización desconocida
                        <br>
                        La repercusión sobre el Estado Nacional. Existen?
                        <br>
                        El impacto sobre las poblaciones
                        <br><br>
                        Un análisis que invita a pensar:
                        <br>
                        Algunas personas, alguna vez nos planteamos interrogantes, sin encontrar respuestas.
                        <br>
                        ¿porque la Argentina y otros países del continente cayeron en default o están en permanente
                        crisis económica e incrementando año a año la deuda externa? ¿Esto no es intencional? “Creación
                        de condicionantes económicos internacionales que limitan la independencia de gestión de los
                        países.”
                        <br>
                        ¿Por qué no hay políticas públicas con equidad y financiación genuina para los adolescentes,
                        jóvenes y ancianos?
                        <br>
                        ¿por qué bajar la edad de imputabilidad a los “menores”?
                        <br>
                        Y la pandemia actual ¡nos sorprende? Virus que se expanden en noventa días a todo el planeta??
                        PENSEMOS, INVESTIGUEMOS en fuentes diferentes a los medios de comunicación.
                        <br>
                        Que difícil se presenta los escenarios para la Atención Primaria en Salud
                        <br>
                        ¿Recuerdan la ley de Malthus y Darwin (fin del siglo XIX)? pareciera que aún está vigente.
                        <br><br>
                        Durante la Conferencia Internacional de Salud Para el Desarrollo “Derechos, Hechos y Realidades”
                        <br><br>
                        El epidemiólogo británico Michael Marmot expresó “en el campo de la salud, hay que asegurar el
                        acceso y preocuparse por actuar sobre los determinantes sociales. Si las personas están
                        enfermas, necesitan una buena atención. Pero también debemos reconocer que las enfermedades
                        provienen de las condiciones en que esas personas viven, trabajan, crecen y envejecen. Entonces
                        debemos prestar atención a las condiciones en que viven trabajan, crecen y envejecen” En otro
                        momento agregó “el mayor problema de Salud Pública es la inequidad en la distribución del
                        ingreso. Todas las sociedades tienen desigualdades en el ingreso. Sin embargo sabemos que pueden
                        disminuirse, porque algunos países lo logran. No hace falta ser un país rico, Tailandia ofrece
                        un acceso universal a la Salud”
                        <br>
                        Ejemplo de mapa catastral de construcción de redes en APS
                        <br>
                        Municipio del conurbano bonaerense Prov. Bs. As.
                    </p>
                    <img src="/img/posts/catastral.png" alt="Mapa catastral de redes">
                    <p>
                        OTRO ASPECTO A ANALIZAR EN EL DESEMPEÑO EN APS SON LAS TRES DIMENSIONES SIGUIENTES:
                        <br>
                        *condiciones materiales de vida
                        <br>
                        *procesos de crianza y socialización
                        <br>
                        *Procesos de formación
                        <br>
                        Fuente: Observatorio de la Deuda Social con la Infancia. UCA. 2010
                    </p>
                    <p>
                        1- DIMENSIÓN DE LAS CONDICIONES MATERIALES DE VIDA
                        <br>
                        *Condiciones de habitabilidad en que viven los niños de 0 a 17 años
                        <br>
                        *Saneamiento básico de la vivienda (cloacas, letrinas y agua corriente)
                        <br>
                        *Acceso a la red de gas
                        <br>
                        *Hacinamiento
                        <br>
                        *Cercanía a contaminantes como basurales y fábricas contaminantes
                        <br>
                        *Acceso a consumos mínimos.
                        <br>
                        *alimentación
                        <br>
                        *vestimenta
                        <br>
                        *atención en salud
                        <br>
                        *compras de medicamentos
                        <br>
                        *pagos de servicios e impuestos
                        <br><br>


                        2-DIMENSIÓN DEL PROCESO DE CRIANZA Y SOCIALIZACIÓN
                        <br>
                        *Presencia y características de la estimulación emocional e intelectual llevada a cabo por la
                        familia <br>

                        *Formas de estimular emocional, intelectual y disciplinar que tienen diferentes hogares
                        <br>
                        *Presencia de socialización en espacios de recreación y formación no escolar
                        <br>
                        *Espacios de juegos y encuentro con pares
                        <br>
                        *Participación en la vida cultural, artística, recreativa, deportiva, de esparcimiento
                        <br>
                        *Recursos de los barrios y de los hogares que favorezcan la interacción con los pares y acceso
                        al conocimiento (ludotecas, bibliotecas, centros culturales y/o deportivos).
                        <br> <br>


                        3-DIMENSIÓN EN EL PROCESO DE ESCOLARIZACIÓN
                        <br>


                        *presencia de Instituciones que ofrezcan inclusión en la escolarización temprana (2 a 4 años).
                        <br>
                        *participación de los niños en este nivel.
                        <br>
                        *presencia de instituciones que ofrezcan nivel inicial, primaria y niveles subsiguientes, según
                        jurisdicciones
                        <br>
                        *participación de acuerdo a la edad en los niveles correspondientes
                        <br>
                        *rendimiento de los niños y adolescentes
                        <br>
                        *poblaciones desfasadas de edad y repitentes
                        <br>
                        *distancia de la escuela al hogar
                        <br>
                        *calidad de la infraestructura escolar y la calidad educativa según las familias
                    </p>
                    <h3 style="margin-bottom: 2em">
                        JUNTO A LAS CONDICIONES DE VIDA DEBEMOS ANALIZAR TRES CONTEXTOS:
                        <br>
                        -Contexto Familiar
                        <br>
                        -Contexto Grupal
                        <br>
                        -Contexto comunitario
                    </h3>
                    <p>
                        CONTEXTO FAMILIAR
                        <br>
                        *Ausencia de roles protectores
                        <br>
                        *Violencia en todas sus formas
                        <br>
                        *Falta de supervisión diaria
                        <br>
                        *Baja escolaridad de los padres
                        <br>
                        *Situaciones penales
                        <br>
                        *Alcoholismo u otras adicciones
                        <br>
                        *Prostitución
                        <br>
                        *Enfermedad Mental
                        <br>
                        *Desempleo o empleo precario
                        <br><br>

                        CONTEXTO GRUPAL
                        <br>
                        *Integración grupal:
                        <br>
                        *integrantes que no estudian ni trabajan
                        <br>
                        *que iniciaron su vida sexual antes de los quince años sin protección
                        <br>
                        *consumen alcohol, tabaco o drogas
                        <br>
                        *participan en comportamientos delictivos
                        <br>
                        *conviven o frecuentan territorios de riesgo
                        <br><br>

                        CONTEXTO COMUNITARIO
                        <br>
                        *Ausencia y/o debilitamiento de instituciones estatales protectoras
                        <br>
                        *Territorios con grandes poblaciones desempleadas
                        <br>
                        *Territorios ganados por el narcotráfico
                        <br>
                        *Territorios con grandes índices delictivos
                        <br>
                        *Ausencia de redes sociales con actividades protectoras: iglesias, organizaciones de la sociedad
                        civil
                        <br>
                        *Carencias de espacios destinados a actividades recreativas y de participación
                    </p>
                    <h3>TAMBIÉN DEBEMOS ANALIZAR E INCORPORAR SI NUESTROS PACIENTES SON NIÑOS O ADOLESCENTES:</h3>
                    <p>
                        Teniendo en cuenta que hoy los agentes socializantes principales son los medios masivos, y las
                        nuevas tecnologías de la información y comunicación social (Tics) se hace necesario que los
                        padres, educadores y profesionales de la salud manejen estos medios.
                        <br>
                        Creo que los niños y adolescentes. están solos (en soledad de adultos responsables) con estos
                        medios (videojuegos, video clips, youtube, etc.,.etc.) por lo tanto es necesario que el adulto
                        participe y hable de "valores" y colaboren en que ellos puedan realizar un análisis crítico de
                        lo que ven y escuchan.
                        <br>
                        Debemos afrontar como padres y profesionales este compromiso ético
                        <br>
                        No alcanza con limitar la cantidad de horas. Los cerebros de niños y adolescentes. son
                        diferentes, está comprobado que han cambiado los circuitos motivacionales, por lo tanto debemos
                        aprender a trabajar estos temas, ayudarlos a crecer, a aprender y asumir comportamientos
                        responsables para su propio cuidado.
                        <br><br>
                        La salud de la población depende más de las políticas públicas en la generación de condiciones
                        sanitarias dignas, de los niveles de educación de la población, que de la medicina
                        <br>
                        Esto no nos exime de nuestras responsabilidades como profesionales de la salud.
                        <br>
                        Creo que debemos ser protagonistas y no meros espectadores en la construcción de la salud,
                        aportando nuestros conocimientos de la realidad sanitaria e intervenir con mayor compromiso en
                        la construcción de las políticas en salud.
                        <br>
                        La participación y canalización de nuestras observaciones deben debatirse a través de los
                        distintos foros de salud, como las sociedades científicas, los colegios profesionales, los
                        eventos científicos. Estos son los organismos consultados, donde debemos comprometernos con la
                        participación y los aportes que creamos científicamente necesarios.
                        <br>
                        Hay tres prioridades que debemos tener presente en la construcción de un nuevo modelo:
                        <br>
                        Bregar por la incorporación en los planes de estudios de grado de las disciplinas que integran
                        el equipo de salud un enfoque que comprometa desde el inicio un compromiso solidario con la
                        población y generar conciencia de la complejidad de los escenarios que enfrentará y su
                        responsabilidad en el desempeño de su profesión. La teoría debe ir acompañada de prácticas desde
                        el inicio de la carrera
                        <br>
                        El segundo aspecto es en la curricula jerarquizar las enfermedades prevalentes como prioridad en
                        el cuidado de la salud
                        <br>
                        La tercera prioridad es jerarquizar en la curricula el marco teórico de la APS con el trabajo en
                        equipos interdisciplinarios y participación activa de la comunidad, estableciendo una marcada
                        diferencia entre APS y Primer nivel.
                    </p>
                    <p>
                        BIBLIOGRAFÍA RECOMENDADA
                        <br>
                        EL HAMBRE. MARTIN CAPARROS. Ed. Planeta. Buenos Aires 2014
                        <br>
                        LA DOCTRINA DEL SHOCK. Naomi Klein. Ed. Paidós. 2007
                        <br>
                        NO LOGO. Naomi Klein. Ed. Paidós.2001
                        <br>
                        HITLER GANÓ LA GUERRA. Walter Graciano. Ed. Sudamericana. 2004
                        <br>
                        NADIE VIO A MATRIX. Walter Graciano. Ed. Planeta. 2007
                        <br>
                        PENSAR SIN ESTADO. Ignacio Lewkowicz. Ed. Paidós. 2004
                        <br>
                        PRIMERO LA GENTE. Bernardo Klisberg. Amartya Sen. Ed. Deusto
                    </p>
                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>