<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa de la juventud. Proyecto institucional. | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Casa de la juventud. Proyecto institucional.</h1>
                    </div>
                    <h3> HOGAR DE TRATAMIENTO DE PUERTAS ABIERTAS“BERNARDINO RIVADAVIA”.
                        <br>
                        NIÑOS, ADOLESCENTES Y JÓVENES EN SITUACIÓN DE RIESGO SOCIAL Y VULNERABILIDAD SOCIAL
                    </h3>
                    <p>Presentamos a consideración del CONAF ( Consejo nacional de niños, adolescentes y familias) la
                        propuesta de una reformulación del trabajo institucional con niños adolescentes y jóvenes en
                        riesgo social, judicializados por abandono familiar, delitos, consumo de drogas. La modalidad es
                        presentar UN PROGRAMA DE DESARROLLO JUVENIL.(Programa especial de acuerdo a la Disposición
                        607-CONAF /01 Art. 8.2.)
                    </p>
                    <h3>EJES DEL PROYECTO INSTITUCIONAL</h3>
                    <ul>
                        <li>Integración al sistema educativo</li>
                        <li>Capacitación laboral</li>
                        <li>Supervisión del desarrollo biopsicosocial</li>
                        <li>Capacitación de habilidades para la vida</li>
                        <li>Integración a redes comunitarias</li>
                    </ul>
                    <p>
                        Población beneficiaria:
                        <br> Niños, Adolescentes y Jóvenes de 9 a 21 años provenientes de otras
                        instituciones y que padecen situación de riesgo social y comportamientos disociales.
                        “Entendiendo por tal a la presentación persistente y reiterada de comportamientos antisociales,
                        agresivos o retador. En su grado más extremo, puede llegar a violar las normas sociales, mayores
                        de las que serían aceptables para el carácter y la edad del individuo afectado y las
                        características de la sociedad en que vive y que no son simplemente manifestaciones
                        oposicionistas, desafiantes o subversivas.” CIE 10 F 91.
                        <br>
                        Solicitamos por su intermedio considerar la presente petición y acompañamos en el presente
                        proyecto institucional y su planta funcional.
                    </p>
                    <p>
                        Filosofía:
                        <br>
                        La Institución está al servicio niño, adolescente y joven en situación de riesgo y
                        vulnerabilidad social, con el fin de lograr su bienestar, maduración, formación, vinculación
                        familiar y comunitaria, salida laboral en la medida de sus posibilidades e intereses, en ese
                        orden de prelación.
                        <br>
                        El enfoque es totalizador, tomando la unidad Bio - psico - socio - espiritual que conforma al
                        niño y joven, prioridad de su abordaje.
                        <br>
                        Las familias de los asistidos son apoyadas en función del válido e irrenunciable aporte que
                        prestan al objetivo primordial señalado.
                        <br>
                        Las relaciones con la comunidad, la transitoriedad en el tratamiento, la multiplicidad de
                        alternativas de atención y las vinculaciones familiares son ejes centrales de la actividad
                        diaria de la Institución.
                        <br>
                        Los conceptos de amor, respeto, solidaridad, comprensión y reflexión racional, según la conducta
                        de quienes conforman la experiencia convivencial, son los ejes movilizadores de la dinámica
                        Institucional.
                    </p>
                    <p>
                        PRESENTACIÓN INSTITUCIONAL.
                        <br>
                        El Hogar Bernardino Rivadavia fue fundado en 1906 y logra su personería jurídica en 1914. Luego
                        de constituirse con sede en Capital Federal, con posterioridad en Banfield provincia de Buenos
                        Aires, logra su sede actual en Máximo Paz, partido de Cañuelas, Provincia de Buenos Aires,
                        conurbano bonaerense El predio tiene una superficie de 16 Has., esto brinda las posibilidades de
                        sumar nuevas actividades productivas que se detallan a lo largo de esta presentación.
                        <br>
                        La institución tiene una buena inserción comunitaria, situación importante para construir las
                        redes de apoyo a la labor del Hogar y a su vez diseñar trabajos interinstitucionales como
                        estrategias de inclusión social.
                    </p>
                    <h3>Fundamentos</h3>
                    <p>
                        La niñez, adolescencia y juventud sufren el mayor impacto en el momento de crisis que atraviesa
                        el país. Desnutrición más allá de los primeros años de vida, aumento de la exclusión escolar y
                        deterioro de los niveles de aprendizaje de la población que permanece incluida dentro del
                        sistema educativo, mayor involucramiento de adolescentes y jóvenes en comportamientos adictivos
                        y delictivos, aumentos de la población de adolescente y jóvenes que no estudian ni trabajan.;
                        cifras que ustedes conocen.(10% aproximado de la población joven)
                        <br>
                        Esta situación impacta con mayor intensidad en la población conviviente en el hogar
                        <br>
                        La institución garantizará la creación de un ambiente que posibilite el trabajo
                        intergeneracional entre adultos, niños, adolescentes y jóvenes, dentro del enmarcamiento de la
                        Convención Internacional de los Derechos del Niño. Adecuará sus estrategias con actividades de
                        acompañamiento, desintoxicación y deshabituación en los ingresos con consumo de drogas,
                        terapéuticas individuales y grupales, reuniones familiares, talleres de capacitación profesional
                        y desarrollo personal, espacios de ayuda escolar y actividades recreativas. Cada actividad
                        estará a cargo de profesionales pertenecientes al plantel institucional. Se adaptará cada una de
                        estas ofertas a las capacidades y necesidades particulares de cada una de los asistidos. Estará
                        en condiciones de proporcionar a los niños, adolescentes y jóvenes en situación de
                        vulnerabilidad un ambiente acogedor que promueva un cambio positivo en las condiciones de vida
                        de los mismos, que respete su identidad, su libertad y sus valores saludables. Se promoverá un
                        proceso que permita desarrollar sus capacidades, aptitudes y creencias, para modificar aquellas
                        que no le han favorecido una formación integral, el establecimiento y fortalecimiento de sus
                        vínculos familiares y una aceptable inserción social como sujetos de derecho.
                    </p>
                    <h3>Objetivos generales</h3>
                    <p>Acorde a la filosofía definida, se piensa el bienestar de nuestros asistidos, integrándose los
                        elementos técnicos de capacitación a fin de lograr una eficaz inserción social, que tenga en
                        cuenta su plena dimensión humana.
                        <br>
                        La maduración de los niños y jóvenes abarca: su corporalidad, su capacidad psíquica, su
                        vinculación familiar y social, entendiendo todas estas facetas como esenciales constituyentes de
                        su proyecto personal.
                        <br>
                        La formación le posibilita, a través de una pedagogía comprensiva, sistemática y a sistemática,
                        teórica y práctica, lograr objetivos de vida, personalizándose su instrucción en el momento que
                        sea requerida.
                        <br>
                        El marco del desarrollo es de libertad, respetando al ser en desarrollo, comprendiendo los entre
                        juegos que afectan a toda conducta humana.
                        <br>
                        Nuestro Hogar está orientado a atender en lo físico, psíquico, familiar y social, a niños y
                        adolescentes en situación de riesgo.
                        <br>
                        Ofrecemos vivienda, alimento, educación, asistencia médica, entorno familiar a los niños y
                        jóvenes que se alojan en nuestra Institución.
                        <br>
                        La inserción de la Institución en la comunidad es uno de los ejes centrales de su actividad,
                        colaborando y contribuyendo en la construcción de redes sociales.
                    </p>
                    <h3>Objetivos específicos</h3>
                    <ul>
                        <li>revertir la percepción de abandono, exclusión y discriminación que pueda traer la persona a
                            ingresar</li>
                        <li>Trabajar para la inclusión en un ambiente favorecedor de vínculos afectivos y convivencia
                            que
                            permita la creación de aptitudes que favorezcan su crecimiento y desarrollo saludable, la
                            elaboración de un proyecto de vida que le asegure a él, su futura familia y sus
                            descendientes una
                            calidad de vida aceptable</li>
                        <li>Brindar la posibilidad de completar estudios primarios, secundarios , terciarios a todos
                            aquellos
                            que lo requieran y tengan posibilidades evaluables de poder acceder y obtener logros
                            significativos
                            para el interesado</li>
                        <li>Ofertar capacitación para el trabajo a toda la población del hogar, especialmente a aquellos
                            que por
                            condiciones personales no puedan avanzar dentro del sistema educativo formal</li>
                        <li>Crear espacios (talleres de desarrollo personal) que permitan el desarrollo de la
                            autoestima,
                            desarrollo del pensamiento crítico, habilidades sociales, resolución de problemas,
                            construcción de
                            aptitudes y actitudes para el cuidado de salud, de sus comportamientos y creación de valores
                            socioculturales y espirituales, útiles para la elaboración de su proyecto personal</li>
                        <li>Brindar espacios terapéuticos, de contención social y jurídica</li>
                        <li>Utilizar el tiempo de ocio y el tiempo libre como un lugar de intercambio, creación de
                            vínculos,
                            respeto por las normas que regulen las actividades. Se pretende realizar estas actividades
                            como una
                            estrategia educativa de fortalecimiento, saludable, que contraste y se diferencie de lo
                            vivido antes
                            del ingreso...</li>
                        <li>Talleres sobre salud: accidentes, sexualidad responsable y reproductiva, SIDA, abuso de
                            sustancias
                            legales e ilegales y violencia.</li>
                        <li>Talleres de lectura, análisis de situaciones aparecidas en los medios escritos,
                            interpretación de
                            los textos, análisis reflexivo y crítico de la realidad</li>
                        <li>Oferta de actividades artísticas y culturales: Centro Cultural. (Sábados). Esta actividad
                            estará a
                            cargo del equipo responsable del Proyecto Cultura, Comunión y Participación cuyos
                            antecedentes es la
                            participación en los talleres del Borda y la radio La Colifata.</li>
                        <li>Sostenimiento por parte de los operadores del proyecto individual de cada asistido</li>
                    </ul>
                    <p>
                        A partir de los 16 a 21 años la población con bajo aprovechamiento escolar, ingresará en un
                        programa de formación profesional, capacitación para el empleo, capacitación para el armado de
                        curriculum, entrevistas de trabajo y búsqueda de empleo.
                        <br>
                        Organización de grupos convivenciales de pre-egreso, con autonomía relativa y entrenamiento en
                        el ejercicio de la ciudadanía y la integración como capital social.
                    </p>
                    <h3>Dirección, Administración, Organigrama Interno:</h3>
                    <p>
                        Comisión Directiva:
                        <br>
                        De acuerdo a lo dispuesto por los estatutos sociales, es el órgano ejecutivo. Está integrado por
                        nueve directores titulares y seis suplentes. Se reúne, como mínimo, dos veces por mes. La dirige
                        un Presidente, que es el representante legal del Hogar Bernardino Rivadavia.
                        <br><br>
                        Comisión Revisora de Cuentas:
                        <br>
                        Es el órgano de control permanente, sus funciones son de auditoria y fiscalización. La integran
                        tres miembros titulares y un suplente.
                        <br><br>
                        Director Ejecutivo:
                        <br>
                        La comisión directiva ha designado a uno de sus miembros en calidad de Director Ejecutivo, que
                        en tal carácter coordina y ejecuta las decisiones que ella haya tomado y ante él responden en
                        forma directa los empleados y funcionarios del Hogar. Es al mismo tiempo el apoderado general de
                        la Asociación.
                        <br><br>
                        Personal Operativo:
                        <br>
                        Es el grupo convivencial del Hogar.
                        <br><br>
                        Director: <br> Dr. Cándido Roldán. Pediatra, especialista en medicina de Adolescentes y jóvenes,
                        Master en Drogodependencia. Dedicación de tiempo completo.
                        <br><br>
                        Vice-directora: <br> Lic. Marcela San Martín. Trabajadora Social, especialista en jóvenes y
                        Adolescentes.
                    </p>
                    <p>
                        Funciones Generales:
                        <br>
                        Supervisa, dirige y responde por todas las actividades que se cumplen en el establecimiento
                        ubicado en la localidad de Máximo Paz, en un todo de acuerdo a las pautas impartidas por la
                        Comisión Directiva.
                        <br>
                        En su ausencia de instrucciones particulares actúa según su leal saber profesional y con la
                        diligencia que las circunstancias requieran, debe informar semanalmente a la Comisión Directiva
                        de todas las novedades que suceden en el Hogar.
                    </p>
                    <p>
                        Equipo Profesional:
                        <br>
                        Trabajadora Social: Lic. Marcela Claudia San Martín. Desarrolla sus tareas en el Hogar cuatro
                        días por semana, cuatro horas diarias, realizando el quinto día hábil de la semana visitas
                        ambientales y a los juzgados respectivos.
                        <br>
                        Psicólogos: Lic. Luis Acebal. Responsable de las Admisiones.
                        <br>
                        Lic. Mónica Cifuentes, especialista en jóvenes y Adolescentes, psicóloga forense. Concurre 8
                        horas diarias, tres veces por semana.
                        <br>
                        Lic. Andres Sama. Especialista en Adolescentes y Jóvenes, Master en Droga-Dependencia. Concurre
                        8 horas diarias, tres veces por semana.
                    </p>
                    <p>
                        Operadores Terapéuticos:
                        <br>
                        Lic. Jean Carlo Cuadrizze.
                        <br>
                        Lic. Santiago Isa Lavalle.
                        <br>
                        Lic. Juan Mitre.
                        <br>
                        Lic. Miguel Burkart.
                        <br><br>
                        Guía de acompañamiento externo:
                        <br>
                        Luís Rodolfo Carricaburo, es el responsable y ejecutor del traslado de los asistidos a
                        hospitales, consultorios y/o juzgados, etc.
                        <br><br>
                        Psiquiatría:
                        <br>
                        Dr. Guillermo Fernández Adam. Psiquiatra Infanto-Juvenil, Master en Droga-Dependencia Supervisor
                        Institucional. Se reúne periódicamente con el Equipo Técnico, concurriendo además al Hogar cada
                        vez que ello se considera necesario por razones puntuales.
                        <br><br>
                        Neurología Infantil:
                        <br>
                        Dr. Héctor Iddon. Atiende en su consultorio particular cuando se requiere consulta neurológica.
                        <br><br>
                        Psicóloga:
                        <br>
                        Lic. María Inés Codesido. Directora del Centro Preventivo Asistencial a las Adicciones de La
                        Matanza. Secretaría de Prevención y Asistencia a las Adicciones de la Provincia de Bs. As.
                        <br><br>
                        Emergencias Médicas:
                        <br>
                        Se cuenta con el servicio de Área Protegida, brindada por la empresa SEM S.A. de la localidad de
                        Cañuelas.
                        <br><br>
                        Cocinera:
                        <br>
                        Sra. Gladis Sánchez, concurre diariamente al Hogar. Es la responsable del área cocina, se
                        desempeña en contacto directo con la nutricionista, Lic. Carina González Fernández, quien
                        supervisa quincenalmente las tareas...
                        <br><br>
                        Limpieza e Higiene:
                        <br>
                        Sra. Bruna Acosta, concurre diariamente al Hogar.
                        <br><br>
                        Lavadero y Costura:
                        <br>
                        Sra. Gregoria Acosta, concurrencia diaria al Hogar, es la responsable directa de la ropa de los
                        asistidos, ropa de cama y demás menesteres.
                        <br><br>
                        Mantenimiento General:
                        <br>
                        Sr Eulalio Báez, es el responsable directo del buen funcionamiento de todos los espacios físicos
                        de la Institución, responde directamente al Director. Participa de la capacitación laboral de
                        los asistidos mayores.
                        <br><br>
                        Coordinadores:
                        <br>
                        Sr. Hugo Abelardo de Jesús, coordinador nocturno en días hábiles en todo el edificio central,
                        incluyendo particularmente los dormitorios.
                        <br>
                        Sr. Humberto Miranda, coordinador del día. Supervisa y dirige las actividades recreativas de los
                        fines de semana, manteniendo contacto directo con los coordinadores de cada área. Coordina la
                        actividad deportiva y cultural que se desarrolla en el Hogar.
                    </p>
                    <h3>Metodología</h3>
                    <p>
                        Dentro del marco de esencial realización antes señalado, aprovechamos y tenemos en cuenta el
                        lugar en donde se encuentra ubicada nuestra Institución, con fuerte incidencia de la naturaleza
                        y ámbitos suficientes para posibilitar el desarrollo de los niños y jóvenes.
                        <br>
                        Al ser Máximo Paz una comunidad receptiva de los trabajos sociales, nos permite favorecer y
                        elaborar redes sociales a fin de insertar a nuestra población de asistidos en la comunidad.
                        <br>
                        Nuestro predio cuenta con una añeja arboleda, espacios libres para canchas de juegos (fútbol,
                        básquet, volley, etc), pileta de natación, granja educativa, salón de usos múltiples, biblioteca
                        y sala de reuniones.
                        <br>
                        El salón comedor es amplio, presenta espacio suficiente para todos los asistidos y el personal
                        de turno. De esta manera se logra una interrelación y conocimiento. En este espacio se realizan
                        diferentes actividades de interés de los asistidos (juegos de salón, reuniones festivas,
                        cumpleaños, etc.).
                        <br>
                        La cocina, lindante al salón comedor, se encuentra en perfecto estado de limpieza y orden,
                        contando con artefactos modernos para la elaboración de las comidas indicadas en los menúes así
                        como para la conservación de todos los productos que se utilizan diariamente. Es utilizada como
                        taller de aprendizaje de gastronomía.
                        <br><br>

                        Expresados los aportes de desarrollo institucional, agrupamos la tarea del equipo de trabajo en
                        dos áreas interrelacionadas: terapéutica y pedagógica o formativa.
                        <br>
                        El primer grupo está integrado por el médico, neurólogo, psiquiatra, psicólogo y asistente
                        social. El segundo grupo está integrado por el personal de cocina, limpieza, lavadero,
                        mantenimiento, huerta, profesor de educación física, los operadores convivientes y docentes
                        pertenecientes a la Escuela de Capacitación Profesional del municipio perteneciente a la
                        Dirección Provincial de Educación y Cultura de la Prov. De Buenos Aires.
                        <br>
                        Los dos grupos funcionan bajo la supervisión constante de la Dirección. Todos los miembros del
                        equipo de trabajo comparten sus acciones y producciones con los internos, con el objetivo de
                        lograr un aprendizaje madurativo por parte de los jóvenes asistidos.
                        <br><br>

                        Atendiendo primordialmente a su disposición natural, interés y resultado, los lineamientos de
                        nuestra actividad surgen de reuniones de equipo, donde se elabora el trabajo, considerando el
                        aporte y sugerencia de cada integrante.
                        <br>
                        Las actividades terapéuticas respectivas se toman desde un doble enfoque, el individual y el
                        grupal, sin que se descuiden las actividades terapéuticas evolutivas permanentes.
                        <br>
                        La misión del equipo de trabajo es lograr la maduración de los niños y jóvenes, comprometiéndose
                        con su problemática, en abierto cariño, respeto, comprensión de conflictos y limitaciones.
                        <br>
                        Todo el personal está interiorizado en general de la problemática de cada uno de los internos y
                        en particular de la especialidad para la cual fue convocado en su función específica.
                        <br>
                        El abordaje de los asistidos está planteado desde cuatro aspectos: Individual, Grupal, Intra e
                        Inter institucional y Socio - comunitario.
                    </p>
                    <h3>Aspecto Individual:</h3>
                    <p>
                        - A requerimiento de los asistidos.
                        <br>
                        - Entrevista espontánea: Problemas personales.
                        <br>
                        Inquietudes, deseos, dudas, cuestionarios, donde se focalizan aspectos de la diversas
                        problemáticas de cada asistido luego de planificar estrategias grupales en reunión de equipo.
                    </p>

                    <h3>Aspecto Grupal:</h3>
                    <p>
                        - Asambleas grupales con los asistidos: Es un espacio de pensamiento y comunicación para superar
                        los problemas de convivencia, las actitudes hostiles y generar algún tipo de organización social
                        y auto gestión a través de la reflexión; de generar ideas, debates democráticos, estimular la
                        creatividad para generar propuestas.
                        <br>
                        - Grupo de egreso: Nace como un espacio de opinión, de debate, proyecciones a futuro de quienes
                        se encuentran en edades y condiciones que se aproximan a las requeridas para el egreso de la
                        Institución. Se trabaja sobre las inquietudes, dudas, temores, ansiedades respecto de su
                        inserción a la vida social, familiar y laboral.
                        <br>
                        - Comisión de fiestas: Es un espacio de autogestión conformado a partir de sus necesidades de
                        diversión, esparcimiento y vinculación con chicos y chicas de su edad de la localidad, con los
                        que comparten sus horas de estudio en las instituciones escolares en la mayoría de los casos, en
                        donde los asistidos toman las responsabilidades de organizadores y anfitriones.
                    </p>

                    <h3>Aspecto Intra - Inter Institucional:</h3>
                    <p>
                        - Se realizan semanalmente reuniones de equipo donde se tratan aspectos de la problemática
                        cotidiana del Hogar y se particulariza en el análisis de cada asistido.
                        <br>
                        - Se efectúan vinculaciones con las escuelas donde concurren los asistidos, con las familias,
                        juzgados y diversos profesionales que atienden a los asistidos.
                    </p>

                    <h3>Aspecto Socio - Comunitario:</h3>
                    <p>
                        - Integración de los asistidos en actividades recreativas, deportivas y artísticas.
                        <br>
                        - Entrevistas con miembros de las familias de origen y de la familia extensiva, vínculos
                        afectivos, etc.
                        <br>
                        - Se desarrollan acciones dentro de los lineamientos de nuestro plan padrinazgo.
                        <br><br>
                        Los departamentos y/o lugares dormitorios cuentan con habitaciones suficientes, que en número de
                        tres o cuatro camas individuales por ambiente, guardarropas, mesas de luz, veladores y todos los
                        elementos necesarios para su bienestar y sus servicios higiénicos respectivos, cubren las
                        necesidades de descanso de los asistidos. Las habitaciones están compartidas, conforme a edades
                        y necesidades individuales de los mismos.
                        <br>
                        Durante todo el día el desarrollo de las actividades es en forma convivencial a fin de favorecer
                        la integración de los internos.
                        <br>
                        En todo momento se inculca el amor y respeto al semejante, como también a los animales, plantas,
                        naturaleza en general, evitándose toda situación que lleve a conflictos o agresiones.
                        <br>
                        Se ha establecido desde nuestro Hogar un contacto directo con el ámbito municipal. De esta
                        manera se desarrollan en nuestra institución actividades de tipo comunitario que favorecen la
                        integración de nuestros jóvenes con el resto de la comunidad.
                        <br>
                        En coordinación con la asamblea plenaria del Hogar favorecemos las propuestas de salidas
                        recreativas fuera del ámbito institucional: cine, campamentos, parque de diversiones, etc.
                    </p>

                    <h3>Actividades Desarrolladas por la Población del Hogar</h3>
                    <p>
                        Los asistidos en edad escolar primaria concurren a las escuelas públicas de Máximo Paz, (N ° 28,
                        N ° 6, Centro Educativo de Adultos N ° 702, Escuela de Educación Media N ° 1). A su regreso de
                        la actividad escolar se supervisa la actividad pedagógica que han desarrollado en los
                        respectivos centros educativos.
                        <br>
                        Los adolescentes, por la mañana, realizan las actividades relacionadas con el dispositivo
                        terapéutico individual y grupal y participación en los talleres de Desarrollo Personal.
                        <br>
                        Luego del almuerzo, dependiendo de sus horarios, se incorporarán a las actividades escolares la
                        población correspondiente y el resto participará de la capacitación profesional.
                        <br>
                        Contamos para uso de nuestros asistidos con equipos de computación, los cuales se utilizan en
                        horarios previamente acordados.
                    </p>

                    <h3>Oferta de capacitación profesional:</h3>
                    <h2>
                        Se realizó un convenio con el Centro de Formación Profesional de Cañuelas, dependiente de la
                        Dirección de Escuelas y Cultura de la Prov. de Bs. As.
                    </h2>
                    <p>
                        Se dictarán las siguientes capacitaciones:
                        <br>
                        1- Operador PC Administrativo-Contable. 11 semanas 450 horas.
                        <br>
                        2- Reparador de Electro-Domésticos. 10 semanas, 400 horas.
                        <br>
                        3- Soldadura Variada. 9 semanas, 350 horas.
                        <br>
                        4- Panadero. 10 semanas, 400 horas.
                        <br>
                        5- Confitero. 10 semanas, 400 horas.
                        <br>
                        6- Práctico Apicultor. 10 semanas, 450 horas.
                        <br>
                        7- Capacitación en ventas. 11 semanas, 450 horas.
                        <br>
                        8- Capacitación en Marketing de Productos. 11 semanas, 450 horas.
                        <br><br>
                        SEDE: HOGAR BERNARDINO RIVADAVIA.
                        <br>
                        HORARIO: vespertino.
                        <br>
                        DOCENTES A CARGO. Pertenecientes a la escuela de Formación Profesional.
                        <br>
                        DIRECCIÓN: Prof. Noel Mesina.
                        <br>
                        FECHA DE INICIO: 4 de marzo del 2.003.
                        <br>
                        POBLACIÓN DESTINATARIA: residentes del Hogar y jóvenes de la comunidad vecina que lo soliciten.
                        <br><br>
                        Contamos con ganado vacuno, lo que nos permite planificar periódicamente su faena, almacenando
                        en nuestros freezer la carne producida. También se cuenta con pollos, patos, conejos, caballos,
                        ovejas y cerdos.
                        <br>
                        La explotación y cuidado de todo este acervo, es efectuada por los propios asistidos, bajo la
                        dirección de los responsables de cada área, con lo cual se los capacita en las áreas
                        específicas.
                        <br>
                        Se continuará con los siguientes talleres a cargo de personal de la Institución
                    </p>
                    <h3>Espacios alternativos de Estimulación:</h3>
                    <p>
                        Actividades de la Vida Diaria y Adquisición de Hábitos:
                        <br>
                        Se realizan en forma sistematizada con el apoyo de todo el personal de la institución a lo largo
                        del día.
                        <br>
                        Incluye actividades como: Higiene, alimentación, vestimenta, organización personal y pautas de
                        interacción interna. Esta actividad involucra a la totalidad de los asistidos.
                        <br>
                        Espacio de Estimulación General y Organización del Tiempo Libre:
                        <br>
                        Se abren a diario de 12 a 14 hrs... Y de 18 a 21 hrs... Durante los mismos se promueve la libre
                        elección de actividades, contándose con un espacio adecuado para las mismas en forma de salón de
                        usos múltiples, abarcando un amplio abanico de espacios dinámicos tales como:
                        <br>
                        · Reciclado de materiales.
                        <br>
                        · Cine / video.
                        <br>
                        · Espacio para la estimulación lúdica.
                        <br>
                        · Computación.
                        <br>
                        · Charlas con debates.
                        <br><br>
                        Espacio de Estimulación Física y Gimnasia Deportiva:
                        <br>
                        Estos espacios son de vital importancia para los asistidos ya que estimulan la formación de
                        lazos sociales, de adquisición de conductas de trabajo en equipo, la incorporación de pautas de
                        respeto por espacios propios y ajenos, a la vez que fomenta la estructuración de los talleres,
                        la inserción y la formación de vínculos dentro de su comunidad de pertenencia.
                        <br>
                        Las tareas se cumplen en los fines de semana, con inserción alternada los días de semana.
                    </p>

                    <h3>Perfil de la Población Asistida:</h3>
                    <p>
                        El Hogar cuenta con capacidad para cuarenta (40), internos, (adolescentes y jóvenes La mayoría
                        de los ingresos que recibimos son “chicos de la calle” o que han estado “en la calle” la mayor
                        parte del día, regresando algunos de ellos a su hogar por la noche.
                        <br> <br>
                        Dadas las características de la población que conforma la Institución, surge como objetivo
                        principal darle al asistido la posibilidad de optar entre las estrategias de supervivencia que
                        les ofrece la calle (como apertura de puertas de taxis, la mendicidad, el robo, el consumo de
                        drogas, la integración a grupos marginales) o estrategias de trabajo y estudio, es decir,
                        aquellas que le permitan terminar sus estudios y ofrezcan la posibilidad de, al egresar, a su
                        mayoría de edad, obtener trabajos remunerados y estables re insertándose en el ámbito social.
                        <br> <br>
                        Cada adolescente o joven llega con su historia personal donde se refleja su familia, los bajos
                        salarios, el desempleo, la falta de vivienda, de servicios de salud, de educación y el
                        desarraigo constante. Abundan situaciones de abandono, maltrato, abuso sexual, violencia,
                        desconocimiento de quienes fueron sus propios padres, convivencia con madres solas o solteras,
                        diferentes padrastros, la mayoría de las veces alcohólicos y/o marginados del sistema social y
                        productivo, situaciones penales.
                        <br> <br>
                        Muchos de nuestros asistidos poseen a la vez mucha carencia afectiva junto con una gran
                        capacidad de ofrecer su propio afecto, aunque estas características no las tienen aquellos que
                        han hecho de la delincuencia su opción definitiva, que por la formación ya recibida en la calle,
                        han definido una modalidad de vida difícilmente rebatible.
                        <br> <br>
                        Como ya hemos expresado, al único estimulo al que responden ellos es al afecto, lo que obliga a
                        una puesta constante de límites. Con la forma de actuar que han aprendido, ellos no piden sino
                        exigen, demostrando que su búsqueda se orienta a encontrar a alguien que se ocupe de ellos. Es
                        en este espíritu que nuestra definición de afecto implica, necesariamente, una estructura capaz
                        de discernir y sancionar la diferencia entre lo correcto y lo incorrecto, a la vez que intenta
                        elevar el nivel de tolerancia a la frustración y ejemplifica con actos, los pasos necesarios
                        para la satisfacción de algún deseo, pues éste no puede ni debe ser el resultado de una política
                        asistencialista vacía sino el necesario fin de la culminación de un trabajo.
                        <br> <br>
                        Debemos recordar que estamos frente a seres que no tienen una estructura de valores ni de
                        pautas, o que teniéndola, no son las que reconocemos como adecuadas.
                        <br> <br>
                        En nuestra tarea pensamos que en un principio los límites tienen que tener un cierto grado de
                        firmeza y efectividad, lo que no implica violencia o agresividad sino un acercamiento a través
                        del afecto, dejando claramente establecido cuales deben ser las normas o reglas de convivencia.
                        <br> <br>
                        Nuestra propuesta es construir con ellos y para ellos, en esta etapa de su vida, un HOGAR, una
                        FAMILIA. Es decir, procurarles un ambiente hogareño organizado que les provea de cosas
                        positivas: vivienda, comida, ropa, amor, compresión humana, un horario de distracción acorde a
                        su edad, formación escolar, materiales e ideas que contribuyan a realizar un trabajo
                        constructivo.
                        <br> <br>
                        Somos una Institución de puertas abiertas con un sistema no represivo que intenta ayudar a estos
                        jóvenes a salir de su estado de abandono, utilizando como recurso la existencia de un ambiente
                        acogedor y afectivo con respeto, utilizando la libertad responsablemente...
                        <br> <br>
                        Desde lo terapéutico, el primer paso es hacer un diagnóstico de cada asistido y propiciar una
                        actitud de sincera y humilde acercamiento que le permita generar un vínculo desde la confianza y
                        el respeto a toda persona integrante de la comunidad. Consideramos que este debe ser el camino
                        para que ellos puedan entender que lo más importante que nos rodea a todos, es el ser humano, su
                        integridad y el respeto por los otros.
                        <br> <br>
                        Dentro del grupo de capacitación laboral, los asistidos más grandes y luego de un tiempo de
                        integración, ocupan un lugar de responsabilidad. Ellos actúan en función de mediadores,
                        intermediarios grupales y ayudantes en la coordinación de la dinámica de los pequeños grupos con
                        responsabilidades definidas.
                        <br> <br>
                        En las asambleas periódicas se analizan las dificultades, se miden sus implicancias y hacen
                        valoraciones. Cada uno tiene la responsabilidad de hablar y todos deben respetar sus opiniones.
                        Es decir, se incentiva la responsabilidad de exponer los problemas como una forma de
                        contrarrestar acciones impulsivas o destructivas.
                        <br> <br>
                        En cuanto a lo familiar, y como parte de nuestra metodología procuramos pero no forzamos la
                        reinserción con su familia. Si el asistido demanda un contacto familiar, se lo favorece pero si
                        se opone al mismo se respeta su voluntad, salvo decisión judicial en contrario.
                        <br> <br>
                        En el momento en que ellos llegan a una relación de confianza (empatía) y si eligen quedarse con
                        nosotros, hemos logrado sacarlos de la calle y en consecuencia en este punto no podemos detener
                        el proceso. La idea es procurar que terminen los estudios iniciados, como mínimo la E.G.B,
                        brindándoles así, la posibilidad de acceder a un trabajo con el cual despegar en el futuro.
                        Constituir el hábito laboral y lograr su continuidad en el mismo, es un tema que se aborda
                        paciente pero permanentemente, ya que en la mayoría de los casos ellos carecen de dicho hábito y
                        de falta de empleo de parte de quienes lo han rodeado.
                        <br> <br>
                        Como se explicó anteriormente, un tema que nos preocupa a todos los miembros de esta Institución
                        es brindarles una salida laboral a aquellos que ya están próximos a su egreso, al cumplir la
                        mayoría de edad. Para esta etapa es que nos esforzamos en hacerles percibir otra calidad de
                        vida, que desconocían, que es producto de una eficiente organización en lo pedagógico y en lo
                        administrativo, que satisface sus necesidades básicas de alimentación, vestimenta, vivienda,
                        salud y seguridad física, haciendo especial hincapié en lo formativo como educación y trabajo,
                        en procura de lograr su total reinserción en una vida cotidiana útil y decente.
                        <br> <br>
                        A partir de brindar estas alternativas, todo ello con una metodología basada en el diálogo y el
                        afecto con límites, en el momento en que el ya adolescente se enfrenta a la vida, él deberá
                        saber elegir responsablemente Si después de haber cumplido con nuestra metas, el adolescente
                        elige la calle, será su elección, la cual respetaremos.
                        <br> <br>
                        Dada la metodología de trabajo ya explicada y nuestras características de Institución de "
                        puertas abiertas ", las patologías arriba indicadas no pueden, muchas veces, ser contenidas por
                        nuestro dispositivo institucional.
                    </p>

                    <h3>Instrumentación, Dinámica y Funcionamiento:</h3>
                    <p>
                        Creemos que la ubicación del nuestra Institución es optima, ya que poseemos una infraestructura
                        importante y necesaria desde todo punto de vista.
                        <br>
                        Contamos con la cercanía de una ruta, y con la nueva autopista Ezeiza Cañuelas que nos comunica
                        en forma rápida y directa con la ciudad de Buenos Aires.
                        <br>
                        Máximo Paz nos ofrece seguridad y lazos afectivos en cuanto a la relación con la comunidad.
                        <br><br>
                        Talleres de Desarrollo Personal:
                        <br><br>
                        Talleres:
                        <br>
                        Pensamos los talleres como un dispositivo, un espacio simbólico en el cual el coordinador se
                        convierte en garante y aglutinador del mismo, en cuanto a transmisión del saber y adquisición de
                        hábitos aplicables tanto dentro del espacio específico de entrenamiento laboral como fuera del
                        mismo.
                        <br>
                        Es en este espacio donde se posibilita el encuentro con otros en tanto “hacer” una actividad.
                        Este encuentro se produce desde la singularidad de cada integrante, pudiéndose así desarrollar
                        los procesos de subjetivación durante el desarrollo de las actividades propuestas.
                        <br>
                        Por otro lado se permite historizar, verbalizar, hacer diferencia en las distintas series,
                        posibilitar la formación de lazos sociales.
                        <br>
                        Se abre así una nueva puerta para que circulen cada uno de los saberes e inquietudes a través
                        del intento de una organización en esquemas operativos funcionales.
                        <br>
                        Adoptamos esta modalidad, ya que la misma posibilita la vivencia concreta y cotidiana en los
                        diferentes espacios de formación, a la vez que permite al sujeto explorar y experimentar,
                        constituyéndose en generador de nuevas experiencias enriquecedoras que posibiliten la toma de
                        conciencia de ser un sujeto participante del medio que lo rodea.
                        <br>
                        Los asistidos del Hogar Bernardino Rivadavia cuentan además con actividades internas y externas
                        que no corresponden al ámbito específico de los talleres a partir de los cuales son contenidos y
                        estimulados.
                        <br>
                        Nada de los diferentes espacios y talleres enumerados podría ser realizado sin la participación
                        y el sostén de nuestros asistidos, quienes al consustanciales con de los mismos logran
                        identificarse y llevar a cabo la propuesta institucional, internalizando de esta manera las
                        normas de convivencia y socialización anteriormente descritas.
                        <br><br>
                        Las temáticas a tratar estarán comprendidas dentro de las siguientes temáticas:
                        <br>
                        - Comunicación.
                        <br>
                        - Lectura crítica.
                        <br>
                        - Desarrollo personal.
                        <br>
                        - Preparación de Curriculum Vitae, entrenamiento para las entrevistas laborales e investigación
                        en la búsqueda de puestos de trabajo.
                        <br><br>
                        Talleres preventivos:
                        <br>
                        - Sexualidad responsable, violencia, adicciones, prevención de enfermedades transmisibles,
                        accidentes, alimentación saludable.
                    </p>
                    <p>
                        Espacios Dinámicos Terapéuticos:
                        <br><br>
                        Organización:
                        <br>
                        Previo a la inserción de cada asistido en los talleres se realiza un cotejo de intereses e
                        historia que permite luego realizar un seguimiento personalizado. En cada caso se produce un
                        reciclado de conocimientos que permite la reorientación o reubicación necesarias para cada
                        asistido.
                        <br>
                        De acuerdo a las necesidades de cada residente la oferta se ajusta a trabajos grupales y/o
                        individuales coordinados por los profesionales del equipo durante 20 horas semanales.
                        <br><br>
                        Proyecto Padrinazgo:
                        <br>
                        Responsable: Lic. Marcela San Martín. Trabajadora Social.
                        <br>
                        Fundamentación:
                        <br>
                        Nuestra Institución tiene como objetivo satisfacer las necesidades básicas, (alimentación,
                        vestimenta, vivienda, salud y seguridad) y otras necesidades de carácter formativo de hábitos
                        adquiridos (educación, trabajo, promoción de conductas). Sin embargo todo ello no es suficiente.
                        <br>
                        La posibilidad de sostener una identidad integrada con un desarrollo emocional sano, depende
                        fundamentalmente, no sólo del tipo de vínculo primario que se tenga, sino de la posibilidad de
                        tenerlos.
                        <br>
                        En nuestro hogar hay chicos que los han perdido, ya sea por fallecimiento de los padres o por
                        abandono. Es por ello que, sin pretender borrar las fracturas, buscamos actualizar vínculos
                        sustitutos que posibiliten la continuidad de los procesos cognitivos-afectivos necesarios, que
                        por dicha privación, hoy no encuentran el cause apropiado.
                        <br>
                        En el hogar Bernardino Rivadavia consideramos necesaria la participación de voluntarios, a la
                        cuál apunta este proyecto.
                        <br>
                        <br>
                        Objetivos:
                        <br>
                        · Ampliar el apoyo solidario a nuestra tarea.
                        <br>
                        · A través del proyecto padrinazgo, ampliar los vínculos afectivos y de cuidado delos
                        residentes.
                        <br>
                        · Dar prioridad, en cuanto a oportunidad de esparcimiento y contención, a aquellos asistidos que
                        no salen del Hogar (especialmente los fines de semana) por falta de personas, familiares o no,
                        que puedan cumplir con dicha responsabilidad.
                        <br><br>
                        Alcances:
                        <br>
                        - Visitas.
                        <br>
                        - Llamados telefónicos.
                        <br>
                        - Salidas con el residente.
                        <br>
                        - Regalos.
                        <br>
                        Dichos alcances no son necesariamente incluyentes sino complementarios y/o alternativos.
                        <br><br>
                        Requisitos:
                        <br>
                        Una entrevista de admisión al plan de los candidatos con profesionales del equipo
                        psico-asistencial.
                        <br>
                        - Respetar las normas y criterios educativos-asistenciales del Hogar,
                        <br>
                        - Proveer información que permita un seguimiento de la relación.
                        <br>
                        - Aprobación del /los candidatos por parte de la Institución.
                        <br><br>
                        <u>Difusión:</u>
                        <br>
                        El proyecto padrinazgo es dado a conocer a través de folletos explicativos.
                        <br>
                        Difusión con los integrantes de las diferentes redes sociales de apoyo.
                    </p>
                    <p>
                        <u>Relaciones con la comunidad:</u>
                        <br>
                        Es importante destacar las buenas relaciones que se dan diariamente con las diferentes
                        instituciones de Máximo Paz, destacándose las tareas realizadas con las instituciones escolares,
                        con los periódicos locales, con los eventos culturales, con el ballet folclórico, con las
                        instituciones deportivas, con la delegación municipal y con las diferentes áreas del municipio
                        de Cañuelas y de los municipios vecinos.
                        <br><br>
                        <u>Evaluación</u>
                        <br>
                        Se realizará con cada uno de los residentes una evaluación pre-ingreso durante el proceso de
                        integración a la institución y los logros al final de cada proceso de la planificación anual.
                        Las áreas a evaluar son: comportamiento, integración social externa e interna, respeto de las
                        normas institucionales, cumplimiento de la escolaridad y/o capacitación laboral, desarrollo de
                        la responsabilidad personal, grupal e institucional.
                        <br>
                        La evaluación institucional comprenderá cumplimiento de las diferentes instancias de la
                        planificación, integración del equipo profesional y no profesional, nivel de retención de los
                        residentes, nivel de conflictos institucionales.
                    </p>

                    <h3>Conclusiones</h3>
                    <p>Resultó difícil el cambio cultural en instituciones cerradas o semiabiertas dónde la ausencia de
                        vínculos con la familia lleva a una desconfianza con los referentes adultos con otro marco
                        cultural.
                        <br>
                        La modificación cultural de esta población nos enfrenta con sujetos con modelos de familias que
                        se instalan de pequeños,
                        <br>
                        Con las secuelas de la Ley de Patronato, sometidos los jovenes al pasaje por distintos niveles
                        institucionales, vivenciado por ellos como maltrato. Ante esta realidad es muy dificultoso para
                        un equipo interdisciplinario, con buenas intenciones, revertir esta situación, al no contar con
                        la conducción total de la institución, en lo financiero y asistencial
                    </p>

                    <h3>BIBLIOGRAFÍA de apoyo para la construcción de un modelo:</h3>
                    <p>
                        - OPS. Plan de Acción de Desarrollo y Salud de Adolescentes y Jóvenes en las Américas.
                        Washington. 1998
                        <br>
                        - Maslow A. Teoría de los comportamientos. New York. 1954
                        <br>
                        - OPS/KELLOG Familia y adolescencia: indicadores de salud. 1998
                        <br>
                        - OPS/KELLOGG. Habilidades para la vida. 1999
                        <br>
                        - OPS / F. KELLOGG. ¿Por qué debemos invertir en el adolescente? Washington. 1998.
                        <br>
                        - OPS. Marco Conceptual de la Salud Integral del Adolescente y su cuidado. Washington. 1990.
                        <br>
                        - Bernard van Leer. Fundación. Manual para Promover la resiliencia en los niños para fortalecer
                        el espíritu humano. ED. Grotberg, 1996.
                        <br>
                        - Gisell Siva. Resiliencia y violencia política en los niños. Univ. Nacional de Lanús. 1999
                        <br>
                        - Munist y colab. .Manual para promover la resiliencia en la niñez y adolescencia. OPS/KELLOGG:
                        1998
                        <br>
                        - Kotliarenco y colab. El estado del arte en resiliencia. OPS/KELLOGG. 1998
                        <br>
                        - OPS/KELLOGG: Técnicas participativas.1998
                        <br>
                        - Blejmar y colab. El liderazgo transformador. OPS/KELLOGG. 1998
                        <br>
                        - OPS/KELLOG Informe reunión de violencia en el Salvador. 1998
                        <br>
                        - Cerruti Stella. Educación de la sexualidad en el contexto de la salud integral en la
                        adolescencia. OPS/KELLOGG 1998
                        <br>
                        - GRIMSON, Wilbur R. Sociedad de Adictos. Ed. Planeta. Buenos Aires. Argentina. 1999.
                        <br>
                        - OPS/KELLOG Familia y adolescencia: indicadores de salud. 1998
                        <br>
                        - Roldán Cándido. Adicciones. Prevención, detección precoz y tratamiento Cap. 23. Adolescencia y
                        Juventud en Latinoamérica. Ed. Libro Universitario Regional. Costa Rica. 2001
                        <br>
                        - Roldán Cándido. Desarrollo de adolescentes y jóvenes en zonas de pobreza y marginación. Cap. 7
                        .Adolescencia y juventud en Latinoamérica. Ed. Libro Universitario Regional. Costa Rica. 2001
                        <br>
                        - Pelarán Mabel. Aguantando la caída. Ed.Mutantia. Buenos Aires. Argentina. 1995
                        <br>
                        - OPS/FNUAP Nº 3. Manual de monitoreo y evaluación. Diciembre 2001
                        <br>
                        - MARCHIONI, Marcos. Ciudades Preventivas. Ed. Secretaría de Prevención y Asistencia a las
                        Adicciones. Prov. de Buenos Aires. Argentina. 1999.
                    </p>

                    <a href="/img/posts/hogar-bernardino-rivadavia.doc" class="descarga">DESCARGAR PUBLICACION - Proyecto Casa de la Juventud</a>
                    

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>