<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de adolescentes y jovenes en zonas de pobreza y marginalidad | Blog | Adolescencia y Juventud
    </title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Desarrollo de adolescentes y jovenes en zonas de pobreza y marginalidad</h1>
                    </div>
                    <h2>Prof. Dr. Cándido Roldán. Argentina</h2>
                    <h3>Introduccion</h3>
                    <p>
                        En todas las épocas la sociedad estuvo integrada por grupos de personas categorizadas como
                        "ricos" o "pobres". Los primeros disponían de mayor cantidad de bienes y acceso a derechos
                        sociales, mientras que los últimos carecían de todo.
                        <br>
                        En el ejercicio profesional, siempre nos contactamos con esta realidad. Desnutrición,
                        enfermedades parasitarias, infectocontagiosas, afectaban y afectan con mayor frecuencia a las
                        poblaciones con menores ingresos y niveles de educación, es decir, los pobres, los excluidos.
                        <br>
                        La ubicación geográfica les daba las categorías de "poblaciones urbanas" o "poblaciones
                        rurales", pertenecientes a países "desarrollados" o "subdesarrollados".
                        <br>
                        Pasada la era industrial con sus beneficios y secuelas, entramos en la "postmodernidad", en las
                        "economías de mercado", en la "globalización" caracterizada por cuatro poderes: el económico, el
                        tecnológico, el informático y el cultural.
                        <br>
                        Estos marcos de referencias se han ido complejizando aún más, al aparecer otras categorías
                        sociales para diferenciar la riqueza de la pobreza.
                        <br>
                        Así hoy hablamos de desigualdades, inclusión, exclusión, vulnerabilidad, nuevos pobres,
                        indigentes, pobres estructurales, subocupados, desocupados, marginales, analfabetos, con más o
                        menos años de escolaridad.
                        <br>
                        Me planteo, si tan rica y variada terminología nos permite avanzar en la búsqueda de soluciones
                        para los más necesitados o si es una respuesta solamente descriptiva de la repercusión que
                        tienen los modelos económicos sobre las poblaciones.
                        <br><br>
                        <u>Vivimos un momento que nos permite plantearnos una serie de interrogantes:</u>
                        <br><br>
                        ¿Pareciera que las poblaciones son simples unidades de análisis?
                        <br>
                        ¿Las intervenciones profesionales se limitan a brindar prestaciones que en nada modifican estas
                        estructuras?
                        <br>
                        ¿Estamos al servicio concreto de las poblaciones? ¿Cuál es el beneficio real que les llega Cuál
                        es el beneficio real que les llega de nuestras intervenciones?
                        <br>
                        ¿A los que manejan el poder, les interesa la opinión de los científicos? o toman solo aquellos
                        aspectos que les permiten consolidar más aún su poder?
                        <br>
                        ¿Estamos encerrados en ámbitos profesionales, alimentando nuestro ego, sin lograr que nuestras
                        opiniones sean tenidas en cuenta en el ámbito de las decisiones?
                        <br>
                        ¿Habrá que " hacer" política?
                        <br>
                        ¿Hay otros caminos..... ¿Cuáles ?
                        <br>
                        ¿Tenemos conciencia que todos los logros del desarrollo es aprovechado y "acaparados" por el 20%
                        de la población mundial y que el 80% restante vive en condiciones de mayor pobreza?
                        <br>
                        Oscar Altamir (1990) denomina el momento presente como un momento histórico del desarrollo
                        estructuralmente desequilibrado y socialmente excluyente.
                        <br>
                        Guillermo O¨Donnell nos describe esta realidad con una imagen, el dualismo. Esta nos muestra la
                        existencia de dos mundos separados dentro de las fronteras de un mismo país.
                    </p>
                    <h3>Algunas definiciones y comentarios:</h3>
                    <p>
                        Inclusión social: abarca la posibilidad real de acceder a los derechos sociales.
                        <br><br>
                        Exclusión social: se refiere a la imposibilidad de acceder a los derechos sociales sin ayuda,
                        con deterioro de la autoestima, con incapacidad para cumplir con las obligaciones mínimas, con
                        riesgo de estar relegado por largo tiempo y sobrevivir del asistencialismo, cuando éste está
                        presente.
                        <br><br>
                        Vulnerabilidad, es la posibilidad potencial de que se establezca un daño en la esfera física,

                        psíquica o social.
                        <br><br>
                        Estos tres conceptos inclusión, exclusión y vulnerabilidad se asocian con el término mas
                        utilizado en América Latina, marginalidad.
                        <br>
                        La marginalidad comprende todo aquello que queda afuera, relacionado con el acceso a los
                        <br>
                        derechos sociales, a los progresos urbanísticos, accesos a bienes y servicios como educación,
                        salud, vivienda digna, agua potable y cloacas, trabajo digno.
                        <br>
                        Ser marginal significa estar afuera de los derechos políticos, de los beneficios económicos y
                        sociales.
                        <br>
                        El concepto de pobreza se ha centrado en la precariedad de los ingresos, gastos y consumos.
                        <br>
                        El concepto de exclusión social va más allá de los aspectos económicos y sociales que define la
                        pobreza; incluye los aspectos políticos tales como los derechos políticos y de ciudadanía que
                        vincula la relación entre los individuos y los Estados.
                        <br>
                        El uso del término exclusión debiera ser aplicado a las situaciones que implica una fuerte
                        acumulación de desventajas.
                        <br>
                        La incorporación del término vulnerabilidad permite abarcar una gama de situaciones intermedias
                        ya que la exclusión no siempre es total. Constituye un estadio intermedio entre pobreza y
                        exclusión.
                        <br>
                        Se puede estar excluido de los beneficios de la salud, pero estar incluido, por ejemplo, en
                        educación o trabajo aunque éste sea precario.
                        <br>
                        Vivir un estado de vulnerabilidad puede a veces ser un estadio transitorio y presentarse la
                        oportunidad para incluirse. En nuestros países esto es difícil, ya que la posibilidad de salir
                        de un trabajo precario depende de las políticas económicas de los Estados, lo que está muy
                        precarizado en Latinoamérica.
                        <br>
                        Ante esta realidad poblaciones que viven en estado de vulnerabilidad, pasan al estado de
                        exclusión.
                        <br>
                        Estas definiciones e interpretaciones están condicionadas por los intereses que se manejan
                        cuando se habla de estos temas.
                        <br>
                        Un aspecto que no se tiene en cuenta cuando se tratan estos temas es el de la distribución de
                        los ingresos y los recursos. Por ejemplo, lo programas de combate a la pobreza se focalizan en
                        el asistencialismo, sin considerar los problemas distributivos. Son pocos sostenibles en el
                        tiempo, no conducen a un fortalecimiento de la ciudadanía, y por lo general, no tienen ninguna
                        integración significativa con los programas económicos; tampoco incluyen políticas
                        redistributivas, lo que genera inequidad en los ingresos.
                        <br>
                        Para finalizar este análisis sobre las interpretaciones y justificaciones, debemos recordar las
                        opiniones de Adams Smith, Malthus y Marx.
                        <br>
                        Smith y Malthus tenían una visión individualista de la economía, explicaban la pobreza como un
                        fenómeno individual. Según ellos, la prosperidad de las naciones descansas en la disposición del
                        hombre para perseguir la riqueza. La pobreza incita al hombre al trabajo. El que es pobre es
                        porque no le interesa responder a esta propuesta.
                        <br>
                        Carlos Marx, explica la pobreza desde la organización de la sociedad. Para él, la pobreza es el
                        producto directo del modo de producción capitalista y condición necesaria de éste, pues es la
                        resultante del proceso de acumulación del capital. Para garantizar esta dinámica y sostener el
                        privilegio deben captar el poder político y el poder social a través del control de los medios
                        de comunicación que les permite difundir su ideología (individualismo, ascenso social por
                        méritos propios, a la que acceden unos pocos, pone énfasis sobre el confort material, creando
                        nuevas necesidades.
                        <br>
                        Esta teoría responsabiliza a los detentores del poder por la situación de los pobres.
                        <br>
                        Dentro de estas ideologías se necesita mantener un nivel de desocupados, para restarle poder d
                        negociación a los ocupados y mantener así los bajos salarios.
                        <br>
                        A pesar de las justificaciones teóricas y de los encasillamientos semánticos todos los que
                        trabajamos con personas, independientemente de las profesiones, sabemos de qué hablamos, cuando
                        hacemos referencia a la pobreza, la marginación, la exclusión y la vulnerabilidad que todo esto
                        provoca.
                        <br>
                        La postergación a la inclusión social es una construcción predeterminada por los modelos

                        Imperantes o dominantes en todos los momentos históricos.
                        <br>

                        No quiero dejar pasar por alto una experiencia vivida en un encuentro académico. Nos habíamos
                        propuesto analizar el término marginación. Fueron invitados representantes de diferentes
                        profesiones y habitantes de una "villa" de la ciudad de Buenos Aires.
                        <br>
                        Las diferencias conceptuales fueron muy amplias entre las diferentes disciplinas y los
                        habitantes de la "villa". Quiero rescatar el aporte de éstos últimos al definir el término
                        marginación "...palabra inventada por una clase social dominante para mostrar sus zonas de
                        fracasos...".
                        <br>
                        ¿Fracasos o éxitos de las ideologías dominantes?
                    </p>
                    <h3>Necesidades para el desarrollo y la inclusión social de los adolescentes y jóvenes:</h3>
                    <p>Todas las personas, independientemente de la edad, tienen necesidades que satisfacer. Poder
                        conseguirlas depende no solo de las capacidades personales, sino de respuestas que provean los
                        conductores sociales o institucionales.</p>
                    <h3>Analizando las respuestas sociales:</h3>
                    <p>
                        Los modelos económicos dominan los escenarios sociales.
                        <br>
                        Todos los países no desarrollados están comprometidos con grandes deudas. La Deuda Externa.
                        <br>
                        Ésta ha obligado a los gobiernos a administrar los países con los llamados programas de ajustes.
                        <br>
                        Estos han provocado un gran deterioro en las estructuras sociales.
                        <br>
                        Las consecuencias sobre las personas se manifiestan con el desempleo, el subempleo, el empleo
                        precario y/o temporario. (SALARIOS EN NEGRO, NO DECLARADOS)Esto impacta sobre los grupos
                        familiares debilitando sus estructuras y funciones, como la provisión con continuidad de insumos
                        materiales y emocionales, transmisión de conocimientos a sus hijos y valores culturales,
                        aprendizajes de hábitos disciplinarios, provisión de activos simbólicos y sociales
                        <br>
                        Todos estos recursos son necesarios para que los niños puedan aprovechar los conocimientos que
                        brindan otros espacios sociales, como por ejemplo, la escuela.
                        <br>
                        También el modelo económico es responsable de fisuras en el tejido social, generando

                        comportamientos marginales que no se rigen por patrones socialmente aceptados. Es causante de un
                        desajuste entre las metas culturales instaladas en una sociedad, deteriora las estructuras
                        institucionales que deben brindar servicios y oportunidades para que las personas puedan crecer
                        y desarrollarse, como son las instituciones de salud, educación, justicia y seguridad.
                        <br>
                        Estas instituciones sufren el recorte presupuestario, lo que trae aparejado el deterioro de sus
                        prestaciones en un momento que los ciudadanos más las necesitan.
                        <br>
                        La realidad nos muestra las consecuencias del modelo económico: aumento de la pobreza, de la
                        exclusión social y de los comportamientos marginales, como respuesta para la supervivencia.
                        <br>
                        Vivimos en un mundo altamente complejizado, globalizado, donde los ciclos económicos dirigidos
                        por grupos que no tienen rostro, van acompañados por un gran avance tecnológico, especialmente
                        en las áreas informáticas y acompañados de grandes cambios culturales. Todo esto ha dejado a las
                        personas " desnudas a la intemperie", "paralizadas", "esclavas de estos fenómenos".
                        <br><br>
                        Este planteo es compartido por la siguiente expresión del Papa Juan Pablo II
                        <br>
                        “... muchos aspectos de la economía, condicionan fuertemente la vida y la armonía de las

                        familias. El fenómeno del subdesarrollo y la pobreza, afecta en gran medida a la institución

                        familiar. Diversos tipos de limitaciones y privaciones, hacen muy difícil la misión que Dios ha

                        querido para padres e hijos. Los problemas que conciernen a la alimentación, vivienda, higiene y
                        educación, se ven agravados por el desempleo y la falta de niveles de ingreso que permiten a las
                        familias vivir con dignidad"
                        <br><br>

                        En un Seminario, Enrique Iglesias, ex presidente del Banco Interamericano de Desarrollo,
                        expresó:
                        <br>
                        ”... los grandes problemas y las grandes deudas de América Latina, aparecen hoy en el frente
                        Social. Junto a los “viejos pobres de la región”, aparecen los “nuevos pobres”, con frecuencia
                        producto de los propios programas de ajuste. Los grupos de individuos excluidos del proceso de
                        crecimiento y de los beneficios del progreso, son importantes y tienen los rostros de la mujer,
                        los indígenas, los marginales de las ciudades y los miembros de las comunidades étnicas”. ...”si
                        los nuevos modelos económicos que están experimentando los países latinoamericanos y caribeños,
                        no ofrecen dividendos sociales “no sirven"
                        <br><br>

                        La interpretación de las consecuencias de los modelos económicos imperantes, compartidas por
                        jerarquías espirituales y económicas, nos muestra la inequidad imperante y el obstáculo reinante
                        que impide el crecimiento y desarrollo de millones de personas.
                        <br>
                        Observando el dinero que asignan los modelos económicos y sus ejecutores políticos locales, al
                        funcionamiento de las instituciones responsables de asegurar el crecimiento y desarrollo de
                        niños y adolescentes, podemos ver otro aspecto para entender la postergación de este grupo
                        etáreo.
                        <br>
                        Un sector que debiera proveer conocimientos para completar el desarrollo y lograr la

                        inserción social es el sector educativo.
                        <br>
                        La mitad de los niños de 2 a 4 años se encuentra fuera de los procesos de escolarización,
                        mientras que el 19% de los adolescentes en los primeros años del nivel medio y el 41% en los
                        últimos años, no asisten o están atrasados respecto de su edad.
                        <br>
                        La exclusión educativa en los primeros años de vida y el déficit educativo en los adolescentes
                        tienden a ser más regresivos a medida que se incrementan las condiciones de pobreza.
                        (Fuente:Observatorio de la Deuda Social de la Infancia-UCA y Fundación Arcor. Informe 2007-2008)
                        <br>
                        DR. Guillermo Jaim Echeverri (ex decano de la Facultad de Medicina UNIVERSIDAD de BUENOS AIRES)
                        nos brinda una serie de datos interesantes......"el porcentaje de riqueza que genera un país
                        (Producto Bruto Interno, PBI), constituye un buen indicador para establecer la importancia que
                        una sociedad da a un hecho determinado.
                        <br>
                        En el caso de la educación UNESCO recomienda destinar un 6% del PBI.
                        <br>
                        Argentina invirtió fondos públicos equivalentes al 3,4% del PBI y privados 0,75% del PBI, Chile
                        y México destinaron el 5,6% y Brasil el 5,1%, Canadá el 7%, Corea el 6,2%, Suecia el 7,9%. EEUU
                        el 6,7%, Israel el 8,7%.
                        <br>
                        Inversión anual por alumno en 8 Países: Primaria/ Secundaria: Argentina 1158/ 1575
                        <br>
                        Chile 1807/ 2059, Brasil 870/1018, Dinamarca 5713/ 6247, EEUU 5371/ 6812, Japón 4065/ 4465,
                        Alemania 3361/ 6182.
                        <br>
                        Según UNESCO, los países desarrollados destinan 115.220 dólares, en promedio, para cubrir las
                        necesidades educacionales de una persona desde el jardín de infantes hasta la universidad. En
                        Argentina se invierten con ese fin, 12.644 dólares.
                        <br>
                        Otro indicador que muestra la importancia que el Estado da a los lugares donde crecen y se

                        desarrollan los niños y adolescentes, es el salario docente. En Argentina es de 6165 dólares

                        anuales, en Chile 10.600, en EEUU 24.100 y en Alemania 28.400. (OCDE, 1998).
                        <br>
                        La dirigencia Argentina no solo no privilegia la tarea docente, sino la degrada al depreciar el

                        salario.
                    </p>
                    <p>
                        Otros datos relevantes: la Organización para la Cooperación y el Desarrollo Económico nos
                        muestra en un trabajo, que en Argentina el 64% de la población de 24 a 34 años tiene estudios
                        secundarios incompletos, mientras que en Canadá el 13% y en Suecia el 15%.
                        <br>
                        La educación universitaria: en EEUUU. Completaron sus estudios el 26%, Corea el 19% y Argentina
                        el 5%.
                        <br>
                        El simple análisis de estas cifras nos muestra y nos explica un sistema de exclusión.
                        <br>
                        En otro estudio sobre descapitalización de los jóvenes entre 17 y 22 años nos muestra, que los
                        años1970, el 72% lograron un rendimiento aceptable. En 2000, solo el 18% (en las áreas de lengua
                        y matemáticas).
                        <br>
                        Veamos otro aspecto:
                        <br>
                        Si se toma en consideración la condición socio-ocupacional de la población
                        <br>
                        La probabilidad de acceder a cada nivel, según perteneciera al grupo de familias profesionales o
                        de obreros no calificados era la siguiente, (expresada en porcentajes):
                        <br>
                        - Profesionales/ Obreros no calificados
                        <br>
                        - Acceder al nivel primario 99/ 87
                        <br>
                        - Terminar nivel primario 98/ 36
                        <br>
                        - Acceder al nivel secundario 90/ 83
                        <br>
                        - Terminar el nivel secundario 85/ 35
                        <br>
                        - Acceder al nivel superior 67/ 0,4
                        <br>
                        - Terminar el nivel superior 60 /0,2
                        <br>
                        Fuente: Etcheverry J. Guillermo. La tragedia educativa. Buenos Aires. Ed. Fondo de Cultura
                        Económica de Argentina. 1999. Pag. 29-32.
                    </p>
                    <h3>Las PROBABILIDADES:</h3>
                    <P>
                        - Que un niño pobre culmine el 3 EGB es del 48% contra el 93% de la clase rica
                        <br>
                        - Que un niño pobre termine la secundaria es del 27% contra el 83% de los niños ricos-
                        <br>
                        - El adolescente pobre tiene una doble vulnerabilidad, por ser pobre y por ser adolescente
                        pobre.
                        <br>
                        - La posición desventajosa está dada porque dentro de este contexto de pobreza se rodean
                        de adultos poco capaces de acompañar el proceso educativo por su baja escolarización, por
                        concurrir a establecimientos con menor calidad educativa, por presentar mayores dificultades
                        personales para un desempeño eficiente, por la necesidad temprana de ingresar al mundo del
                        trabajo para contribuir a la economía familiar.
                        <br>
                        - Lo experimentado por muchas generaciones: estudiar- acceder a un trabajo calificado y lograr
                        un
                        ascenso social no rige para estas poblaciones de adolescentes.
                        <br>
                        - Un ingreso prematuro al mercado laboral, sin una formación adecuada, con una elección precaria
                        y poca calificada, sin protección laboral y beneficios sociales hace que su estabilidad laboral
                        sea poco segura y su futuro incierto. Esta situación se ve agravada por la nueva dinámica del
                        mercado del trabajo.
                        <br>
                        Otra muestra más de exclusión de los niños y adolescentes de las clases más desfavorecidas
                        cultural y económicamente hablando.
                        <br>
                        Los discursos democráticos nos hablan de "igualdad de oportunidades" para ingresar, no para
                        completar la enseñanza necesaria para asegurar un desarrollo que permita acceder a una calidad
                        de vida digna. Tampoco se plantean la calidad de la educación y la relación de los contenidos
                        curriculares, si capacitan y dan conocimientos para ingresar al mundo del trabajo.
                        <br>
                        <br>
                        ¿Será que los niños que no terminan y abandonan son portadores de grandes discapacidades, son
                        perezosos para el estudio? ¿O estamos en presencia de un sistema educativo devaluado y
                        debilitado por los sistemas económicos y los responsables políticos locales?
                        <br>
                        Un informe de Unesco realizado en 1999, nos decía que el sistema educativo argentino necesitará
                        veinte años para lograr la eficiencia necesaria para responder a las necesidades de las
                        poblaciones jóvenes. O sea que victimizaremos dos generaciones.
                        <br>
                        ¿Quién se hace cargo de semejante daño?
                    </P>
                    <h3>Debiera existir juicio de mala praxis para los economistas y políticos.</h3>
                    <p>
                        Existe un concepto que quisiera cuestionar del discurso democrático: "igualdad de oportunidades”
                        ¿para todos?
                        <br>
                        Pensando con mayor equidad, tendríamos que implementar niveles educativos adecuados a las
                        necesidades y posibilidades de desarrollo de las personas en el lugar que reside (rural,
                        periurbano o urbano), teniendo en cuenta la capacitación laboral para posibilitar la inserción
                        concreta en el mundo del trabajo. Esto es urgente y necesario en zonas de mayor pobreza y
                        exclusión social.
                        <br>
                        Mientras se mantenga la actual situación de la educación oficial (formal), las personas que

                        trabajen con adolescentes y jóvenes en zonas desfavorecidas deberán inducir a los docentes la
                        responsabilidad de incluir en educación no formal (formación en oficios), a todos aquellos que
                        se excluyan del sistema formal. (DARÉ UN EJEMPLO AL FINAL, LLEVADO A CABO EN LA CASA DE LA
                        JUVENTUD 2005-2010. El trabajo completo se puede acceder en este blog)
                        <br>
                        También se deberá gestionar ante las autoridades la formación altos niveles de certificaciones y
                        acreditaciones educativas del personal docente acorde a las realidades regionales.
                        <br>
                        La situación más crítica es la de los jóvenes comprendidos entre 15 y 19 años de edad.
                        <br>
                        A pesar del aumento de los niveles educativos promedio en las personas más jóvenes, no

                        mejora significativamente las posibilidades de empleo. También observamos actualmente

                        que se exigen niveles educativos más altos para ocupar puestos de trabajo que hace algunos años
                        requerían una instrucción mínima.
                        <br>
                        También notamos que ciertos mercados laborales, se vuelven "cerrados" para los nuevos

                        trabajadores. Si bien los mecanismos de selección tienen como base las credenciales

                        educativas, otras variables como: experiencias previas, edad, sexo, estado civil, lugar de

                        residencia, vinculaciones sociales, referencias, se han vuelto determinantes para obtener un

                        empleo.
                        <br>
                        La etapa adolescencia-juventud, es clave para el desarrollo de las personas. En ella se va

                        dando forma a la identidad y al proyecto de vida. Para que ésta tenga éxito y sirva como

                        base en el acceso a buenos niveles de vida, ellos necesitan de sistemas sociales que apoyen su
                        desarrollo, proveyendo habilidades y destrezas que favorezcan su inserción en el mundo del
                        trabajo actual y futuro.
                        <br>
                        El sistema de apoyo social a las familias y en especial a los jóvenes, es deficiente. Esta

                        deficiencia se incrementa en zonas de mayor carencia económica donde ellos, sufren una

                        doble exclusión: por ser jóvenes y por provenir de hogares carenciados. Aquí se acrecientan

                        los fenómenos asociados al fracaso escolar: repeticiones, ausentismos y abandonos.

                        Para los jóvenes que no pudieron alcanzar mayores niveles educativos, las posibilidades de

                        no desarrollo, son mayores. Esto obedece a la falta de ofertas de formación profesional,

                        formal o no formal, sistematizada o no. Las pocas que existen no son conocidas y no están

                        al alcance de estas poblaciones. Seguimos asistiendo a una época donde se realza el

                        enciclopedismo, donde la forma de diseñar el funcionamiento de los sistemas sociales, está

                        en manos de personas alejadas de la realidad y de las necesidades concretas que necesitan
                        nuestras poblaciones. Creo que estas personas, manejan marcos teóricos que no responden a las
                        necesidades sociales y sí a intereses sectoriales.
                        <br>
                        Fuente: Jean Calvez I. La Necesidad del Trabajo. ¿Desaparición o re definición de un valor?
                        Buenos Aires. Ed. Losada.1999
                        <br>
                        Hay otros grupos de poblaciones jóvenes que conviven con la pobreza y que están obligados a
                        dejar el sistema educativo por la necesidad de generar ingresos. Esta buena intención, resulta
                        muchas veces fallidas en tanto lleva a inserciones ocupacionales muy precarias y en los sistemas
                        más informales del mercado.
                        <br>
                        Pareciera que la construcción del proyecto de vida para estos jóvenes, está rodeado de un

                        clima de desesperanza y postergación
                    </p>
                    <h3>El desempleo juvenil, se encuentra enmarcado por:</h3>
                    <p>
                        -Inestabilidad laboral.
                        <br>
                        -Falta de protección legal, social y previsional.
                        <br>
                        -Escasas remuneraciones (menores de 24 años ganan el 30% menos del sueldo adulto, por igual
                        función y los menores de 20 años, el 50%).
                        <br>
                        -Mayor ocupación en el sector informal de la economía.
                        <br>
                        -El desempleo femenino es mayor que el de los varones.
                        <br>
                        -El desempleo es mayor en zonas urbanas.
                        <br>
                        -El desempleo es mayor cuanto menos escolaridad se tiene.
                        <br>
                        -El desempleo alcanza a la población de sectores y niveles universitarios y terciarios.
                    </p>
                    <p>
                        Se hace necesario comenzar a considerar a los adolescentes y jóvenes carenciados
                        económicamente, que no asisten a ningún establecimiento escolar formal, como grupo
                        prioritario dentro de las políticas públicas y como población de alto riesgo para los
                        equipos de salud y los equipos docentes.
                        <br>
                        Los profesionales, docentes y toda persona que trabaje con jóvenes deben realizar un
                        buen seguimiento del rendimiento escolar, apoyarlos en sus dificultades, buscando la
                        mayor permanencia dentro del sistema escolar. Cuando esto no se da, debemos tener
                        alternativas para el desarrollo de estas poblaciones. Toda exclusión de un sistema, obliga
                        al adulto responsable en pensar en otra inclusión.
                        <br>
                        Un ejemplo lo brinda la Vicaría Episcopal de Morón en la misión de educar para el trabajo.
                        <br>
                        Ella ha diseñado en sus objetivos curriculares la capacitación para el trabajo de poblaciones
                        de jóvenes que pertenecen a zonas de pobreza y han abandonado el sistema escolar formal.
                        Los lugares de capacitación están en todas las capillas situadas en zonas económicamente
                        desfavorecidas. Enseñan: albañilería, carpintería, mecánica del automotor, peluquería de
                        damas, tejido a mano, auxiliar administrativa. Operador de PC, perito contable,
                        mecanógrafo. Tiene ochocientos alumnos que cobran un viático para poder trasladarse y
                        tienen asegurada una pasantía de seis meses, con honorarios y cobertura social.
                        Esta modalidad para jóvenes excluidos del sistema educativo, les brinda una capacitación
                        laboral y una primera experiencia, que será exigida cuando busquen empleo.
                        <br>
                        Rescatando lo expresado por Calvez, que en el futuro el empleo será escaso por los avances
                        tecnológicos, puedo afirmar que debemos orientar a los jóvenes hacia la capacitación de todo
                        aquello que sea servicios que no harán la tecnología y las computadoras, como muestra la
                        experiencia antes relatada.
                        <br>
                        Estos recursos existen en diferentes comunidades, pero son poco conocidos por los
                        profesionales que trabajan con jóvenes.
                        Este recurso, fue encontrado en un relevamiento que realicé en el Municipio de Morón,
                        trabajando en prevención de adicciones y situaciones de riesgo psicosocial. También
                        debemos considerar los recursos de organizaciones no gubernamentales y gubernamentales que
                        puedan existir en el medio que trabajamos.
                        <br>
                        Las personas que trabajen con adolescentes y jóvenes deben realizar un relevamiento de
                        estos recursos en las zonas que se desempeñan.
                    </p>

                    <h3>Una reflexión final, me lleva a proponer que en tiempos de recesión y desempleo, debemos:</h3>
                    <p>
                        -Estimular la capacitación, desarrollar la autoestima, valores como el autocuidado y él derecho
                        al desarrollo.
                        <br>
                        -Revalorizar el trabajo como una opción válida y jerarquizada del rol adulto.
                        <br>
                        -Desarrollo de nuevos estilos de vida.
                        <br>
                        -Contribuir con su participación activa, a un cambio social y a tener pertenencias en redes
                        sociales: grupos juveniles escolares, deportivos, religiosos, políticos, laborales, scout,
                        culturales, artísticos.
                        <br>
                        La importancia de pertenecer a redes sociales ha sido destacada y jerarquizada por Mabel
                        Prelorán en su libro, Aguantando la caída. Muestra en su investigación sobre poblaciones
                        desocupadas, que las personas desempleadas que pertenecían alguna red social, con más rapidez
                        volvían a trabajar, no así, aquellas personas que estaban sin participación, aisladas, sin
                        interacción social.
                    </p>
                    <h3>La situación del sector salud</h3>
                    <p>
                        Sigue siendo una utopía y una esperanza lograr que el concepto de salud integral de los
                        <br>
                        Adolescentes y Jóvenes se implemente en los países de la región con financiación genuina.
                        <br>
                        Accidentes , homicidios, suicidios, SIDA, ETS., embarazos no deseados, muertes por interrupción
                        de un embarazo, alcoholismo, adicciones, delincuencia, trastornos del comportamiento
                        alimentario, constituyen un conjunto de patologías que afecta a grandes sectores de esta
                        población.
                        <br>
                        Son muy pocos los países que cuentan con grupos de profesionales capacitados para dar respuesta
                        adecuada a estos problemas. Los pocos grupos están en los grandes centros urbanos y son
                        reducidos y por lo general no rentados. La mayor cantidad de profesionales que lo integran
                        trabajan voluntariamente o con mu baja remuneración.
                        <br>
                        El incremento de la inseguridad se ha transformado en un obstáculo para incorporarse en este
                        tipo de actividad
                        <br>
                        El sector salud muestra un escenario más, donde la postergación está presente.
                        <br>
                        A pesar que los países de la región son firmantes de la Convención Internacional de los Derechos
                        del Niño y de la Declaración de los Derechos Humanos, dan cumplimiento limitado a lo
                        establecido, asegurar el derecho a la salud.
                        <br>
                        Pensar que los Programas maternos infantiles se esfuerzan para disminuir la mortalidad y
                        <br>
                        morbilidad y luego los abandonan en las etapas posteriores.
                    </p>
                    <h3>Conclusiones</h3>
                    <p>
                        Alain Touraine nos manifiesta:” la elección que hay que hacer no es entre la defensa del orden
                        pasado y la aceptación del desorden presente; debemos concebir y construir nuevas formas de vida
                        colectiva y personal"........"al comprender que pasamos de una etapa de modernidad a otra y
                        definir la naturaleza de la crisis que vivimos, se trata de darnos los medios de reconstruir
                        nuestra capacidad de manejar las mutaciones en curso y determinar las opciones posibles allí
                        donde hoy sentimos la tentación de no ver más que un progreso indefinido o un laberinto sin
                        salida".
                        <br>
                        Si bien existe un orden establecido, debemos ser profesionales con esperanza, creatividad y
                        presencia en los diferentes escenarios en que se da el desarrollo social en sus tres
                        dimensiones: el universitario, el político social y la dimensión personal.
                        <br>
                        "Debemos:
                        <br>
                        - Enfrentar muchos desafíos, como trabajar por la disminución de las desigualdades, la exclusión
                        y las guerras.
                        <br>
                        - Conseguir que en el futuro los avances científicos tecnológico traigan consigo soluciones y no
                        nuevos problemas.
                        <br>
                        - Lograr que los imponentes avances científicos, no se distancien cada vez más del progreso
                        social, las personas y que los progresos biotecnológicos no amenacen la dignidad humana.
                        <br>
                        - Trabajar para lograr que la información se transforme en un instrumento de desarrollo social,
                        transformándola en conocimiento y educación permanente para el desarrollo y la construcción de
                        la paz.
                        <br>
                        - Preservar la diversidad en el seno de un proceso de globalización (con pocos globalizadores y
                        muchos globalizados), que tiende a la homogenización y la estandarización de las poblaciones.
                        <br>
                        - Trabajar para incidir el proceso de globalización, para que este sea un proceso orientado por
                        valores universales y no por los mercados financieros".
                        <br>
                        Estos desafíos fueron extraídos del mensaje del Director General de Unesco al III Encuentro
                        <br>
                        Latinoamericano de Estudios Prospectivos. (Los escenarios y alternativas de América Latina y el
                        Caribe en el Horizonte 2.000, al que adhiero. Transmite un mensaje de compromiso y un desafío no
                        aceptar la realidad como está.
                    </p>
                    <h3>Bibliografía recomendada:</h3>
                    <p>
                        Es importante completar la lectura de la bibliografía citada para comprender aún más el tema
                        desarrollado. Poder ayudar a nuestros niños, adolescentes y jóvenes requiere leer bibliografía
                        diferentes a las dadas en nuestra formación profesional y tener una mirada más amplia del
                        accionar de los determinantes en salud.
                        <br>
                        Respalda esta mirada la Ex directora de OPS Dra. Mirta Roses:
                        <br>
                        “La mayoría de los problemas de salud de los niños, adolescentes y jóvenes no se van a resolver
                        solo con los servicios de salud, se requiere un enfoque más amplio. “El desafío es como integrar
                        el tema de salud, y no solo lo que llamo “taller de reparación” (a los servicios de salud), sino
                        como lograr que los gobiernos con sus gabinetes, ministros, los congresos, los integrantes de
                        los equipos de salud, los administradores del sistema de salud; entiendan que la salud es un
                        bien social que resulta de determinantes muy importantes, siendo los más obvios la nutrición, el
                        agua y el saneamiento ambiental, pero también las libertades políticas, la participación, el
                        transporte, las oportunidades de información y educación”.
                        <br>
                        A todos estos los llamamos determinantes de la salud y son de carácter social, político y

                        ambiental, espiritual y participan de la construcción del proceso salud-enfermedad-atención”
                        <br>
                        “La juventud iberoamericana representa hoy un tema crucial. Si no hacemos ahora las

                        Inversiones que este grupo social requiere, pagaremos las consecuencias en el mediano y

                        largo plazo. Es la generación que debemos proteger. (Roses Mirta, Salud pública y

                        juventud”.
                        <br>
                        Fuente: Los desafíos abiertos. Es difícil ser Joven en América Latina. Pag.69-94.
                        <br>
                        Editorial Sudamericana. PUND. 2010
                    </p>
                    <p>
                        1-BELOSSI MARIANA, PALACIOS DE CAPRIO M.A. LA ESCUELA MEDIA Y LOS

                        JÓVENES SOCIALMENTE DESFAVORECIDOS. ED. LUGAR EDITORIAL.1999. BUENOS AIRES.
                        <br>
                        2-ETCHEVERRY GUILLERMO J..LA TRAGEDIA EDUCATIVA. BUENOS AIRES. ED. FONDO DE CULTURA ECONÓMICA DE
                        ARGENTINA. 1999.
                        <br>
                        3-JACINTO CLAUDIA Y GALLART MARÍA A. POR UNA SEGUNDA OPORTUNIDAD. LA FORMACIÓN PARA EL TRABAJO
                        DE JÓVENES VULNERABLES. OIT. CINTERFOR, 1998. MONTEVIDEO
                        <br>
                        4-MATURANA HUMBERTO. EMOCIONES Y LENGUAJE EN EDUCACIÓN Y POLÍTICA. EDICIONES PEDAGÓGICAS
                        CHILENAS. SEXTA EDICIÓN, 1996. SANTIAGO. CHILE
                        <br>
                        5-PRELORÁN MABEL. AGUANTANDO LA CAIDA. BUENOS AIRES. ED.MUTANTIA.1995. CASILLA DE CORREO 260. U
                        12. BS. AIRES.
                        <br>
                        6-TENTE FANFANI EMILIO. LA ESCUELA VACÍA. BUENOS AIRES. ED. LOSADA UNICEF. 1993 TENTE FANFANI
                        EMILIO. LA ESCUELA VACÍA. BUENOS AIRES. ED. LOSADA-UNICEF. 1993
                        <br>
                        7-TOKMAN VECTOR, O´DONNELL GUILLERMO. POBREZA Y DESIGUALDAD EN AMÉRICA LATINA. BUENOS AIRES. ED.
                        PAIDOS. 1999.
                        <br>
                        7-TURAINE ALAIN. ¿PODREMOS VIVIR JUNTOS? EL DESTINO DEL HOMBRE EN LA ALDEA GLOBAL. ED. FONDO DE
                        CULTURA ECONOMICA DE ARGENTINA. BUENOS AIRES. 1997
                        <br>
                        8-LA DOCTRINA DEL SHOCK. Naomi Klein. Ed. Paidós. 2007
                        <br>
                        9-NO LOGO. Naomi Klein. Ed. Paidós.2001
                        <br>
                        10-HITLER GANÓ LA GUERRA. Walter Graciano. Ed. Sudamericana. 2004
                        <br>
                        11-NADIE VIO A MATRIX. Walter Graciano. Ed. Planeta. 2007
                        <br>
                        12-PENSAR SIN ESTADO. Ignacio Lewkowicz. Ed. Paidós. 2004
                        <br>
                        13-ES DIFÍCIL SER JOVEN EN LATINOAMÉRICA. B. KLIKSBERG
                    </p>
                    <h3>EJEMPLO EDUCACIÓN NO FORMAL REALIZADO EN CASA DE LA JUVENTUD</h3>
                    <p>
                        Hogar de población de jovenes jucializados y con consumo de drogas:
                        <br>
                        •1- Producción de indumentarias. 11 semanas

                        450 horas.
                        <br>
                        •2- Reparación de ciclomotores. 10 semanas,

                        400 horas.
                        <br>
                        •3- Electricista con matrícula nacional. 9 semanas,

                        500 horas.
                        <br>
                        •4- Panadero. 10 semanas, 400 horas.
                        <br>
                        •5- Confitero. 10 semanas, 400 horas.
                        <br>
                        •6- Gasista matriculado. 10 semanas, 450 horas.
                        <br>
                        •7- Mozo de 1º y 2º. Protocolo y ceremonial 11 semanas, 450 horas.
                        <br>
                        8- Gastronomía. 11 semanas, 450 horas.
                    </p>
                    <a href="/img/posts/desarrollo-en-zonas-marginales.pdf" class="descarga">DESCARGAR PUBLICACION - Desarrollo de adolescentes y jovenes en zonas de pobreza y marginalidad</a>
                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>