<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escenarios políticos, económicos y sociales. Su impacto sobre la salud de los adolescentes y jovenes | Blog |
        Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Escenarios políticos, económicos y sociales. Su impacto sobre la salud de los adolescentes y
                            jovenes</h1>
                    </div>
                    <h3>FUNDAMENTO:</h3>
                    <p>
                        El haber transitado más de tres décadas, en mi condición de medico pediatra, me permitió vivir
                        experiencias no aprendidas en la formación de grado, tampoco en la formación como especialista
                        en pediatría. <br>

                        Mi pertenencia a la Sociedad Argentina de Pediatría, donde aprendí el compromiso con la salud
                        del niño y rodearme e integrar grupos de trabajos que permitían intercambio y visiones novedosas
                        para ese ámbito. <br>

                        Integrando un grupo de trabajo comenzamos a interesarnos por la salud de los adolescentes.
                        Dentro del trabajo institucional, se divide diferentes áreas con objetivos específicos, como en
                        mi caso , fue integrar el Comité Nacional de Estudios de la Adolescencia. <br>

                        En el año 1986 fui elegido como secretario de dicho comité.. <br>

                        En el desempeño de ese cargo tuvimos que reflexionar sobre nuestro rol ante el enfrentamiento
                        violento entre dos escuelas secundarias (Colegio Carlos Pellegrini y Colegio Sarmiento),
                        instituciones públicas de la ciudad de Buenos Aires. Decidimos realizar una intervención,
                        acordando reuniones con docentes y directivos del Ministerio de Educación de Nación <br>

                        Esta experiencia exitosa nos dejo muchas enseñanzas sobre el trabajo de profesionales de la
                        salud en el campo comunitario. <br>

                        Así nace el primer programa que integre y conduje y que permitió con posterioridad ser invitado
                        a la conducción de otros programas, que en el curso de esta presentación desarrollare..
                    </p>
                    <ul>
                        <li>Programa de prevención de la violencia estudiantil en la ciudad de Buenos Aires. 1986 1996
                        </li>
                        <li>Programa de prevención y asistencia a las adicciones. Programa 10.000 líderes para el
                            cambio. 1992-2000</li>
                        <li>Casa de la Juventud. Programa de desarrollo juvenil. 2000-2005</li>
                        <li>Posgrado en Salud Social y Comunitaria” 2005-2010</li>
                    </ul>
                    <p>ESTAS EXPERIENCIAS ME PLANTEARON INTERROGANTES Y CURIOSIDADES, REQUISITOS BÁSICOS DEL PENSAMIENTO
                        CIENTÍFICO</p>

                    <h3>Interrogantes:</h3>
                    <p>
                        ¿La situación que viven las poblaciones pobres es un producto de sus elecciones de vida? <br>

                        ¿Es realmente una elección? <br>

                        ¿Que otra situación o situaciones se dan? <br>

                        ¿Cuando hablamos de salud, de que hablamos? <br>

                        Nuestro rol, ¿es restablecer la salud ante la aparición de la enfermedad o tiene un significado
                        más amplio?
                    </p>
                    <h3>Curiosidad</h3>
                    <p>
                        Muchos escuchamos y leemos acerca de la importancia de los determinantes económicos, políticos,
                        sociales, ambientales, culturales. <br>

                        Como se generan y quienes lo generan. <br>

                        Cuál es la importancia de analizar y reflexionar para los trabajadores de la salud sobre estos
                        temas. ¿Interesa?
                    </p>

                    <p>
                        Sobre todo esto los invito a pensar y ayudarme a rescatar el conocimiento como fuente de verdad
                        y desde ahí ampliar nuestras áreas de intervención- reflexión. A esta experiencia desarrollada
                        durante tres décadas. <br>

                        Asocie a esta vivencia, una investigación bibliográfica. <br>

                        Entender los escenarios políticos, nos permitirá conocer un poco más los interese que se juegan
                        y cómo impacta en el campo de la salud, que es nuestro área de trabajo , reflexionar sobre
                        nuestro rol, actualizar nuestros conocimientos y poder elaborar estrategias en nuestro accionar,
                        docente, preventivo y asistencial. <br>

                        Estaremos de acuerdo que el escenario con el cual convivimos está dado por la globalización.
                        <br>

                        Múltiples variables intervienen en desarrollo y crecimiento de las personas y que están
                        condicionadas por las políticas públicas.
                    </p>

                    <h3>Rasgos fundamentales de la globalización neo liberal</h3>
                    <p>La globalización también se presenta como una ideología basada en tres grandes principios:</p>
                    <ol>
                        <li>El fundamentalismo del mercado</li>
                        <li> El desmantelamiento de los estados nacionales</li>
                        <li>La homogenización de las culturas y costumbres</li>
                    </ol>
                    <p>
                        En esa perspectiva, en el mundo globalizado, la ideología neo-liberal promueve diversos tipos de
                        acciones para lograr sus intereses.

                        Es importante que esta presentación, no sea una mirada personal, sino que conozcamos las
                        opiniones de autoridades indiscutidas de nivel mundial, que respalda este enfoque. <br>

                        Hannah Arendt: Filosofa, política, la más importante del siglo XX, expreso: “Vivimos inmersos
                        en sistemas sociales ocultos que con frecuencia no detectamos. Un sistema social oculto es una
                        red de significados aparente no detectados pero que tienen un estructura férrea. Si se acepta
                        uno de los conceptos o valores que ellos proponen, se han aceptados todos los demás
                        implícitamente”. <br>

                        “Una de las grandes tareas de la teoría crítica de la inteligencia social es explicar esos
                        sistemas ocultos, que está en el origen inconsciente de muchas de nuestras ocurrencias sociales”
                        <br>

                        Joseph Stiglitz (Premio Nobel de Economía 2001) nos señala: <br>

                        Nos señala todos los errores que se fueron sucediendo durante su mandato como vicepresidente
                        sénior* del Banco Mundial, por parte de las instituciones económicas supra-nacionales, sobre
                        todo por parte del FMI, la institución "hermana" del Banco Mundial, aunque diferenciada de éste
                        por sus objetivos y sus procedimientos; sobre todo, debido al hecho –reconocido por Pierre
                        Bourdieu y que Stiglitz subraya- de que, en lugar de comportarse como estudiosos y entrar en
                        debates serios y contrastados, los intereses políticos de los analistas económicos del FMI les
                        hace chocar constantemente con la realidad, ya que están demasiado ocupados en violentarla, para
                        adaptarla a ideas preconcebidas. <br>

                        Quienes son los que impulsan este modelo; los bancos, la industria del petróleo, la industria de
                        las armas. lo medios de comunicación que ejercen el liderazgo y producción de la información, la
                        industria farmacéutica y de tecnología médica. y Universidades privadas elaboradoras de marcos
                        teóricos, de acuerdo a sus ideologías y rol, en este modelo y que además capacita a muchos
                        recursos humanos provenientes de diferentes países. <br>

                        Veamos el resultado del funcionamiento de este sistema en nuestra LATINOAMERICA.
                    </p>
                    <h3>EL ESCENARIO ACTUAL EN NUESTRA REGIÓN:</h3>
                    <p>
                        Fuente: Dr. Bernardo Kliksberg <br>

                        América Latina es la región más desigual de todo el planeta. <br>

                        -Como se mejora esta desigualdad? La respuesta pasa por la salud pública. Este es el punto
                        central. <br>

                        -El coeficiente GINI en los últimos 30 años es el que muestra el mayor deterioro, el mayor de
                        todo el planeta. <br>

                        -Esto significa que la distancia entre el 10% más rico y el 10% más pobre, por ejemplo, en
                        España es el 10%, en Brasil es de 60 veces más mientras que en Noruega es 6 veces y en Guatemala
                        es 58 veces mas <br>

                        -África es más pobre que América Latina pero su coeficiente GINI es menor <br>

                        -El coeficiente GINI mide desigualdad en la distribución de la riqueza <br>

                        Lo grave es que en América Latina viene creciendo.

                        Los chicos muy pobres no podrán terminar la educación porque tienen que trabajar. según la OIT
                        en AL. tenemos 22 millones de trabajadores infantiles menores de 14 años, en la Región

                        Hoy tenemos más pobres que en 1980. hay 204 millones de pobres. Fuente: CEPAL.
                    </p>
                    <p>
                        La desigualdad está en el agua potable, las letrinas, la precaria vivienda, la contaminación del
                        medio ambiente (arroyos, basuras, animales sueltos.). esto triplica las cifras de mortalidad.
                        Sesenta millones de personas no tienen agua potable,120 millones no tienen sanitarios
                        Esto aumenta la mortalidad infantil, materna y riesgos generales en toda la población
                    </p>
                    <p>
                        La comparación del gasto en salud: 233 dólares por persona se destina en Perú, 3809 en Noruega,
                        en Suecia 2704, en Canadá 3000. Fuente: informe de desarrollo humano 2006.
                        En América Latina se produce tres veces el alimento que necesitan los países y Guatemala tiene
                        el 48% de desnutrición infantil
                    </p>
                    <ol>
                        <li>En definitiva, los mercados financieros altamente especulativos, son protagonistas decisivos
                            del proceso Privatizaciones: no sólo en la perspectiva de transferencias de empresas del
                            sector público al privado, sino la conversión de derechos sociales en objetos de mercado. La
                            salud y la educación, tradicionalmente consideradas derechos ciudadanos, pasan a formar
                            parte de los intereses económicos, y en muchos países se integran a los circuitos de
                            acumulación del capital. La privatización de los fondos de pensiones de la seguridad social
                        </li>
                        <li>Con especial impacto sobre la salud de los trabajadores la desregulación del mercado
                            laboral, con su consecuencia de flexibilización y precarización del empleo.</li>
                        <li>Focalización en los Programas Sociales</li>
                        <li>La inversión especulativa: operaciones de capital a corto plazo, desvinculadas de la
                            actividad real de producción, comercio e inversión, cuyo objetivo dominante es realizar
                            ganancias especulativas. Se estima que el 95% de las operaciones en los mercados cambiarios,
                            que asciende diariamente a US$1,3 billones, consisten en movimientos especulativos.</li>
                    </ol>
                    <h3>Un ejemplo ilustrativo del gasto en salud</h3>
                    <p>La aparición del modelo de campos de salud propuesto por Lafambroise en 1973 y desarrollado
                        magistralmente en el Informe Mark Lalonde en 1974. <br>

                        Observen las diferentes áreas que integran el Campo de la Salud: <br>

                        -Biológica 7.9% <br>

                        -Medio Ambiente 1.5% <br>

                        -Estilos de vida 1.5% <br>

                        -Sistema de Atención en Salud 89% <br>

                        Fuente: Pautas conceptuales y ... - SciELO - Saúde Pública <br>
                        www.scielosp.org <br>
                        El 11% del presupuesto en salud se destinas a las áreas que provocan el 84% de las muertes,
                        mientras el 89% al área de atención en salud que solo provoca el 11% de las muertes
                    </p>

                    <h3>MERCADO Y SALUD</h3>
                    <p>“Las estadísticas económicas señalan que el mercado de la salud se ha convertido en uno de los
                        más importantes a nivel mundial, con diversos actores claves que conforman lo que se denomina el
                        complejo médico industrial, integrado por los productores de tecnologías e insumos para los
                        servicios de salud; la industria farmacéutica; el sector asegurador y financiero, y los
                        productores directos de servicios en clínicas u hospitales privados.”</p>
                    <p>Buena parte de los procesos de reforma de salud promovidas por los organismos financieros
                        multilaterales han tratado de introducir mecanismos para la "privatización" de la salud y la
                        seguridad social, a través del desarrollo de administradoras privadas, para la administración de
                        fondos de pensiones, de los recursos para la salud provenientes del Estado o particulares a
                        través de cotizaciones, y administradoras de riesgos de trabajo que captan fondos de las
                        empresas y en algunos casos de los trabajadores.</p>
                    <p>Informe 2008 de la Comisión designada por OMS, en el año 2005, sobre los determinantes sociales
                        en salud.

                        Las condiciones en que la gente vive y muere están determinadas por fuerzas políticas, sociales
                        y económicas. <br>

                        Esa distribución desigual de experiencias perjudiciales para la salud no es, en ningún caso,
                        un fenómeno «natural», sino el resultado de una nefasta combinación de políticas y programas
                        sociales deficientes, arreglos económicos injustos y una mala e intencionada gestión política.
                        <br>

                        En 2007, por primera vez, la mayoría de los habitantes del planeta vivía en entornos urbanos.
                        Casi mil millones de éstos viven en barrios precarios (villas, chabolas, favelas). <br>

                        Cada año, más de 100 millones de personas se ven afectados por las políticas económicas.

                        EN ARGENTINA aumento la población de pobres al 40,8% (16 millones de personas y la población
                        indigente al 32,1% (totalizan 3.6.millones de personas). Tenemos 59,5% de niños y adolescentes
                        integran este grupo. FUENTE. Observatorio de la Deuda Social Argentina. Informe 20010-19.
                        Universidad Católica Argentina
                    </p>
                    <h3>LAS HERRAMIENTAS UTILIZADAS POR LA GLOBALIZACION PARA IMPONER EL MODELO.</h3>
                    <p>
                        Los medios y la Publicidad <br>

                        Un análisis sobre la propiedad de los medios realizado por Chomsky y Herman (1990) y confirmado
                        más recientemente por Carmona (2007), determina que en Estados Unidos, 29 organizaciones son las
                        responsables de la producción de más de la mitad de los 25 mil medios de comunicación existentes
                        en el país, y son ellas quienes definen la agenda de contenido y generan las noticias nacionales
                        e internacionales. Las cuatro principales agencias de noticias (AP, UPI, Reuters y AFP) generan
                        el 80 % de las noticias que circulan en todo el mundo. <br>

                        Pero resulta que los propietarios de estos grandes medios están directamente vinculados con
                        otros rubros de la economía, como la banca, la producción de armamento, la agro industria, las
                        compañías petroleras, las compañías automotrices, o la industria farmacéutica. Un ejemplo:
                        General Electric y Wes­tinghouse, empresas inicialmente de manufactura de productos para el
                        hogar, ahora también fabrican armamentos, son parte del complejo industrial de la salud y
                        propietarias de grandes medios de comunicación. <br>

                        Fuente: Carlos Feo Acevedo1, Oscar Feo Istúriz. Impacto de los medios de comunicación en la
                        salud pública. Rev. Scielo. <br>

                        Como impacta en las poblaciones y cuales son las consecuencias: <br>

                        -Desplazamientos de las instituciones básicas en la formación de las personas, como la familia,
                        la escuela, las instituciones religiosas, lugares que son ocupados y jerarquizados por la TV,
                        los TIC, la industria de la noche, formadores de los nuevos comportamientos y valores de los
                        jóvenes de hoy.
                    </p>
                    <p>
                        Recordemos que en la actualidad la variable FINANCIERA es la elegida por la Globalización en
                        detrimento de la variable PRODUCTIVA. <br>

                        Sus consecuencias:
                    </p>

                    <h3>Variable financiera:</h3>
                    <ul>
                        <li>publicidad, incremento del consumo</li>
                        <li>consecuencias a tener presente: obesidad, malnutrición, diabetes, enfermedad metabólica</li>
                        <li>Hiperconsumo, bebidas, drogas tecnologías, comida chatarra, autos, motos</li>
                        <li>Recortes del sistema político, en salud, educación, fondo de pensiones, desarrollo social,
                            reforma laboral, ajustes fiscales</li>
                        <li>aumento de la vulnerabilidad de las poblaciones, aumento de la pobreza y desigualdades</li>
                    </ul>

                    <h3>Variable productiva:</h3>
                    <ul>
                        <li>cierre de empresas., generación de desempleo y deterioro de la oferta de nuevos empleos</li>
                        <li>aumento del tiempo libre, sin ocupación: depresión, suicidios, alcoholismo, adicciones,
                            aumento de las diferentes formas de violencia, homicidios, delitos, embarazos. Abortos, HIV,
                            ITS</li>
                    </ul>

                    <h2>DESAFÍOS</h2>
                    <p>
                        Desde los equipos de salud, podemos ampliar las áreas de intervención, si nos planteamos
                        interrogantes en las experiencias que nos brinda el desempeño de nuestra especialidad. <br>

                        Jerarquizo esta manera de pensar, con la transcripción de una opinión expresada en Archivos de
                        pediatría, por un ex presidente de la Sociedad Argentina de Pediatría, el Dr. Horacio Lejarraga
                        en Archivos Argentino de Pediatría. 2005, (Archivos Argentino de Pediatría. 2005): <br>

                        “Los pediatras somos graduados universitarios y como tales, tenemos el privilegio de haber
                        recibido una educación del máximo nivel posible en el país. Al contrario de lo que algunos
                        creen, cuanto mayor es nuestro nivel de educación, mayores son nuestras obligaciones y no
                        nuestros derechos. Esto es así porque estamos en mejores condiciones de comprender los fenómenos
                        sociales, de analizar mejor las variables intervinientes, de tener una visión más holística de
                        la problemática del país en cuanto a los derechos de las personas y a su defensa. <br>

                        Es por ello que los pediatras, cuando hablamos de los derechos de los niños, tema
                        inextricablemente ligado a la problemática social y política del país, no podemos degradar
                        nuestras opiniones con simplificaciones”. <br>

                        La salud es un derecho humano y debe ser comprendida y defendida en toda su dimensión. <br>

                        Cuando escuchamos y observamos en los medios de comunicación, el desempleo, el empleo precario,
                        jefas de hogar, hacinamiento y hábitat insalubre, la toma de terrenos, inseguridad alimentaria,
                        discriminación social, desprotección jurídica, trabajo infantil, inflación, falta de cloacas,
                        letrinas, agua corriente, gas, arroyos contaminados, numerosos animales sueltos en las áreas
                        programáticas, deserción y retraso escolar, equidad en el acceso a los servicios de salud y
                        educación de calidad, ausencias de espacios de recreación y formación profesional en los barrios
                        estamos en presencia de determinantes generadores de enfermedad y nuestra deber es comprender,
                        entender y defender los derechos de las familias y de los niño
                    </p>
                    <p>
                        Como profesionales estamos éticamente obligados a conocer el entramado político y social y para
                        ello debemos recurrir a fuentes de información confiables, que no son precisamente los medios de
                        comunicación. <br>

                        Así como acudimos a fuentes de información científica en nuestras instituciones, debemos
                        informarnos de lo político, económico, social, ambiental de fuentes científicas y de autores
                        independientes confiables. Acudir a estas fuentes se nos hace más fácil cuando trabajamos en
                        equipos interdisciplinariamente porque en ellos, los integrantes de otras disciplinas aportan
                        nuevos argumentos que por nuestra formación no tenemos.” <br>

                        Especialmente me preocupa los adolescentes y jóvenes de la comunidad que no consultan al sistema
                        de salud., por cuestiones culturales o por la precariedad de los servicios locales de salud. <br>

                        Si no somos nosotros, ¿quienes? <br>

                        Este trabajo es una invitación a pensar y enfrentar desafíos, buscar nuevas respuestas, a
                        ampliar las áreas de intervención , que la realidad nos plantea. <br>

                        Es respetable la posición de aquellos colegas que desean exclusivamente dar respuesta a los
                        adolescentes y jóvenes que consultan por dolencias al sistema de salud. <br>

                        Como ciudadanos debemos reclamar la necesidad de un pacto social; movilidad de las sociedad
                        civil; responsabilidad social de las empresas privadas; trabajo de apoyo de los medios de
                        comunicación, de las principales instituciones de la sociedad; obligando a tener políticas
                        públicas que generen equidad.
                    </p>
                    <a href="/img/posts/escenarios-politicos.docx"  class="descarga">DESCARGAR PUBLICACION - Diferentes escenarios y su impacto sobre la salud de los jovenes y adolescentes</a>


                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>