<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etilos de vida, una mirada desde las ciencias de la salud | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Etilos de vida, una mirada desde las ciencias de la salud</h1>
                    </div>
                    <h3>Dr. Cándido Roldán
                        <br>
                        Argentina 2020
                    </h3>
                    <p>
                        *Director de Posgrado. Instituto Universitario de Ciencias de la Salud. Facultad de Medicina.
                        Fundación H. Barceló. Buenos aires. Argentina
                        <br>
                        Ex Presidente de la Sociedad Argentina de Salud Integral del Adolescente
                        <br>
                        Pediatra. Especialista en Medicina del adolescente. Magíster Internacional en Drogodependencia.
                        Universidad de Deusto. España. Universidad del Salvador. Argentina.
                        <br>
                        Telefax: 00 54 11 4581 0540. Email: candidoroldan36@gmail.com
                        <br>
                        El objetivo de este capítulo será analizar los escenarios sociales, su complejidad, las
                        diferentes formas y comportamientos de las poblaciones y su repercusión en la salud de las
                        poblaciones.
                        <br>
                        La complejidad en la construcción del estilo de vida está dada por los múltiples factores
                        intervinientes, como las características de las familias, la calidad educativa y de las
                        instituciones vinculadas con la niñez, adolescencia y juventud a las que se suman hoy, el
                        enfoque de los determinantes en salud, estos son económicos , políticos, sociales, ambientales,
                        espirituales y culturales.
                        <br>
                        Los profesionales que asisten a esta población y aquellos que se interesen en un futuro,
                        enfrentarán desafíos éticos, dados por la colisión de sus saberes y respaldos teóricos y
                        realidades presentes que no se pueden desconocer, como por ejemplo las transformaciones en las
                        últimas décadas del concepto de familia y las nuevas legislaciones al respecto.
                    </p>
                    <h3>1- Introduccion</h3>
                    <p>SEIS REALIDADES enfrentamos los integrantes de los equipos de salud dedicados al trabajo con
                        niños, adolescentes , jóvenes y sus grupos familiares:</p>
                    <ol>
                        <li>el alejamiento gradual de los niños, adolescentes y jóvenes de los contactos con el sistema
                            de salud, luego de los primeros años de vida</li>
                        <li>el acercamiento y el impacto de las tecnologías</li>
                        <li>el debilitamiento de la institución familiar y la escuela</li>
                        <li>las transformaciones en las últimas décadas del concepto de familia y las nuevas
                            legislaciones al respecto</li>
                        <li>la gran influencia de los consumos culturales globalizados y el debilitamiento de las
                            identidades territoriales</li>
                        <li>los cambiantes escenarios sociales provocados por los intereses financieros y políticos del
                            poder mundial</li>
                    </ol>
                    <p>
                        El estilo de vida es el resultado de la convergencia de todas estas variantes cuyo impacto,
                        según las capacidades e intereses de cada individuo, se expresaran a través de sus
                        comportamientos y calidad de vida.
                    </p>
                    <p>
                        Los estilos de vida a través de sus comportamientos influyen en que las personas permanezcan
                        sanas o se enfermen, pero debido a su carácter habitual y a la profundidad en que se encuentran
                        enraizados son difíciles de cambiar, a pesar de que muchas conductas implican altos riesgos para
                        la salud y permiten la persistencia de muertes prematuras y evitables, siendo el ejemplo más
                        destacado el tabaquismo,
                        <br>
                        Dada la importancia que los estilos de vida y su influencia en la salud de los adolescentes y su
                        repercusión en la vida adulta, es importante conocer los diferentes momentos por las cuales
                        atravesó la concepción acerca de la causalidad de las enfermedades, para destacar la importancia
                        de este concepto.”
                        <br>
                        Durante el siglo XVIII la medicina comenzó a transformar su concepción acerca de la causalidad
                        de las enfermedades, sobrepasando las barreras de los espíritus malignos (paradigma mítico
                        mágico de las culturas primitivas); de la determinación de componentes de la naturaleza
                        recogidos en el libro de Hipócrates, Aires, aguas y lugares (paradigma naturalista) y los
                        miasmas (tránsito hacia la búsqueda de la causalidad en componentes o resultados de procesos
                        naturales aún no observables). El descubrimiento de los microorganismos y las primeras leyes de
                        la genética fueron acontecimientos que orientaron el camino de la causalidad.
                        <br>
                        No obstante, el desarrollo de las ciencias de aquella época no permitía la integración de estos
                        conocimientos con los que provenían de la actividad económica-social y psicológica para entender
                        su papel en el condicionamiento de la salud y la enfermedad (paradigma biologicista de la
                        medicina). A finales del siglo XVIII, se aceptaron los factores externos vinculados a las
                        actividades cotidianas del hombre, tales como las características del trabajo y modo de vida
                        (Ramacini, 1700), la calidad del agua de consumo (John Snow, 1836), las características de la
                        vivienda en los barrios pobres (John Ferriar, 1792), la fábrica como productora de enfermedad
                        (Thomas Percival, 1784), las condiciones de vida miserables (Informe Chadwick al Parlamento
                        inglés, 1842), el hambre y la mala higiene (R. Virchow, 1848) y a las desigualdades económicas,
                        jurídicas y sociales de los trabajadores denunciadas en Francia e Inglaterra (Engels, 1845)
                        (Pérez, 1995:3-21).
                        <br>
                        Este avance en el conocimiento fue decisivo para el surgimiento de un nuevo paradigma en las
                        Ciencias Médicas, el modelo médico-social, que a lo largo de su desarrollo fue facilitando el
                        nacimiento de la Epidemiología alrededor del estudio de la historia natural de la enfermedad, lo
                        que en breve tiempo originó a su vez el nacimiento de la Higiene Social, la Medicina Social y la
                        Salud Pública, disciplinas que fueron aportando nuevos conocimientos sobre la determinación
                        social de la salud. Esta nueva concepción del proceso salud-enfermedad abrió las puertas a la
                        incorporación de las Ciencias Sociales a la Medicina (Palermo, 1986:3). Con ello, el abordaje
                        sociológico de la enfermedad, junto con la Epidemiología, facilitó el establecimiento de las
                        relaciones existentes entre las condiciones de vida, determinadas conductas, factores de riesgo
                        <br>
                        El estilo de vida es el resultado de la convergencia de todas estas variantes cuyo impacto,
                        según las capacidades e intereses de cada individuo, se expresaran a través de sus
                        comportamientos y calidad de vida. (1)
                    </p>
                    <p>
                        Históricamente, el hombre siempre ha querido vivir más y mejor, sin aceptar y asimilandose a los
                        cambios que se producen en los escenarios sociales. Cada ciclo vital responde de diferente
                        manera. La manera como incorpora las diferentes ofertas que le brinda su medio, puede ser
                        favorable para su salud o constituirse en un factor de riesgo.
                        <br>
                        Hoy los profesionales de la salud observamos con perplejidad la despreocupación por el cuidado
                        de la salud, hasta que sorprende la aparición de la enfermedad. La cultura de hoy, en grandes
                        poblaciones, ha instalado la incorporación de las características de una eterna juventud.
                        <br>
                        Cada etapa del ciclo vital ha tenido para cada edad una significación y características
                        determinadas. Así, consideramos, por ejemplo, las necesidades y valores necesarios para el
                        desarrollo de la juventud, teniendo como meta tradicionalmente el mero tránsito o aprendizaje
                        para una vida adulta ulterior. Donde los valores familiares, comunitarios y el aprovechamiento
                        de los conocimientos incorporados en el sistema educativo aseguraban una inserción social
                        adecuada en calidad, de acuerdo al esfuerzo realizado
                        <br>
                        Este escenario en el que crecieron y se desarrollaron muchas generaciones de estas últimas diez
                        o más décadas ha mutado. ¿A qué se ha debido este cambio?, pregunta cuya respuesta merece
                        analizarse con detenimiento y descubrir los intereses que se mueven alrededor de esta
                        transformación. ¿Esto obedece a una evolución espontánea o hay poderes sin rostros que mueven y
                        generan estos cambios? Siempre he pensado que además de opinar, debo dar las fuentes para que el
                        lector pueda acceder a la información que justifican mi manera de enfocar este y otros temas (2)
                        (3)
                        <br>
                        Para poder interpretar la complejidad, dado por los escenarios económicos, políticos, sociales,
                        ambientales, espirituales, culturales y el impacto que cada uno de estos y en su conjunto tiene
                        sobre las instituciones donde crecen y se desarrollan los niños adolescentes y jóvenes, se hace
                        necesario profundizar el conocimiento del contexto social y el momento histórico donde se
                        desarrollan los acontecimientos y porque se producen.
                        <br>
                        Esto resulta válido cuando analizamos, en nuestro caso, la salud individual, familiar,
                        comunitaria, en esta etapa del siglo XXI caracterizado por las desigualdades e inequidades en la
                        distribución del PBI de los países, impactando de diferentes maneras en la construcción de los
                        estilos de vida, según segmento social, económico, educativo, cultural y asentamiento geográfico
                    </p>
                    <p>
                        Es imposible hablar de estilo de vida, enfocado desde una construcción individual, sin tener en
                        cuenta los determinantes considerados hoy en salud, concepto vigente desde la última mitad del
                        siglo XX.
                        La complejidad del mundo que vivimos hace que la salud no pueda reducirse a un análisis
                        simplista. El enfoque biológico, ve solo algunos aspectos de la salud y la enfermedad. Se hace
                        necesario incorporar otros saberes y otras disciplinas para poder entender la complejidad del
                        tema y dar respuesta a los problemas complejos que las poblaciones hoy nos presentan
                        <br>
                        Respaldando esta mirada Lichnerowicz y Edgard Morin aportan:
                        <br>
                        “Nuestra Universidad actual, forma en todo el mundo una proporción demasiado grande de
                        especialistas en disciplinas predeterminadas y, por esto, artificialmente limitadas, en tanto
                        que una gran parte de las actividades sociales, como el mismo desarrollo de la ciencia, necesita
                        hombres capaces tanto de mantener un punto de vista más amplio como de centrarse profundamente
                        en los problemas y progresos nuevos que transgreden las fronteras históricas de las disciplinas”
                        Lichnerowicz.
                        <br>
                        Edgar Morin aporta:“Existe una falta de adecuación cada vez más amplia, profunda y grave entre
                        nuestros saberes disociados, parcelados, compartimentados entre disciplinas y por otra parte,
                        realidades o problemas cada vez más pluridisciplinarios, transversales, multidimensionales,
                        transnacionales, globales, planetarios”.
                        <br>
                        El pensamiento de Morin conduce a un modo de construcción que aborda el conocimiento como un
                        proceso que es a la vez, biológico, cerebral, espiritual, lógico, lingüístico, cultural, social
                        e histórico, mientras que la epistemología tradicional asume el conocimiento sólo desde el punto
                        de vista cognitivo.
                        <br>
                        Este nuevo planteamiento tiene enormes consecuencias en el desarrollo de las ciencias, la
                        educación, la cultura, la sociedad y nos es útil para poder abordar el tema de los estilos de
                        vida y su relación con el ciclo vital adolescencia-juventud.
                        <br>
                        En el campo de la salud, desde el enfoque científico, deberían tenerse en cuenta todos los
                        conocimientos intervinientes: el biológico, el psicológico. el ambiental, el socio cultural y el
                        escenario político y económico donde estos se desarrollan
                        <br>
                        No siempre el análisis fue interpretado con este enfoque, aún en la actualidad. En muchos
                        sectores de las disciplinas relacionadas con la salud participaron de una interpretación y de un
                        modelo que les sirvió de fundamento para construir sus creencias. También les resulta una ardua
                        tarea desprenderse de esa base de conocimientos para responder a los nuevos interrogantes que le
                        están formulando los nuevos escenarios sociales.
                    </p>

                    <h3>2- Justificacion</h3>
                    <p>
                        El camino para arribar, en forma general, a estos nuevos conocimientos en medicina, se produjo a
                        partir del cambio del estado de salud en poblaciones con un avanzado desarrollo socioeconómico,
                        donde las enfermedades infecciosas ya no eran las principales causas de muerte y aparecieron
                        otros elementos que inciden en la aparición de enfermedades y muertes, como por ejemplo: un
                        sistema de cuidados de la salud inadecuado, factores conductuales o estilos de vida poco sanos,
                        riesgos ambientales para la salud y factores vinculados a las nuevas tecnologías, las
                        comunicaciones y las publicidades.
                        <br><br>
                        2.1 La importancia del aporte del Campo de la Salud
                        <br>
                        A lo largo de la historia de la humanidad muchos son los marcos conceptuales que han tratado de
                        encuadrar los conceptos de enfermedad, salud, calidad de vida, pero es LAFRAMBOISE que introduce
                        el siglo pasado el concepto de CAMPO DE LA SALUD e integra en el, la Biopsicología, Estilos de
                        Vida. Ambiente humano y Sistema de Atención en Salud.
                        <br>
                        Este modelo es implementado por primera vez en Canadá por el ministro de Salud, Marc Lalonde (4)
                    </p>
                    <p>
                        Este concepto, implementado por Lalonde en Canadá, contempla la descomposición del campo de la
                        salud en cuatro componentes: biología humana, medio ambiente, estilos de vida y organización de
                        la atención en salud. Estos componentes se identificaron mediante el examen de las causas y los
                        factores básicos de la morbilidad y la mortalidad y como resultado del análisis del modo en que
                        cada elemento afecta el grado de salud.
                        <br><br>
                        Biología humana
                        <br>
                        Este componente incluye todos los hechos relacionados con la salud, tanto física como mental,
                        que se manifiestan en el organismo como consecuencia del funcionamiento biológico del ser
                        humano. Incluye la herencia genética, los procesos de maduración y envejecimiento y el
                        funcionamiento y alteraciones de los diferentes sistemas que integran el cuerpo humano. Dada la
                        complejidad de éste, su biología puede repercutir sobre la salud de múltiples maneras, en forma
                        leve o grave. Los problemas de salud con base biológica producen múltiples preocupaciones al ser
                        humano y costos millonarios a los Estados para enfrentar los tratamientos.
                        <br><br>
                        Medio ambiente
                        <br>
                        El medio ambiente incluye todos aquellos factores externos al cuerpo y que las personas tienen
                        poco o ningún control y afecta su salud. Las personas, por sí solos, no pueden garantizar la
                        inocuidad de los alimentos, cosméticos, abastecimiento saludable del agua, contaminación del
                        aire y del agua, ni los ruidos ambientales, ni la prevención y diseminación de enfermedades
                        transmisibles. Tampoco individualmente pueden garantizar la eliminación adecuada de los desechos
                        y aguas servidas.
                    </p>
                    <p>
                        Estilos de vida
                        <br>
                        Representa el conjunto de decisiones que el individuo toma con respecto a su salud. Las malas
                        decisiones y los malos hábitos personales conllevan a riesgos que se originan en el propio
                        individuo. Cuando esos riesgos tienen como consecuencia la enfermedad o muerte, se puede afirmar
                        que el estilo de vida de esa persona contribuyó a ello.
                        <br>
                        Estilo de Vida Saludable es la manera como la gente se comporta con respecto a la exposición a
                        factores nocivos que representan riesgo para la salud.
                        <br><br>
                        Organización de la atención en salud
                        <br>
                        La cuarta categoría del campo de la salud está representada por la organización de la atención
                        de salud. Abarca la cantidad, calidad, accesibilidad, orden, relación entre las personas y los
                        recursos en las prestaciones de la atención en salud. Incluye la práctica de la medicina, la
                        enfermería, los hospitales, los hogares de ancianos, los medicamentos, los servicios públicos
                        comunitarios de atención a la salud, las ambulancias y todos los tratamientos brindados por el
                        sistema.
                        <br>
                        Hasta ahora, casi todos los esfuerzos institucionales del Estado o privados encaminados a
                        mejorar la salud, “concentran la mayor parte de los gastos directos en materia de salud en la
                        organización de la atención sanitaria”. Si embargo, cuando se identifican las causas principales
                        de enfermedad y muerte, se llega a la conclusión de que su origen está en los otros tres
                        componentes del campo de la salud, la biología humana, el medio ambiente y los estilos de vida.
                        Es evidente que se está gastando grandes sumas de dinero en tratar enfermedades que desde un
                        principio podían haberse prevenido. Para tener una idea en el presupuesto económico destinado al
                        sector, en un país desarrollado muestra que el 90.8% va destinado a la organización de la
                        atención en salud y el 9.2 % a los otros tres componentes que tienen mayor peso al momento de
                        ser causa de morbilidad y/o mortalidad. (5)
                    </p>
                    <h3>3. La importancia de, comprender y construir Estilos de Vida Saludable </h3>
                    <p>
                        La continuidad en el desarrollo de este capítulo es importante ampliar los siguiente temas: 3.1
                        marco teórico, 3.2 familias, 3.3 cultura, para finalizar con unas 4-propuestas
                        <br>
                        <br>
                        3.1 Marco teórico
                        <br>
                        El estilo de vida está dado por las diferentes formas de comportamientos que las personas
                        muestran en su convivencia social.
                        <br>
                        Los comportamientos son el resultado de una suma de variables que el individuo asume desde su
                        nacimiento y muestra a lo largo de la vida. Múltiples factores contribuyen en esta formación,
                        según las épocas, las edades y las pertenencias territoriales
                        <br>
                        Factores biológicos hereditarios constituyen la base donde van a impactar factores políticos,
                        económicos, sociales, ambientales, culturales, espirituales.
                        <br>
                        Según el Observatorio de la Deuda Social con la Infancia dependiente de la Universidad Católica
                        Argentina, en su Informe 2011 amplia el marco conceptual, aportando las necesidades, los
                        espacios, el funcionamiento familiar, escolar y comunitario donde crecen y desarrollan los niños
                        y adquieren los primeros elementos para la construcción de sus estilos de vida y
                        comportamientos, que asumirán en la etapa de adolescentes y jóvenes, con repercusión en la vida
                        adulta
                        <br>
                        Es importante incorporar la complejidad de las dimensiones y conocerlas teniendo en cuenta los
                        contextos o territorios donde ellos se desenvuelven y nosotros realizamos nuestras prácticas.
                        <br>
                        Según esta investigación desarrollada desde el 2004 al 2019, con informes anuales, propuesta que
                        comparto, debemos analizar y tener presente en nuestra actividad: (6)
                        <br><br>
                        a) ALIMENTACIÓN, SALUD y HÁBITAT
                        <br>
                        *Seguridad alimentaria y nutricional
                        <br>
                        *Acceso a la atención en salud y cobertura de salud
                        <br>
                        *Acceso a servicios de agua, gas y saneamiento
                        <br>
                        *Tenencia segura de una vivienda adecuada
                        <br><br>
                        b) SUBSISTENCIA
                        <br>
                        *Inserción laboral del jefe/a de hogar en un empleo decente
                        <br>
                        *Incidencia de la pobreza e indigencia
                        <br>
                        *Necesidades básicas insatisfechas (NBI)
                        <br>
                        *Acceder a indumentaria de ropa y calzado adecuado
                        <br>
                        *Consumos sociales de subsistencia garantizados
                        <br>
                        *Acceso a la seguridad social
                        <br><br>
                        c) CRIANZA Y SOCIALIZACIÓN
                        <br>
                        *Tener una familia y disponibilidad parental para el cuidado de la primera infancia
                        <br>
                        *Acceder a estímulos emocionales e intelectuales
                        <br>
                        *Estilos educativos y representaciones sociales
                        <br>
                        *Oportunidades de sociabilidad, espacios de juegos y pertenencia
                        <br>
                        *Acceso a la información y participación en la vida cultural y deportiva
                        <br><br>
                        d) EDUCACIÓN
                        <br>
                        *Educación y rezago educativo
                        <br>
                        *Acceso a recursos educativos y aprendizajes significativos
                        <br>
                        *Percepción de la calidad educativa
                        <br>
                        *Acceso a apoyos escolares
                        <br><br>
                        e) PROTECCIONES ESPECIALES: TRABAJO INFANTIL
                        <br>
                        *Trabajo doméstico intensivo y el trabajo en actividad económicas
                        <br>
                        *Particularidades del trabajo económico (horas promedio, tipo de tareas)
                        <br>
                        *Participación educativa y laboral
                        <br>
                        A estas variables debemos sumar el consumo de aspectos culturales a través de los medios
                        tecnológicos (TV, Internet, celulares)
                        <br>
                        El estilo de vida es el resultado de la convergencia de todas estas variantes cuyo impacto,
                        según las capacidades e intereses de cada individuo, se expresaran a través de las ideas,
                        valores y creencias, con los cuales enfrentarán los distintos sucesos de la vida y las ofertas
                        que el momento histórico y el contexto social le ofrece.
                        <br>
                        Desde esta perspectiva integral, los estilos de vida no pueden ser aislados del contexto social,
                        económico, político y cultural al cual pertenecen y deben ser una consecuencia relacionada con
                        los objetivos del proceso de desarrollo de esa comunidad y los intereses de los diferentes
                        grupos.
                        <br>
                        Se puede dar el choque entre los objetivos dados por el establishment y los nuevos grupos con
                        diferentes concepciones y miradas críticas, a lo que manda el poder establecido.
                        <br>
                        Esto, debe ser aplicado también, al estudiar y analizar, la relación de los jóvenes con las
                        diferentes instituciones y generaciones con las cuales se vinculan, generando a veces conflictos
                        intergeneracionales e institucionales.
                    </p>
                    <p>
                        Asumiendo que los estilo de vida son una construcción social, resultado de la interacción de
                        múltiples variantes, debemos prestar atención y jerarquizar la relación de ellos con los medios
                        tecnológicos, donde al segmento joven consume la oferta cultural, hoy globalizada.
                        <br>
                        En ellos acceden a conocimientos y modelos culturales que incorporarán en forma selectiva a la
                        construcción de su subjetividad de acuerdo a sus intereses.
                        <br>
                        Estos están integrados con patrones cognitivos, afectivos-emocionales y conductuales que
                        muestran cierta consistencia en el tiempo, bajo condiciones más o menos consistentes y que
                        pueden mostrarse con comportamientos saludables o de riesgo.
                        <br>
                        Los estilos de vida son saludables, cuando los comportamientos disminuyen los riegos de
                        enfermar, tales como una alimentación saludable y equilibrada en sus componentes, un
                        <br>
                        adecuado control y tratamiento de las tensiones y emociones negativas, un buen régimen de
                        ejercicios, sueño y distracción; el control y la evitación del abuso de sustancias como la
                        cafeína, nicotina, alcohol y drogas ilegales; una correcta distribución, organización y
                        aprovechamiento del tiempo, tener una actividad sexual responsable y protegida, un uso racional
                        de los medios tecnológicos.
                        <br>
                        El análisis de los estilos de vida adquiere un interés creciente, ya que el conjunto de pautas y
                        hábitos de comportamientos cotidianos de los adolescentes y jóvenes, tienen un efecto importante
                        en su salud personal. Además, cada día aumenta la prevalencia del conjunto de enfermedades
                        relacionadas con los comportamientos y las consecuencias en la salud física y mental y su
                        repercusión en la vida social. Esto se agrava cuando estos jóvenes pertenecen a familias,
                        instituciones y contextos vulnerables. Se calcula que un tercio de las enfermedades en el mundo
                        pueden prevenirse mediante cambios en el comportamiento.
                    </p>
                    <p>
                        3.2 la familia
                        <br>
                        Históricamente la construcción de los estilos de vida estuvo vinculada íntimamente con el
                        entorno familiar, la educación y las instituciones sociales (religiosas, deportivas, culturales,
                        de salud).
                        <br>
                        La familia y la educación perdieron fuerza y fueron usurpados sus deberes por los medios y a su
                        vez debilitados por la situación económica y política consecuencia del modelo económico
                        globalizado imperante.
                        <br>
                        La familia que es la primera matriz de aprendizaje, es la que transmite los valores, las
                        tradiciones, hábitos y costumbres. Hoy se encuentra debilitada por el deterioro social, las
                        desigualdades e inequidades que dominan los escenarios sociales, tanto los países desarrollados
                        como en los emergentes. A esto debemos sumar y no desconocer la importancia de las
                        transformaciones en las últimas décadas del concepto de familia y las nuevas legislaciones al
                        respecto
                        <br>
                        La institución familia está atravesando nuevas construcciones, nuevas realidades. Está
                        conviviendo con nuevos modelos identificatorios, con todas sus variantes y complejidades.
                        <br>
                        Según expresa el licenciado Jorge H. Raíces Montero (7) “conocemos las numerosas situaciones que
                        en nuestra práctica profesional, por su propia singularidad, nos coloca ante encrucijadas éticas
                        que muchas veces monta, ora entre el respeto a teorías perimidas, pero vigentes, ora una
                        realidad insoslayables. Asistimos a tiempos de transición en las instituciones legadas por la
                        modernidad. Hoy hablamos de familias monoparentales por decisión, adopción en parejas tanto
                        conformadas por gays, lesbianas, travestis, transexuales, transgéneros, bisexuales e
                        intersexuales. . Hoy también hablamos de madre biológica, madres gestantes, madre ovárica, madre
                        social, madre juridica, madre psicológica. Por ello, sería mejor de hablar de procreación en
                        cambio de reproducción, pues respeta lo diverso y nos recuerda que entre los humanos hay
                        semejanzas, pero no identidad o igualdad”
                        <br>
                        Esta es una realidad que enfrentan los profesionales de distintas disciplinas que se ocupan de
                        acompañar el crecimiento y desarrollo de adolescentes y jóvenes. En muchos producirá un choque
                        cultural y se ampararán al enfrentar determinadas situaciones a la objeción de conciencia. Si
                        bien este es un derecho respetable, también lo es las de las nuevas construcciones familiares y
                        las de sus integrantes.
                        <br>
                        Estas transformaciones serán las que enfrentan y enfrentarán los profesionales que asistan a
                        estas poblaciones.
                        <br>
                        Enfrentamos en la actualidad una sociedad segmentada. Los diferentes movimientos sociales
                        adquieren cada vez una mayor significación.
                        <br>
                        En efecto, la organización social urbana, cada vez menos dependiente de la estructura familiar,
                        agrupa a los individuos de acuerdo a sus propias condiciones o intereses (clase, género,
                        ingresos económicos, preferencias de uso y consumo, estilos de vida, identidad sexual, nivel
                        generacional, perfil laboral o profesional, contexto habitacional) de suerte que el proceso de
                        identificación opera cada vez más de acuerdo a estas identidades colectivas , citado por Ramiro
                        Navarro Kuri en Juventud y Medios.
                        <br>
                        La pertencia educativa, el trabajo y la ocupación generan gradualmente un mayor impacto en las
                        relaciones sociales, pasando cada vez más a un segundo plano el vínculo familiar.
                        <br>
                        Hoy, el joven debe decidir cuál será su profesión, oficio y ocupación más allá de las
                        determinaciones parentales, quedando abierto y por consolidarse su proceso identificatorio. El
                        joven en este sentido, es un ente colectivo, por eso también, es tan proclive a la masificación.
                    </p>
                    <h3>4- LA CULTURA</h3>
                    <p>
                        Si bien hemos hecho referencia a la importancia de la educación, las instituciones de la
                        comunidad donde los adolescentes crecen y se desarrollan, debemos tener presente el
                        debilitamiento de ellas, en este mundo globalizado dirigido por el mercado y el poder
                        financiero.
                        <br>
                        Este capítulo destinado a los Estilos de Vida de los adolescentes y jóvenes, ocupa un lugar
                        privilegiado el análisis de LA CULTURA Y SU INCIDENCIA EN LA VIDA DE LOS JÓVENES.
                        <br>
                        Hoy, el vínculo de ellos con los medios tecnológicos, es muy intenso y está presente en la mayor
                        parte de las actividades diarias que realizan. De esta manera incide fuertemente en la
                        construcción de sus comportamientos, estilos de vida y armado de su subjetividad.
                        <br>
                        Se entiende la cultura como el conjunto de todas las formas, los modelos o los patrones,
                        explícitos o implícitos, a través de los cuales un grupo social se manifiesta. Como tal incluye
                        lenguaje, costumbres, prácticas, códigos, normas y reglas de la manera de ser, vestimenta,
                        religión, rituales, normas de comportamiento y sistemas de creencias. Este conjunto es absorbido
                        por los jóvenes a través de su vínculo con las diferentes tecnologías que frecuentan, llámese
                        internet, televisión, telefonía celular
                        <br>
                        La cultura juvenil es una realidad que debe ser reconocida a través de sus acciones y
                        producciones. Ignorarlas en el presente es enfrentar conflictos en el futuro.
                        <br>
                        Los jóvenes tienen la capacidad de reflexionar sobre sus intereses y la sociedad donde están
                        insertos. Perciben que sus miradas sobre la cultura de sus mayores nada tienen que ver con la
                        realidad que ellos viven y analizan.
                        <br>
                        La cultura juvenil, en muchos casos es motivos de conflictos, al tener experiencias, gustos y
                        tiempos diferentes comparados con el mundo adulto que frecuentan.
                        <br>
                        En opinión de Ramiro Navarro Kuri (8) “El consumo cultural nos muestra el conflicto entre pasado
                        y el presente, es visto ahora desde la óptica de la globalización y las producciones culturales
                        que se desplazan a los propios espacios juveniles, generando una heterogeneidad de culturas
                        juveniles, acorde a los territorios y estratos sociales. Esto plantea la diferenciación a través
                        de las identidades que se construyen y las producciones generadas por los diferentes grupos.
                        <br>
                        Este fenómeno llamado juventud, tan extraño para otras generaciones con la cual conviven,
                        preocupa, porque refleja los cambiantes comportamientos humanos en un mundo con transformaciones
                        y contradicciones permanentes
                        <br>
                        Enmarcado en estos escenarios presenciamos el impacto de la cultura de masas que consigue
                        fabricar a gran escala, con técnicas y procedimientos industriales, ideas, sueños e ilusiones,
                        estilos personales, y hasta una vida privada en gran parte producto de una técnica, subordinada
                        a una rentabilidad y a la tensión permanente entre la creatividad y la estandarización; apta
                        para poder ser asimilada.
                        <br>
                        La cultura de masas es el desarrollo de un nuevo modelo en el que se refuerzan las diferencias y
                        las desigualdades con estrategias e instrumentos mercadológicos cada vez más elaborados. La
                        ciencia y el conocimiento se ponen al servicio de la producción de unos valores y símbolos
                        estereotipados.
                        <br>
                        Los tres pilares fundamentales de esta cultura de masas son: una cultura comercial, una sociedad
                        de consumo y una institución publicitaria.
                        <br>
                        Esto impacta de diferentes maneras y construye diferentes estilos de vida según los diferentes
                        segmentos poblacionales, de jóvenes urbanos, periurbanos, rurales, de clases altas, medias o
                        bajas, con niveles de escolaridad diferenciados, según género y diversidad sexual.
                        <br>
                        En efecto, la organización social urbana, cada vez menos dependiente de la estructura familiar,
                        agrupa a los individuos de acuerdo a sus propias condiciones o intereses de clase, género,
                        ingresos económicos, preferencias de uso y consumo, estilos de vida, identidad sexual, edades,
                        laborales o profesionales, etcétera,) de suerte que el proceso de identificación opera cada vez
                        más de acuerdo a estas identidades colectivas. (9)
                        <br>
                        La pertencia educativa, el trabajo y la ocupación generan gradualmente un mayor impacto en las
                        relaciones sociales, pasando cada vez más a un segundo plano el vínculo familiar.
                        <br>
                        Hoy, el joven debe decidir cuál será su profesión, oficio y ocupación más allá de las
                        determinaciones parentales, quedando abierto y por consolidarse su proceso identificatorio. El
                        joven en este sentido, es un ente colectivo, por eso también, es tan proclive a la masificación
                        <br>
                        Monsivais (10) nos muestra como la modernización, parámetro de lo actual nos seduce, nos
                        confronta. Esta presencia seductora de otras formas de vida y de consumo, aparecen como una
                        seria amenaza para lo regional: su cultura, su identidad y sus tradiciones. La imitación es
                        alienación y el consumo es asimilación. Esta preocupación, ante el peligro de dejar de ser lo
                        que ésta pérdida gradual de nuestro universo simbólico significa, ha propiciado que diversos
                        autores se hayan dedicado en los últimos años, a reflexionar sobre lo que esto significa.
                        <br>
                        De esta manera, la cultura actúa como un vínculo que condiciona y da sentido a la construcción
                        de los diversos estilos de vida que observamos en la juventud.
                        <br>
                        Los movimientos culturales son dinámicos, incorporan nuevas producciones permanentemente, que se
                        manifiestan en cambios en los comportamientos y consumos, que muchas veces desconciertan a los
                        profesionales que lo asisten
                        <br>
                        Se puede observar en las distintas comunidades diferentes grupos que se identifican
                        territorialmente, por género, por edades, ocupación profesional o educativa, por intereses, por
                        vivenciar situaciones carenciales o no similares, lo crea empatía y condiciones para la
                        agrupabilidad.
                        <br>
                        Con sus manifestaciones culturales, los jóvenes son la punta del iceberg de un nuevo orden
                        social.
                        <br>
                        Bajo estas condiciones, no podemos analizar los movimientos juveniles como el mero resultado de
                        una rebeldía contra el orden social, cultural y político establecido.
                        <br>
                        Los movimientos estudiantiles y juveniles, actuales, constituyen una de las expresiones de un
                        cuestionamiento social que requiere de una comprensión específica por parte de cada uno de los
                        actores sociales.
                        <br>
                        El joven, como sujeto social, ya no admite que su vida se supedita a un futuro incierto, reclama
                        el reconocimiento de sus derechos y su participación en la construcción del nuevo orden social.
                        Con sus demandas busca ser escuchado y obtener respuestas que satisfagan sus necesidades y
                        modifiquen el orden actual, que los excluye de la construcción del presente y el futuro. En todo
                        caso, es su vida la que está en juego y esto presupone responsabilidad y conciencia ciudadana.
                        Esto está respaldado por legislaciones y convenios internacionales como son la Declaración de
                        los Derechos Humanos y la Convención Internacional de los Derechos del Niño
                        <br>
                        Estamos presenciando un grupo poblacional que reclama por sus derechos, visibilizando a través
                        de sus demandas. Esto debiera hacer reflexionar a los actores políticos, sociales,
                        comunicacionales, incluidos los responsables de los ámbitos universitarios de formación
                        profesional.
                        <br>
                        La importancia de la participación buscando la visibilización de sus necesidades y demandas, es
                        un camino correcto, como lo han demostrado a lo largo de la historia los movimientos de
                        trabajadores, los movimientos por los derechos de la mujer, por los derechos igualitarios y los
                        movimientos sociales a nivel planetario
                        <br>
                        Los jóvenes exigen ser reconocidos como ciudadanos capaces de construir sus destinos sociales y
                        participar activamente en la construcción de una sociedad más justa, igualitaria y con justicia
                        social.
                        <br>
                        La etapa juvenil no es la sola expresión de “una etapa de la vida” sino un ciclo en la evolución
                        humana que requiere tener un reconocimiento, que pueda satisfacer sus necesidades para asegurar
                        un crecimiento y desarrollo biosicosocial que le permita contar con las herramientas suficientes
                        para la inserción social.
                        <br>
                        La ex directora de la Oficina Panamericana de la Salud, Dra. Mirta Roses expresó “La juventud
                        iberoamericana representa hoy un tema crucial. Si no hacemos ahora las inversiones que este
                        grupo social requiere, pagaremos las consecuencias en el mediano y largo plazo. Es la generación
                        que debemos proteger”. (11)(Roses Mirta, Salud pública y juventud”. Los desafíos abiertos. Es
                        difícil ser Joven en América Latina. Pág.69-94. Editorial Sudamericana. PUND. 2010)
                        <br>
                        Si la reacción juvenil es entendida como contracultura, bien podría decirse que se trata de un
                        rechazo a las instituciones del poder que enmascaran su accionar, bajo con la justificación de
                        hacer valer los valores nacionales históricamente instalados
                        <br>
                        Esta formar de ejercer el poder como los valores de la democracia, herramientas que utilizan las
                        instituciones de gobiernos, como el funcionamiento de las Organizaciones Internacionales, deben
                        ser revisadas y actualizadas, ante los fracasos que presenciamos hoy día a nivel planetario. Si
                        no se hace, como dice la Dra. Mirta Roses pagaremos las consecuencias en el mediano y largo
                        plazo.
                        <br>
                        Muchas de las letras del rock y sus similares en diferentes territorios, muestran la mirada
                        crítica de los jóvenes y no tan jóvenes, acerca del mundo que viven y expresan sus vivencias y
                        demandas.
                        <br>
                        Dentro de lo que llamamos cultura juvenil, encontramos la participación de no tan jóvenes, lo
                        que demuestra la apropiación por parte de integrantes de otras generaciones; lo que da un
                        significado mayor a los estilos de vida y consumos culturales que muestran los jóvenes.
                        <br>
                        El modo de vida, al ritmo y a la manera de ser joven, construye un nuevo paradigma con impacto
                        en la vida productiva y placentera.
                        <br>
                        La población de niños, adolescentes y jóvenes mueven el mayor nivel de consumo. De ahí la
                        importancia para las empresas productoras de insumos para este segmento poblacional. Estas
                        imponen muchos aspectos que integran los estilos de vida, como el consumo de alimentos,
                        vestimenta, música, publicidad, lugar de reuniones, entretenimientos y consumos no saludables
                        como el abuso de alcohol, tabaco y drogas ilegales
                        <br>
                        Esta realidad hace que muchos jóvenes asuman comportamientos de riesgos. De una generación a
                        otra, la tolerancia social muestra un nivel en aumento de los comportamientos de riesgo. El
                        joven tiene derecho a experimentar con su cuerpo, con el orden, con su ropa, sus amores y
                        amistades, con el lenguaje y sus expresiones.
                        <br>
                        Si el mundo adulto, con responsabilidad política, social, publicitaria, no da respuestas a sus
                        demandas es posible que se enfrenten con fenómenos de violencia
                        <br>
                        La juventud, como fenómeno social, sólo puede ser definida y comprendida en términos de cultura.
                    </p>
                    <p>
                        4.1 Cultura juvenil y pobreza
                        <br>
                        La cultura juvenil se instala como propuesta de renovación de la cultura en la que se inserta.
                        <br>
                        Si la juventud se mueve en los márgenes de la cultura, es también, consecuentemente, “zona de
                        conflicto”. Pero obviamente, esta condición conflictiva no se expresa con la misma intensidad
                        confrontante en una sociedad rural que en una urbana. Por eso, la juventud como “problema
                        social” tiende a ubicarse de modo generalizado en las sociedades urbanas
                        <br>
                        La ciudad moderna es un espacio de contradicciones que sitúa a los ciudadanos, entre el
                        reconocimiento y la exclusión, entre la igualdad y el respeto por sus derechos desde lo
                        discursivo y la violación a los mismos, implementa acciones y leyes para satisfacer la demanda
                        democrática y en el accionar concreto del día a día mantiene una estructura de dominación
                        <br>
                        Sin embargo, las construcciones juveniles heterogéneas nos permiten ver características
                        diferenciales en sus estilos de vida y manifestaciones, a partir de su interacción familia,
                        barrio, clase, nivel educativo y económico.
                        <br>
                        Mientras los jóvenes de clase media suelen identificarse por sus consumos propuestos por los
                        medios de comunicación locales y globalizados; los jóvenes de las zonas populares se distinguen
                        por sus producciones y agrupamientos locales, aun que aspiran a tener muchos de los consumos que
                        tiene las clases altas y medias. Esto genera condiciones para la agrupabilidad para el delito.
                        Estos grupos toman diferentes nombres de acuerdo a los países (pandillas, maras, marginales),
                        Son producto de la exclusión social.
                        <br>
                        Es así como presenciamos que el joven de clase alta construye su seguridad y su estar en el
                        mundo apoyado en su historia y respaldo familiar, el joven de clase media se apoya en el
                        presente y en lo posible que la realidad le muestra, el joven de clase baja se proyecta en un
                        futuro incierto. Esto también lo sienten jóvenes de clase media y alta, independizados de la
                        institución familiar. Muchas de las demandas juveniles que en este momento presenciamos en el
                        mundo lo muestran,
                        <br>
                        Así, pues, la juventud urbana parece estar caracterizada por el fenómeno de los grupos
                        juveniles, definido en muchos trabajos como tribus urbanas
                        <br>
                        Una tribu urbana es un grupo de gente que se comporta de acuerdo a las ideologías de una
                        subcultura, que se origina y se desarrolla en el ambiente de una urbe o ciudad.
                        <br>
                        Las subculturas como tribus urbanas son más comunes en las grandes urbes o metrópolis, donde la
                        complejidad y el inmenso tamaño de la ciudad y la sociedad crean una sensación de alienación o
                        aislamiento del nivel individual.
                        <br>
                        Esto, en efecto, puede conducir a la formación de tribus urbanas cuyos miembros están unidos
                        bajo un conjunto de características, pensamientos, modas e intereses comunes para formar una
                        pequeña comunidad relativamente pequeña, pero con identidad propia.
                        <br>
                        El neologismo de tribu urbana fue utilizado por primera vez en el 1990 por Michel Maffesoli en
                        un libro llamado "El Tiempo de Las Tribus". Recientemente se ha venido hablando de un movimiento
                        y una tendencia de pensamiento llamada neo-tribalismo que en mucho explicaría el fenómeno de las
                        tribus urbanas como intentos de recuperar la interacción humana la cual se ha perdido debido al
                        aislamiento y la alienación de la sociedad moderna.
                        <br>
                        La interacción cultural y las condiciones socio-económicas-educativas generan una trama cultural
                        compleja y una construcción de estilos de vida diferentes según la pertenencia e identificación
                        con niveles socioeconómicos,educativos y territoriales,
                        <br>
                        Lo popular se identifica con los estratos pobres y marginales.
                        <br>
                        Existe un segmento de población joven que “ni estudian ni trabajan”, grupos de jóvenes que
                        disponen del suficiente ocio como para convertirse en algunos países, en una amenaza
                        <br>
                        Las condiciones sociales generan comportamientos y estilos de vida muchas veces conflictivos
                        para el poder. Distintas sociedades nos muestran hoy, el ejercicio de un autoritarismo represivo
                        con los jóvenes por el simple hecho de serlo.
                        <br>
                        La mayor preocupación del poder, no es modificar las estructuras para facilitar un desarrollo de
                        calidad a estas poblaciones, sino realizar acciones y nuevas legislaciones que aseguren el
                        “orden” del poder instalado y cuestionados por los movimientos juveniles.
                        <br>
                        Es importante reconocer que las instancias de dominio no admiten alteraciones cualquiera sea la
                        composición del movimiento social y que cuestione el desenvolvimiento social establecido de los
                        Estados.
                        <br>
                        La juventud es rebelde, pero no podemos considerar que se trate simplemente de una naturaleza
                        impulsiva, sino de una condición socialmente contestataria.
                        <br>
                        La rebeldía del joven responde frente a un modo de vida que él necesita resignificar y
                        reordenar. Y en todo caso habría que recordar que estos conflictos generacionales son inherentes
                        a la condición humana
                        <br>
                        La generación de estas demandas, forman parte del desarrollo de los estilos de vida, responden a
                        los desaciertos del poder que no responden a las necesidades que los jóvenes necesitan
                    </p>
                    <p>
                        En este contexto, muchos jóvenes, sienten la necesidad de organizarse en el barrio, de adoptar
                        un lenguaje común que los identifique, signos y símbolos que se comparten tales como los
                        graffiti, murales, tatuajes, el estilo, relaciones de status y de poder tales como la valentía,
                        el estoicismo, el fetichismo.
                        <br>
                        Monsivais (10) aporta, “al lado de estas formas contraculturales, y con frecuencia conociéndolas
                        apenas, otro sector, muy vasto, se desenvuelve, centrado en el rock, los “paraísos artificiales”
                        de la pobreza, el habla que reproduce o exorciza la violencia de las calles y de la búsqueda de
                        empleo, la agrupabilidad en grupos tribales. En la década de los ochenta, esta contracultura
                        genera un arquetipo (estereotipo) ubicuo, amenazante, pasto de sociólogos y psicólogos: el joven
                        marginal, excluido. sobrante, producto evidente del crecimiento urbano y de la destrucción del
                        horizonte de oportunidades, consecuencia del modelo imperante neoliberal.
                        <br>
                        Muchos de estos conceptos son aplicables, para su interpretación para las poblaciones migrantes
                        insertos en las grandes urbes.
                    </p>
                    <h3>5- Propuestas</h3>
                    <p>
                        1-la realización de este capítulo partió de una revisión bibliográfica en fuentes de salud y en
                        servidores internacionales. (Bireme.Org, Scielo, Medline, Lilacs, Google
                        <br>
                        2- en las bibliotecas virtuales de salud (BVS) el acento está colocado en estilos de vida y su
                        relación con enfermedades (hipertensión, diabetes, obesidad). En los servidores no
                        correspondientes a salud se puede acceder a estilos de vida y su relación con la cultura
                        <br>
                        3- no hay duda que los estilos de vida de los adolescentes y jóvenes a de condicionar los
                        posibles riesgos en la vida adulta. Describirlo merece otro capítulo.
                        <br>
                        4-es importante tener presente la trayectoria de vida, el ejercicio profesional y los valores
                        personales con que los profesionales enfrentamos en las consultas los nuevos estilos de vida,
                        productos de las nuevas conformaciones sociales
                        <br>
                        5- es un desafío asumir esta realidad y encuadrar nuestro accionar desde la Ética y el respeto
                        por los Derechos Humanos
                        <br>
                        6- para tener una real comprensión de la SALUD INTEGRAL y ESTILOS DE VIDA debemos incorporar
                        lecturas, no médicas
                    </p>
                    <p>
                        Bibliografía Sugerida:
                        <br><br>
                        LA DOCTRINA DEL SHOCK. Naomi Klein. Ed. Paidós. 2007
                        <br>
                        NO LOGO. Naomi Klein. Ed. Paidós.2001
                        <br>
                        HITLER GANÓ LA GUERRA. Walter Graciano. Ed. Sudamericana. 2004
                        <br>
                        NADIE VIO A MATRIX. Walter Graciano. Ed. Planeta. 2007
                        <br>
                        PENSAR SIN ESTADO. Ignacio Lewkowicz. Ed. Paidós. 2004
                        <br>
                        PRIMERO LA GENTE. Amartya Sen. B. Kliksberg. Ed. Deusto.2007
                        <br>
                        ES DIFÍCIL SER JOVEN EN LATINO AMÉRICA. Bernardo Kliksberg. Ed. Sudamericana. 2010
                        <br>
                        DESARROLLO Y LIBERTAD. Amartya Sen. Ed. Planeta. 2000
                    </p>
                    <h3>Bibliografia</h3>
                    <p>
                        1- Bradf, E, Educación para la Salud: la importancia del concepto. Revista de Educación y
                        Desarrollo, 1. Enero-marzo de 2004
                        <br>
                        2- Walter Graciano .Hitler ganó la guerra. Ed. Sudamericana. 2004
                        <br>
                        3- Walter Graciano. Nadie vio a Matrix. Ed. Planeta. 2007
                        <br>
                        4- OPS/OMS, Washington, DC, Publicación Científica Nº 557, pag 3-5.1966
                        <br>
                        5- Enrique Saforcada. Posgrado en Salud Social y Comunitaria. Instituto Universitario de
                        -Ciencias de la Salud. Facultad de Medicina. Fundación H. A. Barceló Modulo 5. 2006
                        <br>
                        6-Observatorio de la Deuda Social Argentina. Informe investigación 2011. Universidad Católica
                        Argentina. Buenos Aires
                        <br>
                        7- J H. Raíces Montero. Nuevas Formas Familiares. Cáp. Epistemología de las diferencias
                        Pág.137-158. Universidad de Bs. As. Facultad de Ciencias Sociales. Ed. Espacio. 2011
                        <br>
                        8- Ramiro Navarro Kuri. Cultura Juvenil y Medios. Instituto Mexicano de la Juventud. Noviembre
                        2009
                        <br>
                        9- N. García Canclini. Cultura y Pospolítica..Citado por Ramiro Navarro Kuri. En Cultura juvenil
                        y medios. Instituto Mexicano de la Juventud. Noviembre 2009
                        <br>
                        10- Carlos Monsivais.. Para un cuadro de costumbres de cultura y vida cotidiana de los noventa.
                        Cuadernos políticos. Ed. Era. México.
                        <br>
                        11- Roses Mirta, “Salud pública y juventud”. Los desafíos abiertos. Es difícil ser Joven en
                        América Latina. Pág.69-94. Editorial Sudamericana. PUND. 2010
                    </p>
                    <a href="/img/posts/estilos-de-vida.doc" class="descarga">DESCARGAR PUBLICACION - Estilos de vida</a>

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>