<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayudando a formar hijos responsables | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Ayudando a formar hijos responsables</h1>
                    </div>
                    <p>
                        La Sociedad Argentina de Pediatría, en su revista Archivos Argentina de Pediatría Junio-2012 nos
                        plantea:
                        <br>
                        <strong><i>
                                “…muy probablemente, la mayoría de los seres humanos deseamos hacer bien las cosas que
                                realizamos, a veces podemos lograrlo y a veces no. Para efectuar algo bien hecho,
                                primero
                                debemos aprender, pero asimismo, es imprescindible perseverar y ser exigente con uno
                                mismo. Este
                                último aspecto forma parte esencial de lo que se denomina actitud crítica. Todos los
                                individuos
                                la pueden desarrollar, aunque lamentablemente no abunda. En cualquiera de las
                                actividades del
                                hombre, aún las más disímiles entre sí, los mejores resultados se logran a través de una
                                actitud
                                que revise críticamente nuestro accionar”.
                            </i></strong>
                    </p>
                    <p>
                        Compartiendo este criterio, quisiera realizar un análisis crítico del trabajo realizado desde
                        1990, con continuidad, hasta la actualidad en el área de Prevención del consumo de sustancias
                        legales e ilegales, del cual participo, asumiendo un compromiso ético. Dicho trabajo fue
                        realizado tanto desde el ámbito Universitario como profesor titular en la Cátedra de Prevención
                        de la Maestría en Prevención y Asistencia a las Adicciones, desde la gestión en territorio como
                        Director Regional de la Secretaria de Prevención y Asistencia a las Adicciones de la Provincia
                        de Buenos Aires en un convenio entre la Universidad y el Gobierno de la Provincia de Buenos
                        Aires, como así también desde la formación docente como Director del Postgrado de Salud Social y
                        Comunitaria del Instituto Universitario de Ciencias de la Salud, Facultad de Medicina.
                    </p>
                    <p>
                        Durante todos estos años las diferentes modalidades de trabajo tuvieron como objetivo brindar a
                        la población e instituciones de la comunidad información-educación sobre las modalidades de
                        consumo, los efectos sobre la salud de las diferentes drogas, construir redes sociales que
                        permitan tempranamente la detección del consumo y poder acercar a la población afectada a los
                        centros asistenciales.
                    </p>
                    <p>
                        Este programa destinado a una población de quince millones de habitantes fue implementado con
                        mil doscientos profesionales universitarios rentados, nos permite arribar a las siguientes
                        conclusiones:
                        <br>
                        - La diseminación de información transmitidas por los profesionales sensibilizó a la población
                        sobre el tema y permitió mayor nivel de conciencia sobre las consecuencias del consumo en las
                        familias y el impacto que el crecimiento del narcotráfico ocasiona a sus integrantes y a las
                        instituciones de la comunidad. Creo, que todas las personas, profesionales o no, somos
                        conscientes de la dimensión e influencia que instaló el narcotráfico, no solo en nuestro país,
                        sino en todo el planeta
                        <br>
                        - Podemos afirmar que esta modalidad de trabajo preventivo, permitió la detección temprana, por
                        parte de las familias y adultos, antes de los seis meses, a niños, adolescentes y jóvenes que se
                        iniciaban en el consumo. Al inicio del programa, la detección de personas que consumían llevaba
                        una historia entre ocho y doce años de consumo ya que anterior a este programa no existían
                        centros asistenciales en el estado provincial.
                        <br>
                        - Durante este programa se crearon en cada municipio centros preventivos asistenciales (134
                        CPA). Esto permitió el desarrollo de programas preventivos y contar en su lugar de residencia
                        donde poder recibir asistencia.
                        <br>
                        - El beneficio de las instituciones y los intercambios internacionales relacionados con esta
                        problemática permitió potenciar y enriquecer las experiencias.
                        <br>
                        - Este programa universitario estuvo a cargo de la Universidad del Salvador (Argentina) y la
                        Universidad de Deusto (España).
                    </p>
                    <p>
                        Dos interrogantes debemos plantearnos luego de la experiencia realizada y la realidad presente:
                        <br>
                        1 ¿Brindar a la población información en actividades como conferencias, clases, manuales con
                        información y estrategias educativas a cargo de instituciones docentes de los cuatro niveles:
                        inicial, primaria, secundaria, terciaria-universitaria, (modalidad implementada desde los años
                        90) ayudan en la actualidad a: construir comportamientos saludables, brindar herramientas a los
                        más jóvenes para enfrentar las diferentes modalidades de ofertas de drogas disponibles en los
                        territorios que viven y conviven con diferentes grados de deterioro económico, social y
                        político?.
                        <br>
                        Respuesta: hoy día, creo que no.
                    </p>
                    <p>
                        La información/educación debe ser un proceso contínuo y permanente a cargo en primer lugar de
                        los padres acompañado por los docentes y todos aquellos que cumplen alguna función con la
                        población de niños, adolescentes y jóvenes, utilizando las nuevas tecnologías de comunicación (
                        celulares, instagram, Whats App, YouTube, Face, etc. etc), teniendo presente las nuevas formas
                        de comunicación (mensajes cortos, con predominio de imágenes, música, color, velocidad y
                        repetidos) como lo hacen los medios de comunicación para alcanzar sus objetivos de impacto
                        publicitario y consumo.
                        <br>
                        2 ¿La experiencia y los logros de la diseminación de información y los acercamientos de los
                        centros asistenciales fue una intervención útil en su momento?
                        <br>
                        Respuesta: sí, fue adecuada en su momento, pero hoy devaluada por la falta de financiación y de
                        decisiones políticas que la respalden.
                    </p>
                    <p>
                        Hoy, esta modalidad de intervención, no alcanza para proteger a las futuras generaciones. Por lo
                        tanto, aprendiendo de esta experiencia, revisando críticamente nuestro accionar y teniendo una
                        actitud crítica y ética es imperativo repensar nuevas propuestas.
                        <br>
                        Este es un desafío para los profesionales comprometidos con esta problemática, también con todas
                        las personas que acompañan el crecimiento y desarrollo de nuestros niños. El desinterés de
                        actores políticos, nos muestra que la situación que vivimos y la vulnerabilidad que afecta a
                        nuestra población, no retroceden, sino que se instaló definitivamente, como nos muestran el
                        incremento de poblaciones afectadas y la instalación de diferentes eslabones de la
                        comercialización de drogas en todos los territorios.
                        <br>
                        Debemos incorporar objetivos de formación y brindar herramientas a los padres de las futuras
                        generaciones, sin descuidar, con nuevas estrategias, a las generaciones actuales, potenciales
                        víctimas de este flagelo y dedicar un esfuerzo muy grande en capacitar a profesionales y
                        poblaciones de los territorios más vulnerables.
                    </p>
                    <h3>LA RESPOSABILIDAD INDIVIDUAL SE CONSTRUYE</h3>
                    <p>
                        Debemos ayudar a construirlas desde el nacimiento, ayudando a los padres jóvenes y dando
                        herramientas, junto a los pediatras y a todo personal que trabaje con niños. Para alcanzarla
                        debemos tener presente los siguientes conceptos[1] con la finalidad de acompañar y ayudar a
                        asumir comportamientos responsables:
                    </p>
                    <ol>
                        <li>No existe una regla mágica que confirme que a determinados años se tienen que realizar
                            ciertas tareas. Depende de muchas variables: maduración del niño, conocimientos, educación
                            de los padres, entorno en el que vive, si es hijo único, el menor de varios hermanos. El
                            problema, según los expertos, es que los padres apenas exigen tareas a sus hijos, ni a
                            edades tempranas ni en la adolescencia.
                        </li>
                        <li>
                            Al hablar con padres de adolescentes y plantear qué responsabilidades desempeñan los hijos
                            en casa, la respuesta suele ser “ninguna”. Nada de autonomía personal respecto a su ropa,
                            cuarto, etc., y menos aún respecto a la contribución familiar para ayudar a hacer las
                            compras y participar en las actividades diarias del hogar.
                        </li>
                        <li>
                            La experiencia nos demuestra a diario la necesidad de crear responsabilidades en forma
                            gradual desde los primeros años de vida. La transmisión no solo debe ser verbal, sino con el
                            ejemplo que damos diariamente los padres con nuestros comportamientos.
                        </li>
                        <li>
                            En la adolescencia se tendrán que enfrentar con ofertas que instan a consumir, tabaco,
                            alcohol, marihuana, tener relaciones sexuales sin protección o ser víctimas de abusos
                            sexuales, maltratos, violencia o engaños. Enfrentar comportamientos y situaciones de mucho
                            riesgo que exigen tomar decisiones y enfrentar la presión de los grupos de pertenencia.
                            Debemos trabajar y aportarles herramientas para que puedan dar respuestas responsables que
                            no afecten su salud y calidad de vida
                        </li>
                    </ol>
                    <p>
                        Si asumimos este compromiso de ser padres responsables para acompañar y fortalecer a nuestros
                        hijos para enfrentar escenarios de mucha complejidad y riesgos, debemos incorporar a los
                        pediatras y a personal de otras profesiones que en su trabajo se vinculen con niños,
                        adolescentes y sus familias, con promoción de enseñanzas diarias que permitan ser incorporadas
                        por el niño, en diferentes momentos de su crecimiento y desarrollo. Por ejemplo:
                    </p>
                    <p>
                        A LOS 2 AÑOS
                        <br>
                        · Recoger sus cosas
                        <br>
                        · Alimentar mascotas
                        <br>
                        · Recoger y guardar los juguetes
                        <br>
                        · Cepillarse los dientes
                        <br>
                        · Ayudar en tareas simples
                        <br>
                        · Limpieza del chupete.
                        <br>
                        · Lavarse manos limpias
                    </p>
                    <p>
                        A LOS 3 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Ayudar en diferentes tareas
                        <br>
                        · Recoger y guardar sus juguetes
                        <br>
                        · Recoger su ropa y sus zapatillas y guardarlas
                        <br>
                        · Aprender a bañarse
                        <br>
                        · Aprender a jugar con juguetes limpios, distinguir agua limpia, beber de recipientes personales
                    </p>
                    <p>
                        A LOS 4 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Recoger sus cosas y guardarlas
                        <br>
                        · Colaborar en la limpieza de su habitación
                        <br>
                        · Aprender a ordenar su habitación
                        <br>
                        · Recoger sus juguetes y útiles luego de utilizarlos
                        <br>
                        · Ordenar su mochila.
                        <br>
                        · Mostrar a los padres lo realizado en los espacios que utiliza
                        <br>
                        · Ayudar en diferentes tareas
                        <br>
                        · Se desviste solo y se viste con ayuda
                        <br>
                        · Le interesa jugar con otros niños
                        <br>
                        · Aprende a compartir las cosas y esperar su turno
                        <br>
                        · Se lava las manos antes de comer
                        <br>
                        · bañarse solo, supervisado por un adulto
                    </p>
                    <p>
                        A LOS 5 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Lavar los platos
                        <br>
                        · Limpiar la bañera por encima
                        <br>
                        · Sacar la basura
                        <br>
                        · Barrer diferentes áreas de la casa
                        <br>
                        · Limpiar superficialmente muebles
                        <br>
                        · Limpiar algún espacio del baño por él utilizado
                        <br>
                        · Dejar ordenados los objetos que utilizó
                        <br>
                        · Autonomía en el acto de la comida
                        <br>
                        · Cuidar hermanos más pequeños
                        <br>
                        · Le agrada cumplir encargos sin cruzar la calle
                        <br>
                        · Se comporta en desacuerdo con algunas normas
                        <br>
                        · Armar la mesa para almuerzo o cena
                        <br>
                        · Ayudar a levantar de la mesa elementos utilizados
                        <br>
                        · Trabajar en la huerta
                        <br>
                        · Regar plantas
                        <br>
                        · Limpiar rincón de mascotas
                        <br>
                        · Comprender la importancia de las vacunas
                        <br>
                        · Comprender la importancia de los controles médicos y odontológicos
                        <br>
                        · Comprender la importancia de las indicaciones, señales enseñanzas viales
                    </p>
                    <p>
                        A LOS 6 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Limpiar la habitación a fondo
                        <br>
                        · Pasar la aspiradora
                        <br>
                        · Hacer su cama
                        <br>
                        · Limpiar muebles a fondo
                        <br>
                        · Bañarse solo
                        <br>
                        · Buscar y preparar la ropa que va a utilizar
                        <br>
                        · Dar de comer a las mascotas
                        <br>
                        · Limpiar el jardín
                        <br>
                        · Regar plantas interiores
                        <br>
                        · Prepararse la merienda
                    </p>
                    <p>
                        A LOS 7-8 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Cortar el césped
                        <br>
                        · Ayudar a lavar el coche o bicicleta
                        <br>
                        · Ayudar a lavar los pisos
                        <br>
                        · Administrar su dinero semanal
                        <br>
                        · Integrar grupos del mismo sexo
                        <br>
                        · Se desplaza solo a lugares cerca (colegio, casa de amigos)
                        <br>
                        · Comienza la autonomía personal y puede controlar sus impulsos, en función de sus intenciones.
                        <br>
                        · Es capaz de organizarse en la distribución del tiempo, del dinero y de los juegos.
                        <br>
                        · Todavía precisa alguna supervisión.
                        <br>
                        · Pueden dársele responsabilidades diarias: preparar el desayuno, bañarse, realizar una compra,
                        etc. <br>

                        · Aprender y pensar sobre su responsabilidad en el cuidado de su salud,
                        <br>
                        · Conocer formas de cuidarse y descubrir situaciones que la deterioran
                        <br>
                        · Analizar el comportamiento de sus amigos. Rescatar lo bueno y rechazar lo malo
                    </p>
                    <p>
                        A LOS 9-10 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        · Se enfadan con lo prohibido
                        <br>
                        · Cumple órdenes al pie de la letra
                        <br>
                        · Puede cuidar hermanos menores
                        <br>
                        · Puede limpiar cristales de fácil acceso
                        <br>
                        · Va adquiriendo noción de justicia
                        <br>
                        · Comprende normas morales de acuerdo a los ejemplos de los adultos
                        <br>
                        · Ya es bastante autónomo y responsable.
                        <br>
                        · Suele tener una organización propia.
                        <br>
                        · Puede encargarse de alguna tarea doméstica
                        <br>
                        · Le gusta que se le recompense por la tarea que se le encomienda
                        <br>
                        · Le gusta tomar decisiones y oponerse al adulto con cierta rigidez
                        <br>
                        · Se identifica con su grupo de amigos en el que cada uno tiene una función asignada y se acata
                        lo que dicta el jefe de la pandilla.
                        <br>
                        · Se interesa por recibir información, adecuada a su edad acerca de ofrecimientos, de amigos o
                        publicidad, sobre diferentes consumos, comportamientos de riesgo
                        <br>
                        · Pensar si afecta su salud
                        <br>
                        · Reconoce lo que hace mal, pero siempre busca excusas
                    </p>
                    <p>
                        A LOS 11-12 AÑOS (ellos observan e imitan a los adultos).
                        <br>
                        La influencia de los amigos comienza a ser decisiva y su conducta estará influenciada en gran
                        parte por el comportamiento que observa en sus amigos y amigas o compañeros de clase.
                        <br>
                        · Informarse sobre comportamientos riesgosos e identificarlos (viales, vehiculares, de consumo
                        alimentarios, bebidas, sustancias legales e ilegales, deportes de riesgo, de comportamientos en
                        contra de normas sociales establecidas para su comunidad
                        <br>
                        · Los hermanos y hermanas mayores tienen más influencia sobre ellos que los padres.
                        <br>
                        · Aparece una etapa en la que la crítica suele ser muy frecuente y dirigida hacia sus padres y
                        profesores
                        <br>
                        · No le gusta que le traten de un modo autoritario, como a un niño
                        <br>
                        · Reclama autonomía en todas sus decisiones
                        <br>
                        · Necesita tener amigos y depositar en ellos su intimidad
                        <br>
                        · Es leal al grupo y su moral es la de sus iguales
                        <br>
                        · Imita en la forma de vestir, en los juegos, los gustos y elecciones, etc.
                        <br>
                        · Tiene sentido de responsabilidad y trata de cumplir sus obligaciones y se hace más flexible en
                        sus juicios
                        <br>
                        · Su comportamiento es mejor fuera del entorno familiar. Tiene capacidad para valorar lo bueno o
                        malo
                    </p>
                    <h3>Importante: lo aprendido en un año no se debe abandonar, si no sumar a lo de los años
                        subsiguientes.</h3>
                    <p>
                        Desde la experiencia personal, cada uno que se interese puede agregar, sacar, sugerir, de
                        acuerdo a valores familiares y contextos donde residen. Debemos tener presentes que convivimos
                        con grupos sociales y contextos sociales heterogéneos, culturas diferentes, contextos
                        geográficos diferentes y cambiantes.
                        <br>
                        La autonomía es un proceso que ocurre en una de las etapas de mayor complejidad del crecimiento
                        y desarrollo, momento en el que se construye la personalidad y comienza un período de cambios
                        biológicos, psicológicos, sociales y culturales. Se presentan situaciones como las de ir solos a
                        determinadas actividades, compartir salidas con los compañeros de clase o hacer mandados en la
                        vecindad (primeras experiencias de autonomía en la etapa adolescente).
                        <br>
                        Los padres deben acompañarlos en las primeras experiencias y enseñarles sin dudar acerca de sus
                        habilidades y capacidades, explicarles los riesgos y las medidas de seguridad que deben tomar,
                        evitando que los temores los paralicen.
                        <br>
                        Mucho amor y afecto son los elementos fundamentales y necesarios para llevar adelante esta etapa
                        en las familias que se consideran responsables y asumen ese rol en el cuidado y enseñanza de sus
                        hijos, desde el nacimiento.
                        <br>
                        Los padres no pueden controlar todas las circunstancias en el que viven los chicos, pero sí
                        pueden enseñar a enfrentar los riesgos. con un criterio unificado, tienen que transferir sus
                        experiencias a sus hijos, enseñarles cómo se puede resolver tal situación, responder con
                        claridad a sus interrogantes y generar en ellos seguridad hacia sus padres. Esta confianza es el
                        punto inicial del vínculo y la aceptación de los límites, en cumplimiento del rol asignado a los
                        padres, es la matriz necesaria para que ellos puedan cuidarse por sus propios medios.
                        <br>
                        La forma más simple del aprendizaje es la imitación. Desde la experiencia personal, cada uno que
                        se interese puede agregar, sacar, sugerir, de acuerdo a valores familiares y contextos donde
                        residen.
                        <br>
                        Debemos tener presentes que convivimos con grupos sociales y contextos sociales heterogéneos,
                        culturas diferentes, contextos geográficos diferentes y cambiantes. A medida que los niños van
                        creciendo, van sumando día a día experiencias compartidas en el hogar, en la calle, con sus
                        padres: transmisión de las normas, las costumbres y también los peligros.
                        <br>
                        Es fundamental explicar cuáles son los riesgos y cuáles las medidas de seguridad para evitar los
                        que son prevenibles y qué hacer ante una situación de inseguridad, que tanto le puede ocurrir a
                        un chico como a un adulto.
                    </p>
                    <p>
                        En la crianza, muchas veces se vuelve inevitable para los padres comparar con la educación que
                        ellos recibieron cuando tenían la edad de sus hijos. Pero a la vez, los tiempos se van
                        transformando y los peligros también. Hoy es tan importante conversar con los jóvenes acerca de
                        los peligros y las medidas de seguridad en la calle, como de la inseguridad en las redes
                        sociales, algo que resulta mucho más difícil de advertir por los padres de los adolescentes de
                        esta generación, porque ellos no transitaron por el universo virtual durante su juventud. Los
                        padres tienen que confiar en sus hijos y darles tiempo -no todos maduran al mismo tiempo- para
                        que puedan ensayar su autonomía las veces que sea necesario antes de emprender esta nueva etapa.
                        <br>
                        Muchos son los aportes y trabajos realizados en prevención del abuso de sustancias en más de
                        tres décadas. Desde diferentes instituciones y con el aporte de profesionales de diferentes
                        disciplinas, se han propuestos trabajos preventivos con adolescentes y jóvenes, escuelas,
                        familias y comunidad. Este accionar responde a diseños curriculares en la formación de
                        profesionales interesados.
                    </p>
                    <h3>El escenario actual y futuro requiere nuevas maneras de pensar la prevención</h3>
                    <p>
                        Siendo mis orígenes en la vida profesional la pediatría, rescato la oportunidad que tienen los
                        pediatras, así como los docentes que trabajan en los primeros años, de ofrecer y entusiasmar a
                        los nuevos padres por construir un nivel de responsabilidad con sus hijos, para poder enfrentar
                        escenarios de riesgos.
                        <br>
                        Haciendo una evaluación del escenario actual, el narcotráfico y la ineficacia y desinterés de
                        actores políticos, nos muestra que la situación que vivimos y afecta a nuestra población no
                        retrocede y se instaló definitivamente, como nos muestran muchos países a nivel mundial.
                        <br>
                        Estamos acostumbrado a trabajar el aquí y el ahora. Las estrategias utilizadas tienen que
                        actualizarse y saber que cuando trabajamos con poblaciones mayores de diez años, muchas veces
                        llegamos tarde, especialmente por las características de la etapa adolescente y de jóvenes y por
                        la gran influencia de los medios de comunicación y la industria de la noche.
                    </p>
                    <p>
                        Aportes preventivos para adolescentes del libro “Payasos tristes 2”
                        <br>
                        (Fernández D’Adam-Tevez Lombardo-Panzadoliani) Ed AKADIA
                    </p>
                    <h3>CAJA DE HERRAMIENTAS PREVENTIVAS EN ADICCIONES</h3>
                    <p>1.Saber
                    <ul>
                        <li>Información clara sobre drogas, efectos y consecuencias, falsa creencias.</li>
                        <li>Información sobre adicciones a los TICs y función de los padres.</li>
                        <li>Desmitificación del fenómeno de consumo y abuso solo en adolescentes.</li>
                        <li>Aspecto económico-social-cultural.</li>
                        <li>Red de asociación con otros padres.</li>
                    </ul>
                    </p>
                    <p>2.Querer
                    <ul>
                        <li>Material para reflexionar sobre necesidades, valores formas de tomar decisiones de los
                            adolescentes.</li>
                        <li>Estar los padres atentos a la realidad, no negarla.</li>
                        <li>Recuperación de la confianza en su rol limitador y educador</li>
                        <li>Salida del pesimismo de la realidad (actitud antiderrotista).</li>
                        <li>Compromiso familiar y social para la prevención</li>
                    </ul>
                    </p>
                    <p>3.Poder
                    <ul>
                        <li>Habilidades para enfatizar sus acertadas decisiones.</li>
                        <li>Recursos para resistir la presión del grupo.</li>
                        <li>Métodos pedagógicos activos participativos.</li>
                        <li>Desarrollo de dialogo constructivo y creativo con los hijos.</li>
                        <li>De “presión” ante el aumento de la tolerancia sobre las drogas.</li>
                    </ul>
                    </p>
                    <h2>10 PROPUESTAS DE ORIENTACIÓN PARA PADRES ACTUALES</h2>
                    <p><i>“Lo esencial es que los hijos no sean huérfanos de padres vivos. Los hijos esperan coherencia
                            vivencial entre lo que decimos, hacemos, sentimos y vivimos”.</i></p>
                    <h3>Más que interrogar. Preguntar, escuchar, para abrir y abrirse al otro, sobre todo “estar”
                        (acompañar incondicional).</h3>
                    <p>
                        1. Escuchemos atentamente…preguntemos genuinamente.
                        <br>
                        · La pregunta tiene la cualidad que es interesarnos por el otro.
                        <br>
                        · Intentemos no hacer preguntas que sabemos serán sí, no, bien.
                        <br>
                        · Cuando comienzan a hablar, escuchar mirando a los ojos, aunque
                        <br>
                        · Haya cosas importantes que hacer y postergar el uso del celular.
                        <br>
                        · Hemos tenido y tendremos equivocaciones y fragilidades, siempre
                        <br>
                        · Buscamos lo que puede ser bueno para nuestro hijo para que:
                        <br>
                        Pueda atravesar diferentes etapas y situaciones sin graves problemas.
                        <br>
                        Supere frustraciones en lo emocional, temperamental y corporal.
                        <br>
                        No malgaste su presente, porque al segundo ya es futuro.
                        <br>
                        La libertad no es solo “hacer lo que quiero” sino que implica responsabilidad.
                        <br>
                        <br>

                        2. Conversemos de los temas que les y nos preocupan.
                        <br>
                        · Conocer la importancia de sus preocupaciones permitirá poder acompañarlo cuando lo requiera.
                        <br>
                        · Amigos – Sexualidad – Aspecto Corporal – Elección vocacional.
                        <br>
                        · Futuro Laboral – Divorcio – Enfermedad de los padres – Redes Sociales.
                        <br>
                        · Ensaye preguntas circulares y avance recordando “escuchar” plenamente.
                        <br>
                        ¿Qué importancia tiene para vos saber qué harás? ¿Qué te preocupa

                        con frecuencia?, ¿Te parece un problema pequeño o grande?
                        ¿Es realmente tan difícil comunicarse con nosotros? ¿Cómo podemos

                        solucionarlo?
                        <br>
                        · Hacer preguntas o comentarios del transcurso de su día, si fue testigo visual de alguna escena
                        especial.
                        <br>
                        · Si tuvo dificultades de relación con sus maestros o compañeros, si se sintió bien tratado ante
                        algún conflicto y si se siente feliz.
                        <br>
                        <br>

                        3. Prioricemos temas actuales y momentos de comunicación oportunos
                        <br>
                        · Tómese tiempo para estar tranquilo y recuerde su adolescencia, comenzando por lo bueno, lo
                        alegre, teniendo en cuenta que casi todos los padres dan y dieron lo mejor.
                        <br>
                        · Las palabras inspiran el ejemplo arrastra.
                        <br>
                        · Las nuevas tecnologías tienen muchísima importancia para niños y adolescentes (también para
                        nosotros), algunos viven inmersos en un mundo de pantallas.
                        <br>
                        · No prohibir, pero limite el tiempo de uso, supervise lo que ve, escuche y vea con quien se
                        conecta.
                        <br>
                        · Los límites dan seguridad y sentimientos de estar atendidos.
                        <br>
                        · Que no envíen fotos y videos de ellos y menos aún a un desconocido no proporcionar datos
                        personales.
                        <br>
                        · En los encuentros familiares no usar el celular.
                        <br>
                        <br>

                        4. Necesidad de límites claros, algunos negociados
                        <br>
                        · Las investigaciones indican que se desarrollan mejor cuando tienen
                        <br>
                        sólidos vínculos familiares.
                        <br>
                        · Son escuchadas sus opiniones, incluso las diferentes a los padres.
                        <br>
                        · Que argumente y los padres escuchar y aprender a ser tolerantes.
                        <br>
                        · Dejarlos sin límites es dejarlos a la deriva.
                        <br>
                        · ¿Qué hacer con un límite? Sabemos de la coacción y persistencia ante lo que desean y como
                        crean razones.
                        <br>
                        · ¿Por qué no usar la tecnología para dejar bien claro el límite? ¿Nos animamos y probamos con
                        Whats App?
                        <br>
                        <br>

                        5. ¿Cómo vamos como padres…ellos como hijos?
                        <br>
                        · ¿Qué deseamos los padres para nuestros hijos? Tienen necesidad de explorar.
                        <br>
                        · En la construcción de su identidad, cometerá errores y aprenderá a aceptar los resultados.
                        <br>
                        · No significa que los padres renuncien a guiarlos evitando errores irreparables, pero, sin
                        resolverles las dificultades, las acciones tienen consecuencias.
                        <br>
                        · Preguntar, escuchar: ¿Qué podría ocurrir si…?
                        <br>
                        · Algunos medios y ciertos ídolos musicales promueven ideas o creencias que pueden provocar daño
                        (“sin alcohol no hay diversión, a la droga la controlas”).
                        <br>
                        <br>

                        6. El afecto se explicita y se actúa
                        <br>
                        · Les gusta ser tenidos en cuenta en la discusión de normas que les afectan, negociar, opinar,
                        sentirse respetados.
                        <br>
                        · Las demostraciones afectivas en público no les agradan (frente a sus amigos, en actos
                        escolares, deportes.
                        <br>
                        · Disfrutan en privado, aunque no lo digan, de la presencia, caricias y afectos explícitos de
                        los padres.
                        <br>
                        · Si pide que lo acompañemos a comprar “pilchas”, la invitación va más allá de la ropa, es el
                        acompañamiento, no desperdiciemos esa oportunidad.
                        <br>
                        <br>

                        7. Seamos coherentes
                        <br>
                        · Los adolescentes toman seriamente lo que les decimos, por eso ser cuidadoso con los mensajes
                        y/o rótulos que les damos.
                        <br>
                        · El clima de respeto, el dialogo y humor son valores familiares que lo acompañarán.
                        <br>
                        · La educación sentimental, comunicación, emociones y sentimientos comienzan desde temprana edad
                        con los hábitos y la incorporación de lo bueno.
                        <br>
                        · Ofrecer alternativas que les atraiga o les interese. Si está programando una salida grupal
                        evaluar circunstancias y posibilidades (importante no amenazar con los gastos, con castigo, sino
                        hacerle pensar ¿qué considera de mayor importancia?
                        <br>
                        · Motivemos a la elección asertiva y a la propia decisión.
                        <br>
                        <br>

                        8. Incentivar el diálogo construye y es sanador.
                        <br>
                        · Hoy en las redes sociales, el antiguo bulling-acoso se convirtió en ciberbulling que no da
                        descanso, porque se introduce en la casa como si puertas y ventanas estuviesen abiertas y no
                        existe refugio seguro.
                        <br>
                        · Si algo sucedió hablarlo porque desactiva la angustia y el miedo y es el comienzo de buscar
                        alternativas.
                        <br>
                        · Saber preguntarnos y preguntar: ¿Por qué los you tubers pueden tener tanta influencia en los
                        jóvenes?.
                        <br>
                        <br>

                        9. Ayúdelo a organizarse y valore su esfuerzo en lo que hacen bien.
                        <br>
                        · ¿Qué cambios va experimentar mi hijo en los próximos años? ¿Hasta que
                        punto debo darle libertad? ¿Cómo puedo ayudarle a mejorar la confianza
                        en sí mismo?
                        <br>
                        · ¿Conocer a sus amigos? ¿Es posible contrarrestar la influencia negativa de ellos?
                        <br>
                        · ¿Cómo ayudarle a distinguir y discriminar lo bueno y lo malo?
                        <br>
                        · ¿Qué pistas me pueden indicar que tiene algún problema grave?.
                        <br>
                        <br>

                        10. Cosechemos el diálogo en la transferencia valórica y la ética familiar.
                        <br>
                        · La crisis mundial y del país afecta mucho a la familia, si hay dificultades no debemos
                        ocultarlas, sería una especie de exclusión.
                        <br>
                        · Si su hijo dice cómo cree que se podría mejorar, escuchar, repreguntar, pensarlo; nunca
                        desmentirlo o ridiculizarlo.
                        <br>
                        · La autonomía es la base del orden moral bien entendido, de los valores.
                        <br>
                        · La importancia de la vergüenza (“me avergüenzo de lo que hice”)
                        <br>
                        · La aceptación de normas, que nos hacen responsables en cada familia, comunidad, país. Es un
                        camino a la reflexión ética.
                    </p>
                    <h3>LA ALFABETIZACION MEDIÁTICA (Trabajarlo entre padres e hijos)</h3>
                    <p>
                        Significa el empleo de las habilidades de alfabetización a los mensajes de los medios de
                        comunicación y la tecnología, para ayudar a su hijo adolescente a mirar los anuncios de
                        publicidad con ojo crítico.
                        <br>
                        Cuando su familia se reúne para ver televisión, aproveche la ocasión para convertirla en un
                        “momento educativo”. Adapte el momento a la edad y al nivel de atención de su hijo. Elija un
                        anuncio y hágale estas preguntas para inducirlo a expresar sus pensamientos:
                    </p>
                    <p>
                        ¿Quién creó o pagó el anuncio y por qué lo hizo? ¿Qué quieren que hagas?
                        <br>
                        ¿Qué técnicas están usando para que la escena y el producto sean atractivos?
                        <br>
                        ¿Quiénes son las personas? ¿Qué están haciendo y donde lo están haciendo?
                        <br>
                        ¿El anuncio trata de asociar la marca del producto con la diversión, los deportes, el humor? ¿De
                        qué manera?
                        <br>
                        ¿El anuncio sugiere que el alcohol mejora en algo la situación?
                        <br>
                        ¿Cómo te hace sentir este anuncio? ¿Es algo accidental que intentó hacer el anunciante?
                        <br>
                        ¿Cuál es el mensaje que está dando con el anuncio?
                        <br>
                        ¿Cuáles son los valores y el estilo de vida representados por este anuncio?
                        <br>
                        ¿Qué es lo que está diciendo el anuncio? ¿El anuncio muestra algún aspecto positivo o negativo
                        sobre el alcohol?
                    </p>
                    <p>
                        Este ejercicio puede servir para que su hijo adolescente entienda mejor que los anuncios de
                        bebidas alcohólicas comunican el punto de vista del anunciante y también puede ayudarlo a
                        cuestionar internamente lo que está diciendo el anuncio. Con el transcurso del tiempo, los
                        ejercicios ayudarán a que su hijo adolescente se dé cuenta, que no tiene que creerse el mensaje
                        de un anunciante. Esto es lo que los educadores llaman aprender entre líneas.
                    </p>
                    <p>
                        “A veces no se ve nada en la superficie, pero por debajo de ella todo está ardiendo”
                        <br>
                        Y.B. MANGUNWIJAYA. Julio de 1998. Escritor indonesio
                    </p>
                    <p>
                        LECTURAS SUGERIDAS
                        <br>
                        PAYASOS TRISTES 2: G. Fernández D’Adam. H. Tévez, O. Panza Doliani. Ed. Akadia. 2018
                        <br>
                        A LOS PIBES ¡SALUD!. Masculina des en la adolescencia y salud universal. (Ed. Electrónica)
                        Compilación Dra. Diana Gómez .Correo: dianadiana1@gmail.com
                        <br>
                        LA DOCTRINA DEL SHOCK. Naomi Klein. Ed. Paidós. 2007
                        <br>
                        NO LOGO. Naomi Klein. Ed. Paidós.2001
                        <br>
                        PENSAR SIN ESTADO. Ignacio Lewkowicz. Ed. Paidós. 2004
                        <br>
                        VALORES ÉTICOS Y VIDA COTIDIANA. Bernardo Kliksberg. Colección Ensayos. Mili –Amia
                        <br>
                        DESARROLLO Y LIBERTAD. Amartya Sen. Ed- Planeta. 2000
                        <br>
                        PRIMERO LA GENTE. Amartya Sen. Bernardo Kliksberg. Ed. Deusto. 2007
                        <br>
                        ES DIFICIL SER JOVEN EN LATINOAMÉRICA. B. KLIKSBERG Sudamericana. 2010
                        <br>
                        PUBLICACIONES DEL OBSERVATORIO DE LA DEUDA SOCIAL ARGENTINA. UCA. Av. Alicia M. de Justo 1500 P4
                        Of.462
                        <br>
                    </p>
                    <h3>AUTORES</h3>
                    <p>
                        Dr. Cándido Roldán. <br> Pediatra. Especializado en temas de Adolescencia y juventud.
                        <br>
                        Master Internacional de Drogadependencia. Universidad del Salvador Aregentina_ Universidad de
                        Deusto España
                        <br>
                        Director de Posgrado. Salud Social y Comunitaria. I.U.C.S. Facultad dr Medicina
                        <br><br>
                        Dr. Guillermo Fernández D’adam
                        <br>
                        Psiquiatra infanto juvenil -
                        <br>
                        Master Internacional de Drogadependencia. Universidad del Salvador Aregentina_ Universidad de
                        Deusto España
                        <br>
                        Director del Instituto de Neuropsiquiatría, Adicciones y Psicología Positiva de Bs As
                        <br><br>
                        Lic. Hilda Tevez Lombardo
                        <br>
                        Psicóloga especialista en Adicciones Comportamentales
                        <br>
                        Secretaría Científica del Capítulo Ética y Psiquiatría de APSA
                        Coordinadora del Instituto de Neuropsiquiatría, Adicciones y Psicología Positiva de Bs As
                        <br><br>
                        DR. Osvaldo Panza Doliani
                        <br>
                        Dr. En Medicina Neurobiólogo
                    </p>
                    <a href="/img/posts/formando-hijos-responsables.docx" class="descarga">DESCARGAR PUBLICACION - Ayudando a formar hijos responsablesL</a>

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>