<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Una mirada al futuro | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>UNA MIRADA AL FUTURO</h1>
                    </div>
                    <h3>Al definir la formación ciudadana se puede afirmar que esta consiste en un proceso que promueve
                        en las personas valores sociales para que puedan participar y cooperar en el desarrollo de la
                        sociedad con base en esos preceptos, orientados a fomentar el respeto, la solidaridad y la
                        responsabilidad necesaria, y así impulsar la armonía más adecuada en la convivencia. Con este
                        fin, las instituciones de todos los sectores deben colaborar aportando su papel dentro de la
                        colectividad</h3>

                    <p>Pensar el futuro desde el rol que debemos cumplir una Sociedad Científica en su compromiso con la
                        población de adolescentes y jóvenes del país, es un desafío.
                        <br>
                        Revisar lo realizado, las metodologías utilizadas y pensar nuevos objetivos y estrategias ante
                        los cambios permanente en los escenarios políticos, económicos, sociales y culturales.
                        <br>
                        Se hace necesario pensar en los adolescentes y jóvenes como ciudadanos activos en defensa de sus
                        derechos y calidad de vida.
                        <br>
                        Para lograr este objetivo se hace necesario brindar conocimientos, para que cuenten con
                        herramientas en su desempeño ciudadano.
                        <br>
                        Cuando nos planteamos mirar al futuro, incierto y cambiante, debemos pensar con que herramientas
                        debemos contar nosotros, los profesionales y las organizaciones que trabajan con niños,
                        adolescentes y jóvenes, para poder acompañar el crecimiento y desarrollo y aportarles
                        habilidades que le permitan incluirse en la sociedad como ciudadanos responsables y
                        participativos.
                        <br>
                        Con esta manera de pensar y actuar buscamos el cumplimiento de la CONVENCIÓN INTERNACIONAL DE
                        LOS DERECHOS DEL NIÑO se concrete y sea una realidad.
                        <br>
                        Debemos lograr que en el país se tome la decisión política de interesarse por este sector, que
                        esta integrada por diez millones de jóvenes, comprendidos entre los 10 y 24 años, y se elaboren
                        Políticas Públicas Integrales que den respuestas a las necesidades urgentes y apremiantes de
                        esta población, especialmente los que integran los segmentos mas pobres.
                        <br>
                        Recuerdo las palabras del Dr. Mario Margulis cuando hace referencia a la juventud y el futuro,
                        él dice:
                        <br>
                        “En esta época en que han cambiado vertiginosamente en todo el mundo los escenarios políticos,
                        las formas de gestación y distribución de la riqueza, los sistemas de organización del trabajo,
                        y se a acelerado el fluir de los mensajes por medios masivos de comunicación, también aparecen
                        cuestionado los saberes, la estabilidad de las posiciones y de los modos arraigados de alcanzar
                        un lugar, de ubicarse en los procesos económicos y laborales y en los espacios que habitualmente
                        garantizaban una posición respetable en el medio social.
                        <br>
                        Vivimos en un mundo en el caducan las viejas garantías en el plano del trabajo y de la
                        reproducción de la vida, las que se apoyaban en saberes, experiencia, calificación y derechos
                        sociales y en el que se viven nuevos e intensos procesos de exclusión, sostenidas en dudosas
                        teorías que reposan, básicamente, en una presunta racionalidad de los mercados.
                        <br>
                        Este nuevo entorno, excluyente, en posibilitar una inserción y un futuro en la actividad
                        económica, y a brindar una participación significativa en las disputas políticas; dominado por
                        un incremento del bullicio massmediático y por la rapidísima transformación en las técnicas
                        informáticas, de comunicación social y de entretenimiento, es el que condiciona la entrada de
                        los jóvenes, estos nuevos actores, en la vida social.
                        <br>
                        Esta situación crea nuevos escenarios de exclusión externa a nivel de los países y de exclusión
                        interna de amplios sectores de la población, donde a los jóvenes les toca la peor parte, ya que
                        las tasas de desempleo juvenil son mayores que las de la población general, por cada adulto
                        desempleado hay tres jóvenes, esto en países desarrollados como en los no desarrollados. A esto
                        debemos sumar las altas tasas de deserción en los diferentes niveles de enseñanza.
                        <br>
                        En Argentina hay 1.272.000 jóvenes de 15 a 24 años que no estudian, no trabajan y tampoco buscan
                        empleo.
                        <br>
                        En estos procesos de exclusión, son los adolescentes y jóvenes los mayores victimizados, los
                        cuales van a ser afectados por diversas patologías sociales, muchas de las cuales van a
                        repercutir sobre toda la sociedad, como el consumo de drogas, la violencia y el delito, creando
                        una cultura del malestar.
                        <br>
                        Los paradigmas están cambiando, aún no está claro hacia donde vamos. Pero hay un primer concepto
                        que debemos destacar y priorizar en nuestro accionar, en estos escenarios, mas que adaptarse y
                        tolerar el cambio y la incertidumbre, se hace necesario un paso mas: aprender a convivir con
                        ellos y asumirlos como un nuevo desafío. Es posible que nos acompañen por mucho tiempo”
                    </p>
                    <h2>LA SITUACIÓN REAL DE LOS JÓVENES, HOY</h2>
                    <h3>Exclusión estructural versus incorporación real:</h3>
                    <p>Aún no ha alcanzado nuestra sociedad en general, incorporar una percepción real de los/las
                        jóvenes como actores sociales. Por el contrario parece predominar varias formas de inclusión,
                        que expresan precisamente una negación de las capacidades y potencialidades y manifiestan una
                        exclusión estructural, una exclusión de las instancias de decisión.

                        Algunas de estas formas en el discurso social:
                        <br>
                        <br>
                        <strong>Explotación:</strong> trabajo infantil, prostitución.

                        <br>
                        <br>
                        <strong>Inclusión:</strong> como sujetos pasivos de atención-intervención-tutela: los adultos
                        los incluyen en
                        programas de salud, educación, rehabilitación; ellos son objetos, y se los considera incapaces,
                        por lo que deben ser protegidos y tutelados.
                        <br>
                        <br>
                        <strong>Inclusión como segmento de mercado:</strong> es una población potencial de consumo, se
                        diseñan publicidad
                        y productos concordantes para ellos y se transforman como contribuyentes del mercado de
                        capitales
                        <br>
                        <br>
                        <strong>Pseudoparticipación:</strong> se los incluye en actividades desvinculadas de otros
                        sectores y sin que sus
                        opiniones sean tomadas en cuenta y se incorporen a las acciones que los adultos deciden.
                        <br>
                        <br>
                        <strong>Inclusión peyorativa:</strong> rebeldes, inmaduros, sospechosos, adictos, delincuentes,
                        irresponsables.
                        <br>
                        <br>

                        <strong>Inclusión adaptativa-obediente.</strong> Se incluye y valora cuando hacen los que los
                        adultos necesitan:
                        obedientes, buen alumno, genera ingresos.
                        <br>
                        <br>
                        <strong>Invisibilidad:</strong> reúne dos aspectos: 1) no son reconocidos como etapa evolutiva,
                        se los excluye de
                        programas, presupuestos, planificación urbana, legislación, etc. 2) No-reconocimiento de formas
                        de participación social sanas y positivas, como, contribución a las economías domésticas, a la
                        generación de ingresos, a sus contribuciones al producto Bruto Interno,, su creatividad, su
                        capacidad de trabajo, su solidaridada [1]

                        <br>
                        <br>
                        <strong>Los retos al mundo adulto se incrementan</strong> cuando las necesidades se refieren al
                        campo de la
                        educación, la salud, el empleo, la familia y las condiciones de vida, derechos humanos básicos.
                        <br>
                        <br>

                        <strong>Los retos a los profesionales</strong> y adultos de organizaciones que trabajan con
                        estas poblaciones no
                        son menores en los niveles, individual, grupal, comunitario, de programación, de integración
                        interdisciplinaria y comunitaria.
                        <br>
                        <br>

                        Hoy nos enfrentamos con escenarios donde los Cambios son vertiginosos y la incertidumbre impera
                        en la construcción del futuro, estas dos circunstancias demandan liderazgos [2]
                        como función para
                        la acción.

                        <br>

                    </p>
                    <h3>Dejando de lados los liderazgos fuertes, con conducción fuerte, que respondían a escenarios
                        estables, hoy los requisitos para el liderazgo en estos contextos son: </h3>
                    <p>Hacer mas con menos: eficiencia con menos costo
                        <br>
                        Adaptarse activamente a la demanda del ciudadano joven
                        <br>
                        Despertar compromisos en los jóvenes con la organización
                        <br>
                        Armar redes transitorias o permanente
                    </p>

                    <h3>Los grupos organizados buscan:</h3>
                    <p>Pertenencia: permite la socialización y la creación de vínculos; esto facilita la formación de
                        ciudadanos con derechos y obligaciones.
                        <br>
                        Resultados expresado a través de los logros que les permite apropiarse de la organización,
                        gestión, expresión de propuestas y demandas. Estos logros refuerzan los vínculos y la
                        pertenencia.
                        <br>
                        Entender y operar con pautas que conectan, será una de las destrezas de la conducción de las
                        próximas décadas. Conexión entre saberes: educación y economía, salud, cultura, tecnología,
                        psicología, sociología, espiritualidad, esto nos conduce al trabajo interdisciplinario y la
                        conexión entre actores y organizaciones al trabajo intersectorial.
                        <br>
                        Las alianzas, las coaliciones, las asociaciones, en resumen, las gestiones combinadas entre
                        actores diferentes son requeridas hoy en día para las gestiones sociales eficaces.
                        <br>
                        <br>

                        Un líder en momento de cambios, es aquel que se compromete a diseñar el futuro en conjunción con
                        sus pares, creando vínculos y dando respuestas construidas participativamente.
                    </p>

                    <h3>El liderazgo constituye un aspecto estratégico e instrumental para lograr

                        cambios sociales en general y en particular en el trabajo con jóvenes.</h3>

                    <p>Es importante para:
                        <br>
                        La conformación de cambios en instituciones, organizaciones, programas y proyectos y como
                        desarrollo personal.
                    </p>
                    <h3>Existen tres planos de análisis del liderazgo:</h3>
                    <ul>
                        <li>En la sociedad</li>
                        <li>En la organización y los grupos </li>
                        <li>En el individuo</li>
                    </ul>

                    <p>Entre ellos hay una interconexión. No hay cambios sociales u organizacionales, sin la
                        participación de los grupos que la promuevan, unidos por historias y códigos compartidos,
                        anhelos y propósitos comunes y sin que las personas puedan desarrollar plenamente sus ideas y
                        potenciales.
                        <br>


                        Dado que estamos inmersos en complejos y veloces cambios sociales, consecuencia de la
                        globalización, el liderazgo ha cobrado particular importancia como respuesta local.
                        <br>


                        Debe predecir y producir transformaciones, para encontrar soluciones a partir de sus recursos y
                        salvar los obstáculos. Promoviendo adhesiones de los otros hacia objetivos sentidos y
                        compartidos, construyendo participativamente la respuesta.
                    </p>

                    <h3>Existen cuatro tipos de liderazgos:</h3>
                    <ul>
                        <li> El liderazgo carismático </li>

                        <li> El liderazgo servidor</li>

                        <li> El liderazgo gerencial</li>

                        <li> El liderazgo transformador</li>

                    </ul>

                    <p>Nos interesa desarrollar este último, por que tiene importancia para el trabajo local. Es el que
                        debe asumirse en el trabajo comunitario.


                        <br>
                        El liderazgo transformador se desarrolla con un contrato en pie de igualdad, dinámico, en
                        función de los requerimientos de las situaciones inciertas y cambiantes y de los temas concretos
                        o específicos que los integrantes del grupo plantean.
                        <br>
                        Busca impulsar, producir y consolidar cambios sociales u organizacionales, preferentemente a
                        nivel local, comunitario, enfrentar los problemas y facilitar soluciones que requieran acciones
                        colectivas.
                        <br>
                        No es un liderazgo absoluto, sino liderazgo de situaciones o momentos, que se ejerce según
                        circunstancias actitudes y capacidad de tiempo disponible y ser rotativos. Hay quien puede
                        ejercer liderazgo en un campo y en otro no.
                        <br>


                        El líder cree en la acción social, promotora de vida y tiene un accionar y gestión estratégica
                        preventiva.

                        <br>

                        Liderando la capacitación de recursos humanos, trabaja para la reconstrucción o construcción
                        comunitaria a pesar de la vulnerabilidad creciente de amplios grupos humanos.
                    </p>

                    <h3>NECESIDAD DE POLÍTICAS PÚBLICAS DESTINADAS A ESTA POBLACIÓN</h3>
                    <p>Las Políticas Públicas son las que debieran promover:</p>
                    <ol>
                        <li>Cambios en el entorno social.</li>

                        <li> deseo político de un cambio constructivo de un cambio constructivo. </li>

                        <li> enfoques sociales encaminados a resolver problemas. </li>
                    </ol>

                    <h1>Las políticas públicas generan la articulación formal de normativas (legislación, programación)
                        por decisión de autoridades públicas, cuerpos legislativos o decisión de la misma comunidad.
                    </h1>
                    <p>Mientras que las políticas organizacionales establecen las reglas, regulaciones formales que
                        orientan las prácticas y comportamientos al interior de las organizaciones.

                        <br>
                        Desarrollar políticas públicas para mejorar la vida de los adolescentes y jóvenes es una
                        necesidad prioritaria y urgente para el país, las provincias y los municipios.
                        <br>
                        Si bien reconocemos el esfuerzo de grupos aislados en diferentes puntos del país, integrados por
                        personas interesadas y muy bien capacitadas, sus esfuerzos son muy limitados y se benefician un
                        número muy reducido de adolescentes y jóvenes.


                        <br>
                        La población de adolescentes y jóvenes integran el 25% promedio, de la población total y están
                        comprendidos entre los 10 a 24 años.
                        <br>
                        Existe una fragmentación y descoordinación de los diferentes servicios públicos, incluidos los
                        sectores no gubernamentales.
                        <br>
                        El desarrollo de los jóvenes constituye un elemento clave para el progreso social, económico y
                        político de un país.

                        <br>

                        Un paso importante <strong>es lograr una decisión política para generar Políticas Sociales de
                            Juventud.</strong>
                    <h3>Las Políticas Públicas se dan cuando existe:</h3>
                    </p>

                    <ul>
                        <li> Decisión política de interesarse por el desarrollo y salud de los jóvenes</li>

                        <li> Elaboración de una legislación que favorezca y prevea fuentes de financiación genuina para
                            el
                            desarrollo de acciones en diferentes sectores interrelacionados (educación, salud,
                            trabajo,...)</li>

                        <li> Convocatorias para analizar, proponer acciones a las diferentes áreas, con funciones
                            específicas
                            para esta población.</li>

                        <li> Creación de grupos de trabajo y espacios para realizar actividades y áreas administrativas
                            que
                            supervisen y evalúen las acciones realizadas.</li>

                        <li> La capacitación del personal local, es prioritario para poner en marcha dichas políticas.
                        </li>

                        <li> La participación juvenil es de primordial importancia para la construcción, implementación,
                            seguimiento y evaluación de las políticas destinados a ellos</li>
                    </ul>

                    <h3>La necesidad de establecer Políticas Públicas para esta población se fundamenta en los factores
                        que afectan el desarrollo juvenil.</h3>

                    <ol>
                        <li> salud y bienestar </li>

                        <li> participación activa juvenil</li>

                        <li> políticas integrales</li>

                        <li> educación y habilidades para la vida</li>
                    </ol>
                    <p>Estos factores se enmarcan en un ambiente saludable y estimulante integrado por la vivienda,
                        servicios básicos, el vecindario, la comunidad, la escuela e instituciones intermedias, la
                        cultura y los medios de comunicación.
                        <br>
                        Para desarrollar estas políticas es necesaria la integración de un grupo de trabajo integrado en
                        forma interdisciplinaria, con representantes de organizaciones gubernamentales y no
                        gubernamentales, líderes sociales y jóvenes.
                    </p>

                    <h3>Elementos necesarios para su elaboración:</h3>
                    <p>-Recolección de toda la información disponible: datos demográficos, políticos, económicos,
                        educacionales, de salud, trabajo, judiciales......etc.
                        <br><br>
                        -El análisis de los mismos nos permite realizar recomendaciones, modelos o herramientas para la
                        formulación y ejecución de políticas y generación de documentos guías.
                        <br><br>
                        -Los datos recogidos nos permite:
                        <br>
                        . obtener datos socioeconómicos
                        <br>
                        . identificar los actores sociales intervinientes
                        <br>
                        . el relato de los actores permite identificar las necesidades y los recursos existentes
                        <br>
                        . estos datos permite diseñar las respuestas específicas
                    </p>
                    <br><br>
                    <p><strong>LAS POLÍTICAS PÚBLICAS SOCIALES</strong> deben permitir el desarrollo de habilidades en
                        los jóvenes para enfrentar escenarios futuros cambiantes.</p>

                    <h3>Para establecer una Política Integral<a href="">[3]</a> es necesario establecer:</h3>
                    <ol>
                        <li> Los propósitos ( las grandes orientaciones)</li>

                        <li> Las metas</li>

                        <li> Las metodologías</li>

                        <li> Las instancias de coordinación</li>

                        <li> La comunicación pública</li>
                    </ol>
                    <p>Las grandes orientaciones en una Política para este sector, no puede estar autoreferidas a los
                        propios adolescentes, sino que debe formar parte de desafíos nacionales mayores.</p>

                    <h3>Este país no tendrá futuro si esta sociedad no es capaz de plantear oportunidades y espacios que
                        permitan el desarrollo individual y grupal de este grupo, así como su contribución presente y
                        futura a la construcción de la sociedad.</h3>
                    <p>Las metas deben ser a largo plazo y basarse en el conocimiento, para alcanzar una serie de
                        objetivos necesarios para el desarrollo como nación. Deben trascender los periodos
                        gubernamentales. Ninguna persona se construye en el periodo de cuatro años. También se
                        neutralizaría el uso político de las necesidades de la población con promesas a corto plazo. Las
                        metas dan una imagen posible de lo deseado como país.


                        <br>
                        Las metodologías para lograr una Política integral no solo deben ser un conjunto de principios
                        orientadores y metas. Si no debe plantearse el como relacionarse con los adolescentes. Debe
                        plantearse que la metodología sea eficiente y atractiva para los adolescentes y jóvenes y
                        permita alcanzar los objetivos propuestos y por otra parte una metodología participativa capaz
                        de involucrar a este segmento de la población en el curso de las acciones.

                        <br>

                        A nivel local, comunitario, la eficiencia debe combinar tres aspectos: las prácticas, los
                        espacios y los tiempos.
                    </p>

                    <h3>CÓMO EMPEZAR</h3>

                    <ul>
                        <li> conformación de redes locales a partir se grupos existentes (deportivos, musicales,
                            religiosos,etc.)</li>

                        <li> conformación de una red juvenil municipal a partir de los grupos locales</li>

                        <li> conformación de una red juvenil provincial</li>

                        <li> finalmente conformación de una red nacional cuyo objetivo principal es exigir políticas
                            públicas para la juventud, con financiación genuina, donde los objetivos se establecen por
                            consenso destacando educación de calidad, salud integral, capacitación para el empleo
                            respeto y
                            cumplimiento de la CONVENCIÓN DE LOS DERECHOS DEL NIÑO Y LA CONVENCIÓN DE LOS DERECHOS
                            HUMANOS</li>
                    </ul>

                    <p>En las prácticas de funcionarios y profesionales de cada sector del Estado

                        tienden a existir cierta rutina que suele ser poco permeable a la innovación, lo que en el nivel
                        local de zonas pobres se agrava por las deplorables condiciones de trabajo y escasos recursos
                        existentes. Se hace necesario encontrar fórmulas exitosas en el trabajo intersectorial.

                        <br>

                        Debe en un principio dar respuesta a una necesidad sentida por la comunidad (por ej. embarazo
                        adolescentes, violencia, adicciones, inseguridad). La respuesta eficiente a la necesidad
                        planteada aumenta la credibilidad en el equipo, lo que permite abordar otros temas.
                        <br>
                        Instancias de coordinación pueden ser local (comisiones intersectoriales

                        de educación, salud, desarrollo social, justicia, cultura, deportes...);
                        <br>
                        · regional (comités de desarrollo regional); o nacionales (comisión interministerial).
                        <br>
                        Para que ellas sean eficientes requieren apoyo político y recursos financieros y materiales que
                        las hagan sustentables.
                        <br>
                        En los equipos inter. y multidisciplinarios es el integrante de la disciplina sobre el tema que
                        se está trabajando, el que coordina. Un obstáculo es, ante la reforma del Estado, estas nuevas
                        instancias no entran en las estructuras de la administración pública.
                        <br>


                        Debemos rescatar el compromiso y la eficiencia de las instituciones
                        <br>
                        de la sociedad civil, ante las carencias y falta de respuestas del Estado, cuando se organizan
                        para solucionar requerimientos de la comunidad. Ellas tienen más autonomía, flexibilidad y
                        adaptabilidad a diferentes circunstancias.


                        <br>
                        La comunicación hacia fuera de lo realizado o a realizar es necesaria para dar a conocer el
                        trabajo y las propuestas. Ello permite lograr adhesiones, apoyos y nuevas incorporaciones que
                        fortalecen al grupal. Esta comunicación puede tomar la modalidad de noticia o implementarse en
                        un medio radial o televisivo acciones a realizar que beneficien el desarrollo y bienestar de los
                        adolescentes.
                        <br>
                        Esta herramienta bien utilizada le da credibilidad y sostén comunitario

                        al trabajo de los equipos.
                    </p>

                    <h3>Comentario final </h3>
                    <p>El futuro es incierto y cambiante. Debemos contar con herramientas eficientes para poder convivir
                        con él.
                        <br>
                        Si podemos contar con ellas, será más eficiente nuestra ayuda a la población de adolescentes y
                        jóvenes
                        <br>
                        Transitamos estas cuatro décadas capacitando recursos humanos y dando respuestas a los problemas
                        que ellos nos presentan. También hemos sido, las Sociedades científicas impulsoras y
                        constructoras del Plan Nacional de Salud del Adolescente (1993) y actualizado en el 2002 con
                        limitaciones de financiación.
                        <br>
                        El desafió hoy es ser impulsores y gestores para que el país cuente con Políticas Públicas
                        Integrales destinadas a la población de adolescentes y jóvenes,
                        <br>
                        Debemos comprometernos y pensar en nuestro accionar en las poblaciones más pobres y excluidas de
                        los sistemas institucionales y a las que se nos hace difícil llegar
                        <br>
                        Es responsabilidad del Estado generar espacios saludables donde nuestros niños, adolescentes y
                        jóvenes puedan contar con servicios que favorezcan su crecimiento y desarrollo y debemos ser
                        nosotros a través de las instituciones científicas los gestores para que estas políticas se
                        concreten.
                        <br>
                        El enfoque interdisciplinario y el trabajo intersectorial han consolidado la visión que se tiene
                        de los adolescentes y jóvenes. Las acciones realizadas hacia ellos y con ellos deben efectuarse
                        concertadamente si pretendemos que sean eficientes y duraderas.
                        <br>
                        Aún está lejos la formulación y aplicación de una Política Integral a nivel nacional destinada a
                        los adolescentes y jóvenes.
                        <br>
                        Las Iniciativas y respuestas locales se hacen necesarias y urgentes para dar respuestas reales a
                        las necesidades apremiantes que tiene este sector, especialmente aquellos que pertenecen a los
                        segmentos sociales más vulnerables.
                    </p>

                    <h3>Nota: LOS INVITO A PENSAR
                        <br>
                        La realidad que vivimos nos muestra cómo muchos políticos, profesionales universitarios,
                        integrantes del poder judicial y los organismos de seguridad, empleados de la administración
                        pública, comerciantes, empresarios, carecen de valores y formación ciudadana. Si no es así, me
                        disculpo. Me hago responsable de lo que escribo y deseo compartir.
                    </h3>

                    <p> [1] Rojas Bredy y Solun Donas. Hacia la reincorporación de adolescentes y jóvenes como actores
                        sociales. OPS. Caracas. Enero 1998
<br><br>
                        [2] OPS/FUNDACIÓN KELLOGG.LA JUVENTUD Y EL LIDERAZGO TRANSFORMADOR. SEP. 1998
<br><br>
                        [3] Weinstein J. SEMINARIO INTERSECTORIAL SOBRE SALUD Y DESARROLLO DE ADOLESCENTES Y JÓVENES EN
                        LATINOAMÉRICA... Algunos desafíos de la intersectorialidad en materia de políticas de
                        adolescentes y jóvenes. Santiago de Chile. 1993</p>


                </div>

            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>