<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La necesidad y el futuro del trabajo | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>LA NECESIDAD Y EL FUTURO DEL TRABAJO</h1>
                    </div>
                    <h2>Necesidad de capacitarse para el trabajo en las poblaciones que abandonan el sistema educativo
                    </h2>
                    <p>ESTAS CIFRAS NOS MUESTRA LA REALIDAD DE NUESTRA POBLACION JOVEN: ¿ TENEMOS ALGUNA PROPUESTA?</p>
                    <h3>Pobreza indicadores</h3>
                    <p>
                    <ul>
                        <li>pobreza 40,8% (16 millones de argentinos)</li>
                        <li>indigencia 8,9% (3,6 millones de argentinos)</li>
                        <li>de estas cifras el 59,5 % son niños y adolescentes)</li>
                        <li>el 9,3% de esta población están afectadas por inseguridad alimentaria</li>
                    </ul>
                    <p>FUENTE: OBSERVATORIO DE LA DEUDA SOCIAL ARGENTINA UCA.. ULTIMO TRIMESTRE 2019</p>
                    </p>

                    <h3>En los sectores pobres</h3>
                    <p>
                    <ul>
                        <li>Solo el 10% tiene la Secundaria Completa</li>
                        <li>En la franja de pobres el 75% no completaron la secundaria y dentro de ese porcentaje el 50%
                            no completaron la primaria</li>
                        <li>1.800.000 jóvenes de 15 a 24 años no estudian, no trabajan, no buscan empleo y tampoco
                            colaboran con las tareas del hogar (19.1% de la población de esa edad. En cuatro años
                            aumentó el 39.1%.</li>
                    </ul>
                    <p>FUENTE: SITEAL (Sistemas de Información de Tendencias Educativas en América Latina)</p>
                    </p>

                    <h2>¿Y si pensamos en otras oportunidades? ¿Existen? ¿Es posible?</h2>
                    <p>Si observamos estas cifras de la realidad de nuestra población joven, no solo de Argentina, sino
                        de toda Latinoamérica y el Caribe, aquellos profesionales y personas interesadas en esta
                        población nos enfrentamos a un desafío. <br>

                        Como podemos observar en las cifras presentadas al inicio de este trabajo, la deserción escolar
                        tanto a nivel primario y/o secundario, son alarmantes y constantes a través de las últimas
                        décadas. Si a esto le agregamos los niveles de pobreza y desocupación, debemos pensar propuestas
                        innovadoras. Como nos muestra la realidad la educación en nuestro y podríamos decir en nuestro
                        continente, esta desactualizada y no responde a los nuevos escenarios. <br>

                        Hace más de veinte años Jean Ives Calvez[1] nos advertía que dentro de veinticinco años, solo el
                        25 de la población iba a tener empleo estable. <br>

                        Un año antes Claudia Jacinto y María a Galllart[2], Interesadas o preocupadas por la situación
                        de los jóvenes, nos presentaron la publicación <strong>“Por una segunda oportunidad. La
                            formación para
                            el trabajo de jóvenes vulnerables"</strong> <br>

                        Hace mas de tres décadas que el problema se visualiza y que las instituciones públicas no dan
                        respuestas al alcance de estas poblaciones.
                    </p>
                    <h3>Las personas interesadas por esta poblaciones deben tomar conciencia que el futuro para ellas es
                        la formación profesional, vinculadas a las áreas de servicios. </h3>
                    <p>Doy algunos ejemplos: plomeros, gasista matriculado, electricistas, pintores, alambradores para
                        el campo, no van a ser remplazado por los avances tecnológicos. <br>

                        Es importante interesarse por las escuelas de formación profesional, que existe en varias
                        provincias y que en ese trabajo la ejemplifico con el Centro de Formación Profesional N ° 24 de
                        la ciudad de Buenos Aires, al que se puede ingresar por Internet y ver talleres por YOUTUBE
                        colocando CFP 24. <br>

                        Al vincularnos con esta propuesta, fundamental para el futuro de los jóvenes que abandonan el
                        sistema educativo, cumplimos con el compromiso ético, humanístico y solidario con nuestros
                        jóvenes
                    </p>
                    <h3>“TODA EXCLUSION NOS OBLIGA A PROPONER OTRA INCLUSION”</h3>
                    <p>Para aquellos que hayan accedido a esta propuesta y estén interesados en implementarla, es
                        preciso adaptarla a la realidad local. <br>
                        Un ejemplo extremo es en los lugares alejados y sin conexión con los Centros de Formación
                        Profesional (CFP). Todos estos lugares tienen artesanos que pueden transmitir sus habilidades
                        profesionales a jóvenes de su localidad y el municipio o una ONG., puede pagarle un plus al
                        artesano y conformar una red de capacitación local. Esto lo he llevado a la practica en el
                        municipio de Morón, Castelar sur, con un Club de Jubilados, donde días alternados narraban a los
                        jóvenes sus experiencias laborales y de vida y otro día los capacitaban en los oficios que
                        habían desarrollados. La población de jóvenes, en esta experiencia eran hijos pertenecientes a
                        hogares cuya jefa eran madres solas que salían a trabajar.
                    </p>
                    <h3>ANALIZAR MAS VIDEOS EN YOUTUBE COLOCANDO EN EL BUSCADOR CFP</h3>
                    <p>[1] Necesidad del trabajo. ¿desaparición o redefinición de un valor? E. Losada. Bs.As.1999 <br>
                        [2] Claudia Jacinto. María A. Gallart Nos presentaba: Por una segunda oportunidad. La formación
                        para el trabajo de jóvenes vulnerables. Oficina Internacional del Trabajo. CINTERFOR. 1998. Red
                        Educación y trabal. Montevideo.
                    </p>
                    <iframe src="https://www.youtube.com/embed/Y6Y2loL61ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/ezakuAQnF80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/QuHrA2B6wUk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/lxNQuX9Wjpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <a href="/img/posts/necesidad-de-trabajo.docx" class="descarga">DESCARGAR PUBLICACION - LA NECESIDAD Y EL FUTURO DEL TRABAJO</a>
                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>