<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoviendo el cuidado de la salud sexual y reproductiva de los adolescentes | Blog | Adolescencia y Juventud
    </title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>PROMOVIENDO EL CUIDADO DE LA SALUD SEXUAL Y REPRODUCTIVA DE LOS ADOLESCENTES</h1>
                    </div>
                    <h2>CONDICIONANTES EN EL COMPORTAMIENTO EN SALUD SEXUAL</h2>
                    <p>Prof. Dr. Cándido Roldán</p>

                    <h3>CONDICIONANTES</h3>
                    <p>Realizo esta presentación, con aportes de una investigación, realizada por el CEDES, de Argentina
                        donde reporta datos desde tres enfoques:</p>
                    <ul>
                        <li>estudios del campo de la sexología</li>
                        <li>estudios desde la psicología y el psicoanálisis</li>
                        <li>estudios desde las ciencias sociales</li>
                        <li>Aportes conceptuales de los Proyectos CERCA de Bolivia, Ecuador y Nicaragua</li>
                        <li>Mis aportes desde el POSGRADO de Salud Social y Comunitaria</li>
                    </ul>

                    <h3>LA OPINIÓN DE LOS SEXOLOGOS</h3>
                    <p>Los enfoques difieren en la importancia de lo biológico y la influencia de las hormonas, en esta
                        etapa, con los aspectos psicológicos, culturales y sociales.
                        <br>
                        En este enfoque llama la atención la ausencia de marcos conceptuales que den cuenta de aspectos
                        no racionales de la sexualidad, como el deseo, la pasión, el goce, las fantasías, lo desconocido
                        y que entienda la sexualidad <strong>COMO UNA CONSTRUCCIÓN SOCIOCULTURAL</strong>.
                    </p>
                    <p>
                        Deseo destacar la importancia del aumento de los neurotransmisores dopaminérgicos a nivel
                        límbico, siendo natural su aparición en la adolescencia, que se incrementa con estímulos que
                        reciben del contexto cultural Según DAMASIO, la cultura privilegia asociaciones e integración,
                        conectando sentimientos y emociones con determinados estados somáticos. Teoría de los marcadores
                        somáticos. Esto lo empleamos en la toma de decisiones y se crearon en nuestro cerebro durante
                        los procesos de educación y socialización
                    </p>

                    <h3>LAS INVESTIGACIONES DE LOS PSICÓLOGOS Y PSICOANALISTAS</h3>
                    <p>En este campo se trata de trabajos de tipo conceptual, basados en casos tratados en la clínica o
                        en talleres sobre sexualidad
                        <br>
                        Uno de los conceptos aportados señala que la sexualidad femenina limitada y claramente
                        sintomática de muchas mujeres, tiene por causas las presiones sociales ejercidas sobre ellas.
                        <br>
                        El otro enfoque, se ha centrado sobre la base de mecanismos que han focalizado la conformación
                        del psiquismo femenino, que las hace asumir como propio una sexualidad limitada y condicionada
                        (ZURUTUZA.. 1998)
                    </p>

                    <h3>LOS APORTES DE LAS CIENCIAS SOCIALES</h3>
                    <p>Nos brinda el concepto de separar la salud sexual de la salud reproductiva.. Juntos están en la
                        Constitución y Leyes de nuestros países.
                        <br>
                        No se puede declamar sobre los derechos sexuales, sino hacemos a la vez el reclamo junto a los
                        derechos económicos y sociales.
                        <br>
                        Las leyes declaman un conjunto de derechos, que contrastan con los datos que muestran la
                        inequidad con las mujeres de distintas provincias, estratos económicos y socioculturales
                        <br>
                        Ejemplo de una ciudad del interior:

                        LA REALIDAD EN CARLOS CASARES . Prov. De Buenos Aires. Argentina
                    </p>
                    <p>Total de partos adolescente en relación a partos totales en: 2004: 24%, 2005: 25%, 2006: 27%,
                        2007: 40%,
                        <br>
                        2010: 22% y 2011: 26%. Porcentaje partos "en la adolescencia temprana«, menores de 15 años, en
                        relación a otras etapas de la adolescencia: 2011: 28%- 2012: ninguna- Multiparidad: 2011: 40%,
                        2012: 39%.
                        <br>
                        Fuente:: datos estadísticos de la Municipalidad de Carlos Casares
                    </p>

                    <h3>LAS LEYES Y SU CONOCIMIENTO POR PARTE DE LA POBLACION.</h3>
                    <p>Los grupos más vulnerables son los que tienen mayor dificultad para apropiarse de sus derechos
                        (P. Mourattian. INADI) Por ejemplo: en el nivel socioeconómico medio el reclamo por sus derechos
                        de discriminación fue del 34%, la cifra desciende al 19% en el sector más bajo (La Nación
                        19-01-14). De acuerdo a nivel educativo los que tienen mayor nivel reclaman el 39% y en los mas
                        bajos el 18%.</p>

                    <p><strong>“DESIGUALDAD E INEQUIDAD EN LA DISTRIBUCIÓN DEL CONOCIMIENTO”</strong></p>

                    <h3>ADOLESCENCIA Y SEXUALIDAD</h3>
                    <p>En nuestro país han estado vinculados más al tema de fecundidad y la epidemia de VIH/SIDA
                        <br>
                        La mayoría de la investigaciones son cuantitativa y pocas cualitativa con grupos focales y
                        entrevistas semiestructuradas: las cuestiones relevadas, edad de inicio tipo de pareja,
                        motivación para el inicio, utilización de anticonceptivos, condón y prevención de VIH/SIDA:
                        <br>
                        En la primera parte de la década pasada, un gran porcentaje de adolescente de ambos sexos eran
                        sexualmente activos, no contando con suficiente información sobre sexualidad, la reproducción,
                        la anticoncepción y tienen dificultad para adoptar conductas adecuada para la prevención del
                        embarazo no deseado, las ETS y VIH7SIDA.
                        <br>
                        <strong>Adultos, padres, docentes, profesionales piensan en una iniciación más tardía</strong>
                        <br>
                        El grupo más importante dentro del campo de la salud, los tocoginecólogos son los que plantean
                        la necesidad de mayor educación sexual y la provisión de anticonceptivos en los escasos
                        servicios, con personal especializados en adolescencia.
                        <br>
                        Las investigaciones muestran la mayor incidencia de embarazos en adolescentes no escolarizados.
                        <br>
                        En este mismo segmento poblacional, en las mismas condiciones encontramos adolescentes afectados
                        por las adicciones, los delitos, no así los que son víctimas de la TRATA:
                    <h3>Que nos enseña y que nos propone, estos relatos:</h3>
                    <p>La importancia de la educación, mejorando la calidad de la información, la metodología en la
                        transmisión. y dónde realizarla dirigida a quienes y donde, en la escuela, en la comunidad.
                        Jerarquizar esta última porque ahí encontramos a las familias, a los jóvenes no escolarizados y
                        muchos actores sociales pertenecientes a ONGs.. Las adolescentes de bajos recursos refieren que
                        la mayor fuente de información son sus madres, en ellas creen. <br>

                        Quienes están preparados para cumplir estos objetivos: los docentes?. Los integrantes de los
                        equipos de salud? <br>

                        La mayor cantidad de adolescentes, cuando consultan al servicio de salud en el primer nivel, son
                        atendidos por médicos de familias o generalistas, poco motivados e informados. <br>

                        Ninguna de las investigaciones que accedí, jerarquizan la incidencia de los medios de
                        comunicación y de los TICs. <br>

                        Otras investigaciones (Korblint y Mendes Diz) nos señalan la vigencia de los mandatos culturales
                        y la doble moral, son las motivaciones reportadas por los dos sexos. <br>

                        La mujer enfatiza el amor y/o el deseo de tener relaciones más profundas; mientras que los
                        varones expresan los deseos, las ganas, la atracción física, también la curiosidad y la
                        influencia de los pares.</p>
                    </p>
                    <p> <strong>Méndez Rivas</strong> aporta un elemento más a la comprensión del escenario cultural del
                        DEBUT SEXUAL y los significados según género; ambos hablan de que no se puede planificar. Las
                        mujeres lo explicitan desde la espontaneidad y el romance. Los varones desde el comportamiento
                        impulsivo o irreflexivo.
                    </p>
                    <p>
                        <strong>Weller</strong> (2002) nos señala el HISTÓRICO SILENCIO SOCIAL SOBRE LOS TEMAS SEXUALES
                        EN NUESTRO PAIS, que se expresa por el alto desconocimiento que gran parte de los jóvenes y sus
                        adultos , aun los escolarizados, tienen sobre su propio cuerpo y el del otro sexo.

                        Jerarquizando el concepto que se muestran en las investigaciones , observamos la ausencia de los
                        medios de comunicación, los TICs.
                    </p>
                    <p>
                        <strong>También podemos destacar, acompañando a lo analizado, la ausencia de otros factores,
                            proyectos alternativos como el empleo,, la ocupación saludable del tiempo libre, la
                            participación en contextos de violencia familiar, social, policial, la influencia de la
                            cultura de la inmediatez, la saturación del presente, la ausencia a referencias como el
                            deseo, el placer u otros sentimientos en juego como los afectos, la vergüenza, el temor, lo
                            que muestra la complejidad que acompaña a la vida de las jóvenes..</strong>
                    </p>
                    <p>La consideración de estos aspectos, ayudarían a comprender mejor las dificultades que muchos/as
                        jóvenes tienen para asumir conductas más racionales y responsables con respecto a los
                        comportamientos sexuales</p>

                    <h2>PROYECTOS CERCA. REUNION DE EVALUACION. UNIVERSIDAD DE CUENCA. ECUADOR</h2>
                    <h3><strong>BOLIVIA: ESTADO DE LA SALUD SEXUAL DEL ADOLESCENTE EN COLEGIOS DE COCHABAMBA</strong>
                    </h3>
                    <p>Los resultados de la evaluación, después de un año de educación sexual, despierta un poco de
                        preocupación para el sector médic0, maestros, padres de familia y autoridades , respecto al
                        presente y futuro de nuestros pueblos ya que los adolescentes son un grupo significativo de la
                        población (22%) y con un perfil epidemiológico inquietante al ver las altas tasas de: <br> a)
                        Violencia callejera, doméstica <br>b) Adicción al alcohol y las drogas <br>c) Embarazo no
                        deseado <br>d)
                        Abortos <br>e) Conductas de alto riesgo <br>f) ITS/Vih/Sida <br>g) Suicidio.
                        <br>
                        Cada una de las presentaciones mostró que no se puede abordar este tema desde solo una
                        disciplina, ya que son muchos los factores necesarios para que generen un cambio.
                        <br>
                        Un ejemplo que resulta de nuestra investigación es que no existe relación única entre la
                        información formal/informal de la sexualidad con la actividad sexual o las conductas de riesgo.
                        <br>
                        Por lo que podemos enfatizar rotundamente que solo recibir información en talleres no es
                        suficiente para tener conductas saludables.
                    </p>
                    <p>
                        <strong>Además, se recomendó que la educación se inicie en el hogar, en forma conjunta, padres e
                            hijo y la educación formal en los cursos básicos no solo en temas de sexualidad sino también
                            en comunicación, autoestima y proyectos de vida entre otros.</strong>
                    </p>
                    <p>El Proyecto CERCA muestra la importancia del trabajo en la comunidad, la formación de operadores
                        jóvenes y muestra los casos de Oscar, Marquesa y Noelia, como representaciones de la superación
                        de características personales y el reconocimiento por parte de la comunidad a sus trabajos en
                        NICARAGUA.</p>

                    <h3>Nicaragua: Los Comités Comunitarios en Nicaragua, un espacio amplio de discusión y reflexión
                        sobre Salud Sexual y Reproductiva</h3>
                    <p>Los ejes temáticos que se abordaron fueron: Las brechas intergeneracionales, El chisme y el
                        inicio de la vida sexual, La diferencia entre sexo y sexualidad y los significados de la
                        virginidad. <br>

                        Es importante recalcar que la información que brindaron los y las participantes está sustentada
                        en sus propias vivencias personales y expresa el conocimiento popular-cultural que tienen para
                        relacionarse, socializarse y vivir su sexualidad. <br>

                        Además se valoró como los factores socio-culturales alimentan las creencias personales y limitan
                        el pleno ejercicio de los derechos sexuales y reproductivos. <br>

                        Las discusiones en las comisiones evidenciaron que las generaciones pasadas y las presentes
                        tienen diferentes percepciones sobre la sexualidad y los valores morales que deben tener las
                        personas.</p>
                    <p><strong>“Es difícil que podamos hablar de forma abierta con nuestros hijos porque ellos no
                            quieren compartir sus cosas con nosotros…. Ellos no tienen confianza en nosotros y a esa
                            edad cuando andan haciendo cosas malas; mucho menos que nos digan”. Madre
                            nicaragüense.</strong></p>
                    <p>Ecuador: Universidad de Cuenca: <br>

                        Legalización del aborto en el marco de la salud pública <br>

                        “Pese a que me opongo al aborto, su legalización permite sacar al problema de las sombras y
                        ayudar a las mujeres a no morir” José Mujica Presidente del Uruguay <br>

                        El Dr. Vega que hace la presentación brinda el mismo concepto. SALVAR VIDAS POR ENCIMA DE LO
                        IDEOLOGICO <br>

                        En mi país los colegios católicos resistieron la educación sexual en los mismos, argumentando
                        que esa es una responsabilidad de la familia. <br>

                        ¿A la familia quien la forma? <br>

                        Muchas comunicaciones nos muestran el silencio de la sociedad adulta con este tema y la
                        repercusión en el comportamiento sexual de de los jóvenes y sus consecuencias.
                    </p>

                    <h2>Resumiendo</h2>

                    <h3>LA CONSTRUCCIÓN SOCIO CULTURAL DE LA SEXUALIDAD.</h3>
                    <p>Integración de lo biológico, psicológico, social, cultural, espiritual. <br>

                        Desde el enfoque psicológico y las experiencias extraídas de la clínica, la construcción del
                        psiquismo. Las diferencias hombre- mujer. La importancia del contexto. <br>

                        Desde las ciencias sociales la separación de sexualidad y reproducción.
                    </p>

                    <h3>Las encuestas. Lo que nos enseñan.</h3>
                    <p>
                        El discurso de los derechos sexuales aislados de los derechos económicos y sociales
                        <br>
                        La ley y los comportamientos La lucha feminista, la instalación en el escenario: la diversidad
                        sexual, diversas posiciones cientificistas, académicas.
                        <br>
                        La apropiación de los conocimientos y la asunción de comportamientos, en este caso sexuales.
                    </p>

                    <h3>Educación sexual, donde desarrollarla. Privilegiar en la comunidad y no solo dirigido a jóvenes,
                        sino jóvenes junto a sus familias</h3>
                    <p>Recordar que adolescentes mujeres, no escolarizadas pertenecientes a sectores de bajos ingresos
                        son el sector más afectado. <br>


                        La importancia de la formación de jóvenes promotores como lo muestra el proyecto cerca de:


                        <strong>Nicaragua</strong>.


                        Privilegiar la capacitación de las familias, no solo en sexualidad, sino en formas de
                        comunicación, desarrollo de la autoestima como lo señala la experiencia de la presentación del
                        proyecto Cerca de Bolivia, desarrollado en Cochabamba. <br>


                        Necesidad de ampliar la capacitación de RRHH. Recordemos que la mayor nivel de consultas en el
                        primer nivel la realizan médicos de familia y generalistas. Capacitación en servicio. Apuntar a
                        desarrollarla en formación de grado y no solo en posgrado. <br>

                        La relación pobreza-no escolarización y embarazos construyen las poblaciones de mayor riesgo.
                    </p>

                    <h2>Se hace necesaria la necesidad de profundizar el interés, la comprensión y significado de este
                        tema ya que constituye el contexto donde acontecen problemas que afectan a los adolescentes y
                        sus familias en situaciones de mayores riesgos</h2>
                    <p>Destaco el reciente informe de PNUD: el mundo más rico que nunca. En este contexto habitan más de
                        1.200 millones de personas que viven en situación de pobreza extrema. La distribución de la
                        riqueza está en el 1 % de la población más rica del mundo posee el 40 % de los recursos
                        mundiales. Mientras el 50% de la población posee el 1% de todos los recursos. El aumento de la
                        desigualdad desde 1990 ha vuelto a los a los niveles de la segunda guerra mundial.</p>
                    <p>El enfoque más moderno y en boga sobre la pobreza, lo brinda el Premio Nobel Amartya Sen,[4] se
                        inspira en la acepción primigenia de pobreza, como falta de capacidad de producir o de realizar
                        su potencial productivo. <br>

                        En este enfoque el énfasis está puesto no tanto en el resultado (ser pobre en el sentido de no
                        disponer de ingresos o bienes suficientes) sino en el ser pobre como imposibilidad de alcanzar
                        un mínimo aceptable de realización vital por verse privado de las capacidades, posibilidades, y
                        derechos básicos para hacerlo. <br>

                        Otra realidad que enfrentamos es el desplazamiento de las instituciones protectoras, como la
                        familia, la escuela, las instituciones religiosas, las ongs. que trabajan con jovenes, como eje
                        fundamental en el crecimiento y desarrollo de niños/as, adolescentes y jóvenes y la construcción
                        de la subjetividad, siendo ocupados esos espacios por la TV, los celulares, internet, la
                        industria de la recreación y la noche.
                    </p>

                    <h3>IMPACTO DE LOS CODICIONANTES. PENSAR LAS CONDICIONES SOCIALES QUE CAMBIARON EN ESTAS ULTIMAS
                        DÉCADAS</h3>
                    <ul>
                        <li> Debilitamiento de las prestaciones protectoras ((responsabilidades) por parte del Estado
                        </li>
                        <li>Precarización del trabajo y el salario</li>
                        <li>Trabajo en negro</li>
                        <li>Corrupción de actores políticos- sociales en organismos del Estado</li>
                        <li>Territorios tomados y administrados por el narcotráfico</li>
                        <li>Deterioro de los sistemas de salud, educación, jurídico y seguridad.</li>
                    </ul>
                    <p><strong>“QUIEN ME CUIDA, SI NO APRENDO A CUIDARME ENSEÑAR A CUIDARSE ES RESPONSABILIDAD
                            COMPARTIDA ENTRE PEDIATRAS, FAMILIAS, ESCUELAS Y COMUNIDAD"</strong></p>
                    <p><strong> SE HACE NECESARIO REALIZAR UNA EVALUACIÓN SERIA SOBRE LOS BENEFICIOS DE LA EDUCACIÓN
                            SEXUAL FOCALIZADO EN LOS ADOLESCENTES</strong></p>
                    <h3>MANEJO DE CONFLICTOS VINCULADOS A LA SEXUALIDAD</h3>
                    <p>1-Silvia es una adolescente de 16 años. Está cursando el 4° nivel de la escuela secundaria. Tiene
                        un novio desde hace seis meses de 20 años, no estudia, hace changas, está embarazada de dos
                        meses. Le comunica a su pareja. <br>
                        Ambos no comunican a sus familias, quieren interrumpir el embarazo. Deciden concurrir al centro
                        de salud y el profesional que los atiende los deriva fundamentado su posición en la objeción de
                        conciencia. Es derivada al servicio administrativo donde son tratados con ironías por el
                        personal y le dan un turno para dentro 30 días</p>
                    <p>El dilema de la pareja alternativas tenemos. . Informar a ambas familias. Reunión de las familias
                        para acordar su posición frente al problema. Los padres del varón opinan que deben interrumpir.
                        Los padres de Silvia continuar y hacerse cargo. Dilema de la pareja ¿QUE HACER?. <br>
                        Decisión en poder de la pareja. Interrumpir, pero no tienen dinero. Asesoramiento de una tía
                        para acompañarla «de una mujer» Aceptación de ambos. Silvia fallece por un aborto séptico a los
                        quince días de haberlo realizado. Instalación del conflicto en el varón y entre familia</p>
                    <p>2-María es una adolescente de 15 años. Abandonó la escolaridad luego de repetir tres años el
                        mismo nivel. Pertenece a una familia con seis hermanos., un padre con empleo precario y una
                        madre dedicada a las obligaciones del hogar. Papa antecedente de abuso de alcohol y actos
                        esporádicos de violencia. <br>

                        María está embarazada de cinco meses. Comparte su problema con su amiga Julia y con su pareja,
                        Raúl, pareja de María de 17 años, con nivel primario incompleto, sin capacitación para el
                        trabajo y por lo tanto sin ingresos económicos. <br>

                        Para Raúl imposible hacerse cargo del futuro hijo, posición que mantienen sus padres. <br>

                        Estos comunican a los padres de María la situación. Estos reaccionan con violencia verbal y
                        física. María se fuga del hogar y a instancias de su amiga es alojada temporariamente en un
                        hogar para adolescentes embarazadas perteneciente a una ONG de las misiones evangélicas. <br>

                        María tiene dos hermanas mayores solteras, con hijos a cargo sus padres: María es una
                        adolescente de 15 años.</p>

                    <h3>Carencias de recursos para mediar:</h3>
                    <p>*ausencia de referentes adultos entrenados para mediar, dificultades Institucionales: docente sin
                        capacitación ni compromiso, ausencia de un trabajo comunitario donde vecinos entrenados detecten
                        precozmente a adolescentes embarazadas y medien ante las familias, las limitaciones de las
                        capacidades de los servicios de salud y los programas sociales del Estado.</p>

                    <h3>CUANDO LOS RECURSOS HUMANOS ESTAN CAPACITADOS REALIZAN:</h3>
                    <ol>
                        <li>Detección precoz del abandono escolar</li>
                        <li>Vínculo con integrantes del servicio de salud, estimulando la continuidad de la asistencia a
                            los talleres sobre sexualidad y salud reproductiva,</li>
                        <li>Referentes de la comunidad entrenados, ayudan a la familia de María, por la violencia y el
                            abuso de alcohol y vinculan a María con Programas del Estado destinados a intervenir en
                            situaciones como esta.</li>
                        <li>Seguimiento luego del nacimiento, Reingreso al sistema educativo o capacitación laboral.
                        </li>
                    </ol>

                    <p><strong>DESTACO LA NO JUDICIALIZACIÓN DEL CASO </strong></p>

                    <h3>COINCIDENCIA CON INDICADORES DESTACADOS EN LAS INVESTIGACIONES</h3>
                    <ul>
                        <li>Familia numerosa.</li>
                        <li>Precariedad laboral del padre</li>
                        <li>Violencia familiar. Antecedentes de alcoholismo</li>
                        <li>Alejamiento de las instituciones “protectoras” escuela, salud, ongs</li>
                        <li>Paridad de las hermanas, que se muestran como ejemplos en el contexto de María. También es
                            importante conocer a qué edad la madre las tuvo, como matriz de aprendizaje?.</li>
                        <li>Muestra como los recursos están alejados de las poblaciones de mayor riesgo</li>
                    </ul>

                    <h3>Definiciones</h3>
                    <P>El manejo y solución de conflictos debemos abordarlos y aceptarlos como una realidad que se
                        presenta ante estas situaciones
                        <br>
                        El conflicto no es bueno ni malo. Debemos aceptarlo como tal. Tiene aspectos positivos y
                        negativos.
                        <br>
                        Positivo cuando ayuda a resolver problemas o por causa de él, se hacen esfuerzos para encontrar
                        una resolución del mismo.
                        <br>
                        Es negativo o perjudicial cuando el mismo no resuelve el problema y crea un mayor
                        distanciamiento y condiciones que obstaculizan una nueva negociación.
                    </P>

                    <h3>Qué es el conflicto en sexualidad adolescente</h3>
                    <p>*Sorpresa. confusión, antagonismo de intereses,, lucha por hacer prevalecer su posición.
                        <br>
                        *Oposición de intereses entre dos o más personas.
                        <br>
                        *La solución puede ser buscada por diversos medios:. negociación, mediación, diálogo.
                        <br> <br>

                        <strong>Objetivos:</strong>
                    <ul>
                        <li>Facilitar el proceso de resolución de conflictos, a través del conocimiento de la naturaleza
                            del mismo, a fin de garantizar la estabilidad emocional de las personas involucradas</li>
                        <li>Para que esto se debe contar con un contexto donde existan recursos capacitados, conocidos
                            por la comunidad</li>
                        <li>No en todos los lugares los hay, menos en zonas de pobreza y exclusión, donde se plantean en
                            salud, alternativas de alto riesgo. Instaladas en las culturas tradicionales de esas
                            poblaciones</li>
                    </ul>

                    </p>

                    <h3>Tipos de conflictos</h3>
                    <p>*Interno o personal: me embaracé. Informo a mi familia?. Cuento con su apoyo, quien es el padre?.
                        Se hará cargo de su parte? Que puedo hacer? <br>

                        *Conflicto con la pareja (no se hace cargo el varón. Apoyado o no por su familia. La influencia
                        del grupo de pertenencia) <br>

                        *Opiniones adversas del personal de instituciones educativas o de salud. <br>

                        *Conflicto Profesional- familia-adolescente Incidencia del secreto profesional? <br>



                        Acompañamiento para brindar la información a los padres? Planteo de interrumpir el embarazo?.
                        Problemas de conciencia, en el profesional, la adolecente y/o la familia. Como resolverlo? <br>


                        *Conflicto Profesional-adolescente Conflicto interpersonal. Como lo vamos a resolver? <br>


                        *Profesionales: objeción de conciencia y no acompañamiento en la derivación <br>


                        *Conflicto intergrupal: Quien es el padre? Asumir la responsabilidad, acompañar o no el grupo? <br>


                        *Conflictos con los marcos teóricos y/o académicos. Planteo del aborto. Comparto o no.
                        Conocimiento o desconocimiento de las leyes. Ideologías en el nivel académico. <br>


                        *Interrogantes en las propuestas e interés por el tema <br>


                        *Aciertos o desaciertos por parte del Estado: los subsidios en dinero para mantenerse en la
                        escuela <br>


                        *La cultura la tenemos presente? Choques culturales: pobres y no pobres. *Deseo de la o los
                        adolescente, me quiero embarazar. El lugar del varón. La posesión del niño. <br>


                        *Conflictos de intereses: En estos conflictos, las partes perciben que la única manera de
                        satisfacer sus necesidades u objetivos pasa por obstaculizar los intereses y objetivos de la
                        otra parte. No importa la naturaleza de las necesidades (bienes materiales, necesidades
                        psicológicas, etc.). <br>


                        *Conflictos estructurales: Son conflictos cuyo origen subyace en condiciones externas a las
                        partes en conflicto. Es decir, desigualdad de roles y poder, condicionantes geográficos, control
                        desigual de recursos, etc. <br>


                        *Conflictos de valores: Los valores están formados por el conjunto de creencias personales que
                        hacen que las personas diferencien lo verdadero de lo falso, lo justo de lo injusto, etc. En el
                        momento en que una de las partes intenta imponer un sistema exclusivo de valores, obviando los
                        de la otra parte, surge el conflicto. <br>

                        Moore (1994) establece las siguientes diferencias:

                        *Conflictos de relación: Los conflictos de relación entre personas pueden deberse a fuertes
                        emociones, estereotipos, falsas percepciones o escasa o incorrecta comunicación. No existe un
                        móvil concreto. Se conocen comúnmente como conflictos irreales o falsos ya que, en ellos hay una
                        percepción errónea de la realidad y pueden producirse a pesar de no darse los elementos
                        necesarios para el conflicto.</p>

                        <h2>EL FODA EN LA RESOLUCIÓN DE CONFLICTOS</h2>
                        <h3>FORTALEZAS:</h3>
                        <p>Amplitud y honestidad en el planteo del problema
                            <br>
                            Acuerdo en la presentación por ambas partes
                            <br>
                            Acuerdo en la elección del mediador
                            <br>
                            Acompañamiento de la familia y el personal de las instituciones
                        </p>

                        
                        <h3>OPORTUNIDADES:</h3>
                        <p>Planteo temprano del problema
                            <br>
                            Adultos y jóvenes dispuestos a colaborar
                            <br>
                            Haber recibido información de fuentes confiables
                            <br>
                            Buena comunicación con adultos
                        </p>
                        
                        <h3>DEBILIDADES:</h3>
                        <p>Falta de información
                            <br>
                            Ausencia de instituciones donde consultar.
                            <br>
                            Pobres habilidades sociales, pobre comunicacion con la familia
                            <br>
                            Integración a grupos de riesgo
                        </p>

                        <h3>AMENAZAS:</h3>
                        <p>Judicializar la situación.
                            <br>
                            Convivir en grupos familiares violentos y con conductas de riesgo
                            <br>
                            Huir del hogar y los lugares que frecuentaba
                            <br>
                            Incapacidad del sistema y sus instituciones para detectar y acompaña estas situaciones.
                        </p>

                        <h2>Conclusiones</h2>
                        <p>Muchas son los planteos sobre este tema. La presentación  intenta reflejar las opiniones vertidas por los jóvenes, familiares y profesionales. en un reunión internacional para evaluar un programa realizado en tres países por el PROGRAMA CERCA DE BÉLGICA</p>
                    </div>
                </article>
            </main>
            
            <%- include('../partials/footer') %>
            
            <script src="../js/navbar.js"></script>
</body>

</html>