<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rol del pediatra ante los cambios sociales | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>EL ROL DEL PEDIATRA ANTE LOS CAMBIOS SOCIALES</h1>
                    </div>
                    <p>Aportes para una reflexión
                        <br>
                        Dr. Cándido Roldán
                        <br>
                        Argentina 2020
                    </p>
                    <h3>PALABRAS DE LA DIRECTORA DE OPS. DRA. MIRTA ROSES</h2>
                        <p>
                            “La mayoría de los problemas de salud de los niños, adolescentes y jóvenes no se van a
                            resolver
                            solo con los servicios de salud, se requiere un enfoque más amplio. “El desafío es como
                            integrar
                            el tema de salud, y no solo lo que llamo “taller de reparación” (a los servicios de salud),
                            sino
                            como lograr que los gobiernos con sus gabinetes, ministros, los congresos, los integrantes
                            de
                            los equipos de salud, los administradores del sistema de salud; entiendan que la salud es un
                            bien social que resulta de determinantes muy importantes, siendo los más obvios la
                            nutrición, el
                            agua y el saneamiento ambiental, pero también las libertades políticas, la participación, el
                            transporte, las oportunidades de información y educación”.
                            <br>
                            A todos estos los llamamos determinantes de la salud y son de carácter social, político,
                            económico, cultural, ambiental, espiritual y participan de la construcción del proceso
                            salud-enfermedad-atención”
                            <br>
                            “La juventud iberoamericana representa hoy un tema crucial. Si no hacemos ahora las
                            inversiones
                            que este grupo social requiere, pagaremos las consecuencias en el mediano y largo plazo. Es
                            la
                            generación que debemos proteger. (Roses Mirta, Salud pública y juventud”. Los desafíos
                            abiertos.
                            Es difícil ser Joven en América Latina. Pag. 69-94. Editorial Sudamericana. PUND. 2010)
                        </p>
                        <h3>DRA. RAQUEL CHIARA DECANA DE LA FACULTAD DE MEDICINA DE ROSARIO (2006)</h3>
                        <p>
                            En el Congreso Argentino de Educación Médica, 2007, tuvo expresiones muy duras para la
                            Universidad y su retraso histórico y mostró un cambio de paradigma en la formación de
                            médicos a través de la reforma de la curricula. “Pretendemos formar médicos con compromiso
                            social y formarlos íntegramente. Esto es oponerse al paradigma profesionalizante, formarlos
                            exclusivamente para el mercado laboral”
                            <br>
                            El cambio, significó abrir el paradigma biológico y centrar el objeto de formación en el
                            proceso salud-enfermedad-atención, considerando a este como un proceso colectivo, social e
                            histórico y rescatamos la función social del sistema educativo: para que enseñamos
                        </p>
                        <h3>DR .ALBERTO AGREST. ACADEMIA NACIONAL DE MEDICINA</h3>
                        <p>
                            La actividad asistencial y los conocimientos“
                            <br>
                            Parece claro que la actividad médica asistencial se hace en base a hábitos, frente a
                            situaciones relativamente ciertas o ante situaciones totalmente inciertas. Las conductas en
                            las primeras, se basa en el propio conocimiento. En las situaciones inciertas, se basan en
                            la conciencia de la ignorancia.
                            <br>
                            Para los conocimientos del médico, son fuentes de aprendizajes la experiencia propia y la
                            ajena que nos llega como información
                            <br>
                            La información es la lectura de los libros con responsabilidad de los autores y/o la lectura
                            de las publicaciones periódicas con una responsabilidad que comparten autores y editores y
                            la información a distancia.
                            <br>
                            Tanto en las publicaciones periódicas como en la información electrónica existen conflictos
                            de intereses.
                            <br>
                            Estos conflictos de intereses afectan a una y a otra, como consecuencia que serian inviables
                            sin los aportes de las empresas de la industria médica farmacéutica y tecnológicas. Sin
                            contar que los propios autores de los trabajos son subsidiados por esas mismas empresas.
                            <br>
                            Estos conflictos de intereses pueden afectar la veracidad y validez de los datos y la
                            aplicabilidad y utilidad de las conclusiones.
                            <br>
                            Debemos agregar que las publicaciones periódicas como las electrónicas se acompañan de
                            atractivos mensajes publicitarios que explotan todos los recursos de marketing con un efecto
                            poderoso en la creación de hábitos en los profesionales.
                            <br>
                            Será motivo de reflexión-investigación el demostrar que el impacto del marketing de la
                            industria médica tecnológica y farmacéutica es el responsable mayoritariamente de las
                            conductas médicas.
                            <br>
                            Es cierto que el desarrollo médico industrial es deslumbrante, deslumbrante también es algo
                            que ofusca la visión
                        </p>

                        <h3>DR. HORACIO LEJARRAGA <br> Archivos Argentino de Pediatría. 2005, expresa:</h3>
                        <p>
                            “Los pediatras somos graduados universitarios y como tales, tenemos el privilegio de haber
                            recibido una educación del máximo nivel posible en el país. Al contrario de lo que algunos
                            creen, cuanto mayor es nuestro nivel de educación, mayores son nuestras obligaciones y no
                            nuestros derechos. Esto es así porque estamos en mejores condiciones de comprender los
                            fenómenos sociales, de analizar mejor las variables intervinientes, de tener una visión más
                            holística de la problemática del país en cuanto a los derechos de las personas y a su
                            defensa.
                            <br>
                            Es por ello que los pediatras, cuando hablamos de los derechos de los niños, tema
                            inextricablemente ligado a la problemática social y política del país, no podemos degradar
                            nuestras opiniones con simplificaciones”.
                            <br>
                            La salud es un derecho humano y debe ser comprendida y defendida en toda su dimensión.
                            <br>
                            Cuando escuchamos y observamos en los medios de comunicación, el desempleo, el empleo
                            precario, jefas de hogar, hacinamiento y hábitat insalubre, la toma de terrenos, inseguridad
                            alimentaria, discriminación social, desprotección jurídica, trabajo infantil, inflación,
                            falta de cloacas, letrinas, agua corriente, gas, arroyos contaminados, numerosos animales
                            sueltos en las áreas programáticas, deserción y retraso escolar, equidad en el acceso a los
                            servicios de salud y educación de calidad, ausencias de espacios de recreación y formación
                            profesional en los barrios estamos en presencia de determinantes generadores de enfermedad y
                            nuestra deber es comprender, entender y defender los derechos de las familias y de los
                            niños.
                            <br>
                            Como profesionales estamos éticamente obligados a conocer el entramado político y social y
                            para ello debemos recurrir a fuentes de información confiables, que no son precisamente los
                            medios de comunicación.
                            <br>
                            Así como acudimos a fuentes de información científica en nuestras instituciones, debemos
                            informarnos de lo político, económico, social, ambiental de fuentes científicas y de autores
                            independientes confiables. Acudir a estas fuente se nos hace más fácil cuando trabajamos en
                            equipos interdisciplinariamente por que en ellos, los integrantes de otras disciplinas
                            aportan nuevos argumentos que por nuestra formación no tenemos.
                        </p>
                        <h3>Dra. ELSA MORENO
                            <br>
                            Ex directora de maternidad e infancia. OPS
                        </h3>
                        <p>
                            Conferencia dictada en el XXII Congreso Latinoamericano de Pediatría. Montevideo, noviembre
                            de 2000.
                            <br>
                            “El pediatra del siglo XXI”
                            <br>
                            Otro aporte mostrando una de necesidad de cambio y actualización lo da la Dra. Elsa Moreno,
                            nos habla sobre los “cambios en la situación de salud de nuestros niños y adolescentes.
                            Estos son, en parte, producto de los avances de la medicina y de la introducción de nuevas
                            tecnologías, pero, sobre todo, se deben a las transformaciones en los estilos de vida de los
                            individuos, las familias, las comunidades y el trabajo, que van configurando un nuevo perfil
                            epidemiológico y se modifican las formas de nacer, enfermar y morir.
                            <br>
                            Parece previsible que esta “nueva morbilidad” de la que nos hablaba en el comienzo de la
                            década del 90 el Dr.Gianantonio, deberá reemplazar en el próximo siglo, por lo menos en
                            prioridad, a las infecciones, la desnutrición y a la elevada mortalidad de nuestros niños.
                            <br>
                            Para entonces reiteraremos lo que venimos diciendo, que la Pediatría deberá también cambiar
                            y adecuarse a sus nuevas necesidades”.
                            <br>
                            Deseo destacar en la enumeración que realiza en los cambios en la morbilidad las afecciones
                            derivadas de la exposición a la contaminación ambiental y los problemas psicosociales
                            derivados de un medio social desfavorable, que en muchos casos se traducirán en accidentes,
                            violencias, maltrato, suicidio, adicción a drogas, alcohol y tabaco.
                            <br>
                            Resulta claro entonces, que la “moderna pediatría” es la que, además de aprovechar al máximo
                            los avances tecnológicos, se preocupa por remover los factores que impiden la salud y
                            bienestar de nuestros niños, jerarquiza la conducta anticipatorio y preventiva en el
                            presente y en el futuro
                            <br>
                            Si a esta situación le agregamos la persistencia de un modelo de atención centrado en la
                            curación, la actualización debe incorporar los conocimientos sobre la incidencia de los
                            determinantes sociales, políticos, económicos, culturales, y ambientales así como la
                            participación real de la población en la construcción del proceso salud
                            enfermedad-atención/(APS), tendremos un panorama por donde deben venir los cambios que
                            beneficien a la salud de los niños, niñas y adolescente en el actual escenario social.
                        </p>
                        <h2>Propuestas</h2>
                        <p>
                            Ante esta realidad, globalización, dependencia, desigualdades e inequidades, tenemos la
                            afortunada oportunidad, el equipo de salud, de ser actores con nuestro accionar y contribuir
                            a construir un futuro con menos desigualdades y mayor equidad.
                            <br>
                            El recurso humano en salud tiene un rol y responsabilidad importante en el desarrollo del
                            país, no es exclusividad de la economía. Sin poblaciones sanas no hay capacidad de trabajo y
                            estudio.
                            <br>
                            El desafío es la elaboración de respuestas locales, participativas, solidarias, innovadoras,
                            creativas, repensando el rol de todos aquellos que trabajamos con niños adolescentes,
                            jóvenes y la comunidad, para estar actualizados y poder dar respuestas a las personas que
                            nos consultan
                            <br>
                            Para poder acompañar y ayudar al desarrollo saludable de las familias y la comunidad que nos
                            consultan debemos:
                            <br>
                            Investigar en el entorno social, buscando grupos de personas que están dando respuestas
                            creativas y solidarias: redes de contención de niños, hijos de madres jefas de hogar, red de
                            apoyo escolar, comedores vecinales, club del trueque, ludotecas, espacios para el buen uso
                            del tiempo libre
                            <br>
                            Incentivar la participación juvenil en las diferentes acciones solidarias, como lo muestran
                            jóvenes voluntarios de una unidad sanitaria capacitados en educación sexual y prevención del
                            SIDA y que van a los colegios a realizar talleres sobre estos temas, demostrando que el
                            trabajo de jóvenes a jóvenes es mas productivo que el de adultos a jóvenes. O jóvenes que
                            realizan promoción de la salud en una página web o aquellos que participan en las Murgas,
                            también en promoción de la salud, por ejemplo “Rescatados al Rescate” del municipio de
                            Matanza.
                            <br>
                            En todas las acciones de salud que debamos realizar con niños, adolescentes y jóvenes
                            apuntaremos a:
                        </p>
                        <p>DESARROLLAR Y FORTALECER:
                            <br>
                            la autoestima
                            <br>
                            el pensamiento y juicio crítico
                            <br>
                            las habilidades sociales
                            <br>
                            la toma de decisiones
                            <br>
                            la resolución de problemas
                            <br>
                            la responsabilidad por el cuidado de su salud y sus comportamientos
                            <br>
                            la permanencia en el sistema educativo
                            <br>
                            la pertenencia a redes sociales
                            <br>
                            “Estas características son necesarias adquirirlas antes de los diez años.
                            <br>
                            Para lograr contar con herramientas que les permitan un desarrollo humano con
                            responsabilidad hacia él, su familia y su comunidad, permitiéndole elegir y construir con
                            libertad un proyecto de vida saludable, donde puedan desarrollar capacidades como
                            <br>
                            la participación, el ejercicio de la ciudadanía y la toma de decisiones responsables en
                            escenarios cambiantes y de riesgos.”
                            <br>
                            Plantearse las acciones de prevención en la etapa adolescente es llegar tarde.
                        </p>
                        <p>
                            Es la experiencia acumula en estas tres últimas décadas, ya que los escenarios sociales se
                            agravaron:
                            <br>
                            *como la penetración del narcotráfico en todos los barrios
                            <br>
                            *la erotización de los medios de comunicación
                            <br>
                            * el uso inadecuado de lo que ofrece Internet
                            <br>
                            *el deterioro del sistema educativo, de salud, de justicia y seguridad
                            <br>
                            *la fuerte presión para la represión a jóvenes con el concepto de “mano dura” y bajar la
                            edad de imputabilidad
                            <br>
                            * todo esto agravado por las grandes desigualdades e inequidades económicas, sociales,
                            culturales, ambientales, que sufren grandes sectores de nuestra población.
                            <br> <br>
                            OTRO ASPECTO A ANALIZAR E INCORPORAR EN ESTA ACTUALIZACION SON LAS TRES DIMENSIONES
                            SIGUIENTES
                            <br>
                            1-Condiciones materiales de vida
                            <br>
                            2-Procesos de crianza y socialización
                            <br>
                            3-Procesos de formación
                            <br>
                            Fuente: Observatorio de la Deuda Social con la Infancia. UCA. 2010
                            <br> <br>
                            1- DIMENSIÓN DE LAS CONDICIONES MATERIALES DE VIDA
                            <br>
                            *Condiciones de habitabilidad en que viven los niños de 0 a 17 años
                            <br>
                            *Saneamiento básico de la vivienda (cloacas, letrinas y agua corriente)
                            <br>
                            *Acceso a la red de gas
                            <br>
                            *Hacinamiento
                            <br>
                            *Cercanía a contaminantes como basurales y fábricas contaminantes
                            <br><br>
                            2-ACCESO A CONSUMOS MÍNIMOS.
                            <br>
                            *alimentación
                            <br>
                            *vestimenta
                            <br>
                            *atención en salud
                            <br>
                            *compras de medicamentos
                            <br>
                            *pagos de servicios e impuestos
                            <br><br>
                            3-DIMENSIÓN DEL PROCESO DE CRIANZA Y SOCIALIZACIÓN
                            <br>
                            *Presencia y características de la estimulación emocional e intelectual llevadas a cabo por
                            la familia
                            <br>
                            *Formas de estimular emocional, intelectual y disciplinar que tienen diferentes hogares
                            <br>
                            *Presencia de socialización en espacios de recreación y formación no escolar
                            <br>
                            *Espacios de juegos y encuentro con pares
                            <br>
                            *Participación en la vida cultural, artística, recreativa, deportiva, de esparcimiento
                            <br>
                            *Recursos de los barrios y de los hogares que favorezcan la interacción con los pares y
                            acceso al conocimiento (ludotecas, bibliotecas, centros culturales y/o deportivos).
                            <br><br>
                            4-DIMENSIÓN EN EL PROCESO DE ESCOLARIZACIÓN (aporte del autor de este trabajo)
                            <br>
                            *Presencia de Instituciones que ofrezcan inclusión en la escolarización temprana (2 a 4
                            años).
                            <br>
                            *Participación de los niños en este nivel.
                            <br>
                            *presencia de instituciones que ofrezcan nivel inicial, primaria y niveles subsiguientes,
                            según jurisdicciones
                            <br>
                            *participación de acuerdo a la edad en los niveles correspondientes
                            <br>
                            *rendimiento de los niños y adolescentes
                            <br>
                            *poblaciones desfasadas de edad y repitentes
                            <br>
                            *distancia de la escuela al hogar
                            <br>
                            *calidad de la infraestructura escolar y la calidad educativa según las familias
                        </p>
                        <h3>JUNTO A LAS CONDICIONES DE VIDA DEBEMOS ANALIZAR TRES CONTEXTOS:</h3>
                        <ul>
                            <li>Contexto Familiar</li>
                            <li>Contexto Grupal</li>
                            <li>Contexto comunitario</li>
                        </ul>
                        <p>
                            CONTEXTO FAMILIAR
                            <br>
                            *Ausencia de roles protectores
                            <br>
                            *Violencia en todos sus formas
                            <br>
                            *Falta de supervisión diaria
                            <br>
                            *Baja escolaridad de los padres
                            <br>
                            *Situaciones penales que afectan a integrantes del grupo familiar
                            <br>
                            *Alcoholismo u otras adicciones
                            <br>
                            *Prostitución
                            <br>
                            *Enfermedad mental
                            <br>
                            *Desempleo o empleo precario
                            <br><br>
                            CONTEXTO GRUPAL
                            <br>
                            *Integración grupal:
                            <br>
                            *integrantes que no estudian ni trabajan
                            <br>
                            *que iniciaron su vida sexual antes de los quince años sin protección
                            <br>
                            *consumen alcohol, tabaco o drogas
                            <br>
                            *participan en comportamientos delictivos
                            <br>
                            *conviven o frecuentan territorios de riesgo
                            <br><br>
                            CONTEXTO COMUNITARIO
                            <br>
                            *Ausencia y/o debilitamiento de instituciones estatales protectoras
                            <br>
                            *Territorios con grandes poblaciones desempleadas
                            <br>
                            *Territorios ganados por el narcotráfico
                            <br>
                            *Territorios con grandes índices delictivos
                            <br>
                            *Ausencia de redes sociales con actividades protectoras: iglesias. agrupaciones de la
                            sociedad civil
                            <br>
                            *Carencias de espacios destinados a actividades recreativas y de

                            Participación
                            <br><br>
                            TAMBIÉN DEBEMOS INCORPORAR:
                            <br>
                            Teniendo en cuenta que hoy los agentes socializantes principales son los medios masivos, y
                            las nuevas tecnologías de la información y comunicación social (TICs) se hace necesario que
                            los padres, educadores y profesionales de la salud manejen estos medios.
                            <br>
                            Creo que los niños y adolescentes. están solos (en soledad de adultos responsables) con
                            estos medios (videojuegos, video clips, youtube, etc,.etc.) por lo tanto es necesario que el
                            adulto participe y hable de "valores" y colaboren en que ellos puedan realizar un análisis
                            crítico de lo que ven y escuchan.
                            <br>
                            Debemos afrontar como padres y profesionales este compromiso ético
                            <br>
                            No alcanza con limitar la cantidad de horas. Los cerebros de niños y adolescentes. son
                            diferentes, está comprobado que han cambiado los circuitos motivacionales, por lo tanto
                            debemos aprender a trabajar estos temas, ayudarlos a crecer, a aprender y asumir
                            comportamientos responsables para su propio cuidado.
                        </p>
                        <h2>conclusiones</h2>
                        <p>
                            La crisis nos ha permitido detenernos a reflexionar y repensar el rol de los profesionales
                            que trabajamos con niños, adolescentes y jóvenes.
                            <br>
                            Hasta ahora vinimos dando las mejores respuestas posibles a los problemas que nos presenta
                            esta población y de acuerdo a la formación de grado que tuvimos.
                            <br>
                            El presente y la crisis social y económica que azota a la región hace necesario incorporar
                            actualizaciones sobre los determinantes sociales, políticos. económicos, culturales,
                            ambientales y comunicacionales.
                            <br>
                            Junto con la gestión pública que debiera generar políticas públicas eficientes y
                            sustentables, y la necesidad de la actualización en la formación de grado y posgrado, para
                            para poder llegar con nuestras acciones a toda la población de jóvenes y adolescentes,
                            especialmente a aquellos que no consultan a los servicios de salud y que pertenecen a los
                            grupos más desfavorecidos.
                            <br>
                            Esta propuesta nos plantea un crecimiento y un desafío
                        </p>
                        <p>
                            "TODO LO RELATADO ES VALIDO PARA LAS POBLACIONES DE ADULTOS Y MAYORES"
                            <br><br>
                            EXPERIENCIAS Y RESULTADOS RECOGIDOS EN EL PROGRAMA NACIONAL DE MEDICOS COMUNITARIOS:
                            <br>
                            PATOLOGIA PREVALENTE APORTADA POR PARTICIPACIÓN COMUNITARIA:
                            <br>
                            *violencia familiar
                            <br>
                            *violencia hacia la mujer
                            <br>
                            *abuso sexual
                            <br>
                            *abandono o negligencia hacia menores
                            <br>
                            *embarazo adolescente
                            <br>
                            *adicciones. Uso y abuso de sustancias legales e ilegales
                            <br>
                            *familias con integrantes con enfermedad mental y/o discapacidad
                            <br>
                            *familias con integrantes con situaciones penales
                            <br>
                            *prostitución y trata de personas
                            <br>
                            *delitos y asociaciones para delinquir
                            <br>
                            *alcoholismo crónico
                            <br>
                            *enfermedades crónicas
                            <br>
                            *familias multiproblemáticas y vulnerables
                            <br>
                            *incidencia de determinantes sociales sobre grupos familiares
                            <br>
                            *calidad de la atención y maltrato del personal profesional y/o administrativo
                            <br>
                            *localización de problemas ambientales
                            <br>
                            ESTOS APORTES PERMITÍA LA INTERVENCIÓN TEMPRANA DE LOS EQUIPOS DE SALUD.
                            <br><br>
                            NOTA:Experiencia realizada y que aporto realidades y conocimientos en el Programa Nacional
                            de Medicos Comunitario (2005/2010)
                        </p>
                        <a href="/img/posts/rol-del-pediatra.ppt" class="descarga">DESCARGAR PUBLICACION -
                            El rol del pediatra ante los cambios sociales</a>

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>