<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La salud integral de adolescentes y jovenes | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>La salud integral de adolescentes y jovenes</h1>
                    </div>
                    <h2>Detección de riesgos y propuestas de acción</h2>
                    <p>-Una propuesta para la comunidad y profesionales que se interesen por esta población trabajo
                        entre todos-</p>
                    <h2> “ LA SALUD ES UNA CONSTRUCCION SOCIAL. SE CONSTRUYE Y SE DETERIORA EN LA COMUNIDAD”</h2>
                    <p>Tan amplio como el abanico de los factores que hacen a la salud, es el de los riesgos que pueden
                        afectarla</p>
                    <p>Quienes por cualquier razón tenemos trato cotidiano con los adolescentes y jóvenes, conocemos
                        cuántos son los riesgos que suelen amenazar el bienestar que deseamos para ellos. A veces, la
                        desaprensión por el peligro los lleva a sufrir accidentes; otras, alimentarse mal, consumir
                        alcohol o drogas; tener dificultades en la escuela, son víctimas de la violencia, o realizan
                        actividades sexuales sin protección y sin información</p>
                    <p><strong>¿Qué puedo hacer?</strong>–nos preguntamos, a veces con un dejo de impotencia. ¿Cómo
                        acercarnos? ¿Cómo preguntar por lo que les pasa, ganándonos su confianza sin avasallar,
                        interesándonos sin parecer entrometidos?.</p>
                    <p><strong>–Usted puede ayudar–</strong> nos dicen con la mirada, con la voz, desde su contacto
                        cotidiano, con miembros de la comunidad, vecinos, integrantes de las instituciones,
                        profesionales de los centros de salud. Todos debemos dar respuesta a estas demandas.</p>
                    <p>Con relación a la atención de los problemas de índole orgánica, se constató que los adolescentes
                        se sentían satisfechos por la atención recibida. <strong>Sin embargo, en dichas entrevistas no
                            aparecían ni como preocupación, ni como presencia, otros temas que hacen a la salud
                            integral, como por ejemplo:</strong></p>
                    <ul>
                        <li>situación familiar, relación con el grupo de pertenencia</li>
                        <li>rendimiento escolar y/o laboral</li>
                        <li>uso del tiempo libre</li>
                        <li>prevención de enfermedades</li>
                        <li>salud sexual y reproductiva</li>
                        <li>trastornos del comportamiento alimentario</li>
                        <li>consumo de alcohol, tabaco y/u otras sustancias</li>
                        <li>violencia</li>
                    </ul>
                    <p>Todo lo anterior permite inferir el riesgo de hacer una lectura fragmentada y mono causal de los
                        problemas que pueden afectar a esta población, en el momento en que piden ayuda.

                        Por todo lo enunciado, este espacio busca brindar información y documentos elaborados en áreas
                        científicas, que constituyan una guía orientadora, destinada a proveer a los equipos de salud y
                        a las personas que trabajan con adolescentes y jóvenes, de herramientas adecuadas para detectar
                        precozmente indicadores de riesgo. De esta manera se trata de encontrar factores protectores que
                        ayuden tempranamente a atenuar los potenciales daños a los que se hallan expuestos los jóvenes,
                        o a los ya instalados.

                        Muchos de los trabajos que se ofrecen constituyen el resultado de elaboraciones
                        interdisciplinaria en forma interdisciplinaria. Este enfoque posibilitó una comprensión integral
                        de la persona y su realidad, modificando la tradicional lectura fragmentada de los datos e
                        indicadores. Se estableció como constante, la búsqueda de las relaciones entre la situación que
                        nos ocupaba, el entorno y las estrategias de abordaje.

                        Como integrante de sociedades científicas, aspiramos a un cambio: lograr que la información que
                        elaboramos y recibimos de organismos internacionales y de experiencias de otras instituciones,
                        sea distribuida a toda la población, con un vocabulario sencillo, no académico. Esperamos que
                        sea comprensible para todos, y ayude a los adolescentes, jóvenes, sus familias y a las
                        instituciones en las cuales participan.</p>
                    <p>
                        El presente trabajo no pretende ser un documento de capacitación académica. No desarrolla en
                        cada eje temático todos los aspectos y contenidos que debe llevar un documento de capacitación
                        docente. Es una guía orientadora que aspira a que todas las personas que trabajan o conviven con
                        adolescentes incorporen en su observación elementos que les permitan ayudarlos a prevenir
                        situaciones que pueden afectar gravemente su crecimiento y desarrollo. No debe ser utilizado
                        automáticamente como una “guía para interrogar”, sino para sugerir focos de atención cuando las
                        circunstancias lo permitan en el contacto con ellos.
                    </p>
                    <p>
                        Por eso, luego de una lectura general de la publicación –que permitirá tener presentes las
                        cuestiones que trata-, seguramente se la utilizará por partes, según las circunstancias lo vayan
                        sugiriendo. Debemos también tener claro dos formas de intervención, una vez detectados los
                        factores de riesgo:
                    </p>
                    <ul>
                        <li><strong>la contención del problema</strong>, que puede realizar toda persona adulta
                            solidaria y contenedora, a partir de un vínculo afectivo, de comprensión, escucha y
                            acompañamiento.</li>
                        <li><strong>la solución del problema</strong>, este tipo de respuesta debe estar a cargo de
                            equipos interdisciplinarios o personal capacitado.</li>
                    </ul>
                    <p>
                        También es necesaria la colaboración de diferentes sectores o instituciones de la comunidad,
                        oficiales o privadas, que participen solidariamente brindando ayuda. Es necesario un trabajo en
                        común entre las instituciones del barrio. Las mismas pueden contribuir con esta tarea ofreciendo
                        lugares para realizar trabajos con adolescentes; los vecinos pueden ofrecer sus casas para
                        tareas de ayuda escolar, o los diferentes líderes barriales (religiosos, voluntarios, docentes,
                        etc.) pueden interceder ante las autoridades municipales con el fin de obtener recursos que
                        permitan favorecer el desarrollo adolescente.
                    </p>
                    <p>
                        El trabajo interdisciplinario e intersectorial es una propuesta necesaria para dar una respuesta
                        integral a las necesidades de los adolescentes y jóvenes de hoy.
                    </p>
                    <h2>De la Convención Internacional sobre los Derechos del Niño</h2>

                    <h3> a) Del interés superior del niño</h3>
                    <p>En su art. 3°, apartado 1, se establece que "en toda medida concerniente a los niños... una
                        consideración primordial a que se atenderá será el interés superior del niño". Ello significa ni
                        más ni menos que toda resolución, dictamen, consejo y hasta el propio pensamiento de un adulto
                        en relación con un adolescente deberá inspirarse, construirse y tener por finalidad aquello que
                        signifique lo mejor para cada niño en relación con la situación concreta en que se encuentre y
                        las posibilidades de actuar con que se cuentan</p>

                    <h3> b) Del adolescente como sujeto de derechos</h3>
                    <p>Esto se refiere a que el joven debe ser considerado como titular de todos los derechos que su
                        condición humana le hace merecedor. Es decir, que la relación profesional- joven o adulto-joven
                        tendrá las mismas características de reserva y confidencialidad que las que pudiera tener un
                        adulto, debiendo actuar el operador con prudencia y tino para incorporar el grupo familiar o de
                        convivencia en la medida en que ello resulte necesario para su adecuada atención.
                        Conviene recordar que el art. 12, apartado 1, ordena garantizar "...al niño que esté en
                        condiciones de formarse un juicio propio el derecho de expresar su opinión libremente en todos
                        los asuntos que afectan al niño, teniéndose debidamente en cuenta las opiniones del niño en
                        función de la edad y madurez del niño". Lo dicho incluye, conforme el art. 13 de la citada
                        Convención,.." la libertad de buscar, recibir y difundir informaciones e ideas de todo tipo..."
                    </p>

                    <h3> c) La familia</h3>
                    <p>En su preámbulo se expresa que "...la familia, como grupo fundamental de la sociedad y medio
                        natural para el crecimiento y el bienestar de todos sus miembros, y en particular de los niños,
                        debe recibir la protección y asistencia necesarias para poder asumir plenamente sus
                        responsabilidades dentro de la comunidad".</p>

                    <h3>Contar con este documento, incorporarlo gradualmente en nuestra actividad con adolescentes y
                        jóvenes, es empezar a hacer realidad nuestro compromiso con la plena vigencia de los Derechos
                        Humanos.</h3>

                    <h2>Descripción de la propuesta</h2>
                    <p>Este documento incluye unidades temáticas sobre las situaciones que generan mayor riesgo y/o
                        vulnerabilidad en el crecimiento y desarrollo de los adolescentes y jóvenes. Los temas tratados
                        son los siguientes:</p>
                    <ul>
                        <li>Familia</li>
                        <li>Educación, trabajo, tiempo libre</li>
                        <li>Salud mental, salud sexual y reproductiva</li>
                        <li>Violencia</li>
                        <li>Accidentes</li>
                        <li>Trastornos de la conducta alimentaria</li>
                        <li>Adicciones</li>
                    </ul>
                    <p>Cada unidad se estructura de la siguiente manera:</p>
                    <ul>
                        <li>Descripción</li>
                        <li>Metodología utilizada </li>
                        <li> Detección de indicios que podrían mostrar la existencia o no de riesgos, trabajo a realizar
                            en el contacto diario con los adolescentes, (insistimos: las preguntas son sugerencias y no
                            un esquema rí­gido; no deben violentar la intimidad de cada adolescente).</li>
                        <li>Estrategias de contención y seguimiento, que puede aplicar todo adulto de buena voluntad,
                            comprometido con el bienestar de los adolescentes con que trata.</li>
                    </ul>

                    <p>Pautas de orientación hacia servicios especializados; cuando el caso lo requiera, se recomienda
                        completar los datos que ofrece esta guía con un relevamiento de los recursos existentes, de
                        servicios especializados, disponibles en la localidad. Con el propósito de comenzar a construir
                        una red que tenga como finalidad alcanzar los objetivos propuestos por SASIA, también es
                        necesario promover en los miembros de la comunidad los recursos con que cuenta cada uno para
                        resolver las situaciones adversas.</p>

                    <p>Los autores agradecen a todos los que hicieron posible este trabajo, muy especialmente al
                        Programa Materno Infantil y Nutrición del Ministerio de Salud –PROMIN–, quienes nos dieron la
                        oportunidad de contribuir al logro de la salud integral de los adolescentes y jóvenes de nuestro
                        país.</p>

                    <h2>1. FAMILIA</h2>

                    <p>La familia es el primer y más importante agente de socialización. Es allí donde se aprenden las
                        primeras normas de convivencia, se eligen los temas de conversación, la forma de responder a los
                        requerimientos. También se aprende a construir los vínculos entre sus miembros y se adquieren
                        expectativas en el ejercicio de los roles.
                        <br>
                        A medida que sus integrantes crecen, las relaciones entre ellos van cambiando, y los estilos y
                        las pautas que resultaban útiles hasta ese momento dejan de serlo. Esto se observa cuando, al
                        entrar en la adolescencia, comienzan algunos enfrentamientos con el mundo adulto que se
                        focalizan en dos ejes: la necesidad de compartir los espacios comunes y la preservación de la
                        individualidad. El adolescente logra su autonomía y crecimiento en un movimiento de intercambios
                        y experiencias entre ambas opciones. No siempre la familia es un refugio de amor, ni la familia
                        unida otorga garantías para permitir ese pasaje a la etapa adulta con salud, aunque los más
                        profundos sentimientos humanos tienen su origen en la familia, “los mejores: amor-compasión y
                        los peores: agresión-violencia-incesto-asesinato" (UNICEF 1993).
                        <br>
                        Las familias transmiten también modelos de privilegio y de desigualdades sociales; por eso es
                        conveniente que las acciones de prevención estén dirigidas a estos aspectos y que se extiendan a
                        las familias que los propios jóvenes construyan en el futuro.
                        <br>
                        Para poder inaugurar nuevas historias será necesario superar o ayudar a superar ese círculo
                        vicioso en el que están atrapados por la reproducción de los modelos. Debe tenerse en cuenta que
                        las familias ensambladas –“los tuyos, los míos, los nuestros”– registran un paulatino aumento,
                        calculándose que en un futuro próximo superarán en número a las tradicionales.
                        <br>
                        El concepto de familia deberá adaptarse a la nueva realidad de su constitución; también la
                        familia con un solo adulto a cargo. Es probable que en los próximos años muchos de los
                        adolescentes argentinos pasen esta etapa en tipos de familias diferentes a las tradicionales.
                        <br>
                        Para aplicar la metodología enunciada es necesario que las observaciones y preguntas cumplan la
                        función de explicitar lo no manifiesto, o bien ratificar lo manifestado por el adolescente con
                        el propósito de detectar los factores de riesgo.
                    </p>

                    <h3>Detectar y contener</h3>
                    <p>Pregunta: ¿Con quién vivís? ¿En quién confías más?
                        <br> Estas preguntas buscan identificar la situación en la que se encuentra el joven.
                    </p>
                    <p>Respuesta: Bien. Tratar de profundizar en la conversación la confirmación de ese enunciado ya que
                        a veces no manifiestan en un primer momento lo que les pasa.
                        <br>Mal. Intentar contener la situación que se le plantea, considerando, si está a su alcance,
                        conjuntamente con el adolescente, la búsqueda de una solución que alivie el problema.
                    </p>
                    <p> P: ¿Todos trabajan?<br>
                        R: SI. Averigüe con quién queda el adolescente y qué hace durante ese tiempo. Si quedara solo,
                        oriéntelo a incorporarse a grupos o instituciones barriales, religiosas, deportivas, culturales,
                        siempre y cuando considere que el empleo que hace del tiempo libre es generador de riesgo. <br>
                        NO. Oriéntelo en la búsqueda de lugares de trabajo o, de ser posible, acérquelo a lugares que
                        ofrecen ayuda, como por ejemplo Caritas u otros programas sociales locales; al mismo tiempo,
                        trate de generar condiciones que permitan afrontar las dificultades.</p>
                    <p> P: ¿Cómo te tratan?<br>
                        R: Bien. Investigue con quién se vincula mejor y es más fluida la comunicación. <br>

                        Mal. Indague las causas: Si le pegan, si hay abuso sexual, si no lo cuidan, si no lo ayudan con
                        las actividades escolares, si no le dan de comer, si solamente lo hacen trabajar a él, etc. Ante
                        cualquiera de estas situaciones, conténgalo con cariño y busque ayuda.</p>
                    <p>P: ¿Hay enfermos en tu familia? ¿Consumen mucho alcohol? ¿Alguien está o estuvo en la cárcel?
                        <br>
                        R: SI Converse sobre las fortalezas con que cuenta el adolescente, por ejemplo, si es buen
                        alumno, buen hermano, buen compañero... Refuércelo con elogios, muéstrele que tiene condiciones
                        para que estas situaciones que hoy le afectan puedan revertirse y no se repitan en el futuro.
                        Busque ayuda en grupos barriales para lograr pertenencia y contención. Entrevístelo
                        periódicamente para evaluar su evolución. Destaque cada uno de los logros y cambios obtenidos y
                        acompáñelo hasta que se sienta fuerte y pueda continuar por sí mismo.
                    </p>
                    <p>Orientando: <br>

                        Cuando el problema no pueda ser contenido por usted solicite la ayuda especializada en el
                        Municipio, en Acción Social, en la unidad sanitaria, en la salita, en las instituciones
                        religiosas o con algún referente barrial. </p>
                    <p></p>

                    <h2>2 - EDUCACION – TRABAJO – TIEMPO LIBRE</h2>
                    <p> La educación es un bien social que se comparte y es deber del estado asegurarla. En cada
                        encuentro entre jóvenes y adultos se ofrece la oportunidad de establecer un diálogo que apunte a
                        discernir sobre el proceso de enseñanza-aprendizaje debiendo poner el acento en la
                        responsabilidad que le cabe al adolescente, a la institución escolar y a la familia en despertar
                        y motivar el interés por aprender. <br>
                        Sin desconocer que los diferentes servicios educativos tienen capacidades limitadas por
                        múltiples razones, es necesario que todos los adultos que están en contacto con adolescentes y
                        jóvenes brinden apoyo. <br>
                        Es sabido que el desempeño escolar no sólo depende del estudiante sino también de su entorno; y
                        que su eventual fracaso y exclusión del sistema impactará sobre su calidad de vida y la de su
                        futuro grupo familiar. <br>
                        La educación y el trabajo son instancias organizadores de la vida. Estudiando y trabajando se
                        aprenden habilidades y destrezas, se adquieren conocimientos y valores y se tejen relaciones
                        sociales que permiten desarrollar el sentido de pertenencia. Si el pasaje por el sistema
                        educativo es provechoso, asegura al futuro adulto una mejor inserción social y laboral.
                        Educación y trabajo son fuentes de salud, bienestar e integración social. El no pertenecer a
                        estos dos sistemas aísla de importantes redes sociales a las personas. La pérdida de la
                        pertenencia a dichos espacios acarrea:</p>
                    <ul>
                        <li>Marginación: por disponer de mucho tiempo libre y no ejercer los roles de estudiante o
                            trabajador.</li>
                        <li>Disminución de la autoestima.</li>
                        <li>Impedimentos para proyectarse hacia el futuro, para capacitarse y entrenarse en algún
                            oficio.</li>
                    </ul>
                    <p>
                        La percepción y utilización que hace del tiempo libre el adolescente son diferentes de las del
                        adulto, ya que está influido fuertemente por el contexto, marcadamente consumista.
                    </p>

                    <h3>Detectar y contener</h3>
                    <p>Pregunta: ¿Estudias? <br>
                        Respuesta: SI Es importante evaluar cómo es su rendimiento en la escuela, si tiene dificultades,
                        cuáles son, en qué asignaturas. Si necesita ayuda, utilice los recursos del mismo barrio para
                        brindarle apoyo escolar. Constate su verdadero rendimiento escolar por medio de: boletín
                        escolar, informes, relatos, citaciones, cuadernos, carpetas. <br>
                        NO: Trate de conocer las causas por las cuales está alejado del sistema. Busque las razones:
                        dificultades en el aprendizaje, disciplina, ausentismo reiterado. En esos casos busque ayuda
                        especializada para realizar un diagnóstico. Recuerde que muchos adolescentes trabajan. Otros no
                        concurren a la escuela por problemas de distancia o por no contar con el dinero para viajar. En
                        ese caso, sería importante gestionar becas en las instituciones gubernamentales y
                        no-gubernamentales (como el Rotary Club, el Club de Leones, etc.) y las fuerzas vivas.</p>
                    <p>Pregunta: ¿Trabajas?<br>
                        Respuesta: SI Trate de conocer el tipo de trabajo que realiza, la cantidad de horas que ocupa,
                        en qué turnos, y la paga que percibe. Qué hace con el dinero. Si se sospecha explotación o
                        trabajo insalubre, es necesario buscar asesoramiento jurídico. <br>
                        NO Averigüe si buscó trabajo y no lo consiguió, si se capacitó en algún oficio. Si no lo hizo,
                        ofrézcale ayuda para que encuentre los lugares donde pueda obtenerlo. Si se muestra
                        desinteresado, acompáñelo en la búsqueda de trabajo, como aprendiz. Hable con él sobre la
                        importancia de trabajar dignamente, hecho que asegura una independencia económica y también una
                        colaboración con la familia. </p>
                    <p>Pregunta ¿Qué haces con tu tiempo libre?<br>
                        Respuesta: Juego, me divierto. Trate de conocer con quién y dónde lo hace. Observe si es un
                        grupo de riesgo (no estudian, no trabajan, consumen alcohol, drogas, etc.). Señálele los
                        peligros y acompáñelo hasta que pueda tomar decisiones saludables. <br>
                        Nada: Estimule el diálogo, mostrando la importancia de ocuparse en actividades que despierten su
                        interés, ayudando a desarrollar de esta manera su crecimiento personal. Trate de integrarlo a
                        actividades sociales, deportivas, religiosas. Acompáñelo hasta que se produzca su inserción en
                        las redes sociales. <br>
                        Miro televisión, me entretengo con internet, escucho música: Observe cuántas horas le dedica,
                        qué tipo de programas mira y qué tipo de música escucha.</p>
                    <p>Orientando <br>
                        Tanto en las actividades educativas como en las laborales y las de tiempo libre, es importante
                        indagar acerca de los recursos con los que cuentan el barrio o la zona, como bibliotecas
                        barriales, instituciones que brinden apoyo escolar, material educativo, capacitación laboral u
                        orientación profesional a través de diagnóstico psicopedagógico. Es necesario realizar también
                        un relevamiento de los recursos disponibles para ofrecer a los jóvenes un uso del tiempo libre
                        que, a la vez, promueva su crecimiento y les aporte contención. </p>

                    <h2>3 - SALUD MENTAL</h2>
                    <p>Se parte del siguiente concepto, elaborado por la Organización Mundial de la Salud: "Salud es el
                        equilibrio biopsicosocial y ambiental...."<br>
                        Los años de la adolescencia están llenos de cambios y aventuras mezclados con muchas penas,
                        problemas, presiones para ganar en las competencias, para gustar a los demás, para realizar bien
                        las cosas en el colegio, para estar solo y con la familia, para tomar decisiones importantes.
                        Muchas de estas situaciones, en algunas oportunidades son vividas y sentidas como algo natural,
                        mientras que en otras es necesario afinar la atención porque puede ocurrir que los adolescentes
                        se sientan extremadamente tristes, solos, aburridos, no queridos, sin interés por nada. Cuando
                        están mentalmente bien, los jóvenes pueden mirarse a sí mismos, a la gente, a la vida, evaluar
                        opciones y decidir qué es lo más conveniente y saludable para sí y para los otros. Estar bien
                        posibilita poder manejar situaciones complejas y tomar decisiones. <br>
                        Cuando se manifiesta un problema de salud mental, se afectan los pensamientos, el cuerpo, los
                        sentimientos y la conducta, alterando el funcionamiento social de una persona. Es decir, su
                        forma de actuar con los demás no es la habitual y se resienten el rendimiento escolar y laboral.
                    </p>

                    <h3>Detectar y contener</h3>
                    <p>Entrevistador: ¿Cómo te sentís? <br>
                        Entrevistado: Bien. Si uno ha observado situaciones preocupantes, debe reflexionar con él o la
                        adolescente, en toda oportunidad posible, sobre las características de dicha situación. Por
                        ejemplo, la tristeza, el dormir mucho, la participación en conductas antisociales, sospechar del
                        consumo abusivo de alcohol o drogas. Esta reflexión posibilitará un acercamiento al equipo de
                        salud. <br>
                        Mal, o más o menos: A las características anteriormente descriptas, se puede agregar que sientan
                        voces internas o externas, que tengan miedo, sueños aterradores, preocupación por determinados
                        comportamientos como lavarse las manos reiteradamente, limpiar, sentir persecución. Dirija las
                        preguntas hacia hechos que permitan explicar lo que pasa. No abra juicio sobre lo que siente y
                        acompañarlo/a para solicitar ayuda del equipo de salud.</p>
                    <p>Entrevistador: ¿Qué haces cuando te enojas? <br>
                        Entrevistado: Me violento, peleo, me escapo, me encierro y no quiero hablar. Intente mostrarle
                        que esos comportamientos no favorecen su salud y su relación con el grupo escolar, grupo de
                        amigos, el vecindario. Pregúntele si le gustaría cambiar. Ofrézcale contención, comprensión,
                        calidez, sin abrir juicio, respetando los tiempos de cada adolescente para recibir la ayuda
                        necesaria. Trate de integrarlo a grupos vecinales que puedan acompañarlo y sostenerlo hasta
                        conseguir ayuda.</p>
                    <p>Entrevistador ¿Te sentís comprendido, tu familia te entiende, te ayuda?<br>
                        Entrevistado: SÍ. Esta situación se da cuando existe un acompañamiento y comprensión de los
                        adultos convivientes. <br>
                        NO: Trate de reflexionar y hacer que acepte la posibilidad de que alguien interceda ante el
                        grupo familiar para que éste conozca la situación por la que atraviesa su hijo, como mediador
                        para acordar formas de ayuda. <br>
                        En caso de no existir adultos que convivan con el adolescente se buscarán otras instancias como
                        vecinos solidarios, docentes, miembros del equipo de salud, tutores, etc.</p>
                    <p>Entrevistador ¿Tenés amigos?<br>
                        Entrevistado: NO. Intente acompañarlo para que participe en actividades y trabaje con él o con
                        ella en la búsqueda de estrategias de integración. <br>
                        SÍ: Converse sobre si se siente aceptado/a, analice las características del grupo, qué
                        actividades realiza, si estudia, si trabaja. Si consume tabaco, alcohol u otras drogas.
                        Estos indicadores son de mayor riesgo cuando aparecen antes de los 14 años.</p>
                    <p>Orientando <br>
                        Los problemas de salud mental necesitan de ayuda especializada. Es sumamente importante conocer
                        dónde se encuentran los servicios de atención. Tenga en cuenta que cuando un adolescente expresa
                        las ganas de no vivir o habla de suicidio no se lo debe dejar solo y se debe buscar ayuda
                        profesional lo antes posible.
                    </p>

                    <h2>4 - SALUD SEXUAL Y REPRODUCTIVA</h2>
                    <p>Los derechos sexuales y reproductivos se encuentran entre los derechos humanos fundamentales. La
                        salud reproductiva es la expresión de estos derechos. Por eso es importante que las personas
                        cuenten con la capacidad, la información suficiente y los medios necesarios para reproducirse y
                        regular su fertilidad. También deben poder tomar decisiones sobre su vida sexual y reproductiva
                        sin sufrir ningún tipo de discriminación; decidir libre y responsablemente el número de hijos
                        que desean tener y el intervalo entre los nacimientos. <br>
                        Las parejas tienen derecho al acceso a servicios de salud apropiados, y a un embarazo y parto
                        sin riesgos. Estos derechos, que asisten a todos, deben estar garantizados a los adolescentes.
                        Por otra parte, también es importante que los adolescentes puedan tener una vida sexual
                        satisfactoria, responsable y segura, que contribuya a su desarrollo individual y al de sus
                        relaciones interpersonales. Para ello deben recibir asesoramiento y asistencia. </p>
                    <p>Detectar y contener</p>
                    <p>Entrevistador: ¿Tuviste relaciones sexuales? <br>
                        Entrevistado: NO. Si no las tuvo, habría que indagar cuál es su actitud hacia esa posibilidad o
                        si planea tenerlas más adelante. Se puede destacar, para cuando las inicie, la necesidad de
                        recibir información acerca de una sexualidad responsable. Jerarquice en la información el uso de
                        una doble protección: contra las enfermedades de transmisión sexual y respecto de un embarazo,
                        si no lo desea. <br>
                        SI: Una respuesta afirmativa de parte de un adolescente, no tiene el mismo significado a los
                        once que a los quince años; con una pareja de su misma edad o con alguien mucho mayor; con una
                        persona de su mismo sexo o con alguien de sexo diferente. Cuanto menor sea la edad, o si es
                        grande la diferencia de edades en la pareja, mayor será el riesgo. En estas situaciones se
                        deberá indagar delicadamente acerca del entorno familiar, si existe prostitución o si las
                        relaciones se dan intrafamiliarmente. También si las realiza por voluntad propia, o si es
                        forzado o forzada.</p>
                    <p> Entrevistador: ¿Sentís placer cuando tenéis relaciones sexuales? <br>
                        Entrevistado: SÍ. No hay problemas. <br>
                        E NO. Indague acerca de su definición sexual, si lo hace presionado/a por alguna situación en
                        especial.
                    </p>
                    <p> Entrevistador: ¿Sabes que podes decir NO, si no queréis o si tu pareja no se cuida, o por
                        creencias religiosas?<br>
                        Si los menores mantienen relaciones sexuales contra su voluntad, la situación podría generarles
                        un grave perjuicio. Asimismo, aunque no exista una violación, un adolescente puede ser objeto de
                        presiones psicológicas o víctima del propio miedo de perder un afecto. En este caso, el adulto
                        debe trabajar más profundamente para hacerlo/a consciente de su derecho de decir no, para
                        asegurar su autoestima y abrirle nuevas perspectivas de vida futura afectiva, laboral, etc.
                    </p>
                    <p>Entrevistador ¿Cómo te cuidaste?<br>
                        Si la respuesta a esta pregunta es cualquier otra diferente de “usando preservativo”, hay que
                        advertir claramente que los demás métodos no impiden el contagio de enfermedades de transmisión
                        sexual. Una cosa es cuidarse del embarazo y otra distinta, de las enfermedades. Ante cualquier
                        duda, realice una consulta con un equipo de salud que la red ofrezca.</p>
                    <p>Entrevistador: ¿Te cuidás para no dejarla/quedar embarazada? ¿Cómo? <br>
                        Si mantienen relaciones con una pareja estable, se sugiere recomendar que ambos se hagan
                        gratuitamente, en el hospital o centro de salud los análisis siguientes: VDRL (para detectar
                        sífilis) y HIV (para SIDA) y repetirlos a los seis meses si en ambos los resultados son
                        negativos. Si ninguno de los dos está infectado, bastará con que usen un método anticonceptivo
                        –si no desean tener hijos– y que se cuiden con preservativos siempre que mantengan relaciones
                        fuera de la pareja para no contagiarse estas enfermedades de otros. <br>
                        Si no usan ningún método anticonceptivo, conviene averiguar por qué. Si no desean o no pueden
                        afrontar la crianza de un hijo, el adulto debe advertir acerca de la posibilidad de un embarazo
                        no deseado y ayudarlos a obtener una consulta con un especialista en el centro de salud o en un
                        hospital, que los orientará sobre el método que más les conviene.</p>
                    <p>Entrevistador: ¿Estás embarazada? ¿Cómo te diste cuenta?<br>
                        La pregunta tiene sentido si admitió tener relaciones sexuales. La pregunta por el modo de darse
                        cuenta apunta a conocer cuánta información adecuada posee sobre su cuerpo y la situación que
                        afronta.</p>
                    <p> Entrevistador: ¿Se lo contaste a alguien?<br>
                        Entrevistado: SI/NO, a ... <br>
                        Cuanto menor sea la confianza que la adolescente haya depositado en su entorno, en general, será
                        mayor el riesgo emocional a que está sometida. Si no lo ha contado a nadie tal vez signifique
                        que no cree que su entorno cercano pueda ayudarla, o que haya comprobado que contarlo implicaría
                        un riesgo adicional. En ese caso, se recomienda ayudarla a obtener contención psicológica además
                        de atención médica.</p>
                    <p>Entrevistador: ¿Te vio algún médico?<br>
                        Entrevistado: SI/NO <br>
                        Un embarazo –en especial un embarazo adolescente– sin control médico, es siempre un embarazo de
                        riesgo. Tratemos de que tome conciencia de que su propia salud, además de la del bebé, pueden
                        correr peligro sin que lo sepa...o puede saberlo demasiado tarde para los dos.</p>
                    <p> Entrevistador: ¿Lo hablaron entre ustedes? ¿Qué quiere hacer cada uno ante la situación?<br>
                        Entrevistado: SI/NO <br>
                        Esta respuesta habla de la solidez emocional con que la pareja adolescente podría afrontar un
                        embarazo y la paternidad/maternidad. También permite detectar si la adolescente está sufriendo
                        presión psicológica para abortar el embarazo. <br>
                        Si el adulto cuenta con información y se siente capaz, podrá ofrecerse para hablar más
                        profundamente sobre los problemas, temores, dudas e inquietudes que la situación despierte. Si
                        no puede por falta de formación, acompañará al adolescente a buscar apoyo médico o psicológico.
                    </p>
                    <p>ORIENTANDO <br>
                        Realice un relevamiento de los servicios y personas que puedan brindar información válida, cerca
                        de su domicilio.</p>

                    <h2>5 - VIOLENCIA</h2>
                    <p> La violencia ejercida sobre niños y adolescentes, sea ésta física, psíquica, verbal o gestual,
                        provoca serias alteraciones en el crecimiento y desarrollo biopsicosocial, afectando de esta
                        manera su salud y su calidad de vida presentes y futuras. La familia muestra, a la vez, sus
                        límites como matriz continente y supervisora de la evolución de sus hijos. Esta situación se
                        puede dar también en otros contextos, como las instituciones escolares o de minoridad. <br>
                        La comunidad también desempeña un papel importante, debido a que tiene una misión protectora y
                        solidaria, especialmente respecto de las poblaciones más vulnerables. Cuando ésta se
                        desentiende, el problema se agrava. <br>
                        Los adultos, profesionales o no, podemos detectar estas situaciones teniendo presentes las
                        diferentes formas de violencia. Comprometerse con esta problemática significa la posibilidad de
                        neutralizar a los agentes maltratantes (victimarios), sean éstos intrafamiliares o extra
                        familiares. <br>
                        Debemos estar atentos al maltrato de niños y adolescentes, sea éste físico, psíquico, verbal o
                        gestual; si son víctimas de negligencia o abandono, abuso sexual y/o violación. Es importante
                        conocer si presencian y conviven con violencia conyugal o violencia entre los adultos
                        convivientes. Todas estas situaciones afectan seriamente su salud. <br>
                        Es importante saber que los adultos tenemos incorporadas barreras culturales que nos impiden
                        preguntar: – ¿Cómo me voy a meter en lo que pasa en otra familia? ¿Cómo le voy a preguntar esas
                        cosas...?– Sin embargo, si no vencemos esas barreras... ¡los niños seguirán siendo víctimas!</p>

                    <p> DETECTAR Y CONTENER
                    </p>
                    <p> Entrevistador: ¿Te pegan, gritan, amenazan, o encierran?<br>

                        Entrevistado: SI. Pregunte con qué frecuencia se da, si lo lastimaron o lo llevaron al hospital
                        en alguna oportunidad. Bríndele afecto, hágale saber que cuenta con su protección y
                        acompañamiento. Dele a conocer sus derechos y convénzalo de buscar ayuda y protección legal</p>
                    <p> Entrevistador: ¿Algún adulto te propone juego con los genitales?<br>

                        Entrevistado: SI. Asegúrele que mantendrá la información en reserva, que lo acompañará en todo
                        momento, y que junto con él o con ella buscará la ayuda y protección adecuada.</p>
                    <p>Entrevistador: ¿Presenciás peleas entre los adultos, se pegan, se gritan, se lastiman?<br>

                        Entrevistado: SI. Investigue si esto le preocupa, si es habitual. Ofrézcale ayuda. Amplíe las
                        redes vecinales, escolares, con otros familiares y amigos.</p>
                    <p>Entrevistador: ¿Se preocupan por tu escolaridad, por tu salud?<br>

                        Entrevistado: NO. Esta pregunta permite detectar negligencia y abandono.</p>
                    <p>Entrevistador: ¿Participás de actos violentos? <br>

                        Entrevistado: Sí. Investigue si lo hace solo, en grupo, si lleva navajas, armas de fuego. Que
                        tome conciencia de los riesgos que estos comportamientos traen para él, sus amigos, y para los
                        demás. Infórmele que puede tener conflictos con la ley. – ¿Te podemos ayudar?</p>
                    <p>
                        Sospeche la presencia de violencia ante: </p>
                    <ul>
                        <li>Ausencias reiteradas a clase.</li>
                        <li>Dificultades en la concentración</li>
                        <li>Presencia de somatizaciones (quejas o dolores) con mucha frecuencia.</li>
                        <li>Depresión, reflejada a través del aislamiento, la dificultad para la integración, el
                            insomnio.</li>
                        <li>Auto-agresión o ideas suicidas.</li>
                        <li>Docilidad excesiva, y actitud evasiva y/o defensiva frente a los adultos.</li>
                        <li>Búsqueda intensa de expresiones afectuosas por parte de los adultos, especialmente en los
                            niños más pequeños.</li>
                    </ul>

                    <p>
                        Los niños y adolescentes nos muestran a través de sus comportamientos, pedidos de ayuda.
                        Escucharlos con atención y creerles nos da la posibilidad de convertirnos en personas confiables
                        para ellos.<br>

                        El maltrato ejercido sobre los niños y adolescentes, crea un serio problema social y de salud
                        pública. Es más frecuente de lo que solemos creer. Vulnera los derechos fundamentales
                        reconocidos por la Convención Internacional de los Derechos del Niño.<br>

                        Estos hechos se dan en todas las clases sociales, por eso deben ser investigados,
                        independientemente del nivel socio cultural y/o económico. Hay que conversar con ellos sobre la
                        posibilidad de buscar ayuda. Acordar con ellos caminos a seguir y acompañarlos y protegerlos en
                        todo momento. Asegurarles que la ayuda favorecerá incluso a los adultos maltratantes.<br>
                    </p>

                    <h2>6 – ACCIDENTES</h2>
                    <p>Las lesiones traumáticas y muertes por accidente son en la actualidad un problema creciente, en
                        especial en jóvenes de 19 a 24 años. <br>
                        Los accidentes son la primera causa de muerte y de discapacidad física en la adolescencia.<br>
                        Durante 2015 murieron 7.472 jóvenes por violencia, de los cuales el 80,3% fueron provocados por
                        accidentes. El 75% de las víctimas eran varones. En 10 años creció el 83% las victimas por
                        inseguridad vial. Fuente: Ministerio de Salud de Nación<br>
                        El número de víctimas tanto en vidas perdidas como en niños y adolescentes lisiados justifica
                        incorporar en el documento éste tema.<br>
                        Un mejor conocimiento de los factores causales conducirá a un enfoque más racional para atenuar
                        el problema.<br>
                        El término “accidente” está actualmente en revisión. La expresión accidente parece aludir a mala
                        suerte o un suceso fortuito, lo cual no contribuye a esclarecer las causas que lo
                        desencadenan.<br>
                        De la misma manera las personas atribuyen a la suerte o a "un milagro" el hecho de “haber
                        escapado” de un accidente. Es preferible hablar de “lesión” y de “control de lesiones”.<br>
                        Los tres componentes principales de una lesión son: el huésped (persona afectada por la lesión),
                        el agente (la causa directa de la lesión) y el ambiente (dónde y cuándo ocurre la lesión).
                        Teniendo en cuenta este último componente (el lugar donde ocurre) podemos hablar de accidentes
                        en el hogar, en la vía pública, en reuniones sociales (discotecas, encuentros deportivos), en el
                        ámbito laboral, en el ámbito escolar.</p>
                    <p>Hay investigaciones que avalan la teoría de que las lesiones se producen en mayor medida cuando
                        se viven situaciones de estrés. Por ejemplo:</p>
                    <ul>
                        <li>Hambre o fatiga.</li>
                        <li>Hiperactividad.</li>
                        <li>Enfermedad materna.</li>
                        <li>Relaciones tensas entre los adultos.</li>
                        <li>Cambios recientes en el ambiente como los que ocurren en momentos de mudanzas o vacaciones.
                        </li>
                        <li>Preocupación o tensión agobiante de la madre</li>
                        <li>Muerte de algún miembro de la familia.</li>
                        <li>Consumo de alcohol o drogas</li>
                    </ul>
                    <p>Las lesiones infantiles y en adolescentes son síntomas recurrentes de una mala adaptación al
                        ambiente o la familia. <br>

                        Si el adulto tiene presentes estas situaciones y muestra preocupación por evitar los accidentes,
                        cuidará sus comportamientos y controlará el ambiente.<br>

                        Los comportamientos de los adolescentes y jóvenes que los ponen en riesgo de sufrir lesiones
                        pueden ser controlados por ellos mismos si cuentan con información y respetan las medidas de
                        seguridad.<br>

                        Los avances en los conocimientos jerarquizan cada vez más el trabajo preventivo.<br>

                        Los accidentes de transportes constituyen una preocupación permanente, tanto para los gobiernos,
                        las comunidades, las sociedades científicas, las compañías de seguros.<br>

                        Los adolescentes y jóvenes constituyen uno de los grupos más vulnerables en los accidentes de
                        transporte, donde también se asocia el huésped (falla humana), el agente (el vehículo) y el
                        medio (el lugar donde acontece). Estos dos últimos requieren por parte de los gobernantes la
                        creación de normativas y leyes que favorezcan la seguridad.
                        <br>

                        La responsabilidad de las personas –en estos casos, de los adolescentes y jóvenes– depende del
                        conocimiento que tengan sobre los recursos de seguridad de los que disponen y que deben utilizar
                        para disminuir los riesgos, no sólo respecto del transporte sino también de otros agentes
                        causales y ambientales (manipuleo de fuego, pirotecnia, utilización de artefactos eléctricos o
                        de gas, consumo de alcohol, drogas).<br>

                        La mayoría de los accidentes fatales que sufren los adolescentes suceden fuera del hogar, camino
                        a la escuela, al trabajo, después de una fiesta.<br>

                        Es importante conocer algunas medidas para la prevención:<br> <br>

                        Medidas informativas: <br>

                        -Programas nacionales, provinciales y municipales de seguridad en las rutas. <br>

                        -Programas de prevención de accidentes en las escuelas.<br><br>

                        Medidas motivacionales:<br>

                        -Cursos para la prevención al conducir, preferentemente acompañados por testimonios de personas
                        que sufrieron accidentes por conducir alcoholizados.<br>

                        -Costos más bajos para los seguros de automovilistas que no han sufrido accidentes.<br> <br>

                        Medidas obligatorias: <br>

                        -Obligación, para todos los ocupantes del vehículo, de usar el cinturón de seguridad.<br>

                        -Obligación de que los niños viajen en el asiento trasero y en asientos especiales.<br>

                        -Prohibición de que los menores de 21 años conduzcan entre las 22:00 y las 6:00.<br>

                        -Suspensión temporaria de la licencia de conducir a los que se encuentren manejando o sufran
                        accidentes estando ebrios.<br> <br>

                        El objetivo del diálogo con los adolescentes y jóvenes será detectar si éstos tienen en cuenta
                        las medidas de seguridad y conocer los fundamentos que los adultos puedan utilizar en un trabajo
                        preventivo.
                    </p>

                    <p>DETECTAR Y CONTENER</p>
                    <p>Entrevistador: ¿Utilizás algún vehículo? <br>
                        Es importante adaptar las preguntas sugeridas a los medios utilizados en el ambiente local como:
                        caballos, carros, tractores, etc. <br>

                        Entrevistado: NO. Cuando vas de a pie, ¿Respetás las indicaciones, el semáforo? ¿Utilizas los
                        senderos peatonales? <br>

                        SI. ¿Cuál? ¿Respetas las recomendaciones de seguridad? Si usás bicicleta o moto, ¿Te pones el
                        casco? Si andas en auto ¿Usás cinturón de seguridad? ¿Tenés presente que cuando manejás
                        cualquier tipo de vehículo no debés consumir alcohol, tampoco drogas?</p>
                    <p>Entrevistador: ¿Vas a nadar? <br>

                        Entrevistado: SI. ¿Lo haces en lugares cerrados o abiertos (piletas de natación, ríos, lagunas
                        mar)? ¿Tenés presente que no se debe nadar después de consumir alcohol o drogas?</p>
                    <p>Entrevistador: ¿Acostumbrás a llevar navajas, cuchillos, armas de fuego? <br>

                        Entrevistado: SI. Reflexione sobre los riesgos para sí y para los demás, y el posible conflicto
                        con la ley.</p>
                    <p><strong>Orientando</strong><br>
                        La prevención de accidentes supone aprovechar el contacto con jóvenes y adolescentes, hablar con
                        ellos y generar actividades en conjunto destinadas a la toma de conciencia y aplicación de
                        comportamientos preventivos que permitirán reducir el número y gravedad de los accidentes.</p>

                    <h2>7- ADICCIONES</h2>
                    <p> El uso, abuso o dependencia en el consumo de drogas, legales o ilegales, se ha transformado en
                        un grave problema de salud pública. Este tema debe ser investigado en las poblaciones de niños,
                        adolescentes y jóvenes, aunque sabemos que este problema no es patrimonio exclusivo de estas
                        edades. <br>



                        Las drogas pueden clasificarse en: <br>



                        - Drogas legales: Son aquellas socialmente aceptadas como el tabaco, el alcohol, y las
                        utilizadas por la medicina, como los psicofármacos y barbitúricos. <br>

                        - Drogas ilegales: las más utilizadas en nuestro medio son la marihuana, la cocaína, el LSD, las
                        plantas alucinógenas y drogas de síntesis como el éxtasis <br><br>



                        También debemos tener presentes las utilizadas por niños y adolescentes de la calle, la
                        población más desfavorecida: inhalantes o solventes (acetona, éter, bencina, thinner, cola de
                        zapatero, cemento de contacto, etc.). No todo consumidor debe categorizarse como adicto. Existen
                        diferentes niveles de compromiso en el uso indebido de drogas: <br><br>



                        Categorías en el consumo de drogas: <br>



                        - Uso: consume los fines de semana y en oportunidades absolutamente casuales. La droga le es
                        regalada o compartida. No afecta su vida familiar, escolar, laboral, ó de relaciones sociales.
                        <br>

                        - Abuso: utiliza regularmente durante la semana. Empieza a afectar el rendimiento escolar, el
                        desempeño laboral, las relaciones familiares y sociales. Lleva una doble vida, una cotidiana,
                        mentirosa y transgresora para los allegados habituales y otra adictiva que se desarrolla en
                        grupo de pares, que tienen similares comportamientos. <br>

                        - Adicción ó Dependencia: consume diariamente y varias veces al día. Se ha deteriorado toda
                        relación con la familia, la escuela, o el trabajo. Busca obsesiva y compulsivamente la droga.
                        Imposibilidad absoluta de abstinencia si no recibe ayuda. <br> <br>



                        Etapas de evolución hacia la adicción <br>



                        - Primera: el joven recurre a la droga esporádicamente y puede abandonarla si lo desea. Es un
                        buen momento para la intervención adulta de protección. Habitualmente la presión del grupo y sus
                        carencias personales hacen que el consumo continúe. <br>

                        - Segunda: casi sin darse cuenta el consumidor se convierte en adicto. Abusa de la droga, la
                        tolera y padece el síndrome de abstinencia. Puede participar en pequeños hurtos para hacerse de
                        dinero. Puede también participar en la distribución de drogas, con lo que consigue en pago
                        cantidades para uso personal.<br>

                        - Tercera: la dependencia es absoluta. No puede vivir sin drogas. Puede robar y participar de
                        actos delictivos para conseguir la sustancia química.<br><br>



                        Como adultos, profesionales o no, debemos interesarnos y profundizar los conocimientos. Estamos
                        conviviendo en el marco de una epidemia, con un gran mercado productor y distribuidor, rodeados
                        de países productores. Ya tenemos grandes grupos consumidores en todos los niveles sociales. Hay
                        líderes sociales, intelectuales, deportistas y artistas que minimizan el daño y propugnan la
                        liberalización. Hay una sobre oferta de drogas legales e ilegales a bajo costo y enfrentamos el
                        incremento de problemas sanitarios asociados como la violencia, los accidentes, el SIDA. En el
                        contexto social aparecen ligados, acompañando a esta epidemia, la corrupción y nuevos poderes
                        económicos ilegales. Hoy visibilizados en todos los contextos barriales.</p>
                    <p>
                        DETECTAR Y CONTENER
                    </p>
                    <p>
                        Entrevistador: ¿Consumís tabaco, alcohol o alguna droga? <br>

                        Entrevistado NO. Sabés qué responder si te ofrecen? Es importante que tengas fortaleza para
                        poder decir “NO”. ¿Tenés personas que te puedan informar sobre los posibles daños? Si tenés
                        información, ¿Me podés contar qué sabés? Si la información es incompleta o falsa, ayúdelo a
                        esclarecerla buscando fuentes confiables de información. <br>

                        Entrevistado SI. Si la respuesta es afirmativa, pregúntele qué consume, con qué frecuencia, a
                        qué edad se inició. También, si conoce los daños que produce.
                    </p>
                    <p>Entrevistador: ¿Querés dejar? <br>

                        Entrevistado NO. No juzgue ni presione para que abandone. Acompáñelo y construya un vínculo
                        afectivo confiable. Demuéstrele que usted está dispuesto/a a ayudarlo cuando él/ella lo desee.
                        Espere los tiempos de cada joven. Nunca dialogue y ni intente hacerlo/a razonar cuando está bajo
                        los efectos del consumo. El diálogo sólo debe establecerse después de 48 a 72 horas de
                        abstinencia. Si minimiza el joven el daño (“la dejo cuando quiero”, “no pasa nada”, etc.),
                        reflexione con ayuda de información aclaratoria o de profesionales especializados. <br>

                        Entrevistado Sí. ¿Lo hablaste con tu familia? Es importante que ella te acompañe. Si se niega, o
                        no hay adulto que lo acompañe, ofrézcase para buscar la ayuda de centros especializados.</p>
                    <p>
                    <ul>
                        <li>No podemos juzgar el comportamiento del consumidor.</li>
                        <li>Debemos comprender que estamos ante un enfermo.</li>
                        <li>La enfermedad es multicausal y debemos acudir a profesionales capacitados o grupos de
                            autoayuda.</li>
                        <li>Gánese su confianza y mantenga reserva sobre la información.</li>
                        <li>Hablar en momentos de no intoxicación (no debe haber consumido en las últimas 48/72 horas).
                        </li>
                        <li>Indúzcalo a pedir ayuda y a confiar en la familia o en un referente adulto aceptado por el
                            paciente.</li>
                        <li>Acompáñelo en todo momento hasta que esté en tratamiento</li>
                        <li>No lo abandone durante el tratamiento.</li>
                    </ul>
                    </p>
                    <p>Orientando <br>
                        Debemos hacerlo hacia centros de atención especializados de nivel profesional. De no existir
                        este recurso se apelará a los grupos de autoayuda. <br>
                        La provincia de Buenos Aires cuenta en cada Municipio con un centro Asistencial gratuito, con
                        equipos integrados, por profesionales universitarios especialistas.</p>
                    
                    <h3>Guía de recursos para orientar consultas:</h3>
                    <p>· Secretaría de Prevención y Asistencia a la Adicciones, de la Provincia de Buenos Aires. Se puede pedir ayuda: Fonodroga (línea de consulta gratuita), 0800-25462. <br>
                        · Secretaría de Programación Para la Prevención de la Drogadicción y la lucha contra el Narcotráfico. TE: 0800-222-1133: Internet:WWW.sedromar.gov.ar.  Desde toda la provincia *Secretaría de programación para la Prevención de la Drogadicción y la lucha contra el narcotráfico: TEL 0-8000-222-1133. Internet: WWW.sedronar.gov.ar.;  E mail: sedrope a sminter.com.ar</p>

                    <a href="/img/posts/salud-integral.docx" class="descarga">DESCARGAR PUBLICACION - LA SALUD INTEGRAL</a>
                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>