<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores y seguridad | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Valores y seguridad</h1>
                    </div>
                    <h2>Aportando a la formación de ciudadanos</h2>
                    <h3>Prof. Dr. Cándido Roldan <br>
                        Colaboración: Dra. Brenda Giusti. Abogada Penalista <br>
                        Argentina 2020
                    </h3>
                    <p>
                        Debo confesar que cuando me plantee el título Valores y Seguridad, me sentí incapaz de dar una
                        respuesta por ser un tema, el de seguridad, que nunca había desarrollado, si hemos trabajado el
                        tema de valores. Entonces pedí colaboración a la Dra. Brenda Giusti, abogada penalista.
                        Dejando madurar esta propuesta, con el tiempo tomé conciencia que este tema está vinculado con
                        la salud de nuestra comunidad y con el contexto donde crecen y se desarrollan nuestros
                        adolescentes y jóvenes y convivimos todos nosotros como ciudadanos.
                        <br>
                        Pienso también y la realidad lo muestra todos los días como una preocupación importante, el tema
                        de la seguridad.
                        Focalizando la mirada, en la población que nos convoca, los adolescentes y jóvenes, aparecen
                        como víctimas o victimarios en el escenario social.
                        Soy conciente que en el transcurso del desarrollo de mi ponencia, seguramente vamos a discrepar,
                        según la escucha, el posicionamiento y el análisis que se haga desde cada disciplina aquí
                        presente, o de lo ideológico como ciudadanos preocupados por lo que pasa.
                        Lo importante es permitirse, como profesionales enrolados en diferentes disciplinas analizar
                        aquellos aspectos que no están claros o existen enfoques diferentes.
                        <br>
                        Las instituciones científicas y universitarias tienen un rol protagónico en la búsqueda de
                        respuestas que demanda nuestra comunidad.
                        Cuando iniciamos el compromiso de ocuparnos de la salud integral de los adolescentes y jóvenes,
                        sabíamos que nuestro saber profesional era limitado para dar respuesta a las necesidades de esta
                        población.
                        Sumamos otras disciplinas no médicas a los equipos, para fortalecer el análisis de las
                        situaciones que enfrentábamos y encontrar respuestas adecuadas.
                        También tuvimos que salir de nuestras instituciones y asociarnos a otros sectores, en un primer
                        momento con la escuela y los juzgados, luego, con otras áreas del Estado y finalmente con las
                        instituciones intermedias, para que las soluciones a los problemas que se nos presentaban sean
                        más integrales o abarcativas.
                        Porqué este relato? Para mostrar un camino recorrido, donde las respuestas que debíamos dar,
                        superaba al saber disciplinario y debíamos encontrarla en el trabajo interdisciplinario e
                        intersectorial. El área que asistimos nos presenta una población con problemáticas complejas
                        donde concurren múltiples factores. También esto ocurre cuando queremos abordar el tema de la
                        seguridad.
                    </p>
                    <p>
                        Una sociedad estructura y define su proyecto democrático a partir de sus valores

                        Los valores determinan la forma de sentir, de pensar, y de comportarse de una sociedad.

                        Cuando deseamos analizar o rescatar con que valores funciona nuestra sociedad, nos enfrentamos a
                        un primer obstáculo, no hay valores que sean compartidos por la totalidad de los integrantes de
                        una sociedad.

                        Estamos integrados a una sociedad fragmentada, por lo tanto existen sectores sociales que
                        comparten determinados valores que son rechazados, ignorados o colisionan por los asumidos por
                        otro sector.

                        Cuando observamos los valores que se intentan enseñar en el sistema educativo, en toda América
                        Latina, encontramos referencias a la ética, la libertad, la justicia, la igualdad y la
                        invocación a la paz. Pero son escasamente trabajados aquellos que hacen al desarrollo personal y
                        la convivencia social como: el esfuerzo, la generosidad, la abnegación, la responsabilidad, la
                        verdad, la honestidad, la solidaridad, la belleza, la esperanza, el compromiso.

                        La palabra valor presupone que, por parte del sujeto, existe una ruptura de la indiferencia
                        frente a las personas, los objetos, las metas u objetivos, las normas, las tradiciones, los
                        acontecimientos de la vida cotidiana, frente aspectos del funcionamiento del Estado.

                        Etimológicamente, los valores están vinculados a la salud y la valentía.

                        Valor deriva de la palabra valere, que significa disfrutar de buena salud. Valere significa
                        también valentía

                        Algunos autores contemporáneos definen los valores como criterios que guían los comportamientos
                        y que determinan el desenvolvimiento y el accionar con personas, acontecimientos, o el
                        funcionamiento de instituciones.
                    </p>
                    <h3>Un estudio reciente describe cinco características que están presentes en todas las
                        definiciones:</h3>
                    <p>
                        Principios o creencias: <br>

                        -Relativo a modelos de comportamiento <br>

                        -Trasciende personas, objetos y situaciones específicas <br>

                        -Orienta la elección y evaluación de comportamientos <br>

                        -Expresa intereses individuales, grupales, institucionales.
                    </p>
                    <h3>La asunción de determinados valores tiene un origen de orden motivacional, ellos expresan deseos
                        e intereses de tipo individual, grupal, institucional.</h3>
                    <p>
                        La fuente que da origen a la asunción de determinados valores responde a exigencias preexistente
                        en los individuos; éstas responden a: <br>

                        -necesidades biológicas <br>

                        -necesidades sociales relacionadas con la regulación de interacciones interpersonales <br>

                        -necesidades socio-institucionales relativas a la sobrevivencia y el bienestar de grupos
                        sociales.
                    </p>
                    <p>
                        El funcionamiento de una sociedad parece exigir algún sistema de estratificación de funciones y
                        de responsabilidades. De esta manera surgen en el grupo las relaciones de dominación y sumisión.
                        Para justificar este hecho de la vida social, el poder es transformado en valor. Necesidades
                        individuales o grupales de sumisión y de control pueden ser transformadas en valores
                        relacionadas al poder. La meta de este tipo de valores es la búsqueda del status social, el
                        prestigio y el control sobre personas e informaciones- <br>

                        Como el poder se ha asumido como un valor, esta tiene como meta la integridad personal, de las
                        personas y grupos determinados, así, como la estabilidad de la sociedad.
                    </p>
                    <p>
                        También se plantea en la asunción de valores, la dicotomía individualismo colectivismo.
                        El individualismo tiene como meta el bienestar y la promoción de sí. Mientras que el
                        colectivismo coloca más énfasis en los valores que buscan la integridad del grupo y que están al
                        servicio de intereses sociales.
                    </p>
                    <p>
                        Las sociedades donde prima el interés colectivo jerarquizan a los grupos primarios tales como la
                        familia, el barrio y los grupos de trabajo de las instituciones intermedias, el bienestar de
                        todos, de la sociedad. <br>

                        En cambio donde prima el individualismo se distingue el accionar de grupos primarios limitados,
                        como la familia nuclear y por establecer relaciones sociales secundarias, en la cual las
                        personas crean obligaciones específicas y expectativas desarrolladas a través de la negociación.
                        <br>

                        Schwartz, afirma que la dimensión individualismo-colectivismo, se corresponde con los factores
                        de “apertura al cambio vs. “conservación”.
                    </p>

                    <p>
                        Colectivismo y conservación comprende un conjunto de valores que tienen como meta el
                        mantenimiento del “status quo”, apelando a la aceptación de los valores convencionales y normas
                        morales con el objetivo de controlar las inclinaciones y comportamientos del individuo que
                        puedan perturbar el orden establecido.

                        Por otra parte individualismo y apertura al cambio, comprende un conjunto de valores que tienen
                        como meta la autonomía de pensamiento, de sentimientos y de acción.
                    </p>

                    <p>
                        Desde una visión cultural, la persona en relación al grupo, es considerada como una entidad
                        autónoma, dotada con derechos independientes y deseos relativos a los otros, planteados en
                        términos negociados buscando beneficiar sus intereses personales. Esta visión se expresa con
                        valores que favorecen la autonomía de pensamiento, de sentimientos y acción.

                        En el polo opuesto, la persona es vista como una parte de la fábrica social, cuya significación
                        deriva de su participación e identificación con el grupo, manifestadas a través de estilos de
                        vida participativos. Esta visión, muestra un conjunto de valores que favorecen la integridad y
                        la armonía en las relaciones interpersonales y en las relaciones del individuo con los grupos.

                        Hablar de valores y seguridad es rescatar y jerarquizar el replanteo que deben asumir las
                        personas, frente a los acontecimientos de la vida cotidiana y frente a aspectos del
                        funcionamiento del Estado.
                    </p>

                    <h3>Dejar de ser indiferentes</h3>
                    <p>La seguridad nos enfrenta algunas personas al desafío de asumir valores, como el compromiso, la
                        participación, la solidaridad, la responsabilidad, la verdad. Asumir una actitud ética, como un
                        compromiso por los otros, por el logro del bienestar común y la equidad social</p>
                    <p>La seguridad es un tema complejo y encontrar políticas eficaces, requiere de el trabajo
                        participativo de todos los sectores de la sociedad. No se puede dejar en manos de un solo
                        sector, como la salud no la podemos dejarla exclusivamente en manos de los médicos. La salud es
                        una construcción social. <br>

                        El camino que recorrimos los profesionales interesados por la salud integral de los adolescentes
                        muestra, que la participación interdisciplinaria, multi y transdisciplinaria es una herramienta
                        posible y eficaz. Gracias a este trabajo, hoy contamos con grupos de trabajos de excelencia,
                        reconocidos en nuestro país y en el extranjero, habiendo logrado un Plan Nacional de Salud
                        Integral del Adolescente en 1993 y actualizado en el 2002. <br>

                        La mayor parte de la población plantea el tema de la inseguridad como una de las preocupaciones
                        más importante y en los últimos meses este tema ocupó el centro de la agenda política del país.
                        Las provincias de Buenos Aires, Mendoza, Santa Fe y Misiones nos muestran escenarios sumamente
                        conflictivos y donde aún no han podido encontrar respuestas que alivien el problema.
                    </p>

                    <h3>Las estructuras políticas focalizaron sus estrategias en la transformación de las estructuras
                        policiales</h3>
                    <p>
                        Redefinir el problema de la seguridad es ir en la búsqueda de la disminución de la conflictiva
                        social, no en su eliminación, reconociendo su existencia y aportando nuevas herramientas
                        adecuadas a la complejidad del problema. <br>

                        El debate público sobre seguridad parece enfrentar dos paradigmas, por un lado el paradigma del
                        orden, el represivo y por el otro lado el paradigma garantista. <br>

                        No es mi intención analizar en profundidad estas dos posiciones, pero si debemos poder
                        entenderlas para poder opinar. <br>

                        El paradigma represivo sostiene que la seguridad depende de la eficacia represiva. La
                        inseguridad se soluciona aumentando el presupuesto de la policía, ampliando su capacidad de
                        acción, sancionando una legislación penal mas dura, construyendo mas cárceles, estableciendo la
                        pena de muerte, bajando la edad de imputabilidad. Reduciendo las garantías constitucionales.
                        <br>

                        Este paradigma se instala en el marco de la Guerra Fría. <br>

                        En la década de los sesenta nace la Doctrina de Seguridad Nacional. En ella se instaba a
                        trabajar con el enfoque de la seguridad interior para neutralizar al enemigo interior. <br>

                        Aquí, la política interior se fusionó con la política de defensa. Se redujo toda la problemática
                        de la política nacional a una problemática de seguridad y se adjudicó a esa problemática una
                        resolución militar. Como objetivo estratégico todo pasaba a ser militar. <br>

                        Los que tenemos más años recordamos este modelo.
                    </p>
                    <p>
                        El paradigma garantista nació en el campo penal, como una réplica a la divergencia entre la
                        normatividad del modelo en el nivel constitucional y su ausencia de efectividad en los niveles
                        inferiores. Es decir entre los fines declarados en las constituciones y su falta de correlato en
                        las culturas políticas y jurídicas.


                        Una de las acepciones más reconocidas del garantismo es la que designa a un modelo normativo de
                        derecho, definido como un sistema de poder mínimo, como una técnica de tutela capaz de reducir
                        la violencia y de maximizar la libertad y como un sistema de vínculos impuestos a la potestad
                        punitiva del Estado, en garantía de los derechos de los ciudadanos.
                    </p>
                    <p>
                        <strong>
                            Hay una profunda vinculación entre garantismo y democracia. <i> “el garantismo, como técnica
                                de limitación y de disciplina de los poderes públicos dirigida a determinar lo que no
                                deben y lo que deben decidir, puede muy bien ser considerado el rasgo mas característico
                                estructural y sustancial de la democracia: las garantías, tanto liberales como sociales,
                                expresan en efecto los derechos fundamentales de los ciudadanos frente a los poderes del
                                Estado, los intereses de los débiles respecto de los fuertes, la tutela de las minorías
                                marginadas o discrepantes respecto a las mayorías integradas....”[1]
                            </i></strong>
                    </p>
                    <p>
                        El dilema represión-garantismo planteado en estos términos resulta engañoso. Un sistema judicial
                        en general y un método de investigación del delito en particular, que funcionan con alto grado
                        de ineficiencia, solo permite reprimir más o garantizar más derechos a los pocos que caen bajo
                        su órbita. El conflicto y la violencia circulante en la sociedad se acentúan, junto a la
                        creciente deslegitimación de las instituciones judiciales, políticas y policiales. <br>

                        La efectividad en la represión del delito no se contradice con respeto a las garantías, sino que
                        se complementan en una búsqueda común de una sociedad que conviva en paz y segura. <br>


                        Con el retorno de la democracia, se centró el análisis en la democratización de las Fuerzas
                        Armadas. Cuando se debatió la Ley de Seguridad Interior, la preocupación fue poner límites a la
                        participación de las Fuerzas Armadas en actividades de seguridad interior (artículos 31 y 32 de
                        la ley 24.059). En este proceso de desmilitarización de la policía, no se planteó una
                        redefinición de su rol en un proyecto democrático. Es menester una reconceptualización de éstas
                        como organizaciones, de funcionarios proveedores de un bien social, la Seguridad, aunque la
                        especificidad de su servicio público las obligue, en ciertas circunstancias, a usar la fuerza, a
                        llevar uniformes o a portar armas. <br>

                        Hoy nos enfrentamos con una institución autónoma. La ausencia de definiciones democráticas, del
                        uso de la violencia legítima por parte del Estado, dejó espacio a que el vacío fuera llenado por
                        la reproducción de los vicios aprendidos eficientemente en los tiempos de primacía del paradigma
                        de la Doctrina de Seguridad Nacional.
                    </p>

                    <h2>LA GLOBALIZACIÓN</h2>
                    <p>A la influencia de la Doctrina de Seguridad Nacional, la reformulación del rol de las Fuerzas
                        Armadas en el proceso democrático, debemos tener presente la incidencia de la globalización y su
                        repercusión en la seguridad.</p>
                    <p>
                        <strong><i>
                                La globalización es un concepto abarcativo y descriptor de muchas interpretaciones.
                                Primordialmente es un proceso que se da en el mundo económico y que tiene repercusión en
                                todas las áreas de la vida de una Nación.
                            </i></strong>
                    </p>
                    <p>
                        Históricamente el capitalismo ha necesitado estructuralmente expandirse más allá de sus
                        fronteras: Adam Smith lo afirma en la Riqueza de las Naciones. Entonces la hoy denominada
                        globalización hace referencia a una nueva etapa de expansión del capital. El fenómeno específico
                        que la caracteriza es la “internacionalización”, que significa el transbordamiento de las
                        fronteras que busca la ampliación del marco de acumulación de capital.
                        <br>

                        Este viejo fenómeno, nuevo en su dimensión, se traduce en cambios en diferentes ámbitos. Así se
                        habla de: <br>
                        -Globalización Social: haciendo referencia a la aproximación de las distancias
                        geográficas, a tendencias homogenizantes en el consumo, en los imaginarios culturales y en las
                        políticas.
                        <br>
                        -Globalización económica: alude específicamente a la hegemonía que tienen las grandes empresas
                        transnacionales sobre las operaciones mercantiles.
                        <br>
                        -Globalización política: hace hincapié en la incapacidad creciente de los países periféricos,
                        para la formulación, definición y ejecución de políticas públicas, por la presión de los
                        organismos multilaterales de crédito y el Mercado global...
                    </p>
                    <p>
                        Así se operan dos tendencias:
                    <ol>
                        <li>Desplazamiento de las decisiones políticas hacia las empresas; frente a la debilidad de los
                            partidos políticos y de la sociedad civil. Se fortalecen las empresas con capacidad de
                            influir en las decisiones.</li>
                        <li>Desplazamientos de las empresas nacionales por las transnacionales y de entes de alcance
                            nacional por organismos multilaterales.</li>
                    </ol>
                    </p>
                    <p>
                        Esta presión es recibida por el Estado, con un proceso de deslegalización impulsado a través de
                        la privatización de empresas y desregulación y descentralización de funciones a esferas locales
                        y privadas. <br>

                        El Estado va perdiendo el control directo de la sociedad y el mercado auto organiza sus propios
                        espacios y autorregula sus propias actividades. <br>

                        Así van apareciendo vacíos en los servicios que el Estado debe brindar, esos espacios son
                        ocupados por otros actores; así en el caso de las políticas de seguridad aparece la seguridad
                        privada. El Estado no puede prohibirlas, pero si puede establecer un fuerte sistema de control,
                        limitarlas y exigir que en sus funciones se sometan a los principios orientadores establecidos
                        en el marco de una política integral de seguridad pública, cuando éstas existen.
                    </p>

                    <h2>EL NUEVO PARADIGMA DE POLÍTICA DE SEGURIDAD</h2>
                    <p>
                        A pesar de haber transcurrido 20 años del regreso al sistema democrático, aun no se ha
                        encontrado el camino para el diseño de una política de seguridad eficiente y que responda a las
                        necesidades de la ciudadanía. <br>

                        Esta carencia, por parte, tanto de las instituciones del Estado como de la propia sociedad
                        civil, facilita la reproducción de vicios aprendidos bajo la dominación e influencia de la
                        Doctrina de Seguridad Nacional. <br>

                        El desafío está en despertar el interés por la masiva participación ciudadana, en la mayor
                        cantidad de espacios institucionales en las que se ejerce el derecho a elegir y a construir
                        consensos. <br>

                        Otro desafío es la ampliación de la participación en todos los ámbitos en que se toman
                        decisiones. <br>

                        La nueva propuesta deberá asegurar que quienes se vean beneficiados o perjudicados por la
                        aplicación de un proyecto, hayan podido participar de su proceso de elaboración. <br>

                        A esta propuesta debe adscribirse la elaboración de una nueva política de seguridad. <br>
                    </p>

                    <h3>Seis principios deben incluir una política de seguridad en un sistema democrático:</h3>
                    <ol>
                        <li>Asume la complejidad del problema y propone una política de seguridad.</li>
                        <li>Recupera la seguridad como un derecho de todos, sin discriminación.</li>
                        <li>Replantea y crea nuevas formas de control (control interno y externo por la sociedad civil).
                        </li>
                        <li>Asume la integralidad del problema.</li>
                        <li>Fortalece las redes de participación social.</li>
                        <li>Replantea y complejiza la formación de los operadores de seguridad.</li>
                    </ol>

                    <p>
                        Se debe comprender la problemática de la seguridad en su interrelación con la problemática
                        social, con la violencia, tanto la estructural, como la vinculada a las prácticas de la vida
                        cotidiana y a las formas de convivencia. <br>

                        Las políticas de prevención del delito deberán ser articuladas con políticas de integración
                        social. <br>

                        Se deberá pensar la seguridad como un tema de conjunto, esto implica convocar a todos los
                        sectores de la sociedad para que se involucren en la discusión sobre que es la seguridad y para
                        establecer que seguridad se quiere: para esta discusión se deberá entender a las fuerzas de
                        seguridad como un servicio público y no como una fuerza destinada al control social. <br>

                        Debemos aspirar a recrear una nueva relación policía-comunidad. <br>

                        Deberá replantearse también el modelo de participación ciudadana a través de sus representantes,
                        no reduciendo esta noción a los derechos de elegir y ser elegido, sino considerando el
                        importante papel que tiene los ciudadanos en la construcción de las decisiones políticas. <br>

                        Teniendo en cuenta estas consideraciones se replantea la forma tradicional de participación de
                        la sociedad civil. <br>

                        Se trata de diseñar modelos de control entrecruzados, para responder a una realidad múltiple y
                        compleja. ¿Cómo obtener información de los hechos de corrupción, si no es a través de la misma
                        sociedad que se ve afectada? Esto es crear canales directos, para realizar las denuncias, que
                        lleguen a cada vecino, fortaleciendo la participación de la comunidad y estimulando un fuerte
                        protagonismo de las organizaciones locales de la sociedad civil, a nivel municipal y barrial.
                    </p>

                    <h3>OBSTÁCULOS A LA PARTICIPACIÓN CIUDADANA:</h3>
                    <ol>
                        <li>El sistema de clientelismo político ligado a las intendencias, con redes de asociaciones acríticas a las gestiones gubernamentales.</li>
                        <li>El viejo sistema de cooperadoras policiales, conformada por  sectores funcionales al sistema policial.</li>
                        <li>Reproducción del discurso autoritario y represivo debido al  desconocimiento de la complejidad del problema criminal. Cuando se invita  a la participación se reproduce el discurso conocido de “mano dura”, “pena de muerte”, “limpieza”.</li>
                        <li>Cultura política con muchos valores autoritarios, paternalistas y  clientelistas, en la práctica. Su modificación requiere un análisis crítico de sus ejecutores a  partir de la evaluación de lo realizado y de los escasos logros obtenidos   por ese camino. Esta postura facilita la convocatoria a una   participación de todos los sectores dela comunidad a un proceso de  aprendizaje y evaluación permanente para implementar acciones destinadas a la intervención en la gestión pública y el control ciudadano.</li>
                        <li>El conflicto, no resuelto, entre los derechos de las mayorías, frente al derecho de las minorías. ; el derecho de las minorías privilegiadas y hegemónicas frente a las  minorías excluidas. Estamos ante una sociedad fragmentada conformada por muchas minorías. El desafío ante este escenario es la construcción de consensos para la convivencia en el espacio público. Se hace necesario la  apertura de espacios públicos, donde el diálogo y la construcción participativa se hace necesario para el desarrollo de una política que  pretenda ser democrática.</li>
                    </ol>

                    <h3>Facilitadores:</h3>
                    <ol>
                        <li>El momento del cambio es ahora. Ante los      innumerables fracasos del sistema actual, debemos plantearnos que la      reorganización del sistema de seguridad debe acostumbrarse desde su      nacimiento, tanto a la construcción de consensos como “Política de      Estado”, cuanto a la participación ciudadana en su desarrollo.</li>
                        <li>Las decisiones construidas con la participación de      los sectores sociales, ganan en cuanto a perdurabilidad y apoyo público y      por lo tanto son más eficientes.</li>
                        <li>Toma de conciencia por parte de organizaciones      comunitaria y personas, de la necesidad real de una participación activa      para la construcción de “Políticas Públicas de Seguridad”</li>
                        <li>Garantizar por parte del Estado la seguridad de las      instituciones y/o personas que participan en el proceso de construcción y      control de gestión.</li>
                        <li>Proponernos como universitarios e integrantes de      Sociedades Científicas, participar en el debate y construcción de una paz      comunitaria. Esto no significa desconocer ni acallar el conflicto, porque      el conflicto es un elemento dinámico y positivo dentro de la sociedad,      sino tratar de conjugar y coordinar el conjunto de instrumentos y saberes      que tiene la sociedad, el Estado, las organizaciones, el individuo, para      poder manejar esos conflictos y hacerlo sin que generen violencia.</li>
                        <li>La política de seguridad en una democracia      requiere del trabajo coordinado de      cuatro políticas: una política de seguridad, una política judicial      (conforma, coordina y perfecciona los sistemas judiciales). una política      criminal (economiza y regula el recurso violento del estado) y política de      derechos humanos (crea, fortalece y desarrolla los instrumentos del      ciudadano frente al abuso del poder del Estado). Son cuatro nuevas      políticas que tienen que ver como una sociedad democrática se enfrenta a      la conflictividad sin caer en la violencia o el autoritarismo.</li>
                        <li>Estas cuatro políticas son puntos neurálgicos del desarrollo      democrático de la Argentina,, debemos reconocer que la preparación de la      dirigencia política y social es todavía muy pobre</li>
                        <li>Se hace necesario el involucramiento de las Universidades,      Sociedades Científicas y los profesionales en el debate y en el      asesoramiento a instituciones políticas y soci</li>
                    </ol>

                    <p>[1] FERRAJOLI Luigi. Derecho y Razón. Cap.13. “¿Qué es el garantismo?”Pag. 864</p>



                    <a href="/img/posts/valores-y-seguridad.doc" class="descarga">DESCARGAR PUBLICACION - Valores y
                        seguridad</a>

                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>