<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violencia intrafamiliar | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>Violencia intrafamiliar</h1>
                    </div>
                    <h3><strong>Argentina 2019</strong></h3>
                    <p>El concepto de violencia familiar involucra la violencia conyugal, la violencia hacia los niños,
                        adolescentes y jóvenes y la violencia hacia los ancianos. <br>

                        No resulta fácil indagar sobre todas las causas o factores que contribuyen a desencadenar una
                        situación de violencia familiar. <br>

                        Él querer esclarecerla, es introducirse en una compleja red de factores sociales, económicos,
                        culturales, psicológicos, ideológicos, educacionales, que se entrecruzan y se potencian.
                    </p>
                    <p>
                        La violencia es un concepto de múltiples dimensiones y connotaciones. El diccionario de la Real
                        Academia Española, define a la violencia como la aplicación de medios fuera de lo natural a
                        cosas o personas para vencer su resistencia. <br>

                        Es una forma de ejercer poder sobre alguien que se lo considera de menor jerarquía. <br>

                        En la complejidad del análisis, es importante tener presente como demostración de violencia
                        familiar, actos que son considerados legítimos y aceptados por algunas sociedades, ya que sus
                        diferentes grados de tolerancia varían de un individuo a otro, de un país a otro, de un contexto
                        cultural y social a otro y por lo tanto se hace difícil establecer conceptos comunes de
                        violencia familiar cuyo carácter sea universalmente aceptado. <br>

                        La <strong> violencia física</strong> es universalmente reconocida como golpes, lesiones que
                        dejan marcas en el
                        cuerpo, pero también debemos considerar como violencia familiar el abuso sexual, el maltrato
                        familiar, la degradación psicológica, la humillación verbal, la violencia verbal, la continua
                        amenaza de abandono, agresión física, el chantaje económico, la reclusión en la casa. <br>

                        El<strong> maltrato físico</strong> consiste en cualquier acción no accidental por parte de los
                        padres o
                        cuidadores que provoque daño físico o enfermedad en el menor o lo coloque en grave riesgo de
                        padecerlo. En este maltrato es posible identificar lesiones que revelan el tipo de agresión
                        sufrida por el paciente como excoriaciones, hematomas, luxaciones, fracturas, quemaduras,
                        heridas cortantes, desgarros, lesiones en vísceras. <br>

                        En cambio el <strong> maltrato emocional o psicológico</strong>, es la hostilidad verbal o
                        gestual crónica en la
                        forma de insultos, burlas, desprecios, críticas o amenazas de abandono y el constante bloqueo de
                        las iniciativas de interacción de integrantes adultos o niños, donde se evita el contacto con el
                        menor hasta el encierro o confinamiento por parte de cualquier miembro del grupo familiar. <br>

                        La <strong>negligencia y/o abandono</strong> constituyen dos modalidades diferentes de la
                        privación de la
                        atención básica adecuada y necesaria para la vida de los menores, entendiéndose por ésta última
                        la alimentación, el vestido y la higiene, la protección y cuidados médicos y educativos. <br>

                        En la negligencia el adulto permanece junto a su hijo privándolo parcialmente y en grado
                        variable de la atención adecuada y necesaria. <br>

                        En el abandono el adulto se libera de su responsabilidad para con un menor obligando al entorno
                        social a hacerse cargo del mismo. <br>

                        Con el término menor se da por entendida la incapacidad para comprender y consentir plenamente
                        estos actos, debido a su inmadurez psicológica. <br>

                        Para que exista abuso sexual no es necesario que se consuma una relación sexual adulta o coito,
                        en cambio la violación es un delito en el que existe acceso carnal con penetración completa
                        vaginal y/o ano rectal sin consentimiento de la víctima, con el uso de la fuerza e intimidación.
                        Es impredecible, repentina y arbitraria. <br>

                        Las diferentes formas de violencia pueden darse tanto en niños como en adultos o ancianos y en
                        todas las clases sociales. <br>

                        Existen acciones concretas para abordar las diferentes formas de violencia física, pero aún no
                        se han realizado suficientes esfuerzos para abordar la violencia emocional. Esta es más
                        frecuente y afecta a gran parte de la población.<br>

                        La <strong>violencia emocional</strong> se manifiesta en los síntomas somáticos que con tanta
                        frecuencia
                        presentan los niños o los comportamientos antisociales. Es frecuente observar dolor: abdominal
                        recurrente, cefaleas, dificultad respiratoria, inapetencia, trastornos del sueño, curva de peso
                        y desarrollo psico-social deficiente, aislamiento, retraimiento, dificultad para la integración
                        social, agresividad, impulsividad, reiteradas agresiones, frecuentes mentiras, hurtos y
                        transgresiones, dificultad en el aprendizaje escolar, ausentismo reiterado, auto mutilación,
                        depresión, ansiedad, regresión, fugas, falta de higiene, vestimenta inadecuada, tristeza y
                        apatía, búsqueda intensa de expresiones afectuosas, actitudes y juegos sexualizados
                        persistentes.
                    </p>

                    <p>
                        Cuando toda esta sintomatología se presenta reiteradamente, nos tiene que hacer pensar, como
                        padres o adultos a cargo de menores, que estamos en una situación potencial de algunas de las
                        formas de violencia. <br>

                        Otra oportunidad que tenemos es conocer la historia personal de los adultos, si ellos padecieron
                        en su infancia diferentes formas de violencia; es muy posible que esos comportamientos se
                        repitan en la edad adulta, si no recibieron ayuda.
                        El profesor Rutter nos brinda algunos indicadores en personas que pueden presentar conductas
                        agresivas:
                    </p>
                    <ul>
                        <li>la falta de empatía en la relación a los demás</li>
                        <li>fallas en el desarrollo de un sentido moral</li>
                        <li>dificultades en aprender de la experiencia</li>
                        <li>inadecuado control de los impulsos</li>
                        <li>capacidad reducida para experimentar temor o ansiedad</li>
                        <li>presencia continua de hiperactividad</li>
                        <li>impulsividad y déficit de atención</li>
                        <li>déficit de competencia social y en destrezas interpersonales</li>
                        <li>propensión a la búsqueda de novedades y sensaciones nuevas</li>
                    </ul>
                    <p>
                        Para muchos estudiosos la conducta antisocial representa un déficit en la socialización
                        temprana, por eso debemos llevar a la práctica lo descrito en el rol de la familia. <br>

                        En sus estudios, ha señalado que los cuatro factores familiares que más influyen en la
                        manutención de conductas antisociales son:
                    </p>
                    <ul>
                        <li>Falta de reglas y normas familiares que hace que no existan expectativas claras acerca de lo
                            que el
                            niño debe o no debe hacer.</li>
                        <li>Falta de monitoreo parental de la conducta del niño, de modo que los padres no están
                            adecuadamente
                            informados acerca de los comportamientos y respuestas emocionales de éste, y no pueden
                            responder por
                            lo tanto informadamente.</li>
                        <li>Falta de contingencias afectivas, de tal modo que los padres regañan y gritan pero no
                            prosiguen un
                            plan disciplinario consistente, y no distinguen apropiadamente entre premiar los
                            comportamientos pro
                            social y castigar los antisociales.</li>
                        <li>Falta de técnicas para enfrentar adecuadamente la crisis o problemas familiares, de tal modo
                            que el
                            conflicto lleva a tensiones y peleas, pero no a una adecuada resolución.</li>
                    </ul>

                    <h3>CICLO DE LA VIOLENCIA FAMILIAR </h3>
                    <p>La violencia familiar no es un problema privado, sino un problema social, dado que sus
                        repercusiones afectan los ámbitos de la salud, el trabajo, la educación, la policía y la
                        justicia entre otros. En estas instituciones se retroalimentan. <br>

                        La violencia familiar es un proceso cíclico, descrito por Lenore Walker. Ella describe tres
                        fases: <br>

                        -Primera fase: denominada” fase de acumulación de tensiones,” en la cual se producen una serie
                        de incidentes que van incrementándose en intensidad y hostilidad. Comprende agresiones verbales
                        y puede ir acompañada de golpes menores. <br>

                        -Segunda fase: denominada “episodio agudo”, en la cual todas las tensiones que se venían
                        acumulando estallan en situaciones que pueden variar en gravedad, desde empujones, hasta
                        homicidio o suicidio. <br>

                        Tercera fase: denominada “luna de miel”, en la que se produce el arrepentimiento, a veces
                        inmediato por parte del hombre y en la cual sobreviene un período de seducción y la promesa de
                        que nunca más volverá a ocurrir
                    </p>
                    <h3>Características de las mujeres víctimas de violencia:</h3>
                    <p>Ante situaciones de violencia, el temor llega a paralizarlas y les impide pedir ayuda.<br>

                        En vez de establecer contacto con el mundo exterior, intentan reubicarse en el que están.<br>

                        La mujer golpeada se aleja de la posibilidad de recibir ayuda de redes de apoyo, inclusive de su
                        propia familia. Esta conducta, fomentada por el golpeador, aumenta su dependencia hacia él y
                        limita sus posibilidades de ayuda.<br>

                        Posee sentimientos de culpa. Cree que ella, con sus actitudes, ha provocado la violencia y trata
                        de corregirla, cuando en realidad, los orígenes responde a otras causas.<br>

                        Presenta muy baja autoestima, producto de los años que ha venido soportando todo tipo de
                        desvalorizaciones psicológicas.<br>

                        Reiteración de conductas de indefensión con otras personas, como por ejemplo, padres,
                        hermanas/os, hijas / os, abogados, etc.<br>

                        Por lo general, desconocen sus derechos y, si los conocen, les cuesta ejercerlos.<br>

                        Son sugestionables a los juicios de valor vertidos sobre ellas.<br>

                        Tienen una notable percepción y son muy contenedoras ante una situación de maltrato hacia el
                        prójimo<br>

                        La Dra. Walker acuñó el concepto de “indefensión aprendida”, que significa que, dado que los
                        intentos de la mujer golpeada para escapar, controlar o evitar la violencia han fracasado, cada
                        vez se ahonda más en ella la idea de su incapacidad para defenderse y que pese a sus esfuerzos,
                        nada cambiará.<br>

                        Su falta de control sobre la situación la lleva a un estado crónico de indefensión, falta de
                        esperanza y desesperación
                    </p>
                    <h3>Orientación para mujeres maltratadas.</h3>
                    <p>Tener en cuenta: la Lic. Graciela Ferreira en su libro “Hombres Violentos, mujeres maltratadas”
                        aconseja y / o señala:
                    <ul>
                        <li>el hombre que golpea a su mujer aprendió esta conducta antes de conocerla a ella.</li>
                        <li>quien está siendo maltratada debe saber que es víctima de un delito.</li>
                        <li>contar el problema a la mayor cantidad de personas posibles.</li>
                        <li>la violencia conyugal no desaparece ni cambia. Por el contrario, los episodios son cada vez
                            más
                            frecuentes y graves.
                        </li>
                        <li>mantenerse alerta y no ceder a la seducción. No mostrar miedo (aunque lo sienta). No ceder a
                            las
                            presiones económicas (consejo de una mujer golpeada).</li>
                        <li>alejarse del sitio de violencia, ir a un lugar seguro.</li>
                        <li>si se puede salir, ir a la policía, caso contrario, ¡¡gritar y pedir auxilio!! En la
                            comisaría,
                            formalizar una denuncia, no una exposición civil, para que intervenga el juez. Pedir una
                            copia y
                            guardarla en un lugar seguro.</li>
                        <li>registrar todos los datos posibles acerca de testigos y denuncias.</li>
                        <li>guardar las pruebas de la violencia u otra información que pueda ser útil más adelante</li>
                        <li>si se considera pertinente, entablar acciones legales</li>
                        <li>guardar los documentos en un lugar seguro</li>
                        <li>buscar ayuda psicológica y jurídica. Integrarse a un grupo de autoayuda.</li>
                        <li>obtener el certificado del médico forense donde queden registradas las lesiones.</li>
                        <li>esforzarse por poner límites y no aceptar situaciones que puedan ser riesgosas.</li>
                    </ul>
                    </p>
                    <h3>Perfil del hombre violento</h3>
                    <p>
                        El hombre violento reúne una serie de características de personalidad y conducta (aportes del
                        Lic. Jorge Corsi):
                    </p>
                    <p>
                        -Deseo de control: un hombre violento vive obsesionado por ejercer el control de su mujer.
                        Control y poder son dos cualidades que aspira poseer de manera absoluta. <br>

                        -Doble fachada: la actitud que muestra ante terceros no es similar a la que muestra a su esposa
                        o
                        compañera. Ante extraños se muestra seductor, simpático, amable simpático... <br>

                        -Falta de seguridad personal: la que se compensa con las actividades violentas: Siente
                        constantemente amenazado su poder y su control sobre lo que lo rodea. <br>

                        -Baja autoestima: débil imagen de sí mismo. Es una persona insegura que no tiene confianza en
                        sus
                        propios logros. El despliegue de poder encubre su debilidad.<br>

                        -Represión de sentimientos: tiende a suprimir todo aquello relacionado con los afectos y
                        sentimientos, los cuales percibe como una transgresión al modelo masculino.<br>

                        -Dificultades en la comunicación: el hombre violento no se comunica sinceramente, sino con
                        códigos estereotipados que no lo comprometan; nunca habla en primera persona, sino como si las
                        cosas le sucedieran a terceros.<br>

                        -Aislamiento emocional: si bien se muestran sociables, nunca comprometen sus afectos.<br>

                        -Incapacidad de lograr alternativas al conflicto: el hombre violento no cuenta con un abanico de
                        posibilidades de resolución de conflictos, sino por contrario recurren asiduamente a la
                        violencia como única respuesta. Reaccionan de inmediato sin capacidad reflexiva para buscar
                        otras alternativas que no sea la respuesta violenta.<br>

                        -Intuición negativa: es una persona excesivamente controladora, está pendiente de su compañera,
                        a
                        la que conoce en sus mínimos detalles. Esto permite lastimarla en aquello que más le duele.
                        Conoce sus puntos débiles, sus miedos, sus frustraciones, y es hacia allí que encamina su
                        agresión.
                        <br>
                        -Agresión silenciosa: es aquella que responde a la actitud “si no he dicho nada”, seguido de
                        largos silencios, miradas, gestos, desprecios, insultos en voz muy baja percepciones que solo
                        son comprendidas por la destinataria y / o sus hijos.<br>

                        -Actitud negadora: realizan justificaciones y racionalizaciones que no le permiten descubrirse
                        como violentos. Rechaza las evidencias, presenta un pensamiento rígido que conspira en contra de
                        lo racional. Trata de ganar confianza del interlocutor para tenerlo de aliado.<br>

                        -Falta de toma de conciencia del problema: no se hace responsable de sus actos violentos, los
                        proyecta a situaciones externas o terceras personas.<br>

                        -Manipulación de los hijos: los agresores utilizan a los hijos para tener acceso a sus esposas,
                        comprometiendo su seguridad o para que retiren los cargos que pesan en su contra.<br>

                        -Abuso de sustancias: muchos agresores, no todos, abusan de alcohol y / o drogas. Estas
                        circunstancias se asocian al hecho violento y lo potencian<br>

                        -Los hombres violentos, cuando están en proceso de recuperación, reconocen que ellos también son
                        víctimas de su propia violencia. Con respecto a su pronóstico, conocen la existencia de
                        altibajos en su conducta. No confían en una eliminación total del problema, se rotulan como ex
                        violentos. La integración voluntaria a grupos de autoayuda puede ser eficaz en un proceso de
                        cambio.<br> <br>

                        Hoy en todos los países rigen leyes, que el lector, debe consultar, de protección contra la
                        Violencia Familiar.

                        Tiene como finalidad cesar el riesgo que pesa sobre la víctima. Medida eficaz, urgente y
                        transitoria.

                        Contempla el funcionamiento de Centros de Información.
                        <br>
                        La denuncia puede ser oral o escrita y no requiere patrocinio legal.

                        Asistencia a la víctima y al victimario en lugares diferenciado.

                        Respetar la decisión de la víctima con respecto a la denuncia del agresor, salvo que el riesgo
                        sea muy grande, el personal debe evaluar medidas protectoras con otras instancias.

                        Victimización secundaria
                    </p>
                    <h3>LA PREVENCIÓN EN EL PRIMER NIVEL DE ATENCIÓN</h3>
                    <p>La intervención debe ser educativa. Entendiendo por tal la intervención motivadora, que busca
                        lograr cambios de comportamientos, valores, creencias y actitudes.

                        Esta intervención debe ser continua, permanente.

                        Estará a cargo de profesionales especializados, si los hay, o adultos solidarios.

                        Debemos dejar atrás barreras culturales, prejuicios o falsos conceptos sobre la privacidad y los
                        derechos de familia sobre los niños y/o sus integrantes. Debemos romper tabúes. Debemos
                        preguntar sobre estos temas.

                        Poner al descubierto al victimario ha sido la medida más eficaz. No condenarlo, ayudarlo a que
                        tome conciencia

                        La intervención policial y/o judicial, debe tratar de no victimizar más a la víctima, con
                        exámenes y pruebas.

                        La solidaridad familiar y social debe hacerse presente.

                        Hasta la fecha se ha jerarquizado la pesquisa sobre el maltrato físico, el abuso sexual y la
                        violación.

                        En el futuro debemos incorporar como motivo de preocupación permanente, el maltrato emocional,
                        que es el más frecuente y deja secuelas importantes sobre las personas.

                        Igualmente es importante detectar aquellos niños que son víctimas de negligencia o abandono.
                    </p>
                    <h3>PROGRAMA DE PREVENCIÓN SECUNDARIA</h3>
                    <p>Debe realizar estrategias de intervención con las poblaciones más vulnerables, en la comunidad,
                        proporcionando recursos para la identificación temprana del problema y un apoyo social eficiente
                        y accesible. <br>

                        La experiencia recogida en la realización de un posgrado de SALUD SOCIAL Y COMUNITARIA
                        (2005/10), es donde se hacen realidad las estrategias de APS (atención primaria de salud). Nos
                        mostró la realidad expresada por los vecinos en un trabajo con el equipo de salud. En las
                        reuniones contaban situaciones de sus vecinos, referentes a de salud. Estas fueron las causas
                        aportadas por ellos: <br>

                        PATOLOGIA PREVALENTE APORTADA POR PARTICIPACIÖN COMUNITARIA <br>

                        Violencia familiar, violencia hacia la mujer, abuso sexual, abandono o negligencia hacia
                        menores, embarazo adolescente, adicciones. Uso y abuso de sustancias legales e ilegales,
                        familias con integrantes con enfermedad mental y/o discapacidad, familias con integrantes con
                        situaciones penales, prostitución y trata de personas, delitos y asociaciones para delinquir,
                        alcoholismo crónico, enfermedades crónicas, familias multiproblemáticas y vulnerables,
                        incidencia de determinantes sociales sobre grupos familiares, calidad de la atención y maltrato
                        del personal profesional y/o administrativo, localización de problemas ambientales. <br>

                        Este conocimiento permitió la intervención temprana del equipo de salud y gestionar la ayuda de
                        instituciones de la comunidad.
                    </p>
                    <a href="/img/posts/violencia-intrafamiliar.docx" class="descarga">DESCARGAR PUBLICACION - Violencia intrafamiliar</a>



                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>