<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La salud integral de adolescentes y jovenes | Blog | Adolescencia y Juventud</title>
    <meta name="description"
        content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords"
        content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <article class="post-container">
                <div class="content">
                    <div class="titulo">
                        <h1>VIOLENCIA ESCOLAR</h1>
                    </div>

                    <p>Los actos violentos o agresivos vienen preocupando a la sociedad desde los años setenta, década
                        en que aparecen, con magnitud preocupante en países como Estados Unidos, Suecia, Noruega y el
                        Reino Unido.
                        <br>
                        Como es conocido, muchos de los fenómenos que ocurren en los países desarrollados, se traslada a
                        todo los países, respondiendo a las características de la globalización, a través de los medios
                        de comunicación.
                        <br>
                        En las instituciones educativas de Latino América y el Caribe el problema está presente.
                        <br>
                        Abordar este tema es muy complejo; se entrecruzan factores muy diversos.
                        <br>
                        Las investigaciones, el análisis y lo publicado hasta el presente son muy disímiles, como
                        también las respuestas dadas en el ámbito educativo.
                        <br>
                        Los comportamientos agresivos y/o violentos están sujetos a situaciones personales,
                        relacionales, donde las emociones, los sentimientos y los aspectos cognitivos y organizacionales
                        de la institución escolar están presente.
                        <br>
                        Todos estos factores a su vez están ligados a situaciones familiares y al contexto social donde
                        se desarrolla el problema. Este último factor interviniente le da características propias al
                        fenómeno.
                        <br>
                        En la Ciudad Autónoma de Buenos Aires, Argentina, hemos desarrollado un Programa de Intervención
                        y Prevención desde 1986 a 1996, en diez escuelas secundarias dependientes del Estado localizadas
                        en un sector de esta ciudad. Este programa fue seleccionado por la Organización Mundial de la
                        salud y la Fundación Internacional de la Juventud para participar del “Encuentro Conjunto sobre
                        Proyectos exitosos sobre la Salud de los Adolescentes y su Desarrollo”. Ginebra, noviembre de
                        1991. La selección fue realizada entre 400 programas, interviniendo en la reunión 12 Programas
                        seleccionados de diferentes continentes.
                        <br>
                        Desde esta experiencia y de la revisión bibliográfica intentaré aportar al debate sobre esta
                        situación que se vive en las instituciones escolares.
                    </p>

                    <p>
                        AGRESIÓN o VIOLENCIA?
                        <br>
                        Que pasa en las Familias?
                        <br>
                        Que sucede en el Contexto Social?
                        <br>
                        Y los medios de comunicación tienen algo que ver?
                        <br>
                        La institución es víctima?
                        <br> <br>
                        Es importante comprender desde el comienzo la diferencia existente entre agresión y violencia.
                        En muchas oportunidades se emplean indistintamente, lo que trae confusión.
                        <br>
                        No podemos afirmar que exista un consenso que permita un marco conceptual en que todas las
                        opiniones coincidan. Este es un aspecto que dificultan la unidad de criterios y no permiten
                        lograr acuerdos.
                        <br>
                        La agresión es impulsiva, no pensada, transitoria, direccional, brusca, rápida e imprevista,
                        irrepetible, tiene una subjetividad basada en la hostilidad, la rabia, la ira, es inconciente,
                        no pensada.
                        <br>
                        La violencia es intencional, conciente, tiene una elaboración previa, tiene un objetivo
                        específico, busca hacer daño.
                        <br>
                        Con la intención de fundamentar aún más la diferencia entre estos dos conceptos, el Dr. Mauricio
                        Knobel[1] nos aporta: “la agresión puede hacerse extensiva a todo comportamiento asertivo, donde
                        tiene que lograrse un cierto tipo de destreza para realizar determinadas tareas o simples
                        conductas competitivas, tan frecuentes en nuestra sociedad. La violencia es el comportamiento
                        consciente que busca la destrucción, el aniquilamiento, destruir, desintegrar al otro o los
                        otros”.


                    </p>
                    <h3>La violencia ha sido entendida de maneras muy diversas:</h3>
                    <p>· La violencia como instinto en el sentido freudiano, postula la existencia de un verdadero
                        instinto de muerte.

                        · La violencia como patrón de conducta frente a una sociedad violenta y como respuesta
                        adaptativa, estimulada aún más por los medios de comunicación masivos, los comportamientos
                        familiares y la aceptación y tolerancia social.
                        <br>
                        · La violencia como vivencia emocional constitucional que se expresa en la relación con el mundo
                        externo, como conductas a nivel de ataque y/o destrucción, como una modalidad relacional de
                        nuestros tiempos.
                        <br>
                        · La violencia como rasgo caracterológico, formando parte de determinadas estructuras de
                        personalidad. Pueden ser violentos egosintónicos, estos viven una especie permanente de estado
                        persecutorio, provocando sentimientos hostiles en su entorno. En un estado más avanzado darán
                        lugar a las llamadas “caracteropatías agresivas” o hasta verdaderas “psicopatías”.
                    </p>

                    <h3>BUSCANDO APORTES CONCEPTUALES:</h3>

                    <p>Muchos son los aportes de las diferentes disciplinas científicas para explicar y poder comprender
                        estos comportamientos.
                        <br>
                        Podemos afirmar que las conductas son siempre una respuesta a una situación dada.

                        La experiencia recogida en los programas de Prevención de la Violencia estudiantil (1986-1996) y
                        el de Prevención y Asistencia a la Adicciones (1992-2000), unida a mi preocupación como pediatra
                        por los altos índices de fracaso escolar, me lleva a plantear la necesidad de aunar criterios en
                        el momento de categorizar los comportamientos de niños y adolescentes en los diferentes ámbitos
                        donde actúan. Acordar mayor precisión en el lenguaje.
                        <br>
                        Al dirigir en la actualidad, un Hogar de adolescentes y jóvenes con experiencias prolongadas de
                        convivir en la calle, me permite ver un recorrido de los comportamientos infantiles y de
                        adolescentes, que podemos unificar como trastorno disocial entendiendo como tal la presentación
                        persistente y reiterada de comportamiento disocial, agresivo o retador. En un grado más extremo
                        puede llegar a violar las normas, mayores de las que serían aceptables para el carácter y la
                        edad del individuo afectado y las características de la sociedad en que vive y que no son
                        simplemente manifestaciones oposicionistas, desafiantes o subversivas. CIE 10 F 91
                        <br>
                        Si reflexionamos sobre los comportamientos no adecuados en las familias (“trastornos de
                        conducta”), lo observable en las instituciones escolares (“violencia escolar”) y los
                        comportamientos en las calles podemos aunar criterios y opinar que lo que se observa en los
                        diferentes espacios sociales entra dentro de la Clasificación Internacional de Enfermedades CIE
                        10 F 91, con esta dominación.
                        <br>
                        En la revisión bibliográfica por Internet, he encontrado un trabajo de Juan Manuel Moreno
                        Olmedilla 2, en la que coincidimos en lo conceptual, el habla de Comportamiento antisocial.
                        <br>
                        “Expresa, no podemos considerar dentro de la misma categoría un insulto u otra falta mas o menos
                        leve de disciplina o, por ejemplo, un acto de vandalismo o de agresión física con un arma.” La
                        tendencia por parte del público en general y los docentes en particular, es colocar dentro de un
                        mismo concepto diferentes manifestaciones observables en el ámbito escolar. Creo que se trata de
                        manifestaciones distintas de un mismo sustrato violento que caracteriza a los niños y jóvenes de
                        hoy.
                        <br>
                        Como muchos fenómenos que ocurren en el espacio escolar no pueden considerarse propiamente como
                        violentos, entiendo como más inclusiva y adecuada la expresión de comportamiento o conducta
                        antisocial. Así, en mi opinión, son seis los tipos o categorías de comportamiento antisocial
                        entre los que debemos diferenciar:
                        <br>
                        *Disrupción en las aulas
                        <br>
                        *Problemas de disciplina (conflictos entre profesorado y alumnado).
                        <br>
                        *Maltrato entre compañeros (“bullying”)
                        <br>
                        *Vandalismo y daños materiales
                        <br>
                        *Violencia física (agresiones o extorsiones)
                        <br>
                        *Acoso sexual
                        <br><br>
                    </p>

                    <p>La <strong>disrupción en las aulas:</strong> constituye la preocupación más directa y la fuente
                        de malestar más
                        importante de los docentes. Hablamos de disrupción cuando tres o cuatro alumnos con su
                        comportamiento impiden el desarrollo normal de la clase, obligando al profesorado a emplear cada
                        vez más tiempo en controlar la disciplina y el orden. Esta modalidad tiene poca repercusión
                        fuera de la escuela, pero es lo que más preocupa al profesorado en el día a día de su labor y el
                        que más gravemente interfiere con el aprendizaje de la gran mayoría de los alumnos.

                        Los <strong>problemas de disciplina:</strong> normalmente en forma de conflictos de relación
                        entre profesores y
                        alumnos, supone un paso más en lo que hemos denominado disrupción en el aula. En este caso se
                        trata de conductas que implican una mayor o menor dosis de violencia – desde la resistencia o el
                        boicot pasivo hasta el desafío y el insulto al profesorado -, que pueden desestabilizar por
                        completo la vida cotidiana en el aula. Sin olvidar que en muchas ocasiones, las agresiones
                        pueden ser de profesor a alumno o viceversa. Nuestra cultura ha mostrado una hipersensibilidad a
                        las agresiones verbales, por cuanto se asume que se trata de situaciones que anuncian problemas
                        aún más graves en el caso futuro de no solucionarse con firmeza y medidas ejemplares.

                        El <strong>maltrato entre compañeros (“bullying”):</strong> hace referencia a los procesos de
                        intimidación y
                        victimización entre iguales. Se trata de procesos en los que uno o más alumnos acosan o
                        intimidan a otro, a través de insultos, rumores, vejaciones, aislamiento social, motes, etc. Si
                        bien no incluyen la violencia física, este maltrato intimidatorio puede tener lugar a lo largo
                        de meses e incluso años, siendo sus consecuencias ciertamente devastadoras sobre todo para la
                        víctima.

                        El <strong>vandalismo, la agresión física, y los daños materiales</strong> son ya estrictamente
                        fenómenos de
                        violencia. A pesar de ser lo que más impacto tiene entre las comunidades escolares y sobre la
                        opinión pública en general, los datos de la investigación llevada a cabo en distintos países
                        sugieren que no suelen ir más allá del 10% del total de los casos de conducta antisocial que se
                        registran en los centros educativos. No obstante, el aparente incremento de las extorsiones y de
                        la presencia de armas en centros escolares como de Estados Unidos, Francia y Alemania, han
                        obligado a tomar medidas más drásticas en estas escuelas.

                        El <strong>acoso sexual</strong> es, como el “bullying”, un fenómeno o manifestación oculta del
                        comportamiento
                        antisocial. Son muy pocos los datos de que se dispone a este respecto. En países como Holanda
                        (Mooij, 1997) o Alemania (Funk, 1997), donde se han llevado a cabo investigaciones sobre el
                        tema, la proporción de alumnos que admiten en escuelas secundarias haber sufrido acoso sexual
                        por parte de sus compañeros, oscila en el 4 % en la muestra alemana y 22 % en las chicas de la
                        muestra holandesa”. </p>
                    <br><br>

                    <p>Podemos afirmar que la violencia escolar que provoca “pánico social” (vandalismo, daños
                        materiales, agresión física) de las que se ocupan los medios de comunicación no es
                        cuantitativamente significativa.
                        <br>
                        En el Programa de la Ciudad de Buenos Aires el porcentaje de estos hechos constituyen alrededor
                        de un 10% de los comportamientos disóciales o antisociales como los denomina Olmedilla. Estos
                        son los que hacen ruido y alarman y preocupan a las autoridades educativas y los padres. Pero lo
                        más preocupante para los docentes son los comportamientos no visibles por los medios de
                        comunicación y la población, como los actos disruptivos y la agresión o victimización entre
                        compañeros (bullying). Estos producen un desgaste diario del personal docente, como la ha
                        demostrado la investigación de la Lic. Ana María Méndes Diz , en estudio sobre el stress docente
                        e impacta negativamente en la calidad del proceso educativo.
                        <br>
                        “La existencia de conflictos en las instituciones escolares no solamente debe asustarnos, ni
                        siquiera preocuparnos, sino que debemos entenderla como algo en principio natural en cualquier
                        contexto de convivencia entre personas; así, por el contrario, los conflictos pueden ser
                        oportunidades de aprendizaje y desarrollo personal para todos los miembro de la comunidad
                        educativa”. (Olmedilla)
                        <br>
                        Coincidiendo con esta forma de pensar, Rocio Lleó Fernandez3, también opina que la indisciplina
                        o el mal comportamiento, son fenómenos perturbadores que alteran la buena marcha de la vida
                        escolar, pero que no deberíamos considerar verdaderos problemas de violencia Ella aporta el
                        término conflicto., vocabulario que también es utilizado indiscriminadamente cuando se habla de
                        violencia escolar. “Este concepto aparece generalmente cargado de una valoración negativa,
                        debido a que se confunde conflicto con violencia, es decir, con su patología. Un conflicto puede
                        resolverse de forma no violenta. Mientras la violencia no es innata en los seres humanos sino
                        que es un aprendizaje; el conflicto es consustancial a la vida humana, algo natural y por lo
                        tanto inevitable. De esta manera, más que eliminar el conflicto, de lo que se trata es de saber
                        regularlo creativa y constructivamente de forma no violenta, ya que es una energía y oportunidad
                        para el cambio”
                        <br>
                        Si bien no existe un paradigma conceptual universalmente aceptado, podemos proponer desde la
                        experiencia acumulada en estos años algunos conceptos básicos. Estamos hablando de
                        comportamientos de niños, adolescentes y jóvenes en diferentes espacios sociales, en este
                        artículo, con énfasis en la institución escolar
                        <br>
                        Debiéramos acordar que la salud es una construcción social, por lo tanto el comportamiento es un
                        aspecto donde la familia, el contexto social, en el que incluyo los medios de comunicación y la
                        escuela han tenido y tienen una participación importante en su construcción.
                    </p>
                    <h3>LA INFLUENCIA DEL CONTEXTO SOCIAL: </h3>

                    <p>La salud como construcción social
                        <br>
                        La mayor parte de la conducta humana se aprende por observación.
                        <br>
                        El modelo es uno de los medios más poderosos para transmitir valores, actitudes, patrones de
                        pensamiento y conductas en una sociedad.
                        <br>
                        Cuando el modelo social está enmarcado en el individualismo, en el éxito personal, en la ruptura
                        de la solidaridad y de los comportamientos éticos, cuando se busca el poder y se ejerce el
                        autoritarismo, el avasallamiento, se está construyendo una sociedad violenta.
                        <br>
                        En este tipo de contexto social es esperable que se cree una asimetría en las relaciones
                        humanas, en la cual uno es el dominador y el otro el sometido. En éste último se originan
                        sentimientos de miedo, terror, opresión, desvalorización y falta de actitud para su propia
                        defensa.
                        <br>
                        También se suma en este momento social el terrorismo, las guerras, las luchas étnicas, el
                        vandalismo, la violencia gratuita sin sentido, que son mostrados por los medios de comunicación
                        en forma exaltada. Esta situación agrava el modelo que mostramos y que actúa como modelaje
                        negativo de los comportamientos.
                        <br>
                        Lo que se ve es la supremacía y la imposición del más fuerte.
                        <br>
                        Asociada a todas estas formas de violencia existe una forma oculta, pero igualmente devastadora,
                        la violencia que ocurre puertas adentro, en la intimidad del hogar, la violencia familiar.
                        <br>
                        A pesar de los progresos y avances en el desarrollo de las ciencias y las tecnologías, en éste
                        siglo, factores biológicos, psicológicos, sociales, culturales, económicos, ideológicos,
                        educacionales, se asocian para que la violencia en el seno de la familia se perpetúe y no
                        trascienda.
                        <br>
                        Asimismo la aceptación y justificación de los valores violentos en la sociedad, enmarca de la
                        misma manera la violencia en las familias, aceptándose con naturalidad dichos actos, a tal punto
                        que no se perciben como delito.
                    </p>
                    <br><br>
                    <p>Lo que presenciamos diariamente en las escuelas son comportamientos disóciales, excepcionalmente
                        comportamientos violentos.
                        <br>
                        Este concepto es importante y fundamental para que dejemos de hablar de violencia escolar y
                        comencemos a instalar en la sociedad,” comportamientos disóciales en el ámbito escolar.
                        <br>
                        No podemos pensar que todos los chicos son violentos, que premeditan conscientemente y buscan
                        hacer daño
                        <br>
                        En todos estos espacios conviven niños, adolescentes y jóvenes con adultos.
                        <br>
                        Adultos que son, con sus actitudes y comportamientos, sistemas modeladores, del comportamiento
                        infanto-juvenil.
                        <br>
                        Junto a la familia, la escuela es el espacio social más jerarquizado para acompañar y completar
                        el crecimiento y desarrollo de niños y adolescentes.
                        <br>
                        En estos espacios, fundamentalmente en el primero se aprenden hábitos, formas de vincularse,
                        reconocimiento de las jerarquías, de la autoridad, respeto y tolerancia por las diferencias,
                        cumplimiento de las normas y los límites, aprenden a contener la agresión y los comportamientos
                        violentos.
                        <br>
                        Cuando éste aprendizaje no es dado por la familia, nos enfrentamos con niños que ingresan a
                        otros espacios sociales con aprendizajes distorsionados. Esto afectará la convivencia por falta
                        de entrenamiento en el cumplimiento de las normas y límites establecidos por otros adultos, en
                        el caso de la escuela, los docentes.
                        <br>
                        Cuando el niño ha desarrollado buenas aptitudes, esto facilita su inserción en la escuela,
                        asegurando un buen desempeño.
                        <br>
                        La violencia ha sido entendida de maneras muy diversas:
                        <br>
                    <ul>
                        <li> La violencia como instinto en el sentido freudiano, postula la existencia de un verdadero
                            instinto de muerte.</li>

                        <li> La violencia como patrón de conducta frente a una sociedad violenta y como respuesta
                            adaptativa, estimulada aún más por los medios de comunicación masivos, los comportamientos
                            familiares y la aceptación y tolerancia social.</li>

                        <li> La violencia como vivencia emocional constitucional que se expresa en la relación con el
                            mundo
                            externo, como conductas a nivel de ataque y/o destrucción, como una modalidad relacional de
                            nuestros tiempos.</li>

                        <li> La violencia como rasgo caracterológico, formando parte de determinadas estructuras de
                            personalidad. Pueden ser violento ego sintónico, estos viven una especie permanente de
                            estado
                            persecutorio, provocando sentimientos hostiles en su entorno. En un estado más avanzado
                            darán
                            lugar a las llamadas “caracteropatías agresivas” o hasta verdaderas “psicopatías”.</li>
                    </ul>
                    </p>
                    <p>
                        Muchos son los aportes de las diferentes disciplinas científicas para explicar y poder
                        comprender estos comportamientos.
                        <br>
                        Podemos afirmar que las conductas son siempre una respuesta a una situación dada.
                        <br>
                        Finalizando el siglo XX podemos afirmar que se ha constituido en una de las principales
                        preocupaciones en la sociedad.
                        <br>
                        La búsqueda de respuestas es uno de los mayores desafíos.
                        <br>
                        Los comportamientos violentos y las diferentes formas de violencia es materia de análisis en
                        todos los ámbitos sociales.
                        <br>
                        De todas las formas de violencia la que más nos preocupa es aquella que tiene como protagonista
                        a las personas, sean niños, adultos o ancianos.
                        <br>
                        La mayor parte de la conducta humana se aprende por observación. El modelo es uno de los medios
                        más poderosos para transmitir valores, actitudes, patrones de pensamiento y conductas en una
                        sociedad.
                        <br>
                        Cuando el modelo social está enmarcado en el individualismo, en el éxito personal, en la ruptura
                        de la solidaridad y de los comportamientos éticos, cuando se busca el poder y se ejerce el
                        autoritarismo, el avasallamiento, se está construyendo una sociedad violenta.
                        <br>
                        En este tipo de contexto social es esperable que se cree una asimetría en las relaciones
                        humanas, en la cual uno es el dominador y el otro el sometido. En éste último se originan
                        sentimientos de miedo, terror, opresión, desvalorización y falta de actitud para su propia
                        defensa.
                        <br>
                        También se suma en este momento social el terrorismo, las guerras, las luchas étnicas, el
                        vandalismo, la violencia gratuita sin sentido, que son mostrados por los medios de comunicación
                        en forma exaltada. Esta situación agrava el modelo que mostramos y que actúa como modelaje
                        negativo de los comportamientos.
                        <br>
                        Lo que se ve es la supremacía y la imposición del más fuerte.
                        <br>
                        Asociada a todas estas formas de violencia existe una forma oculta, pero igualmente devastadora,
                        la violencia que ocurre puertas adentro, en la intimidad del hogar, la violencia familiar.
                        <br>
                        A pesar de los progresos y avances en el desarrollo de las ciencias y las tecnologías, en éste
                        siglo, factores biológicos, psicológicos, sociales, culturales, económicos, ideológicos,
                        educacionales, se asocian para que la violencia en el seno de la familia se perpetúe y no
                        trascienda.
                        <br>
                        Asimismo la aceptación y justificación de los valores violentos en la sociedad, enmarca de la
                        misma manera la violencia en las familias, aceptándose con naturalidad dichos actos, a tal punto
                        que no se perciben como delito.
                    </p>
                    <br><br>
                    <p>Lo que presenciamos diariamente en las escuelas son comportamientos agresivos, excepcionalmente
                        comportamientos violentos.
                        <br>
                        Este concepto es importante y fundamental para que dejemos de hablar de violencia escolar y
                        comencemos a instalar en la sociedad,” agresiones en el ámbito escolar “o “comportamientos
                        agresivos en las instituciones escolares”.
                        <br>
                        No podemos pensar que todos los chicos son violentos, que premeditan conscientemente y buscan
                        hacer daño
                        <br>
                        En todos estos espacios conviven niños, adolescentes y jóvenes con adultos.
                        <br>
                        Adultos que son, con sus actitudes y comportamientos, sistemas modeladores, del comportamiento
                        infanto-juvenil.
                        <br>
                        Junto a la familia, la escuela es el espacio social mas jerarquizado para acompañar y completar
                        el crecimiento y desarrollo de niños y adolescentes.
                        <br>
                        En estos espacios, fundamentalmente en el primero se aprenden hábitos, formas de vincularse,
                        reconocimiento de las jerarquías, de la autoridad, respeto y tolerancia por las diferencias,
                        cumplimiento de las normas y los límites, aprenden a contener la agresión y los comportamientos
                        violentos.
                        <br>
                        Cuando éste aprendizaje no es dado por la familia, nos enfrentamos con niños que ingresan a
                        otros espacios sociales con aprendizajes distorsionados. Esto afectará la convivencia por falta
                        de entrenamiento en el cumplimiento de las normas y límites establecidos por otros adultos, en
                        el caso de la escuela, los docentes.
                        <br>
                        Cuando el niño ha desarrollado buenas aptitudes, esto facilita su inserción en la escuela,
                        asegurando un buen desempeño.
                        <br><br>
                        El ingreso escolar ofrece al niño grandes desafíos.
                        <br>
                        · Tolerar la separación del grupo familiar por varias horas
                        <br>
                        · Hacer nuevos amigos
                        <br>
                        · Participar de nuevas experiencias
                        <br>
                        · Experimentar los primeros momentos de independencia familiar
                        <br>
                        · Respetar las indicaciones y normas establecidas por adultos que no son sus padres.
                        <br>
                        · Adaptarse a un nuevo espacio social con funciones diferentes a la familia
                        <br><br>
                        Cuando concurre por primera vez a la escuela es importante, para que se sienta seguro, que
                        conozca:
                        <br>
                        · Su nombre y apellido
                        <br>
                        · Su edad y el día que nació
                        <br>
                        · Su dirección y teléfono
                        <br>
                        · El nombre y apellido de sus padres y hermanos
                        <br>
                        · Conocer el camino de ida y vuelta a la casa
                        <br>
                        · Observar algunas medidas de seguridad: no hablar con desconocidos, respetar los semáforos, las
                        señales peatonales.
                        <br><br>
                        Además debe saber:
                        <br>
                        · Ordenar sus cosas
                        <br>
                        · Cumplir y seguir indicaciones
                        <br>
                        · Asumir pequeñas responsabilidades, como vestirse e higienizarse solo, ordenar su ropa y su
                        cuarto, ayudar en el hogar en tareas que le asigne la familia.
                        <br>
                        · Compartir con otros
                        <br>
                        · Respetar un horario para acostarse y levantarse, para compartir las comidas con la familia, de
                        actividades recreativas.
                    </p>

                    <h3>LOS PADRES Y EL ACOMPAÑAMIENTO EN EL DESEMPEÑO ESCOLAR</h3>
                    <p>Los padres responsables:


                    <ul>
                        <li> Preparan al niño para el ingreso escolar, destacando la importancia de este paso.</li>

                        <li> Se interesan por conocer diariamente el desempeño escolar.</li>

                        <li> Lo apoyan en sus tareas y deberes.</li>

                        <li> Se mantienen en contacto con los docentes, siguiendo la evolución de sus hijos.</li>

                        <li> Asiste regularmente a las actividades organizadas por la escuela.</li>

                        <li> Colabora con la institución.</li>

                        <li> Forman parte de la Asociación de Padres y participa activamente en sus actividades.</li>
                    </ul>
                    </p>

                    <p>Cuando los padres, por diferentes circunstancias, no han podido cumplir con lo dicho hasta aquí.
                        Posiblemente se enfrentarán con dificultades en el desempeño escolar de sus hijos.
                        <br>
                        Podemos afirmar que la gran preocupación que existe en la sociedad por lo que está sucediendo en
                        las escuelas, no es violencia, sino un incremento de comportamientos agresivos.
                        <br>
                        El escenario escolar es una fotografía de lo que sucede en el contexto social.
                        <br>
                        La escuela está dirigida por adultos que se relacionan con los niños desde otro rol, el docente.
                        <br>
                        Alumnos y docentes son portadores de comportamientos agresivos. Éstos pueden estar más o menos
                        contenidos de acuerdo como se trabajó la agresión en cada uno de ellos, previamente al encuentro
                        escolar.
                        <br>
                        Cuando hablamos de violencia-agresión en las instituciones escolares, debemos involucrar en el
                        análisis a docentes, no docentes y alumnos.
                        <br>
                        La experiencia recogida durante 10 años en el Programa de Prevención de la Violencia Estudiantil
                        y el Fracaso Escolar[2] nos permite proponer la creación de <strong>reglamentos de convivencias
                            en las
                            instituciones escolares</strong>.
                        <br>
                        Esta experiencia se realizó en la Ciudad de Buenos Aires desde 1986 a 1996.
                        <br>
                        Ese año 1986, hubo enfrentamientos violentos entre dos colegios de ésta ciudad.
                        <br>
                        <br>

                        Un grupo de profesionales, pertenecientes al Comité de Estudios de la Adolescencia de la
                        Sociedad Argentina de Pediatría, decidió comprometerse para realizar una intervención que
                        pudiese aportar una respuesta.
                        <br>
                        Ninguno teníamos experiencia en el trabajo comunitario.
                        <br>
                        Acordamos con el Ministerio de Educación, realizar un trabajo con las instituciones
                        involucradas.
                        <br>
                        Esta iniciativa involucró a diez escuelas medias, estatales, que participaban de actos violentos
                        intra institucionales y extra institucionales.
                        <br>
                        Para tener una magnitud de los hechos, en los mismos se involucraban grandes grupos (más de 200
                        jóvenes), una escuela construida hacía apenas tres años estaba parcialmente destruida, siendo el
                        costo de reparación 25.000 dólares.
                        <br>
                        <br>

                        Se creó un espacio de reflexión.
                        <br>
                        Fueron convocados docentes, alumnos y padres, coordinados por el grupo de profesionales.
                        <br>
                        En este espacio se analizaron los hechos violentos y se pidió que identificaran las causas que
                        podían ser generadoras de estos hechos.
                        <br>
                        Estas fueron las señaladas: la gran cantidad de alumnos por aulas, el gran ausentismo de
                        profesores lo que genera una gran cantidad de horas libres, la falta de material didáctico, el
                        deficiente desempeño de la autoridad, la falta de comunicación entre los diferentes integrantes
                        de la comunidad educativa, la reiterada descalificación de los padres de los docentes y
                        viceversa, las desactualizadas metodología que no logran despertar la motivación para el
                        estudio, la violencia de los medios de comunicación en el modelaje de los comportamientos
                        juveniles, el malestar de los docentes por los bajos salarios, la violencia familiar y el
                        incremento del malestar en las familias por la situación económica, generadores de altos niveles
                        de tensión en los hogares,
                        <br>
                        La falta de una actividad preventiva sobre los actos violentos extra institucionales, por parte
                        de la policía.
                        <br>
                        <br>

                        Conocidas las causas se acordó con las escuelas crear un PROGRAMA para dar respuesta a las causa
                        señaladas. La elaboración de las actividades fue participativa y los temas propuestos por todos
                        los sectores.
                        <br>
                        Los trabajos realizado tenían como objetivo principal interactuar los sectores enfrentados en
                        espacios comunes, buscando lograr clima de convivencia, intercambio, acuerdos y tolerancia.
                        Fueron múltiples los temas tratados a lo largo del tiempo en que se desarrolló el programa
                        <br>
                        Hubo dos aspectos que debo señalar:
                        <br>
                        -Existen dentro de la población educativa personas muy conflictivas, el promedio está en un 10%.
                        Ellas padecen trastornos de la personalidad, consumo de drogas, alcohol, violencia, etc. La
                        función de la comunidad educativa es cuidar el espacio para el beneficio de la población sana,
                        no conflictiva que es el 90% y detectar precozmente al grupo de riesgo y derivarlo solicitando
                        ayuda al sector social especializado que debe dar respuesta, el hospital según los casos.
                        <br>
                        -el segundo aspecto que deseo señalar, fue la no aplicación de las medidas tradicionales de
                        disciplina con que cuenta el sistema educativo. La sociedad avanzó, tuvo cambios, el contexto
                        sociocultural es otro, los medios de comunicación, especialmente la T.V. se ha transformado en
                        el mayor “formador y/o educador”de nuestros niños. La respuesta encontrada entre todos fue la
                        creación de un Régimen de convivencia, construido por la misma comunidad educativa para cada
                        institución que creyó en ésta nueva herramienta. A esto se sumó la creación acordada entre todas
                        las instituciones intervinientes en el Programa de un Régimen de Advertencias que consistía:
                        <br>
                        1-diálogo entre el alumno que transgredió y la autoridad docente.
                        <br>
                        2-diálogo entre la autoridad, alumno y familia.
                        <br>
                        3-cambio de turno con el crédito, que si revierte la situación recupera su grupo de pertenencia
                        al año siguiente.
                        <br>
                        4-cambio de escuela, con las mismas garantías que el punto 3.
                        <br>
                        Esta fue posible por el trabajo en Red, habiendo creado el Consejo regional de Rectores.
                        <br>
                        Explicar diez años de trabajo en pocos renglones es difícil, pero para las personas interesadas
                        se puede dirigir a la dirección del programa
                        <br>
                        Este programa fue seleccionado por l Organización mundial de la salud y la Fundación
                        Internacional de la Juventud para participar del “Encuentro Conjunto sobre Proyectos exitosos
                        sobre la Salud de los Adolescentes y su Desarrollo”. Ginebra, noviembre de 1991. La selección
                        fue realizada entre 400 programas, interviniendo en la reunión 12 Programas de diferentes
                        continentes.
                        <br>
                        Que nos dejó como experiencia, que beneficios y ventajas nos aporta para el trabajo futuro:
                        <br>
                        · Es el resultado de la participación entre docentes, no docentes y alumnos.
                        <br>
                        · Sigue el modelo del proceso de enseñanza-aprendizaje. Todos participan activamente en la
                        elaboración del conocimiento.
                        <br>
                        · Involucra a los alumnos en la construcción, aplicación y seguimiento.
                        <br>
                        · Compromete a todos los sectores en su aplicación y observancia.
                        <br>
                        · Reemplaza a reglamentaciones desactualizadas y elaboradas exclusivamente por los adultos.
                        <br>
                        · Es una experiencia enriquecedora e innovadora para niños y adultos.
                        <br>
                        · Prepara para la participación ciudadana y democrática.
                        <br>
                        · Aplica la Convención Internacional de los Derechos del Niño.
                        <br>
                        <br>

                        <strong>La experiencia recogida en este programa nos permitió rescatar como válidos:</strong>
                        <br><br>


                        · La creación de espacios de interacción social. La creación de los consejos de aulas dentro de
                        los Reglamentos de convivencia, apelando a la teoría de la comunicación, buscando acuerdos, hoy
                        llamados negociación, término que me agrada para el mundo de las empresas, pero no, para el
                        ámbito familiar o de las instituciones escolares.
                        <br>
                        · La participación de todos los sectores involucrados
                        <br>
                        · El rol colaborativo y de acompañamiento de profesionales de la salud y áreas sociales ajenos a
                        la institución.
                        <br>

                        <br>
                        La elaboración de nuevos instrumentos, para encontrar respuestas a los problemas
                        institucionales.
                        <br><br>


                        <strong>Propuesta para el ámbito educativo:</strong>
                        <br><br>


                        Ésta experiencia nos permite hoy proponer formas de trabajos a realizar en las instituciones
                        escolares con actos de agresión o violencia que perturban el desarrollo de las actividades
                        escolares.

                    </p>
                    <p>
                        <strong>¿SE DESEA ANALIZAR Y ENCONTRAR PROPUESTAS?</strong>

                        <br><br>

                        <strong>¿HAY COMPROMISO INSTITUCIONAL PARA REALIZAR UN PROYECTO?</strong>
                        <br><br>
                        <strong>¿ESTÁN DADAS LAS CONDICIONES?:</strong>
                        <br>
                        - para tolerar los intercambios (discusiones)
                        <br>
                        - para participar en la construcción de propuestas para atenuar el problema
                        <br>
                        - para tolerar las diferencias y colaborar a pesar de ellas
                        <br><br>
                        <strong>¿ESTAMOS PREPARADOS PARA ACEPTAR LA OPINIÓN DE LOS ALUMNOS ?</strong>

                        <strong>¿PODEMOS CONSTRUIR CON ELLOS UN CÓDIGO DE CONVIVENCIA Y/O ACEPTAREMOS QUE ELLOS ELABOREN
                            LOS CÓDIGOS O REGLAMENTOS, ADMINISTREN LOS ACTOS DE INDISCIPLINA, PROPONGAN SANCIONES Y
                            SUPERVISEN SU CUMPLIMIENTO?</strong>

                        <br>



                        “Esta estrategia implica una educación para la participación en la vida democrática
                        <br><br>

                    </p>

                    <h3>I.-TALLER.</h3>
                    <p>


                        CREACIÓN DE UN REGLAMENTO DE CONVIVENCIA
                        <br><br>


                        PARTICIPAN: Docentes, no docentes y alumnos
                        <br><br>


                        1.- SE REÚNEN POR SECTORES (Tiempo: 2hs de un día)

                        <br><br>



                        CONSIGNA ¿cuáles son las situaciones más comunes que alteran la convivencia de los adultos y de
                        los jóvenes?
                        <br><br>

                        <strong>DOCENTES</strong>
                        <br>
                        Situaciones: 1, 2, 3, 4, etc.
                        <br><br>
                        <strong>NO DOCENTES</strong>
                        <br>
                        Situaciones: 1, 2, 3, 4, etc.
                        <br><br>
                        <strong>ALUMNOS</strong>
                        <br>
                        Situaciones: 1, 2, 3, 4,etc.
                        <br><br>
                    </p>


                    <h3>II.- PLENARIO</h3>

                    <h1>Se buscarán acuerdo con las causas más significativas y frecuentes que involucren a todos los
                        integrantes de la institución</h1>
                    <p><strong>CAUSAS:</strong>
                        <br>


                        1.- .....
                        <br>
                        2.- .....
                        <br>
                        3.- .....
                        <br>
                        4.- .....
                    </p>
                    <h3>III.-Taller</h3>
                    <p><strong>PROPUESTAS</strong>
                        <br>
                        ELABORACIÓN DE SANCIONES [3]
                        <br>
                        PARA LAS DIFERENTES CAUSA QUE ALTERAN LA CONVIVIENCIA:
                        <br>

                        1.- .....
                        <br>
                        2.- .....
                        <br>
                        3.- .....
                        <br>
                        4.- .....
                    </p>

                    <h3>IV.-Taller</h3>

                    <p><strong>ELECCIÓNDE LA COMISIÓN DE ADMINISTRACIÓN DEL REGLAMENTO DE CONVIVENCIA (duración
                            trimestral):</strong>
                        <br>
                        - PROPUESTA DE PERSONAS ADULTAS
                        <br>
                        - PROPUESTA DE ALUMNOS
                        <br>
                        Ejemplo:
                        <br>
                        Los alumnos eligen a los adultos
                        <br>
                        Los adultos eligen a los alumnos
                    </p>
                    <h3>V.-Taller</h3>
                    <p>
                        <strong>CONSTRUCCIÓN DE ACTIVIDADES QUE ACOMPAÑEN Y FAVOREZCAN LA CONVIVENCIA</strong>
                        <br><br>

                        - CADA ACTIVIDAD TENDRÁ POR OBJETIVO:
                        <br>
                        - Generar una mayor participación fuera del aula con actividades en espacios que incentiven la
                        interacción social, aumente los niveles de tolerancia, las diferencias y frustraciones.
                        <br>
                        - Ejercitar el respeto por los límites, las normas.
                        <br>
                        - Fomentar un aprendizaje de canalización de la agresión.
                        <br>
                        - Estimular valores: no violencia – responsabilidad – honestidad – no discriminación –
                        solidaridad – libertad – trabajo – respeto – tolerancia para las diferencias –
                        <br>
                        <br>



                        <strong>ACTIVIDADES:</strong>
                        <br>
                        - Creación de espacios para encuentros deportivos, campamentos, teatro, festivales musicales,
                        viajes educativos y /o de integración y convivencia, visitas e intercambios en casas de
                        familias.
                        <br><br>






                        <strong>Comentarios:</strong> Las comisiones actúan a nivel áulico, sino resuelven la situación
                        planteada
                        localmente, interviene el consejo de convivencia institucional. Cuando esta instancia no
                        resuelve, recién toma la decisión final el director/a o rector/a.
                        <br>
                        En nuestro programa, el beneficio era desde el punto de vista educativo, las autoridades
                        contaban con más tiempo para administrar la educación y poder pensarla. Correrlos del lugar de
                        administrar los conflictos. Ha sido una forma de mediación intrainstitucional, sin la presencia
                        de profesionales externos. Ésta modalidad fue más beneficiosa que cuando intervenimos los
                        profesional ajenos a las instituciones escolares.
                    </p>

                    <br><br><br>
                    <p> [1]Knobel Mauricio, Delincuencia, violencia y homicidios, pag.534. Manual de Medicina de la
                        Adolescencia. OPS. T.Silber editor. 1992.
<br><br>
                        2 Olmedilla Moreno J.M. Internet “Comportamiento antisocial en los centros escolares: una visión
                        desde Europa. Violencia Escolar. Foro de debate. Internet
<br><br>
                        3 Fernández Rocío Lleó. La violencia en los colegios. Una revisión bibliográfica. Violencia
                        escolar. Foro de debate. Internet
<br><br>
                        [2] PROGRAMA de PREVENCIÖN DE VIOLENCIA ESTUDIANTIL y el FRACASO ESCOLAR. BUENOS AIRES:
                        ARGENTINA. (1986-1996). Dirección: Dr. Cándido Roldán. E-mail candidoroldan36gmail.com
<br><br>
                        [3] Las sanciones en nuestro programa eran actividades solidarias con la escuela (pintar el
                        aula, los baños, los bancos, etc.) o con la comunidad (juntar juguetes para niños internados en
                        un hogar o instituciones de salud, o visitar un hogar de ancianos, etc.). Frecuentemente el
                        sancionado recibía colaboración de su familia o de sus amigos.</p>





                </div>
            </article>
        </main>

        <%- include('../partials/footer') %>

            <script src="../js/navbar.js"></script>
</body>

</html>